{% extends "user/profile/base.htm" %}

{% from "macros/form.htm" import render_form, render_field %}

{% block title %}{{ _('Edit Avatar') }} - {{super()}}{% endblock %}

{% macro render_avatar(f) %}
    {% if user.has_avatar %}
        <div id="avatar-container">
            <label>{{ _('Current avatar') }}:</label><br/>
            <img class="mb-3" src="{{ url_for('user.view_avatar', user=user) }}" alt="avatar"/><br/>
            <button type="button" id="remove-avatar" class='btn btn-sm btn-danger mb-3'>{{_('Delete avatar')}}</button>
        </div>
    {% endif %}
    {{ render_field(f, **kwargs) }}
{% endmacro %}


{% block content %}
    <legend>{{ _('Edit Avatar') }}</legend>
    <div class="alert alert-info">
        {{ _('Avatars are public and will be resized to 400x400 pixels.') }}
    </div>
    {% set autocomplete = 'off' if user.id != current_user.id else 'on' %}
    {{ render_form(form, form_name="", submit_text=_('Save'),
                   extra_field_renderers={
                       'FileField': render_avatar
                   }, autocomplete=autocomplete) }}
{% endblock %}

{% block post_main_include %}
    {% if user.has_avatar %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                document.querySelector('#remove-avatar')
                    .addEventListener('click', function(event) {
                        fetch("{{ url_for('user.remove_avatar', user=user) }}", {
                            method: 'DELETE',
                        }).then(function(result) {
                            document.querySelector("#avatar-container").remove();
                        }).catch(function(result) {
                            alert("{{ _('Something went wrong.') }}");
                        });
                    });
            });
        </script>
    {% endif %}
{% endblock %}
