{% extends "user/profile/base.htm" %}

{% from "user/macros/uvanetid.htm" import render_uvanetid_signin_button %}

{% block title %}{{ _('UvA account linking') }} - {{super()}}{% endblock %}

{% block content %}
    <legend>{{ _('UvA account linking') }}</legend>

    <div class="row">
        <div class="col">
        {% if user.student_id_confirmed %}
        <h5>
            <span class="badge badge-pill badge-success">
                {{ _('Account linked to UvA account') }}
            </span>
        </h5>
        <hr>

        <ul class="list-group mb-2">
            <li class="list-group-item">
                <b>{{ _("Student ID") }}</b>:
                {{ user.student_id }}
            </li>
            <li class="list-group-item">
                <b>{{ _('Study programmes') }}</b>:
                {% for education in user.educations -%}
                    {{ get_education_name(education, get_locale()) }}
                    {%- if not loop.last -%}, {% endif -%}
                {%- endfor -%}
            </li>
        </ul>
        {% else %}
        <h5>
            <span class="badge badge-pill badge-secondary">
                {{ _('Account not linked to UvA account') }}
            </span>
        </h5>
        <hr>
        <div class="form-group w-50">
            {% if user.id == current_user.id %}
                {% set link_url = url_for('saml.link_account') %}
            {% else %}
                {% set link_url = url_for('saml.link_other_account', user=user) %}
            {% endif %}
            {{ render_uvanetid_signin_button(_('Link account to UvA account'), href=link_url) }}
        </div>
        {% endif %}

        {% if can_write_users %}
            <a href="{{ url_for('user.edit_student_id_linking', user=user) }}"
               class="btn btn-warning">
                <i class="far fa-edit"></i>
                {{ _('Edit student ID manually') }}</a>
        {% endif %}
        </div>
    </div>
{% endblock %}
