{% extends "user/profile/base.htm" %}

{% from "macros/form.htm" import render_form, render_field, render_submit, render_field, ignore_kwargs with context %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}

<div class="container">
    <legend>{{ _('User profile') }}</legend>
    <hr>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <p>
                <b>{{ _('Name') }}</b><br>
                {{ user.name }}
            </p>
            <p>
                <b>{{ _('Student number') }}</b><br>
                {{ user.student_id or _('Unknown') }}
            </p>
            <p>
                <b>{{ _('Email') }}</b><br>
                {{ user.email or _('Unknown') }}
            </p>
            <p>
                <b>{{ _('Study programmes') }}</b><br>
                {{ educations | join(', ') }}
            </p>

            <p>
                <b>{{ _('Two-factor authentication') }}</b><br>
                {% if user.tfa_enabled %}
                    <i class="far fa-check-circle"></i> {{  _('Enabled') }}
                {% else %}
                    <i class="fas fa-exclamation-circle"></i> {{  _('Disabled') }}
                {% endif %}
            </p>

            <p>
                <b>{{ _('UvA account linking') }}</b><br>
                {% if user.student_id_confirmed %}
                    <i class="far fa-check-circle"></i> {{  _('Account linked to UvA account') }}
                {% else %}
                    <i class="fas fa-exclamation-circle"></i> {{  _('Account not linked to UvA account') }}
                {% endif %}
            </p>

            <p>
                <b>{{ _('Membership') }}</b><br/>
                {% if user.has_paid %}
                    <i class="far fa-check-circle"></i> {{ _('Member')}} ({{ _('since') }} {{ user.paid_date.date() }})<br/>
                {% else %}
                    <i class="fas fa-exclamation-circle"></i> {{ _('Not a member') }}<br/>
                {% endif %}
                {% if user.member_of_merit_date %}
                    <i class="far fa-check-circle"></i> {{ _('Member of merit') }} ({{ _('since') }} {{ user.member_of_merit_date }})<br/>
                {% endif %}
                {% if user.favourer %}
                    <i class="far fa-check-circle"></i> {{ _('Favourer') }}<br/>
                {% endif %}
                {% if user.disabled %}
                    <i class="fas fa-exclamation-circle"></i> {{ _('Account disabled') }}<br/>
                {% endif %}
            </p>
        </div>

        <div class="col-md-6 col-xs-12">
            <b>{{ _('Calendar link') }}</b>
            <p>{{ _('The personal calendar can be customized by editing the URL parameters, the checkboxes below will do this for you.') }}</p>

            <div class="form-check">
                <input data-url-param="meeting" class="form-check-input" type="checkbox" onChange="updateCalendarUrl()" checked>
                <label for="calendarUrlMeetings">{{_('Meetings')}}</label>
            </div>
            <div class="form-check">
                <input data-url-param="alv" class="form-check-input" type="checkbox" onChange="updateCalendarUrl()" checked>
                <label for="calendarUrlAlv">{{ _('ALVs') }}</label>
            </div>
            <div class="form-check">
                <input data-url-param="activity" class="form-check-input" type="checkbox" onChange="updateCalendarUrl()" checked>
                <label for="calendarUrlActivity">{{ _('Activities') }}</label>
            </div>
            <div class="input-group row">
                <input id="personal_calendar_url" type="text" class="form-control ml-3"
                data-base-url="{{ url_for('user.view_user_calendar', user=user, calendar_hash=calendar_hash, _external=True) }}"
                value="{{ url_for('user.view_user_calendar', types=['alv', 'meeting', 'activity'], user=user, calendar_hash=calendar_hash, _external=True) }}">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('personal_calendar_url')">Copy</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block post_main_include %}
<script>
    function copyToClipboard(id) {
        let text = document.getElementById(id);
        text.select();
        text.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }

    function updateCalendarUrl() {
        const url = document.getElementById('personal_calendar_url');
        const checkboxes = document.querySelectorAll('input[data-url-param]')
        let suffixes = [];

        checkboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                suffixes.push(checkbox.getAttribute('data-url-param'))
            }
        });

        url.value = url.getAttribute('data-base-url') + suffixes.join('+');
    }
</script>
{% endblock %}
