<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") {{ t('Create meeting') }}
    h1(v-if="id") {{ t('Edit meeting') }}

    a-form-model(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Meeting')",
            name="name"
        )
            a-input(v-model:value="form.name")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Description')",
            name="description"
        )
            a-textarea(v-model:value="form.description")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Start time')",
            name="start_time"
        )
            a-date-picker(
                v-model:value="form.start_time",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm",
                :placeholder="t('Start time')"
            )
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            name="auto_end_time"
        )
            a-checkbox(v-model:checked="form.auto_end_time") {{ t('The meeting takes 1 hour') }}
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('End time')",
            v-show="!form.auto_end_time",
            name="end_time"
        )
            a-date-picker.mr-3(
                v-model:value="form.end_time",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm",
                :placeholder="t('End time')"
            )

        a-exclamation-circle-icon.ant-notification-notice-icon-warning(
            style="font-size: 20px;"
        )
        i.ml-2 {{ t('location.warning') }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Location')",
            name="location"
        )
            a-input(v-model:value="form.location")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Group')",
            name="group_id"
        )
            a-select(v-model:value="form.group_id", :placeholder="t('Group')")
                a-select-option(
                    v-for="userGroup in userGroups",
                    :key="userGroup.id"
                ) {{ userGroup.name }}
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            name="cancelled"
        )
            a-checkbox(v-model:checked="form.cancelled") {{ t('Cancelled') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="meetingURL") {{ t('Back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-popconfirm(
                v-if="id",
                :title="t('Delete meeting?')",
                @confirm="deleteMeeting()"
            )
                a-button(danger) {{ t('Delete') }}
</template>

<script lang="ts">
import FormGroupField from "../form/form_group_field.vue";
import moment from "moment";
import { meetingApi } from "../../scripts/api/meeting";
import Flask from "../../utils/flask";
import { Groups, userApi } from "../../scripts/api/user";

import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
    Popconfirm,
    Select,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { reactive, defineComponent } from "vue";
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "form-group-field": FormGroupField,
        "loading-container": LoadingContainer,
        "a-date-picker": DatePicker,
        "a-form-model-item": Form.Item,
        "a-form-model": Form,
        "a-popconfirm": Popconfirm,
        "a-checkbox": Checkbox,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-input": Input,
        "a-textarea": Input.TextArea,
        "a-exclamation-circle-icon": ExclamationCircleOutlined,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const userGroups: Groups[] = [];
        const form = reactive({
            name: "",
            description: "",
            group_id: undefined as number | undefined,
            start_time: moment(),
            end_time: moment(),
            auto_end_time: true,
            location: "",
            cancelled: false,
        });

        return {
            loading: true,
            form,
            formRules: {
                name: [
                    {
                        required: true,
                        message: this.t("Please enter the meeting name"),
                    },
                ],
                group_id: [
                    {
                        required: true,
                        message: this.t("Please select a group"),
                    },
                ],
                start_time: [
                    {
                        required: true,
                        message: this.t("Please select a start-time"),
                    },
                ],
                end_time: [
                    {
                        required: true,
                        message: this.t("Please select a end-time"),
                    },
                    {
                        validator: (rule, value, callback) => {
                            if (form.auto_end_time) {
                                callback();
                                return;
                            }
                            if (form.start_time.isSameOrAfter(value)) {
                                callback(
                                    new Error(
                                        this.t(
                                            "End time must be after start time"
                                        ) as string
                                    )
                                );
                            } else {
                                callback();
                            }
                        },
                    },
                ],
                //     end time required when
            },
            userGroups,
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
        };
    },
    computed: {
        id(): number {
            return parseInt(this.$route.params["meetingId"]);
        },
        meetingURL() {
            if (this.id) {
                return Flask.url_for("meeting.get_meeting", {
                    meeting: this.id,
                });
            } else {
                return Flask.url_for("meeting.view");
            }
        },
    },
    async mounted() {
        this.userGroups = (await userApi.getUserGroups(null)).data;
        this.userGroups.sort((a, b) => a.name.localeCompare(b.name));
        if (this.id) {
            const resp = (await meetingApi.getMeeting(this.id)).data;
            const start_time = moment(resp.start_time);
            const end_time = moment(resp.end_time);

            this.form.name = resp.name;
            this.form.description = resp.description;
            this.form.group_id = resp.group_id;
            this.form.start_time = moment(resp.start_time);
            this.form.auto_end_time = end_time.diff(start_time, "hours") === 1;
            this.form.end_time = moment(resp.end_time);
            this.form.location = resp.location;
            this.form.cancelled = resp.cancelled;
        }

        this.loading = false;
    },
    methods: {
        moment: moment,
        async deleteMeeting() {
            await meetingApi.deleteMeeting(this.id);
            await notification.success({
                message: this.t("Success") as string,
                description: this.t("Meeting successfully deleted.") as string,
            });
            window.location.href = Flask.url_for("meeting.view");
        },
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };

                if (values["auto_end_time"]) {
                    // In the backend we set the end time one hour from the starting time if the
                    // values are the same. See configure_end_time() in meeting_service.
                    values.end_time = values.start_time;
                }

                values["start_time"] = values.start_time.toISOString();
                values["end_time"] = values.end_time.toISOString();

                delete values["auto_end_time"];
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }
            try {
                this.loading = true;
                if (!this.id) {
                    const resp = (await meetingApi.createMeeting(values)).data;

                    await this.$router.replace({
                        name: "meeting-edit",
                        params: { meetingId: String(resp.id) },
                    });
                } else {
                    await meetingApi.updateMeeting(this.id, values);
                }
                notification.success({
                    message: this.t("Success") as string,
                    description: this.t(
                        "Meeting successfully saved."
                    ) as string,
                });
                window.location.href = this.meetingURL;
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

//@formatter:off
<i18n>
{
    "en": {
        "Cancelled": "Cancelled",
        "Create meeting": "Create meeting",
        "Delete meeting?": "Delete meeting?",
        "Description": "Description",
        "Edit meeting": "Edit meeting",
        "End time": "End time",
        "Group": "Group",
        "Location": "Location",
        "location.warning": "Please keep in mind that that all data (e.g. meeting URLs) will be public!",
        "Meeting successfully deleted.": "Meeting successfully deleted.",
        "Meeting successfully saved.": "Meeting successfully saved.",
        "Meeting": "Meeting",
        "Please enter the meeting name": "Please enter the meeting name",
        "Please select a end-time": "Please select a end-time",
        "Please select a group": "Please select a group",
        "Please select a start-time": "Please select a start-time",
        "Start time": "Start time",
        "The meeting takes 1 hour": "The meeting takes 1 hour",
        "End time must be after start time": "End time must be after start time"
    },
    "nl": {
        "Cancelled": "Geannuleerd",
        "Create meeting": "Meeting aanmaken",
        "Delete meeting?": "Verwijder meeting?",
        "Description": "Beschrijving",
        "Edit meeting": "Meeting aanpassen",
        "End time": "Eindtijd",
        "Group": "Groep",
        "Location": "Locatie",
        "location.warning": "Vergeet niet dat alle data (zoals meeting URL's) publiek zullen zijn!",
        "Meeting successfully deleted.": "Meeting succesvol verwijderd.",
        "Meeting successfully saved.": "Meeting succesvol opgeslagen.",
        "Meeting": "Meeting",
        "Please enter the meeting name": "Vul een meeting naam in",
        "Please select a end-time": "Vul een eindtijd in",
        "Please select a group": "Selecteer een groep",
        "Please select a start-time": "Vul een starttijd in",
        "Start time": "Starttijd",
        "The meeting takes 1 hour": "De meeting duurt 1 uur",
        "End time must be after start time": "Eindtijd moet na de starttijd zijn"
    }
}
</i18n>
//@formatter:on
