{% extends "content.htm" %}
{% from "macros/pagination.htm" import render_pagination %}
{% block title %}
    {% if archive == 'archive' %}
        {{ _('Meeting archive') }}
    {% else %}
        {{ _('Meetings') }}
    {% endif %}
{% endblock %}
{% block page %}
    <a-breadcrumb class="mb-3" v-cloak>
        <a-breadcrumb-item>
            <a href="{{ url_for("admin.view") }}">{{ _('Admin') }}</a>
        </a-breadcrumb-item>
        <a-breadcrumb-item>
            <a href="{{ url_for("meeting.view") }}">
                {% if archive == 'archive' %}
                    {{ _('Meeting archive') }}
                {% else %}
                    {{ _('Meetings') }}
                {% endif %}
            </a>
        </a-breadcrumb-item>
    </a-breadcrumb>
    <div class="row">
        <div class="btn-group col-sm-6">
            <a href="{{ url_for('meeting.edit') }}"
                class="btn btn-success">
                <i class="fas fa-plus"></i>
                <span class="d-none d-sm-inline-block">
                    {{_('New meeting')}}
                </span>
            </a>

            {% if archive == 'archive' %}
                <a href="{{ url_for('meeting.view') }}" class="btn btn-info">
                    {{_('Show upcoming meetings')}}
                </a>
            {% else %}
                <a href="{{ url_for('meeting.view', archive='archive') }}"
                    class="btn btn-light">
                    {{_('Show meetings in the archive')}}
                </a>
            {% endif %}
        </div>
        <div class="input-group col-sm-6">
            <input id="meeting_calendar_url" type="text" class="form-control"
                   value="{{ url_for('calendar.public_ics', types=['meeting'], _external=True) }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" onclick="copyToClipboard('meeting_calendar_url')">Copy</button>
            </div>
        </div>
    </div>

    <div class="activity">
        {% for meeting in meetings.items %}
            <a href="{{ url_for('meeting.get_meeting', meeting=meeting.m)}}">
                <div class="activity-block p-3 border-bottom">
                    <div class="row">
                        <div class="col-12">
                            {% if meeting.m.cancelled == True %}
                                <h2><del>{{ meeting.m.name }}</del></h2>
                                <div class="row">
                                    <div class="col">
                                        <p><del>
                                            {{ meeting.m.start_time | datetime(dt_format='%A %d-%m-%Y, %H:%M') }}
                                             -
                                            {{ meeting.m.end_time | datetime(dt_format='%H:%M') }}
                                        </del></p>
                                    </div>
                                </div>
                            {% else %}
                                <h2>{{ meeting.m.name }}</h2>
                                <div class="row">
                                    <div class="col">
                                        <p>
                                            {{ meeting.m.start_time | datetime(dt_format='%A %d-%m-%Y, %H:%M') }}
                                             -
                                            {{ meeting.m.end_time | datetime(dt_format='%H:%M') }}
                                        </p>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
    <hr />
    {{ render_pagination(meetings, 'meeting.view', archive=archive) }}
    <script>
    function copyToClipboard(id) {
        let text = document.getElementById(id);
        text.select();
        text.setSelectionRange(0, 99999);
        document.execCommand("copy");
    }
    </script>
{% endblock %}
