<template lang="pug">
keep-alive
    loading-container(:active="loading")
        a-breadcrumb
            a-breadcrumb-item
                a(href="/") {{ t('breadcrumb.index') }}
            a-breadcrumb-item
                | {{ t('breadcrumb') }}

        h1 {{ t('title.overview') }}
        router-link(v-if="canWrite", :to="{ name: 'committee-create' }")
            a-button(type="primary")
                | {{ t('Create Committee') }}
                template(#icon)
                    a-plus-circle-icon
        a-row(:gutter="[16, 16]")
            a-col(
                :xs="24",
                :sm="24",
                :md="12",
                :lg="8",
                :xxl="8",
                v-for="committee in committees"
            )
                a-card.committee-card
                    template(v-slot:actions="")
                        a-button(
                            v-if="committee.open_new_members",
                            type="link",
                            :href="committeeUrl(committee)"
                        )
                            | {{ t('button.join') }}
                            template(#icon)
                                a-message-icon
                        a-button(
                            v-if="!committee.open_new_members",
                            type="link",
                            :title="t('button.closed_title')"
                        )
                            | {{ t('button.closed') }}
                            template(#icon)
                                a-message-icon
                        a-button(type="link", :href="committeeUrl(committee)")
                            | {{ t('button.info') }}
                            template(#icon)
                                a-info-circle-icon
                        router-link(
                            v-if="canWrite",
                            :to="{ name: 'committee-edit', params: { committeeId: committee.id } }"
                        )
                            a-button(type="link")
                                | {{ t('edit') }}
                                template(#icon)
                                    a-edit-icon
                    template(v-slot:cover="")
                        .cover-wrapper
                            img(
                                :src="committeePictureUrl(committee)",
                                :alt="t('image.label')"
                            )
                            .cover-container
                                .cover-container-container
                                    .cover-container-inner
                                        .card-title
                                            | {{ committee.name[locale] }}
                                        .card-tags
                                            span.card-tag(
                                                v-for="tag in committee.tags"
                                            )
                                                | {{ tag.name[locale] }}
                    a-card-meta
                        template(v-slot:description="")
                            .card-description
                                | {{ committee.description[locale] }}
</template>

<script lang="ts">
import {
    Breadcrumb,
    Button,
    Card,
    Col,
    Row,
    Tooltip,
    Tag,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { Committee, committeeApi } from "../../scripts/api/committee";
import Flask from "../../utils/flask";
import { authStore } from "../../store/auth";
import {
    MessageOutlined,
    EditOutlined,
    InfoCircleOutlined,
    PlusCircleOutlined,
} from "@ant-design/icons-vue";
import { inject, defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button": Button,
        "a-button-group": Button.Group,
        "loading-container": LoadingContainer,
        "a-row": Row,
        "a-col": Col,
        "a-tooltip": Tooltip,
        "a-card": Card,
        "a-card-meta": Card.Meta,
        "a-tag": Tag,
        "a-message-icon": MessageOutlined,
        "a-info-circle-icon": InfoCircleOutlined,
        "a-edit-icon": EditOutlined,
        "a-plus-circle-icon": PlusCircleOutlined,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const committees: Committee[] = [];

        return {
            loading: true,
            committees,
            canWrite: !!authStore.roles.GROUP_WRITE?.has_role,
            locale: inject("locale") as string,
        };
    },
    async mounted() {
        this.committees = (await committeeApi.getAll()).data;
        this.committees.sort((a, b) => {
            return a.name[this.locale].localeCompare(b.name[this.locale]);
        });

        this.loading = false;
    },
    methods: {
        committeePictureUrl(committee: Committee) {
            if (!committee.picture_file_id) {
                return "/static/img/via_committee_default.jpg";
            }
            return Flask.url_for("vue.committee_picture", {
                committee: committee.id,
                picture_type: "thumbnail",
            });
        },
        committeeUrl(committee: Committee) {
            return `/${committee.page.path}`;
        },
    },
});
</script>

<style lang="sass" scoped>

.cover-wrapper
    position: relative

.cover-container
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 100%

    background: linear-gradient(to bottom, transparent 50%, black 110%)

    .cover-container-container
        position: relative
        width: 100%
        height: 100%

        .cover-container-inner
            position: absolute
            bottom: 0
            width: 100%

            .card-title
                margin: 0 24px -4px 24px

                color: #fff
                font-weight: bold
                font-size: 32px
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis

            .card-tags
                margin: 0 24px 14px 24px

                .card-tag
                    padding: 2px 10px
                    margin: 0 10px 0 0
                    color: #fff
                    background: rgba(255, 255, 255, 0.3)
                    border-radius: 4px
                    font-weight: bold
                    font-size: 12px
                    white-space: nowrap

.card-description
    line-height: 24px
    height: calc(24px * 4)
    overflow: hidden
    color: rgba(0, 0, 0, .85)
</style>

<i18n src="./committee.json"></i18n>
