<template lang="pug">
keep-alive
    loading-container(:active="!loaded")
        a-breadcrumb
            a-breadcrumb-item
                a(href="/") {{ t('breadcrumb.index') }}
            a-breadcrumb-item
                a(href="/commissie") {{ t('breadcrumb') }}
            a-breadcrumb-item(v-if="loaded")
                a(:href="'/' + committeePageUrl") {{ committeeName }}

        h1(v-if="loaded") {{ committeeName }}
        div(v-if="loaded && committee")
            span(v-if="committee.coordinator_interim")
                a.btn.btn-danger.btn-sm(href="mailto:solliciatie@svia.nl")
                    i.far.fa-envelope
                    | {{ t('coordinator_vacant') }}
                br
                | {{ t('coordinator.label_interim') }}: {{ coordinatorName }}
            span(v-else)
                | {{ t('coordinator.label') }}: {{ coordinatorName }}
            span(v-if="hasMaillist")
                br
                | {{ t('email') }}:&nbsp;
                a(:href="'mailto:' + maillist")
                    | {{ maillist }}
            p(v-if="committee.open_new_members")
                br
                strong {{ t('open_new_members.single') }}
                br
                | {{ t('open_new_members.single_join') }}&nbsp;
                a(v-if="hasMaillist", :href="'mailto:' + maillist")
                    | {{ maillist }}
                a(v-else, href="mailto:bestuur@svia.nl")
                    | bestuur@svia.nl
            hr
            render-page(
                :pageUrl="committeePageUrl",
                :showTitle="false",
                :revisionId="revisionId ? Number(revisionId) : undefined"
            )
            hr
            | {{ t('members') }}:
            a-row(:gutter="[12, 12]", style="margin: 0px")
                a-col(
                    v-for="member in committee.group.users",
                    :sm="24",
                    :md="12"
                )
                    member-card(:member="member")
                        template(v-slot:body="", v-if="isCoordinator(member)")
                            h6.coordinator-label(
                                v-if="committee.coordinator_interim"
                            ) {{ t('coordinator.label_interim') }}
                            h6.coordinator-label(v-else="") {{ t('coordinator.label') }}
</template>

<script lang="ts">
import { Col, Row, Breadcrumb } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { Committee, committeeApi } from "../../scripts/api/committee";
import MemberCard from "../user/member_card.vue";
import RenderPage from "../page/render_page.vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "loading-container": LoadingContainer,
        "a-row": Row,
        "a-col": Col,
        "render-page": RenderPage,
        "member-card": MemberCard,
    },
    setup() {
        const i18n = useI18n();
        return {
            t: i18n.t,
            locale: i18n.locale,
        };
    },

    data() {
        return {
            loaded: false,
            committee: null as Committee | null,
        };
    },
    computed: {
        committeeName() {
            return this.committee.name[this.locale];
        },
        committeePageName() {
            return this.$route?.params["committeePageName"];
        },
        revisionId() {
            return this.$route?.params["revisionId"];
        },
        committeePageUrl() {
            return ("commissie/" + this.committeePageName) as string;
        },
        maillist() {
            return (this.committee.group.maillist + "@svia.nl") as string;
        },
        hasMaillist() {
            return this.committee.group.maillist !== "";
        },
        coordinatorName() {
            return (this.committee.coordinator.first_name +
                " " +
                this.committee.coordinator.last_name) as string;
        },
    },
    async mounted() {
        try {
            this.committee = (
                await committeeApi.getCommitteeByName(this.committeePageName)
            ).data;
            const coordinatorIndex = this.committee.group.users.findIndex(
                (user) => user.id === this.committee.coordinator.id
            );

            if (coordinatorIndex !== -1 && coordinatorIndex !== 0) {
                [
                    this.committee.group.users[0],
                    this.committee.group.users[coordinatorIndex],
                ] = [
                    this.committee.group.users[coordinatorIndex],
                    this.committee.group.users[0],
                ];
            }
        } finally {
            this.loaded = true;
        }
    },
    methods: {
        isCoordinator(member) {
            return member.id === this.committee.coordinator.id;
        },
    },
});
</script>

<style lang="sass" scoped>
.coordinator-label
    font-style: italic
</style>

<i18n src="./committee.json"></i18n>
