<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/") {{ t('breadcrumb.index') }}
        a-breadcrumb-item
            router-link(:to="{ name: 'committee-overview' }") {{ t('breadcrumb') }}
        a-breadcrumb-item(v-if="id") {{ t('title.edit') }}
        a-breadcrumb-item(v-if="!id") {{ t('title.create') }}

    h1(v-if="id") {{ t('title.edit') }}
    h1(v-if="!id") {{ t('title.create') }}

    a-form-model(
        :model="form",
        @submit.prevent="save",
        :rules="formRules",
        ref="formRef"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('nl_name.label')",
            name="nl_name"
        )
            a-input(v-model:value="form.nl_name")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('en_name.label')",
            name="en_name"
        )
            a-input(v-model:value="form.en_name")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('nl_description.label')",
            :extra="t('nl_description.extra')",
            name="nl_description"
        )
            a-input(v-model:value="form.nl_description")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('en_description.label')",
            :extra="t('en_description.extra')",
            name="en_description"
        )
            a-input(v-model:value="form.en_description")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('coordinator.label')",
            :extra="t('coordinator.extra')",
            name="coordinator"
        )
            form-user-field(v-model="form.coordinator")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('group.label')",
            :extra="t('group.extra')",
            name="group"
        )
            form-group-field(v-model="form.group")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('page.label')",
            :extra="t('page.extra')",
            name="page"
        )
            form-page-field(v-model="form.page")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            :extra="t('coordinator_interim.extra')",
            name="coordinator_interim"
        )
            a-checkbox(v-model:checked="form.coordinator_interim") {{ t('coordinator_interim.label') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            :extra="t('open_new_members.extra')",
            name="open_new_members"
        )
            a-checkbox(v-model:checked="form.open_new_members") {{ t('open_new_members.label') }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('tags.label')",
            :extra="t('tags.extra')",
            name="tags"
        )
            form-committee-tag-field(v-model="form.tags")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('pressure.label')",
            :extra="t('pressure.extra')",
            name="pressure"
        )
            a-input-number(:min="1", :max="5", v-model:value="form.pressure")

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('image.label')",
            :extra="t('image.extra')",
            name="image"
        )
            image-cropper-modal(
                :currentFilePath="currentPictureUrl",
                :initialAspectRatio="16 / 10",
                :aspectRatio="16 / 10",
                @blob="pictureBlobSet"
            )

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
        )
            a-button-group
                a-button(type="primary", html-type="submit", @click="save") {{ t('submit') }}
                a-popconfirm(
                    v-if="id",
                    :title="t('delete.warning')",
                    ok-text="Yes",
                    cancel-text="No",
                    @confirm="deleteConfirmed"
                )
                    a-button(href="#", danger) {{ t('delete') }}
</template>

<script lang="ts">
import { inject, reactive, defineComponent } from "vue";
import { committeeApi } from "../../scripts/api/committee";
import LoadingContainer from "../loading_container.vue";
import {
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    InputNumber,
    notification,
    Popconfirm,
    Radio,
} from "ant-design-vue";
import FormUserField from "../form/form_user_field.vue";
import FormGroupField from "../form/form_group_field.vue";
import FormPageField from "../form/form_page_field.vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";
import ImageCropperModal from "../form/image_cropper_modal.vue";
import Flask from "../../utils/flask";
import FormCommitteeTagField from "./form_committee_tag_field.vue";
import { useI18n } from "vue-i18n";
import { User } from "../../types/user";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-checkbox": Checkbox,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "vue-cropper": VueCropper,
        "form-user-field": FormUserField,
        "form-group-field": FormGroupField,
        "form-page-field": FormPageField,
        "image-cropper-modal": ImageCropperModal,
        "form-committee-tag-field": FormCommitteeTagField,
    },

    setup() {
        const pictureBlob: Blob | null = null;
        const currentPictureUrl = "";

        const { t } = useI18n();
        const form = reactive({
            en_name: "",
            nl_name: "",
            en_description: "",
            nl_description: "",
            coordinator: undefined as User | undefined,
            group: undefined as any,
            page: undefined as any,
            coordinator_interim: false,
            open_new_members: false,
            pressure: 1,
            tags: [] as any[],
        });

        return {
            loading: false,
            form,
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
            formRules: {
                nl_name: [{ required: true, message: t("nl_name.error") }],
                en_name: [{ required: true, message: t("en_name.error") }],
                nl_description: [
                    {
                        required: true,
                        message: t("nl_description.error.required"),
                    },
                    { max: 256, message: t("nl_description.error.max") },
                ],
                en_description: [
                    {
                        required: true,
                        message: t("en_description.error.required"),
                    },
                    { max: 256, message: t("en_description.error.max") },
                ],
                coordinator: [
                    { required: true, message: t("coordinator.error") },
                ],
                group: [{ required: true, message: t("group.error") }],
                page: [{ required: true, message: t("page.error") }],
                tags: [{ required: true, message: t("tags.error") }],
                pressure: [{ required: true, message: t("pressure.error") }],
            },
            currentPictureUrl,
            pictureBlob,
            locale: inject("locale") as string,
            t,
        };
    },
    computed: {
        id(): number {
            return parseInt(this.$route.params.committeeId) || 0;
        },
    },
    async mounted(): Promise<void> {
        if (this.id) {
            const resp = (await committeeApi.getCommittee(this.id)).data;
            const user = resp.coordinator;

            this.form.en_name = resp.name.en;
            this.form.nl_name = resp.name.nl;
            this.form.en_description = resp.description.en;
            this.form.nl_description = resp.description.nl;
            this.form.coordinator = user;

            this.form.group = {
                key: resp.group.id,
                label: resp.group.name,
            };
            this.form.page = {
                key: resp.page.id,
                label: resp.page.path,
            };
            this.form.coordinator_interim = resp.coordinator_interim;
            this.form.open_new_members = resp.open_new_members;
            this.form.pressure = resp.pressure;
            this.form.tags = resp.tags.map((tag) => ({
                key: tag.id.toString(),
                label: tag.name[this.locale],
            }));

            this.currentPictureUrl = resp.picture_file_id
                ? Flask.url_for("vue.committee_picture", { committee: this.id })
                : null;

            this.$forceUpdate();
        }
        this.loading = false;
    },
    methods: {
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            try {
                this.loading = true;

                const data = {
                    name: {
                        en: values.en_name,
                        nl: values.nl_name,
                    },
                    description: {
                        en: values.en_description,
                        nl: values.nl_description,
                    },
                    coordinator: {
                        id: values.coordinator.id,
                    },
                    group: {
                        id: values.group.key,
                    },
                    page: {
                        id: values.page.key,
                    },
                    coordinator_interim: values.coordinator_interim,
                    open_new_members: values.open_new_members,
                    pressure: values.pressure,
                    tags: values.tags.map((tag) => ({
                        id: parseInt(tag.key),
                    })),
                };

                let newId = 0;
                if (!this.id) {
                    newId = (await committeeApi.createCommittee(data)).data.id;
                } else {
                    await committeeApi.updateCommittee(this.id, data);
                }

                if (this.pictureBlob) {
                    await committeeApi.setCommitteePicture(
                        this.id || newId,
                        this.pictureBlob
                    );
                    this.pictureBlob = null;
                }

                if (newId) {
                    await this.$router.replace({
                        name: "committee-edit",
                        params: { committeeId: String(newId) },
                    });
                }

                notification.success({
                    message: "Success",
                    description: "Committee successfully saved.",
                });
            } catch (e) {
                console.error(e);
                notification.error({
                    message: this.t("submit.error.title") as string,
                    description: this.t("submit.error") as string,
                });
            } finally {
                this.loading = false;
            }
        },
        async deleteConfirmed(): Promise<void> {
            if (this.id) {
                await committeeApi.deleteCommittee(this.id);
                await this.$router.push({ name: "committee-overview" });
            }
        },
        pictureBlobSet(blob: Blob | null): void {
            this.pictureBlob = blob;
        },
    },
});
</script>

<i18n src="./committee.json"></i18n>
