<template lang="pug">
a-select(
    mode="tags",
    :labelInValue="true",
    :value="modelValue",
    :allowClear="true",
    placeholder="Select tag",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch()",
    :notFoundContent="fetching ? undefined : 'No tags found'",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}

    template(v-for="(_, name) in $slots", v-slot:[name]="")
        slot(:name="name")
</template>

<script lang="ts">
import { Select, Spin } from "ant-design-vue";
import { committeeApi } from "../../scripts/api/committee";
import { inject, defineComponent, PropType } from "vue";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    data() {
        const data: Partial<any>[] = [];

        return {
            locale: inject("locale") as string,
            data,
            fetching: false,
        };
    },
    methods: {
        async fetch() {
            this.data = [];
            this.fetching = true;
            const data = await committeeApi.getAllTags();
            const tags = data.data;
            this.data = tags.map((tag) => ({
                text: tag.name[this.locale],
                value: tag.id.toString(),
            }));

            this.fetching = false;
        },
        emit(value) {
            this.$emit("input", value);
            this.$emit("update:modelValue", value);
            this.$emit("change", value);
            this.$emit("change.value", value);
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
