{% extends "base/en.html" %}

{% block title -%}
    {{ ex_tutor }} has withdrawn from the tutoring request for {{ tutoring.course.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ ex_tutor }}</b> has withdrawn from the tutoring request for <b>{{ tutoring.course.name }}</b>.
        <b>via</b> has been notified and will start looking for a new tutor.
    </p>
<p>
    If you are no longer interested in a tutor, you can cancel your request for tutoring
    <a href="{{ tutoring_url }}">here</a>.
</p>
{%- endblock %}
