<template lang="pug">
a-select(
    mode="multiple",
    :value="props.modelValue",
    @change="emitFunc",
    @search="fetch",
    :filterOption="false"
)
    a-select-option(v-for="c in courses", :value="c.id", :key="c.id") {{ c.datanose_code }} {{ c[locale + '_name'] }}
</template>

<script setup lang="ts">
import { ref, onBeforeMount, defineEmits, defineProps, inject } from "vue";
import { Select as ASelect } from "ant-design-vue";
import { courseApi } from "../../scripts/api/course";
import { Course } from "../../types/examination";

const locale = inject("locale");
const ASelectOption = ASelect.Option;

async function fetch(value: string) {
    courses.value = (await courseApi.getAllCourses(value)).data.data;
}

const props = defineProps<{ modelValue: number[] }>();
const emit = defineEmits<{
    (c: "input", value: string): void;
    (c: "update:modelValue", value: string): void;
    (c: "change", value: string): void;
    (c: "change:value", value: string): void;
}>();

const emitFunc = (c) => {
    emit("input", c);
    emit("update:modelValue", c);
    emit("change", c);
    emit("change:value", c);
};

const courses = ref<Course[]>([]);

onBeforeMount(async () => {
    courses.value = (await courseApi.getAllCourses("")).data.data;
});
</script>
