<template lang="pug">
a-select(
    mode="multiple",
    :value="props.modelValue",
    @change="emitFunc",
    :filter-option="filterOption"
)
    a-select-option(
        v-for="e in educations",
        :value="e.id",
        :key="e.id",
        :label="e[locale + '_name']"
    ) {{ capitalize(e.programme_type) }} {{ e[locale + '_name'] }}
</template>

<script setup lang="ts">
import { ref, onBeforeMount, defineEmits, defineProps, inject } from "vue";
import { educationApi } from "../../scripts/api/education";
import type { Education } from "../../types/examination";
import { Select as ASelect } from "ant-design-vue";
import { capitalize } from "../../scripts/formatters";

// Workaround for components that are variables.
const ASelectOption = ASelect.Option;

const props = defineProps<{ modelValue: number[] }>();
const locale = inject("locale");
const emit = defineEmits<{
    (e: "input", value: string): void;
    (e: "update:modelValue", value: string): void;
}>();
const emitFunc = (e) => {
    emit("input", e);
    emit("update:modelValue", e);
};
const educations = ref<Education[]>([]);
// TODO This might be more than 50 some day?
onBeforeMount(async () => {
    educations.value = (await educationApi.getEducations("", "1")).data.data;
});

// Case insensitive filter
const filterOption = (input, option) => {
    return option.label.toLowerCase().indexOf(input.toLowerCase()) >= 0;
};
</script>
