<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="selectValue",
    :allowClear="true",
    placeholder="Select user",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No users found'",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.id") {{ d.first_name }} {{ d.last_name }} ({{ d.email }})
</template>

<script lang="ts">
import instance from "../../utils/axios";
import { Select, Spin } from "ant-design-vue";
import { defineComponent, PropType } from "vue";
import { User } from "../../types/user";
import type { SelectValue } from "ant-design-vue/lib/select";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    data() {
        return {
            data: [] as User[],
            fetching: false,
        };
    },
    computed: {
        selectValue(): SelectValue {
            if (!this.modelValue) {
                return undefined;
            }

            return {
                key: this.modelValue.id,
                value: this.modelValue.id,
                label: `${this.modelValue.first_name} ${this.modelValue.last_name} (${this.modelValue.email})`,
            };
        },
    },
    methods: {
        async fetch(value) {
            this.data = [];
            this.fetching = true;
            const data = await instance.get(
                "/api/users/?page=1&limit=15&search=" + value
            );
            this.data = data.data.data;
            this.fetching = false;
        },
        async emit(e) {
            if (e && e.key) {
                const val = this.data.find((a) => a.id == e.key);
                this.$emit("input", val);
                this.$emit("update:modelValue", val);
                this.$emit("change", val);
                this.$emit("change.value", val);
            } else {
                this.$emit("input", e);
                this.$emit("update:modelValue", e);
                this.$emit("change", e);
                this.$emit("change.value", e);
            }
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
