<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="props.modelValue",
    :allowClear="true",
    placeholder="Select pretix event",
    style="width: 100%",
    :filterOption="false",
    @search="debounceFetch",
    @focus="fetch('')",
    @change="emitFunc",
    :notFoundContent="fetching ? undefined : 'No events found'"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}
</template>

<script lang="ts" setup>
import { Select as ASelect, Spin as ASpin } from "ant-design-vue";
import { pretixApi } from "../../scripts/api/pretix";
import debounce from "../../utils/debounce";
import { defineEmits, defineProps, inject, ref } from "vue";

const ASelectOption = ASelect.Option;

const data = ref([] as { text: string; value: string }[]);
const fetching = ref(false);

const props = defineProps<{ modelValue: string }>();
const locale = inject("locale");
const emit = defineEmits<{
    (e: "input", value: { key: string; value: string }): void;
    (e: "update:modelValue", value: { key: string; value: string }): void;
}>();

const emitFunc = (e) => {
    emit("input", e);
    emit("update:modelValue", e);
};

async function fetch(value) {
    data.value = [];
    fetching.value = true;
    const events = await pretixApi.searchEvents(value);
    data.value = events.data.map((event) => ({
        text: `${event.name[locale as "en" | "nl"]} (${event.slug})`,
        value: event.slug,
    }));
    fetching.value = false;
}

const debounceFetch = debounce(fetch, 300);
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
