<template lang="pug">
a-select.w-100(
    :showSearch="true",
    :labelInValue="true",
    v-model:value="selectValue",
    :allowClear="true",
    :placeholder="t('placeholder')",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : t('empty')",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.id") {{ label(d) }}
</template>

<script lang="ts">
import { Select, Spin } from "ant-design-vue";
import { newsApi, NewsItem } from "../../scripts/api/news";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";
import type { SelectValue } from "ant-design-vue/lib/select";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const data: NewsItem[] = [];

        return {
            data,
            fetching: false,
        };
    },
    computed: {
        selectValue(): SelectValue {
            if (!this.modelValue) {
                return undefined;
            }

            return {
                key: this.modelValue.id,
                value: this.modelValue.id,
                label: this.label(this.modelValue),
            };
        },
    },
    methods: {
        label(a: NewsItem) {
            return `${a.title.nl} - ${a.title.en}`;
        },
        async fetch(value) {
            this.data = [];
            this.fetching = true;
            const data = await newsApi.searchNews(1, value);
            this.data = data.data.data;
            this.fetching = false;
        },
        emit(e) {
            if (e && e.key) {
                const res = this.data.find((a) => a.id == e.key);
                this.$emit("input", res);
                this.$emit("update:modelValue", res);
                this.$emit("change", res);
                this.$emit("change.value", res);
            } else {
                this.$emit("input", e);
                this.$emit("update:modelValue", e);
                this.$emit("change", e);
                this.$emit("change.value", e);
            }
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>

<i18n src="./form_news_field.json"></i18n>
