<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :allowClear="true",
    :value="modelValue",
    placeholder="Select group",
    style="width: 100%",
    :filterOption="false",
    @search="fetchGroup",
    @focus="() => fetchGroup('')",
    :notFoundContent="fetching ? undefined : 'No groups found'",
    @change="onChange"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text }}
</template>

<script lang="ts">
import instance from "../../utils/axios";
import { Select, Spin } from "ant-design-vue";
import { defineComponent, PropType } from "vue";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    data() {
        return {
            data: [] as { text: string; value: string }[],
            fetching: false,
        };
    },
    methods: {
        async fetchGroup(value) {
            this.data = [];
            this.fetching = true;
            try {
                const data = await instance.get(
                    "/api/groups/?page=1&limit=15&search=" + value
                );
                this.data = data.data.data.map((group) => ({
                    text: group.name,
                    value: group.id,
                }));
            } finally {
                this.fetching = false;
            }
        },
        async onChange(value) {
            this.$emit("input", value);
            this.$emit("update:modelValue", value);
            this.$emit("change", value);
            this.$emit("change.value", value);
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
