<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="selectValue",
    :allowClear="true",
    placeholder="Select course",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No course found'",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.id") {{ d.name }} {{ d.datanose_code }}

    template(v-for="(_, name) in $slots", v-slot:[name]="")
        slot(:name="name")
</template>

<script lang="ts">
import { Select, Spin } from "ant-design-vue";
import { courseApi } from "../../scripts/api/course";
import { Course } from "../../scripts/api/examination";
import { defineComponent, PropType } from "vue";
import { SelectValue } from "ant-design-vue/lib/select";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    data() {
        const data: Course[] = [];

        return {
            data,
            fetching: false,
        };
    },
    computed: {
        selectValue(): SelectValue {
            if (!this.modelValue) {
                return undefined;
            }

            return {
                key: this.modelValue.id,
                value: this.modelValue.id,
                label: `${this.modelValue.name} ${this.modelValue.datanose_code}`,
            };
        },
    },
    methods: {
        async fetch(value) {
            this.data = [];
            this.fetching = true;
            const data = await courseApi.getCourses(value, 1, [], []);
            this.data = data.data.data;
            this.fetching = false;
        },
        emit(e) {
            if (e && e.key) {
                const val = this.data.find((a) => a.id == e.key);
                this.$emit("input", val);
                this.$emit("update:modelValue", val);
                this.$emit("change", val);
                this.$emit("change.value", val);
            } else {
                this.$emit("input", e);
                this.$emit("update:modelValue", e);
                this.$emit("change", e);
                this.$emit("change.value", e);
            }
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
