<template lang="pug">
a-select(
    :showSearch="true",
    :labelInValue="true",
    :value="modelValue",
    :allowClear="true",
    placeholder="Select page",
    style="width: 100%",
    :filterOption="false",
    @search="fetch",
    @focus="() => fetch('')",
    :notFoundContent="fetching ? undefined : 'No pages found'",
    @change="emit"
)
    template(v-slot:notFoundContent="")
        a-spin(v-if="fetching", size="small")
    a-select-option(v-for="d in data", :key="d.value") {{ d.text.path }}
</template>

<script lang="ts">
import { Select, Spin } from "ant-design-vue";
import { pageApi } from "../../scripts/api/page";
import { defineComponent, PropType } from "vue";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
    },
    props: {
        modelValue: {
            type: Object as PropType<any>,
        },
    },
    data() {
        const data: any[] = [];

        return {
            data,
            fetching: false,
        };
    },
    methods: {
        async fetch(value) {
            this.data = [];
            this.fetching = true;
            const data = await pageApi.findPages(value, 1);
            const pages = data.data.data;
            this.data = pages.map((page) => ({
                text: page,
                value: page.id,
            }));
            this.fetching = false;
        },
        emit(value) {
            this.$emit("input", value);
            this.$emit("update:modelValue", value);
            this.$emit("change", value);
            this.$emit("change.value", value);
        },
    },
});
</script>

<style scoped lang="sass">

.form-display-description
    margin-left: 4px
</style>
