<template lang="pug">
div
    a-modal(
        title="Upload image",
        v-model:visible="show",
        @ok="croppedImageOk",
        :maskClosable="false",
        :centered="true"
    )
        input.d-none(
            ref="input",
            type="file",
            name="image",
            accept="image/*",
            @change="setImage"
        )
        vue-cropper(
            ref="cropper",
            :src="currentFilePath",
            :view-mode="1",
            :initialAspectRatio="initialAspectRatio || NaN",
            :aspectRatio="aspectRatio || NaN",
            preview=".preview"
        )

        a-button-group.d-flex.justify-content-center.mt-3.mb-3
            a-button(@click="$refs.cropper.setDragMode('move')")
                template(#icon)
                    a-drag-icon
            a-button(@click="$refs.cropper.setDragMode('crop')")
                template(#icon)
                    a-scissor-icon
            a-button(@click="$refs.cropper.relativeZoom(0.1)")
                template(#icon)
                    a-zoom-in-icon
            a-button(@click="$refs.cropper.relativeZoom(-0.1)")
                template(#icon)
                    a-zoom-out-icon
            a-button(@click="$refs.cropper.rotate(-10)")
                template(#icon)
                    a-redo-icon
            a-button(@click="$refs.cropper.rotate(10)")
                template(#icon)
                    a-undo-icon
            a-button(@click="$refs.cropper.move(-10, 0)")
                template(#icon)
                    a-left-icon
            a-button(@click="$refs.cropper.move(10, 0)")
                template(#icon)
                    a-right-icon
            a-button(@click="$refs.cropper.move(0, 10)")
                template(#icon)
                    a-down-icon
            a-button(@click="$refs.cropper.move(0, -10)")
                template(#icon)
                    a-up-icon

    img.preview-image.mb-6(v-show="hasImage", ref="picture", :src="previewSrc")
    br(v-if="hasImage")
    a-button-group
        a-button.mb-3(@click="showModal")
            | Change image
            template(#icon)
                a-picture-icon
        a-button.mb-3(
            v-if="showRemoveButton && hasImage",
            danger,
            @click="removeImage"
        )
            | Remove image
            template(#icon)
                a-delete-icon
</template>

<script lang="ts">
import { Button, Modal, Select, Spin } from "ant-design-vue";
import { defineComponent } from "vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";
import {
    PictureOutlined,
    DeleteOutlined,
    DragOutlined,
    ScissorOutlined,
    ZoomInOutlined,
    ZoomOutOutlined,
    RedoOutlined,
    UndoOutlined,
    LeftOutlined,
    RightOutlined,
    DownOutlined,
    UpOutlined,
} from "@ant-design/icons-vue";
import { nextTick } from "vue";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-modal": Modal,
        "a-button": Button,
        "a-button-group": Button.Group,
        "vue-cropper": VueCropper,
        "a-drag-icon": DragOutlined,
        "a-scissor-icon": ScissorOutlined,
        "a-zoom-in-icon": ZoomInOutlined,
        "a-zoom-out-icon": ZoomOutOutlined,
        "a-redo-icon": RedoOutlined,
        "a-undo-icon": UndoOutlined,
        "a-left-icon": LeftOutlined,
        "a-right-icon": RightOutlined,
        "a-down-icon": DownOutlined,
        "a-up-icon": UpOutlined,
        "a-picture-icon": PictureOutlined,
        "a-delete-icon": DeleteOutlined,
    },
    props: {
        currentFilePath: {
            type: String,
        },
        initialAspectRatio: {
            type: Number,
        },
        aspectRatio: {
            type: Number,
        },
        showRemoveButton: {
            type: Boolean,
        },
        mimeType: { default: "image/jpeg", type: String },
    },
    data() {
        const imageBlob: any | null = null;

        return {
            imageBlob,
            show: false,
            showCurrent: true,
        };
    },
    computed: {
        previewSrc() {
            if (this.imageBlob) {
                return URL.createObjectURL(this.imageBlob);
            } else if (this.currentFilePath && this.showCurrent) {
                return this.currentFilePath;
            }
            return "";
        },
        hasImage() {
            return (
                !!this.imageBlob || (this.showCurrent && !!this.currentFilePath)
            );
        },
    },
    methods: {
        showModal() {
            this.show = true;
            nextTick(() => {
                (this.$refs.input as HTMLInputElement).click();
            });
        },
        removeImage() {
            this.showCurrent = false;
            this.setImageBlob(null);
        },
        setImage(e) {
            this.imageBlob = null;

            const file = e.target.files[0];
            if (file.type.indexOf("image/") === -1) {
                alert("Please select an image file");
                return;
            }
            if (typeof FileReader === "function") {
                const reader = new FileReader();
                reader.onload = (event) => {
                    // rebuild cropperjs with the updated source
                    (this.$refs.cropper as VueCropper).replace(
                        event.target!.result
                    );
                };
                reader.readAsDataURL(file);
            } else {
                alert("Sorry, FileReader API not supported");
            }
        },
        setImageBlob(blob: Blob | null) {
            this.imageBlob = blob;
            this.$emit("blob", blob);
        },
        async croppedImageOk() {
            const cropper = this.$refs.cropper as VueCropper;

            const canvas = cropper.getCroppedCanvas({
                maxWidth: 2000,
                maxHeight: 2000,
                imageSmoothingEnabled: true,
                imageSmoothingQuality: "high",
            });

            await canvas.toBlob(this.setImageBlob, this.mimeType);

            this.show = false;
            (this.$refs.picture as HTMLImageElement).src = canvas.toDataURL();
        },
    },
});
</script>

<style lang="sass">
@import "cropperjs/dist/cropper.css"
</style>

<style scoped lang="sass">
.preview-image
    max-height: 500px
</style>
