<template lang="pug">
a-spin.gre-container(:spinning="loading")
    div(ref="greContainer")
</template>

<script lang="ts">
import { Spin } from "ant-design-vue";
import { defineComponent } from "vue";

export default defineComponent({
    components: { "a-spin": Spin },
    data() {
        return {
            loading: true,
        };
    },
    computed: {
        greContainer() {
            return this.$refs.greContainer;
        },
    },
    mounted() {
        if (!window["grecaptcha"]) {
            new Promise<void>((resolve) => {
                window["_greReady"] = function () {
                    resolve();
                };
                const script = document.createElement("script");
                const lang = window.viaduct?.locale || "en";
                const url = `https://www.google.com/recaptcha/api.js?onload=_greReady&render=explicit&hl=${lang}`;
                script.async = true;
                script.setAttribute("src", url);
                document.head.appendChild(script);
            }).then(() => {
                this.renderIntoElement();
            });
        } else {
            this.renderIntoElement();
        }
    },
    methods: {
        change(value: string) {
            this.$emit("change", value);
            this.$emit("update:modelValue", value);
            return value;
        },
        renderIntoElement() {
            window["grecaptcha"].render(this.greContainer, {
                sitekey: window.viaduct?.recaptcha_public_key,
                theme: "light",
                size: "normal",
                callback: this.change,
                "expired-callback": () => this.change(""),
                "error-callback": () => this.change(""),
            });
            this.loading = false;
        },
    },
});
</script>

<style lang="sass" scoped>

.gre-container
    // Size of the Google Recaptcha widget after it has loaded.
    height: 78px
    width: 304px
</style>
