<template lang="pug">
a-col.info-block(:span="12")
    .inside-block
        .block-content
            slot(name="content") {{ content }}
        .block-title
            .overflow-wrapper
                slot(name="title") {{ title }}
</template>

<script lang="ts">
import { Col } from "ant-design-vue";
import { defineComponent } from "vue";

export default defineComponent({
    components: {
        "a-col": Col,
    },
    props: {
        title: {
            type: [String, Number],
            required: true,
        },
        content: {
            type: [String, Number],
            default: "",
        },
    },
});
</script>

<style lang="sass" scoped>
.inside-block
    border-radius: 6px
    border: 1px solid #e8e8e8
    height: 90px
    padding: 0.25em 0.5em

    display: flex
    flex-direction: column
    justify-content: space-between

    line-height: 1.2em


.block-content
    font-weight: 500
    text-align: start
    font-size: 1.1em
    word-break: break-word

    overflow: hidden
    text-overflow: ellipsis

.block-title
    color: #989898
    text-align: end

.overflow-wrapper
    overflow: hidden
    text-overflow: ellipsis
</style>
