<template>
    <a-button
        class="button-with-icon"
        @click="share"
    >
        <telegram-icon class="icon" />
        Share
    </a-button>
</template>

<script lang="ts">
import { Button } from "ant-design-vue";
import TelegramIcon from "./TelegramIcon.vue";
import { defineComponent } from "vue";

export default defineComponent({
    components: {
        "a-button": Button,
        "telegram-icon": TelegramIcon,
    },
    props: {
        url: {
            type: String,
        },
        text: {
            type: String,
        },
    },
    methods: {
        share() {
            const url = encodeURIComponent(this.url);
            const text = encodeURIComponent(this.text);
            window.open(`https://t.me/share/url?url=${url}&text=${text}`);
        },
    },
});
</script>

<style scoped lang="scss">
.icon {
    margin-right: 4px;
    width: 1em;
    height: 1em;
}

.button-with-icon {
    display: flex;
    align-items: center;
}
</style>
