{% extends "content.htm" %}

{% set __fullscreen_mode = True %}

{% block title %}{{ _('Authorize %s') % grant.client.client_name}}{% endblock %}

{% block page %}
        <div class="row d-flex flex-wrap align-items-center v-100 mt-5">
            <div class="col-md-6 col-md-6 col-10 offset-1 offset-md-3 border p-3 shadow">
                <div class="row border-bottom pb-3">
                    <div class="col-4 col-sm-6 mt-3 mt-sm-0 align-items-center border-right my-auto
                    px-3">
                        <img src="/static/img/logo.svg" alt="logo via"/>
                    </div>
                    <div class="col-8 col-sm-6 my-auto">
                        <h1 class="m-0 w-100 font-weight-bold">
                            {{ grant.client.client_name }}
                        </h1>
                    </div>
                </div>
                <div class="row px-3 pt-3">
                    <h5>{{ _("This app would like to:") }}</h5>
                </div>
                <div class="row px-3">
                    <ul>
                        <li>{{ _("Access to your name and e-mail") }}</li>

                        {% for scope in (grant.request.scope or "").split() %}
                            <li>{{ scopes[scope] }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5></h5>
                    </div>
                </div>
                <div class="row">
                    <form class="col-12" action="{{ url_for('oauth.authorize')}}" method="POST">
                        <input type="hidden" name="client_id"
                               value="{{ grant.client.client_id }}">
                        <input type="hidden" name="scope" value="{{ (grant.request.scope or "").split() | join(' ') }}">
                        <input type="hidden" name="response_type"
                               value="{{ grant.request.response_type }}">
                        <input type="hidden" name="redirect_uri"
                               value="{{ grant.request.redirect_uri }}">
                        {% if state != None %}
                            <input type="hidden" name="state" value="{{ state }}">
                        {% endif %}

                        <div class="float-right">
                            <input class="btn btn-outline-dark mr-1" type="submit"
                               name="cancel" value="{{ _("Cancel") }}">
                            <input class="btn btn-success btn-lg" type="submit" name="confirm"
                               value="{{ _("Accept") }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
