<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/") Home
        a-breadcrumb-item
            a(:href="newsUrl") News
        a-breadcrumb-item {{ title }}

    h1 {{ title }}
    a-form-model(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch title",
            name="title_nl"
        )
            a-input(v-model:value="form.title_nl")

        a-form-model-item(
            v-bind="formItemLayout",
            label="English title",
            name="title_en"
        )
            a-input(v-model:value="form.title_en")

        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch content",
            name="content_nl"
        )
            vue-simple-mde(v-model="form.content_nl")

        a-form-model-item(
            v-bind="formItemLayout",
            label="English content",
            name="content_en"
        )
            vue-simple-mde(v-model="form.content_en")

        a-form-model-item(
            v-bind="formItemLayout",
            label="Publish date",
            extra="Date after which it will be visible for users.",
            name="publish_date"
        )
            a-date-picker(v-model:value="form.publish_date")
        a-form-model-item(
            v-bind="formItemLayout",
            label="Sponsored",
            name="sponsored"
        )
            a-checkbox(v-model:checked="form.sponsored")
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="returnUrl") Back
                a-button(type="primary", @click="save") Save
                a-button(type="primary", @click="saveAndRedirect") Save and view
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-popconfirm(
                v-if="id",
                title="Are you sure you want to delete this news item?",
                @confirm="confirmDelete"
            )
                a-button(href="#", danger) Delete
</template>

<script lang="ts">
import moment from "moment";

import Flask from "../../utils/flask";
import VueSimpleMde from "../common/markdown-editor.vue";
import { newsApi, NewsItemBody } from "../../scripts/api/news";
import LoadingContainer from "../loading_container.vue";
import {
    Breadcrumb,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
    Popconfirm,
} from "ant-design-vue";
import { reactive, defineComponent } from "vue";

export default defineComponent({
    components: {
        "vue-simple-mde": VueSimpleMde,
        "loading-container": LoadingContainer,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-date-picker": DatePicker,
        "a-popconfirm": Popconfirm,
        "a-button-group": Button.Group,
        "a-button": Button,
    },
    data() {
        return {
            newsUrl: Flask.url_for("news.root"),
            loading: true,
            form: reactive({
                title_nl: "",
                title_en: "",
                content_nl: "",
                content_en: "",
                publish_date: moment(),
                sponsored: false,
            }),
            formRules: {
                title_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch title.",
                    },
                ],
                title_en: [
                    {
                        required: true,
                        message: "Please enter the English title.",
                    },
                ],
                content_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch content.",
                    },
                ],
                content_en: [
                    {
                        required: true,
                        message: "Please enter the English content.",
                    },
                ],
                publish_date: [
                    {
                        required: true,
                        message: "Please enter the publish date.",
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
        };
    },
    computed: {
        id(): number | null {
            return parseInt(this.$route.params.newsId) || null;
        },
        title(): string {
            if (this.id) return "Edit news";
            return "Create news";
        },
        returnUrl(): string {
            if (this.id) {
                return Flask.url_for("news.view", { news: this.id });
            } else {
                return Flask.url_for("news.root");
            }
        },
    },
    async mounted(): Promise<void> {
        try {
            if (this.id !== null) {
                const resp = (await newsApi.getNewsItem(this.id)).data;

                this.form.title_nl = resp.title.nl;
                this.form.title_en = resp.title.en;
                this.form.content_nl = resp.content.nl;
                this.form.content_en = resp.content.en;
                this.form.publish_date = moment(resp.publish_date);
                this.form.sponsored = !!resp.sponsored;
            }
        } finally {
            this.loading = false;
        }
    },
    methods: {
        async save(): Promise<boolean> {
            if (this.loading) return false;
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                return false; // Form didn't validate
            }

            try {
                this.loading = true;
                const data = new NewsItemBody(
                    values["title_en"],
                    values["title_nl"],
                    values["content_en"],
                    values["content_nl"],
                    values["publish_date"].format("YYYY-MM-DD"),
                    values["sponsored"]
                );
                if (!this.id) {
                    const resp = await newsApi.createNewsItem(data);
                    // redirect in vue first, to make sure that the back button functions.
                    await this.$router.replace({
                        name: "news-edit",
                        params: { newsId: resp.data.id.toString() },
                    });
                } else {
                    await newsApi.updateNewsItem(this.id, data);
                }
                await notification.success({
                    message: "Success",
                    description: "News successfully saved.",
                });
                return true;
            } finally {
                this.loading = false;
            }
        },
        async saveAndRedirect(): Promise<void> {
            if (await this.save()) {
                // Wait 300ms to navigate to the next page, to show the notification.
                // The delay can be removed when the news.view page is in vue.
                setTimeout(
                    (window.location.href = Flask.url_for("news.view", {
                        news: this.id,
                    })),
                    300
                );
            }
        },
        async confirmDelete(): Promise<void> {
            if (this.id) {
                await newsApi.deleteNewsItem(this.id);
                window.location.href = "/news";
            }
        },
    },
});
</script>
