<template lang="pug">
a-form(
    :model="form",
    :rules="formRules",
    ref="formRef",
    :label-col="formItemLayout.labelCol",
    :wrapper-col="formItemLayout.wrapperCol"
)
    a-form-item(name="first_name", :label="t('form.first_name.label')")
        a-input(v-model:value="form.first_name")
    a-form-item(name="last_name", :label="t('form.last_name.label')")
        a-input(v-model:value="form.last_name")
    a-form-item(name="email", :label="t('form.email.label')")
        a-input(v-model:value="form.email")
    a-form-item(name="student_id", :label="t('form.student_id.label')")
        a-input(v-model:value="form.student_id", type="number")
    a-form-item(name="recaptcha", :label="t('form.recaptcha.label')")
        Recaptcha(v-model="form.recaptcha")
    a-form-item
        a-button(type="primary", @click="save") {{ t('form.submit') }}
</template>
<script lang="ts">
import { educationApi } from "../../scripts/api/lectures";
import { Button, Form, Input, notification } from "ant-design-vue";
import Axios from "axios";
import { defineComponent, reactive } from "vue";
import { useI18n } from "vue-i18n";
import Recaptcha from "../form/Recaptcha.vue";

export default defineComponent({
    components: {
        "a-input": Input,
        "a-form-item": Form.Item,
        "a-form": Form,
        "a-button": Button,
        Recaptcha,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const form = reactive({
            first_name: "",
            last_name: "",
            email: "",
            student_id: "",
            recaptcha: "",
        });

        const formRules = {
            first_name: [
                { required: true, message: this.t("form.required.error") },
                {
                    max: 256,
                    message: this.t(
                        "Field cannot be longer than {len} characters.",
                        {
                            len: 256,
                        }
                    ),
                },
            ],
            last_name: [
                { required: true, message: this.t("form.required.error") },
                {
                    max: 256,
                    message: this.t(
                        "Field cannot be longer than {len} characters.",
                        {
                            len: 256,
                        }
                    ),
                },
            ],
            email: [
                {
                    required: true,
                    message: this.t("form.required.error") as string,
                },
                {
                    type: "email",
                    message: this.t("form.email.error") as string,
                },
            ],
            student_id: [
                {
                    required: true,
                    message: this.t("form.required.error") as string,
                },
                {
                    pattern: /^\d{8}$/,
                    message: this.t("form.student_id.error") as string,
                },
            ],
            recaptcha: [
                {
                    required: true,
                    message: this.t("form.required.error") as string,
                },
            ],
        };

        const formItemLayout = {
            labelCol: {
                xs: { span: 24 },
                sm: { span: 5 },
            },
            wrapperCol: {
                xs: { span: 24 },
                sm: { span: 19 },
            },
        };
        return {
            form,
            formRules,
            formItemLayout,
        };
    },
    methods: {
        async save(): Promise<void> {
            try {
                await (this.$refs.formRef as any).validate();

                await educationApi.registerLectureMailing(this.form);
                notification.success({
                    message: this.t("notification.success.message") as string,
                    description: this.t("notification.success.description", {
                        email: this.form.email,
                    }) as string,
                });
                this.form.first_name = "";
                this.form.last_name = "";
                this.form.email = "";
                this.form.student_id = "";
                this.form.recaptcha = "";
            } catch (e) {
                console.error("Failed to save form", e);
                let msg = this.t("notification.error.description") as string;
                if (Axios.isAxiosError(e)) {
                    if (typeof e.response?.data?.data?.details === "string") {
                        msg = e.response.data.data.details;
                    }
                }
                notification.error({
                    message: this.t("notification.error.message") as string,
                    description: msg,
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
<i18n src="./Lectures.json"></i18n>
