<template lang="pug">
div
    render-page(pageUrl="lectures")
    template(v-if="isAnonymous || hasMailingAdmin")
        i18n-t(keypath="register.text", tag="p")
            template(v-slot:formLink="")
                strong
                    a(@click="showForm = true", href="#") {{ t('this form') }}
        LecturesMailingForm(v-show="showForm")
</template>

<script lang="ts">
import RenderPage from "../page/render_page.vue";
import LecturesMailingForm from "./LecturesMailingForm.vue";
import { authStore } from "../../store/auth";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "render-page": RenderPage,
        LecturesMailingForm: LecturesMailingForm,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            showForm: false,
        };
    },
    computed: {
        isAnonymous(): boolean {
            return authStore.isAnonymous();
        },
        hasMailingAdmin(): boolean {
            return !!authStore.roles.MAILINGLIST_ADMIN?.has_role;
        },
    },
});
</script>

<i18n src="./Lectures.json"></i18n>
