<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin/") Admin
        a-breadcrumb-item
            a(href="/activities/") Activities
        a-breadcrumb-item {{ title }}

    h1 {{ title }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol",
        @submit.prevent="save"
    )
        a-form-model-item(name="nl_name", label="Dutch title")
            a-input(v-model:value="form.nl_name")

        a-form-model-item(name="en_name", label="English title")
            a-input(v-model:value="form.en_name")

        a-form-model-item(name="group_id", label="Group")
            a-select(v-model:value="form.group_id")
                a-select-option(
                    v-for="userGroup in userGroups",
                    :key="userGroup.id"
                ) {{ userGroup.name }}

        a-form-model-item(name="nl_description", label="Dutch description")
            vue-simple-mde(v-model="form.nl_description")

        a-form-model-item(name="en_description", label="English description")
            vue-simple-mde(v-model="form.en_description")

        a-form-model-item(
            name="price",
            label="Price",
            extra="Only used as a label, actual price is configured in pretix"
        )
            a-input(v-model:value="form.price")

        a-form-model-item(
            label="Location",
            :validateStatus="this.form.location ? 'success' : 'error'",
            name="location"
        )
            a-input-group(compact)
                a-select(style="width: 20%", v-model:value="form.locationType")
                    a-select-option(value="maps") Maps
                    a-select-option(value="url") URL
                    a-select-option(value="other") Other
                a-input(style="width: 80%", v-model:value="form.location")

        a-form-model-item(label="Activity date and time", name="date")
            a-range-picker(
                v-model:value="form.date",
                :showTime="{ format: 'HH:mm' }",
                :placeholder="placeholder"
            )

        a-form-model-item(label="Pretix event")
            form-pretix-field(v-model="form.pretix")

        a-form-model-item(label="Activity image")
            img.mb-6(
                v-show="!!id || !!imageBlob || !!based_on",
                ref="picture",
                :src="imageSrc"
            )
            br(v-if="imageSrc")
            a-button-group(v-if="imageSrc")
                a-button(@click="selectImage") Change image
                    template(#icon)
                        a-picture-icon
                a-popconfirm(
                    @confirm="removeImage",
                    title="Are you sure?",
                    :cancelButtonProps="{ danger: true }"
                )
                    a-button(danger) Remove image
                        template(#icon)
                            a-delete-icon
            a-button-group(v-else)
                a-button(@click="selectImage") Change image
                    template(#icon)
                        a-picture-icon
            template(v-slot:extra="")
                | Please take care to use a copyright free image, see the wiki-page on
                |
                a(
                    href="https://wiki.svia.nl/copyrightvrije_foto_s",
                    target="_blank"
                ) copyright free images
                |
                | on how to find an image!

        a-form-model-item(
            :wrapperCol="{ ...{ xs: { span: 24 }, sm: { span: 20 } }, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-alert(type="warning")
                template(v-slot:message="")
                    |#[b Poster] Remember to request a poster with the marketingcommittee #[a(href="/aanvragen", target="_blank") here].
            a-button-group
                a-button(:href="returnUrl") Back
                a-button(@click="save") Save
                a-button(type="primary", @click="saveAndRedirect") Save and view

        a-modal(
            title="Upload image",
            v-model:visible="modal",
            @ok="croppedImageOk",
            :maskClosable="false"
        )
            input.d-none(
                ref="input",
                type="file",
                name="image",
                accept="image/*",
                @change="setImage"
            )
            vue-cropper(
                ref="cropper",
                :src="imageSrc",
                :view-mode="1",
                preview=".preview"
            )
            a-button-group.d-flex.justify-content-center.mt-3.mb-3
                a-button(@click="$refs.cropper.setDragMode('move')")
                    template(#icon)
                        a-drag-icon
                a-button(@click="$refs.cropper.setDragMode('crop')")
                    template(#icon)
                        a-scissor-icon
                a-button(@click="$refs.cropper.relativeZoom(0.1)")
                    template(#icon)
                        a-zoom-in-icon
                a-button(@click="$refs.cropper.relativeZoom(-0.1)")
                    template(#icon)
                        a-zoom-out-icon
                a-button(@click="$refs.cropper.rotate(-10)")
                    template(#icon)
                        a-redo-icon
                a-button(@click="$refs.cropper.rotate(10)")
                    template(#icon)
                        a-undo-icon
                a-button(@click="$refs.cropper.move(-10, 0)")
                    template(#icon)
                        a-left-icon
                a-button(@click="$refs.cropper.move(10, 0)")
                    template(#icon)
                        a-right-icon
                a-button(@click="$refs.cropper.move(0, 10)")
                    template(#icon)
                        a-down-icon
                a-button(@click="$refs.cropper.move(0, -10)")
                    template(#icon)
                        a-up-icon
</template>

<script lang="ts">
import { ref, reactive, defineComponent } from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import VueSimpleMde from "../common/markdown-editor.vue";
import {
    Alert,
    Breadcrumb,
    Button,
    DatePicker,
    Form,
    Input,
    Modal,
    Select,
    Popconfirm,
    notification,
} from "ant-design-vue";
import moment from "moment";
import FormPretixField from "../form/form_pretix_field.vue";
import VueCropper from "vue-cropperjs/dist/VueCropper";
import { activityApi } from "../../scripts/api/activity";
import LoadingContainer from "../loading_container.vue";
import {
    PictureOutlined,
    DeleteOutlined,
    DragOutlined,
    ScissorOutlined,
    ZoomInOutlined,
    ZoomOutOutlined,
    RedoOutlined,
    UndoOutlined,
    LeftOutlined,
    RightOutlined,
    DownOutlined,
    UpOutlined,
} from "@ant-design/icons-vue";
import { Groups, userApi } from "../../scripts/api/user";
import FormGroupField from "../form/form_group_field.vue";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-alert": Alert,
        "a-button": Button,
        "a-modal": Modal,
        "a-button-group": Button.Group,
        "a-range-picker": DatePicker.RangePicker,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-input-group": Input.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-popconfirm": Popconfirm,
        "vue-simple-mde": VueSimpleMde,
        "vue-cropper": VueCropper,
        "form-pretix-field": FormPretixField,
        "a-picture-icon": PictureOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-drag-icon": DragOutlined,
        "a-scissor-icon": ScissorOutlined,
        "a-zoom-in-icon": ZoomInOutlined,
        "a-zoom-out-icon": ZoomOutOutlined,
        "a-redo-icon": RedoOutlined,
        "a-undo-icon": UndoOutlined,
        "a-left-icon": LeftOutlined,
        "a-right-icon": RightOutlined,
        "a-down-icon": DownOutlined,
        "a-up-icon": UpOutlined,
        "form-group-field": FormGroupField,
    },
    data() {
        const userGroups: Groups[] = [];
        const imageBlob: any | null = null;
        const based_on_image_url: string | null = null;
        const imageId: string | null = null;
        const form = reactive({
            nl_name: "",
            en_name: "",
            group_id: undefined as number | undefined,
            nl_description: "",
            en_description: "",
            price: "",
            locationType: "maps",
            location: "",
            date: [null, null],
            pretix: "",
            imageSrc: "",
        });

        return {
            loading: true,
            modal: false,
            form,
            formRules: {
                nl_name: [
                    {
                        required: true,
                        message: "Please enter the Dutch title.",
                    },
                    {
                        max: 256,
                        message: "Dutch title must not exceed 256 characters.",
                    },
                ],
                en_name: [
                    {
                        required: true,
                        message: "Please enter the English title.",
                    },
                    {
                        max: 256,
                        message:
                            "English title must not exceed 256 characters.",
                    },
                ],
                group_id: [
                    {
                        required: true,
                        message: "Please select a group.",
                    },
                ],
                location: [
                    { required: true, message: "Please enter the location." },
                    {
                        max: 1024,
                        message: "Location must not exceed 1024 characters.",
                    },
                ],
                nl_description: [
                    {
                        required: true,
                        message: "Please enter the Dutch description.",
                    },
                ],
                en_description: [
                    {
                        required: true,
                        message: "Please enter the English description.",
                    },
                ],
                price: [
                    { type: "string" },
                    {
                        max: 256,
                        message: "Price must not exceed 256 characters",
                    },
                ],
                date: [
                    {
                        type: "array",
                        required: true,
                        message: "Please select a date-time range.",
                    },
                    {
                        validator: (rule, value) => {
                            if (value[0] === null || value[1] === null) {
                                return Promise.reject(
                                    "Please select a date-time range."
                                );
                            }
                            return Promise.resolve();
                        },
                    },
                ],
            },
            placeholder: ["Start Time", "End Time"] as any,
            imageId,
            based_on_image_url,
            removeImgOnSave: false,
            userGroups,
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    md: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    md: { span: 18 },
                },
            },
            imageBlob,
            mapsPrefix: "https://maps.google.com/?q=",
        };
    },
    computed: {
        id() {
            return parseInt(this.$route.params["activityId"]) || null;
        },
        based_on() {
            return typeof this.$route.query.based_on == "string"
                ? parseInt(this.$route.query.based_on)
                : null;
        },
        title(): string {
            if (this.id) return "Edit activity";
            return "Create activity";
        },
        imageSrc() {
            if (this.imageBlob) {
                return URL.createObjectURL(this.imageBlob);
            } else if (this.id && this.imageId) {
                return Flask.url_for("activity.picture", { activity: this.id });
            } else if (this.based_on && this.imageId) {
                return this.updateBasedImageSrc();
            }
            return "";
        },
        returnUrl() {
            if (this.id) {
                return Flask.url_for("activity.get_activity", {
                    activity: this.id,
                });
            } else {
                return Flask.url_for("activity.view");
            }
        },
    },
    async mounted() {
        try {
            // This logic handles the cases where the activity is based on an existing activity or if the activity is
            // being edited.
            const editing = this.id !== null;
            const duplicating = this.based_on !== null;

            let id: number | null = null;
            if (editing) {
                id = this.id;
            } else if (duplicating) {
                id = this.based_on;
            }

            this.userGroups = (await userApi.getUserGroups(null)).data;
            this.userGroups.sort((a, b) => a.name.localeCompare(b.name));

            if (id) {
                const resp = (
                    await instance.get(
                        Flask.url_for("api.activity", { activity: id })
                    )
                ).data;
                this.imageId = resp.picture_file_id;

                let location, locationType;
                if (resp.location.indexOf(this.mapsPrefix) == 0) {
                    location = decodeURIComponent(
                        resp.location.substr(this.mapsPrefix.length)
                    );
                    locationType = "maps";
                } else if (
                    resp.location.indexOf("http://") == 0 ||
                    resp.location.indexOf("https://") == 0
                ) {
                    location = resp.location;
                    locationType = "url";
                } else {
                    location = resp.location;
                    locationType = "other";
                }

                const date = [moment(resp.start_time), moment(resp.end_time)];
                if (duplicating) {
                    const now = moment();
                    // Find the number of weeks to add to the start and en date of the source activity, such that it
                    // respects the following constraints:
                    // - The new activity must be in the future;
                    // - The new activity is at least one week after the source event;
                    // - The new activity is as soon as possible, but not today.
                    const weeks_diff =
                        Math.max(0, now.diff(date[0], "weeks")) + 1;

                    date[0].add(weeks_diff, "week");
                    date[1].add(weeks_diff, "week");
                }

                this.form.nl_name = resp.name.nl;
                this.form.en_name = resp.name.en;
                this.form.group_id = resp.group_id;
                this.form.nl_description = resp.description.nl;
                this.form.en_description = resp.description.en;
                this.form.price = resp.price;
                this.form.location = location;
                this.form.locationType = locationType;
                this.form.date = date;
                this.form.pretix = resp.pretix_event_slug
                    ? {
                          key: resp.pretix_event_slug,
                          label: resp.pretix_event_slug,
                      }
                    : undefined;
            }
        } finally {
            this.loading = false;
        }
    },
    methods: {
        removeImage() {
            this.imageId = null;
            this.imageBlob = null;
            this.removeImgOnSave = true;
        },
        selectImage() {
            this.modal = true;
            this.$nextTick(() =>
                (this.$refs.input as HTMLInputElement).click()
            );
        },
        setImage(e) {
            this.imageBlob = null;

            const file = e.target.files[0];
            if (file.type.indexOf("image/") === -1) {
                alert("Please select an image file");
                return;
            }
            if (typeof FileReader === "function") {
                const reader = new FileReader();
                reader.onload = (event) => {
                    // rebuild cropperjs with the updated source
                    (this.$refs.cropper as VueCropper).replace(
                        event.target!.result
                    );
                };
                reader.readAsDataURL(file);
            } else {
                alert("Sorry, FileReader API not supported");
            }
        },
        updateBasedImageSrc() {
            this.based_on_image_url = Flask.url_for("activity.picture", {
                activity: this.based_on,
            });
            return this.based_on_image_url;
        },
        async croppedImageOk() {
            const cropper = this.$refs.cropper as VueCropper;

            const canvas = cropper.getCroppedCanvas({
                maxWidth: 2000,
                maxHeight: 2000,
                imageSmoothingEnabled: true,
                imageSmoothingQuality: "high",
            });

            await canvas.toBlob(async (blob) => {
                this.imageBlob = blob;
            }, "image/jpeg");

            this.modal = false;
            (this.$refs.picture as HTMLImageElement).src = canvas.toDataURL();
        },
        async uploadPictureIfNeeded() {
            if (this.imageBlob) {
                await activityApi.setActivityPicture(this.id, this.imageBlob);
            } else if (this.based_on_image_url !== null) {
                const blob = await fetch(this.based_on_image_url, {
                    redirect: "follow",
                }).then((r) => {
                    return r.blob();
                });
                await activityApi.setActivityPicture(this.id, blob);
            }
        },
        async save(): Promise<boolean> {
            if (this.loading) return false;
            try {
                await (this.$refs.formRef as any).validate();
            } catch (e) {
                console.error("failed" + e);
                return false; // Form didn't validate
            }

            try {
                this.loading = true;
                let locationUrl;
                if (this.form.locationType == "maps") {
                    locationUrl =
                        this.mapsPrefix +
                        encodeURIComponent(this.form.location);
                } else {
                    locationUrl = this.form.location;
                }
                const body = {
                    name: { en: this.form.en_name, nl: this.form.nl_name },
                    group_id: this.form.group_id,
                    description: {
                        en: this.form.en_description,
                        nl: this.form.nl_description,
                    },
                    price: this.form.price ? this.form.price : "",
                    location: locationUrl,
                    start_time: this.form.date[0].toISOString(),
                    end_time: this.form.date[1].toISOString(),
                    pretix_event_slug: this.form.pretix
                        ? this.form.pretix.key
                        : "",
                };
                if (this.id) {
                    await activityApi.updateActivity(this.id, body);
                } else {
                    const resp = await activityApi.createActivity(body);
                    await this.$router.replace({
                        name: "activities-edit",
                        params: { activityId: resp.data.id.toString() },
                    });
                }

                try {
                    await this.uploadPictureIfNeeded();
                    if (this.removeImgOnSave) {
                        await activityApi.removeActivityPicture(this.id);
                    }
                } catch (e) {
                    console.error(e);
                    await notification.error({
                        message: "Error",
                        description: "Failed to save image.",
                    });
                    return false;
                }

                await notification.success({
                    message: "Success",
                    description: "Activity successfully saved.",
                });
                return true;
            } catch (e) {
                console.error(e);
                await notification.error({
                    message: "Error",
                    description: "Failed to save activity.",
                });
                return false;
            } finally {
                this.loading = false;
            }
        },
        async saveAndRedirect() {
            if (await this.save()) {
                // Wait 300ms to navigate to the next page, to show the notification.
                // The delay can be removed when the news.view page is in vue.
                setTimeout(
                    () =>
                        (window.location.href = Flask.url_for(
                            "activity.get_activity",
                            {
                                activity: this.id,
                            }
                        )),
                    300
                );
            }
        },
    },
});
</script>

<style lang="sass">
@import 'cropperjs/dist/cropper.css'
</style>
