<template lang="pug">
div
    render-page(pageUrl="declaration")

    .row
        .col-md-12
            a-form-model(ref="formRef", :model="form", :rules="formRules")
                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('First Name')",
                    name="first_name"
                )
                    a-input(v-model:value="form.first_name")
                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Last Name')",
                    name="last_name"
                )
                    a-input(v-model:value="form.last_name")
                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Address')",
                    name="address"
                )
                    a-input(v-model:value="form.address")
                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Zip')",
                    name="zip"
                )
                    a-input(v-model:value="form.zip")
                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('City')",
                    name="city"
                )
                    a-input(v-model:value="form.city")

                a-form-model-item(
                    v-bind="formItemLayout",
                    label="IBAN",
                    name="iban"
                )
                    a-input(v-model:value="form.iban")

                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
                    name="save_iban"
                )
                    a-checkbox(v-model:checked="form.save_iban") {{ t('Save IBAN') }}
                    a-tooltip
                        template(v-slot:title="")
                            | {{ t('Alert') }}

                        a-question-circle-icon

                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Committee')",
                    name="committee"
                )
                    a-auto-complete(
                        v-model:value="form.committee",
                        :options="userGroups.map((g) => { return { value: g.name, label: g.name }; })",
                        :filterOption="filterOption",
                        placeholder="Select committee"
                    )

                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Invoice')",
                    name="file"
                )
                    a-upload(
                        :multiple="true",
                        accept="image/*,.pdf",
                        :beforeUpload="handleChange",
                        :remove="removeFile",
                        :fileList="this.form.file"
                    )
                        a-button
                            a-upload-icon
                            | {{ t('Select invoice or receipt') }}

                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Amount')",
                    name="amount"
                )
                    a-input(
                        type="number",
                        v-model:value="form.amount",
                        :precision="2",
                        :step="0.01",
                        prefix="€"
                    )

                a-form-model-item(
                    v-bind="formItemLayout",
                    :label="t('Reason')",
                    name="reason"
                )
                    a-textarea(v-model:value="form.reason")

                a-form-model-item
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Send') }}
</template>

<script lang="ts">
import { Groups, userApi } from "../../scripts/api/user";
import { declarationApi } from "../../scripts/api/declaration";
import { User } from "../../types/user";
import {
    AutoComplete,
    Button,
    Checkbox,
    Form,
    Input,
    notification,
    Select,
    Tooltip,
    Upload,
} from "ant-design-vue";
import RenderPage from "../page/render_page.vue";
import { declarationValueValidation } from "../../utils/form";
import { reactive, defineComponent } from "vue";
import { QuestionCircleOutlined, UploadOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "Declaration",
    components: {
        "a-upload": Upload,
        "a-tooltip": Tooltip,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-question-circle-icon": QuestionCircleOutlined,
        "a-auto-complete": AutoComplete,
        "a-select-option": Select.Option,
        "a-upload-icon": UploadOutlined,
        "a-textarea": Input.TextArea,
        "a-button": Button,
        "render-page": RenderPage,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const userGroups: Groups[] = [];

        return {
            form: reactive({
                first_name: "",
                last_name: "",
                address: "",
                city: "",
                zip: "",
                iban: "",

                save_iban: false,
                committee: "",
                file: [] as File[],
                amount: 0,
                reason: "",
            }),
            user: new User(),
            userGroups,
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            formRules: {
                first_name: [
                    {
                        required: true,
                        message: this.t("Warning First Name"),
                    },
                ],
                last_name: [
                    {
                        required: true,
                        message: this.t("Warning Last Name"),
                    },
                ],
                address: [
                    {
                        required: true,
                        message: this.t("Warning Address"),
                    },
                ],
                zip: [
                    {
                        required: true,
                        message: this.t("Warning Zip"),
                    },
                ],
                city: [
                    {
                        required: true,
                        message: this.t("Warning City"),
                    },
                ],
                iban: [
                    {
                        required: true,
                        message: this.t("Warning Iban"),
                    },
                ],
                committee: [
                    {
                        required: true,
                        message: this.t("Warning Committee"),
                    },
                ],
                file: [
                    {
                        required: true,
                        message: this.t("Warning Invoice"),
                    },
                ],
                amount: [
                    {
                        required: true,
                        message: this.t("Warning Amount"),
                    },
                ],
                reason: [
                    {
                        required: true,
                        message: this.t("Warning Reason"),
                    },
                ],
            },
        };
    },
    async mounted() {
        this.user = (await userApi.getUserData(null)).data;
        this.userGroups = (await userApi.getUserGroups(null)).data;

        this.resetForm();
    },
    methods: {
        filterOption(input: string, option) {
            return option.value.toUpperCase().indexOf(input.toUpperCase()) >= 0;
        },
        declarationValueValidation: declarationValueValidation,
        resetForm() {
            this.form.first_name = this.user.first_name;
            this.form.last_name = this.user.last_name;
            this.form.address = this.user.address;
            this.form.city = this.user.city;
            this.form.zip = this.user.zip;
            this.form.iban = this.user.iban;
            this.form.save_iban = !!this.user.iban;
            this.form.committee = "";
            this.form.amount = null;
            this.form.reason = "";
            this.form.file = [];
        },
        handleChange(file: File) {
            this.form.file.push(file);
            return false;
        },
        removeFile(file: File) {
            this.form.file = this.form.file.filter((e) => e.name !== file.name);
            return true;
        },
        async save() {
            let values;

            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                if (values.amount > 100) {
                    notification.error({
                        message: "Amount too high",
                        description:
                            "Your amount is too high, max is 100, please mail penningmeester@svia.nl",
                    });
                    return;
                }

                await userApi.setUserData(null, {
                    first_name: values.first_name,
                    last_name: values.last_name,
                    address: values.address,
                    zip: values.zip,
                    city: values.city,
                    iban: values.save_iban ? values.iban : "",
                });
                const formData = new FormData();

                for (let i = 0; i < values.file.length; i++) {
                    formData.append("file " + String(i), values.file[i]);
                }

                formData.append("reason", values.reason);
                formData.append("amount", values.amount);
                formData.append("committee", values.committee);
                formData.append("iban", values.iban);

                await declarationApi.createDeclaration(formData);
                this.$emit("submit");

                notification.success({
                    message: "Success",
                    description: "Declaration successfully uploaded.",
                });

                const prevIban = this.form.iban;
                this.resetForm();
                this.form.save_iban = !!prevIban;
            } catch (error) {
                notification.error({
                    message: "Error",
                    description: "Something went wrong, please try again.",
                });

                return;
            }
        },
    },
});
</script>

<i18n>
{
    "en": {
        "First Name": "First name",
        "Last Name": "Last name",
        "Address": "Address",
        "Zip": "Zip",
        "City": "City",
        "Invoice": "Invoice or receipt",
        "Reason": "Reason",
        "Amount": "Amount",
        "Send": "Send",
        "Select invoice or receipt": "Select one or more invoices or receipts",
        "Save IBAN": "Save IBAN",
        "Alert": "This allows us to store your IBAN for later declarations",
        "Committee": "Committee",
        "Warning First Name": "Please enter your first name!",
        "Warning Last Name": "Please enter your last name!",
        "Warning Address": "Please enter your address!",
        "Warning Zip": "Please enter your zip!",
        "Warning City": "Please enter your City!",
        "Warning Iban": "Please enter your IBAN!",
        "Warning Committee": "Please select a committee!",
        "Warning Invoice": "Please upload an invoice or receipt!",
        "Warning Amount": "Please give the amount of the declaration!",
        "Warning Reason": "Please give the purpose of the declaration!",
        "Amount too high": "Your amount is too high, max is 100, please email penningmeester{'@'}svia.nl!"
    },
    "nl": {
        "First Name": "Voornaam",
        "Last Name": "Achternaam",
        "Address": "Adres",
        "Zip": "Postcode",
        "City": "Stad",
        "Invoice": "Factuur of bonnetje",
        "Reason": "Reden",
        "Amount": "Bedrag",
        "Send": "Verstuur",
        "Select invoice or receipt": "Selecteer een of meerdere facturen of bonnetjes",
        "Save IBAN": "IBAN opslaan",
        "Alert": "Dit staat ons toe om uw IBAN op te slaan voor latere declaraties",
        "Committee": "Commissie",
        "Warning First Name": "Gelieve uw voornaam in te vullen!",
        "Warning Last Name": "Gelieve uw achternaam in te vullen!",
        "Warning Address": "Gelieve uw address in te vullen!",
        "Warning Zip": "Gelieve uw postcode in te vullen!",
        "Warning City": "Gelieve uw stad in te vullen!",
        "Warning Iban": "Gelieve uw IBAN in te vullen!",
        "Warning Committee": "Gelieve een commissie te selecteren!",
        "Warning Invoice": "Gelieve een factuur of bonnetje up te loaden!",
        "Warning Amount": "Gelieve een bedrag in te vullen!",
        "Warning Reason": "Gelieve een reden in te vullen!",
        "Amount too high": "Het ingevulde bedrag is te hoog, max is 100, stuur een email naar penningmeester{'@'}svia.nl!"
    }
}
</i18n>

<style lang="sass">
.icon
    margin: 5px
</style>
