<template lang="pug">
div
    declaration-form(@submit="regenerate_table")

    h3 {{ t('submit') }}

    a-table(
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :data-source="this.declarations"
    )
        template(v-slot:created="{ record }")
            | {{ date(record.created) }}
</template>

<script lang="ts">
import {
    declarationApi,
    DeclarationOverviewResponse,
} from "../../scripts/api/declaration";
import Declaration from "./declaration.vue";
import { User } from "../../types/user";
import { date } from "../../scripts/formatters";
import { Table } from "ant-design-vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "DeclarationOverview",
    components: {
        "a-table": Table,
        "declaration-form": Declaration,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const user: User | undefined = undefined;
        const declarations: DeclarationOverviewResponse[] = [];

        return {
            declarations,
            user,
            columns: [
                {
                    title: "Date",
                    dataIndex: "created",
                    key: "created",
                    slots: { customRender: "created" },
                },
                {
                    title: "Committee",
                    dataIndex: "committee",
                    key: "committee",
                },
                {
                    title: "Amount",
                    key: "amount",
                    dataIndex: "amount",
                    render: (amount) => `${amount}`,
                    sorter: (a, b) => a.amount - b.amount,
                },
                {
                    title: "Reason",
                    key: "reason",
                    dataIndex: "reason",
                },
            ],
        };
    },
    async mounted() {
        this.declarations = (await declarationApi.getDeclarations()).data;
    },
    methods: {
        date: date,
        async regenerate_table() {
            this.declarations = (await declarationApi.getDeclarations()).data;
        },
    },
});
</script>

<i18n>
{
    "en": {
        "submit": "Submitted declarations"
    },
    "nl": {
        "submit": "Ingediende declaraties"
    }
}
</i18n>

<style lang="sass">
.icon
    margin: 5px
</style>
