<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(
                :to="{ name: 'group-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") Groups
        a-breadcrumb-item {{ t('Edit') }}
    h1(v-if="!id") Create group
    h1(v-if="id") Edit group - {{ form.name }}
    a-form-model(
        :model="form",
        :rules="formRules",
        ref="formRef",
        @submit.prevent="save"
    )
        a-form-model-item(v-bind="formItemLayout", label="Name", name="name")
            a-input(v-model:value="form.name")
        a-form-model-item(
            v-bind="formItemLayout",
            label="E-mail type",
            name="mailtype"
        )
            a-radio-group(v-model:value="form.mailtype")
                a-radio-button(value="none") None
                a-radio-button(value="mailinglist") Mailinglist
                a-radio-button(value="mailbox") Mailbox
        a-form-model-item(
            v-bind="formItemLayout",
            label="E-mailaddress",
            name="maillist"
        )
            a-input(
                :disabled="form.mailtype === 'none'",
                v-model:value="form.maillist",
                addonAfter="@svia.nl"
            )
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="route.meta.from || { name: 'group-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit", @click="save") Submit
</template>

<script lang="ts">
import {
    Breadcrumb,
    Button,
    Form,
    Input,
    Radio,
    notification,
} from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { groupApi } from "../../scripts/api/group";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";
import { useI18n } from "vue-i18n";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-input": Input,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
            t: useI18n().t,
        };
    },
    data() {
        const form = reactive({
            name: "",
            mailtype: "none",
            maillist: "",
        });
        return {
            loading: true,
            form,
            formRules: {
                name: [
                    { required: true, message: "Please enter the group name." },
                ],
                mailtype: [
                    { required: true, message: "Please select e-mail type." },
                ],
                maillist: [
                    {
                        required: form.mailtype !== "none",
                        message: "Please enter the e-mailaddress name.",
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
        };
    },
    computed: {
        id(): string {
            return this.route.params["groupId"];
        },
    },
    async mounted(): Promise<void> {
        if (this.id) {
            const resp = await instance.get(
                Flask.url_for("api.group", { group: this.id })
            );
            this.form.name = resp.data.name;
            this.form.mailtype = resp.data.mailtype;
            this.form.maillist = resp.data.maillist;
        }
        this.loading = false;
    },
    methods: {
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            if (values.mailtype == "none") {
                delete values.maillist;
            }

            try {
                this.loading = true;
                if (!this.id) {
                    const resp = (await groupApi.createGroup(values)).data;

                    await this.router.replace({
                        name: "group-edit",
                        params: { groupId: String(resp.id) },
                    });
                } else {
                    if (values.maillist == null) {
                        values.maillist = "none";
                    }
                    await groupApi.updateGroup(this.id, values);
                }
                notification.success({
                    message: "Success",
                    description: "Group successfully saved.",
                });
            } catch (e) {
                if (e.response.status == 404) {
                    const data = e.response.data.data;
                    notification.error({
                        message: "Failed",
                        description: `Group's ${data.resource} has not been created. Please create ${data.identifier} in Google admin according to the instructions on the wiki.`,
                    });
                } else if (e.response.status === 409) {
                    notification.error({
                        message: "Failed",
                        description: "Group with this name already exists.",
                    });
                } else {
                    notification.error({
                        message: "Failed",
                        description:
                            "An error occurred while saving the group.",
                    });
                }
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
