<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin") Admin
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'group-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a(:href="href", @click="navigate") Groups
        h1 Group overview
        a-input-search.w-100(placeholder="Search page", v-model:value="search")
            template(v-slot:enterButton="", v-if="hasGroupWrite")
                router-link(to="/groups/create/", v-slot="{ href, navigate}")
                    a-button(:href="href", @click="navigate", type="link")
                        | Create new group
        a-table.mt-3(
            :columns="columns",
            :rowKey="(entry) => entry.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:maillist="{ record }")
                template(v-if="record.maillist") {{ record.maillist }}@svia.nl
            template(v-slot:mailtype="{ record }")
                template(v-if="record.mailtype !== 'none'") {{ capitalize(record.mailtype) }}
            template(v-slot:action="{ record }")
                router-link(
                    :to="`/groups/${record.id}/users/`",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="link", :href="href", @click="navigate") View members
                template(v-if="hasGroupWrite")
                    a-divider(type="vertical")
                    router-link(
                        :to="`/groups/${record.id}/roles/`",
                        v-slot="{ href, navigate}"
                    )
                        a-button(type="link", :href="href", @click="navigate") Change permissions
                    a-divider(type="vertical")
                    router-link(
                        :to="`/groups/${record.id}/edit`",
                        v-slot="{ href, navigate}"
                    )
                        a-button(type="link", :href="href", @click="navigate") Change name and e-mail
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Group } from "../../types/group";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import { authStore } from "../../store/auth";
import { Breadcrumb, Button, Divider, Input, Table } from "ant-design-vue";
import { capitalize } from "../../scripts/formatters";
import { defineComponent } from "vue";

export default defineComponent({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-divider": Divider,
        "a-button": Button,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await instance.get(
                Flask.url_for("api.groups", {
                    search: search,
                    page: page,
                })
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return VuePaginatedAntComposable<Group>(dataFunction);
    },
    data() {
        return {
            columns: [
                {
                    title: "Group",
                    dataIndex: "name",
                },
                {
                    title: "Mail address",
                    dataIndex: "maillist",
                    slots: { customRender: "maillist" },
                },
                {
                    title: "Mail Type",
                    dataIndex: "mailtype",
                    slots: { customRender: "mailtype" },
                },
                {
                    title: "Action",
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    computed: {
        hasGroupWrite(): boolean {
            return !!authStore.roles.GROUP_WRITE?.has_role;
        },
    },
    methods: {
        capitalize: capitalize,
    },
});
</script>
