<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(
                :to="{ name: 'group-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") Groups
        a-breadcrumb-item Users
    h1 {{ header }}
    a-input-search.w-100(placeholder="Search users", v-model:value="search")
    a-table.mt-3(
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :row-selection="{ selectedRowKeys: selectedUsers, onChange: onSelectChange }",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:status="{ record }")
            a-tag(color="blue", v-if="record.member") Member
            a-tag(color="blue", v-if="record.favourer") Favourer
    a-button-group
        a-button(
            type="primary",
            @click="addUsersBtn",
            :disabled="!canAddUsers"
        )
            a-user-add-icon
            | Add users
        a-button(
            danger,
            :ghost="true",
            @click="removeUser",
            v-if="!addingUsers"
        )
            a-user-delete-icon
            | Remove users
        a-button(danger, @click="startDeletion", v-if="!addingUsers")
            a-delete-icon
            | Delete group
        router-link.float-right(to="/groups/", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate", v-if="!addingUsers")
                | Back
            a-button(@click="backBtn", v-else)
                | Back
    a-modal(
        v-model:visible="modal",
        :title="`Delete group: ${groupName}`",
        :ok-type="'danger'",
        :okText="'Delete'",
        :cancelText="'Cancel'",
        @ok="deleteGroup"
    )
        | Are you sure you want to delete this group? <br/>
        | This action cannot be undone. <br/><br/>
        | If you are deleting a group with a mailbox the mailbox will be preserved.
</template>

<script lang="ts">
import {
    DeleteOutlined,
    UserAddOutlined,
    UserDeleteOutlined,
} from "@ant-design/icons-vue";
import {
    Breadcrumb,
    Button,
    Input,
    Modal,
    Table,
    Tag,
    notification,
} from "ant-design-vue";
import { Ref, computed, defineComponent, ref } from "vue";
import { useRoute } from "vue-router";
import { PaginatedResponse } from "../../scripts/api/api";
import { groupApi } from "../../scripts/api/group";
import { userApi } from "../../scripts/api/user";
import { authStore } from "../../store/auth";
import { User } from "../../types/user";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";

export default defineComponent({
    name: "GroupUserOverview",
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-user-add-icon": UserAddOutlined,
        "a-user-delete-icon": UserDeleteOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-tag": Tag,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-modal": Modal,
    },
    setup() {
        const addingUsers = ref(false);
        const usersInGroup: Ref<User[]> = ref([]);
        const usersAvailable: Ref<User[]> = ref([]);

        const route = useRoute();
        const groupId = computed(() => route.params.groupId as string);

        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            let resp: PaginatedResponse<User>;
            if (addingUsers.value) {
                resp = (await userApi.getUsers(search, page)).data;

                usersAvailable.value = resp.data.filter(
                    (user) => usersInGroup.value.indexOf(user) === -1
                );
            } else {
                resp = (
                    await groupApi.getGroupUsers(groupId.value, search, page)
                ).data;
                usersInGroup.value = resp.data;
            }

            return {
                data: resp.data,
                pagination: {
                    current: resp.page,
                    pageSize: resp.page_size,
                    total: resp.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable<User>(dataFunction),
            addingUsers,
            usersInGroup,
            usersAvailable,
            groupId,
        };
    },
    data() {
        const selectedUsers: number[] = [];

        return {
            groupName: "",
            selectedUsers,
            columns: [
                { title: "E-mail address", dataIndex: "email" },
                { title: "First name", dataIndex: "first_name" },
                { title: "Last name", dataIndex: "last_name" },
                { title: "Student ID", dataIndex: "student_id" },
                {
                    title: "Member / Favourer",
                    key: "status",
                    slots: { customRender: "status" },
                },
            ],
            canAddUsers: false,
            modal: false,
        };
    },
    computed: {
        users(): User[] {
            if (this.addingUsers) return this.usersAvailable;
            else return this.usersInGroup;
        },
        header(): string {
            if (this.addingUsers) return `Add users to ${this.groupName}`;
            else return `${this.groupName} Users`;
        },
    },
    async mounted(): Promise<void> {
        const resp = await groupApi.getGroup(this.groupId);
        this.groupName = resp.data.name;

        await this.checkPermission();
    },
    methods: {
        startDeletion() {
            this.modal = true;
        },
        async checkPermission() {
            const role = authStore.roles.USER_WRITE;

            if (role?.needs_tfa) {
                notification.warning({
                    message: "Two-factor authentication required",
                    description:
                        "You need two-factor authentication enabled to add people to this group.",
                    duration: 0,
                });
            } else if (!role?.has_role) {
                notification.warning({
                    message: "Additional permissions required",
                    description:
                        "You don't have permission to add new users to this group.",
                    duration: 0,
                });
            } else {
                this.canAddUsers = true;
            }
        },
        async addUsersToGroup() {
            if (this.selectedUsers.length === 0) {
                notification.warning({
                    message: "No users selected",
                    description: "No users have been added to the group.",
                });
                return;
            }

            if (!confirm("Add selected users to group?")) {
                return;
            }
            const body = {
                user_ids: this.selectedUsers,
            };

            await groupApi.addGroupUsers(this.groupId, body);
            notification.success({
                message: "Success",
                description: "Successfully added users.",
            });
        },
        async removeUser() {
            if (this.selectedUsers.length === 0) {
                notification.warning({
                    message: "No users selected",
                    description: "No users have been removed from the group.",
                });
                return;
            }

            if (!confirm("Are you sure you want to remove selected users?")) {
                return;
            }

            const body = {
                user_ids: this.selectedUsers,
            };

            await groupApi.removeGroupUsers(this.groupId, body);
            notification.success({
                message: "Success",
                description: "Successfully removed user(s).",
            });

            this.selectedUsers = [];
            await this.refreshListView();
        },
        async deleteGroup() {
            await groupApi.deleteGroup(this.groupId);
            notification.success({
                message: "Success",
                description: "Successfully deleted group.",
            });
            this.modal = false;
            this.$router.push("/groups/");
        },
        onSelectChange(selectedRowKeys) {
            this.selectedUsers = selectedRowKeys;
        },
        async addUsersBtn() {
            this.search = "";
            this.page = 1;

            if (this.addingUsers) {
                await this.addUsersToGroup();
            }
            this.addingUsers = !this.addingUsers;
            this.selectedUsers = [];
            await this.refreshListView();
        },
        async backBtn() {
            this.addingUsers = false;
            await this.refreshListView();
        },
    },
});
</script>
