<template lang="pug">
a-list-item(:active="false")
    a-list-item-meta
        template(v-slot:title="")
            div(
                :title="invalidText() ? `Deze tekst is aangepast op: ${datetime(modelValue.modified)}` : ''"
            )
                a-badge(
                    :count="+invalidText()",
                    dot,
                    :color="invalidText() ? 'yellow' : undefined"
                )
                    slot(name="title")
    template(v-slot:actions="")
        a-badge(
            @click="() => (collapse = !collapse)",
            :count="modelValue.en.length || modelValue.nl.length",
            dot
        )
            a-font-size-icon.action-icon
            span(v-if="!collapse") {{ t('action.text.open') }}
            span(v-else="") {{ t('action.text.close') }}
        span(@click="() => $emit('delete')")
            a-delete-icon.action-icon
            | {{ t('action.delete') }}
        span(@click="() => $emit('up')")
            a-up-icon.action-icon
            | {{ t('action.up') }}
        span(@click="() => $emit('down')")
            a-down-icon.action-icon
            | {{ t('action.down') }}

    a-form-model(
        v-if="collapse",
        :model="form",
        :rules="formRules",
        ref="formRef",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('form.nl.label')",
            :extra="t('form.warning')",
            name="nl"
        )
            vue-simple-mde(v-model="form.nl")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('form.en.label')",
            :extra="t('form.warning')",
            name="en"
        )
            vue-simple-mde(v-model="form.en")
        a-form-model-item
            a-button-group
                a-button(type="primary", html-type="submit", @click="save") {{ t('Save') }}
                a-popconfirm(
                    :title="t('btn.delete.confirm')",
                    @confirm="reset",
                    v-if="modelValue.en.length || modelValue.nl.length"
                )
                    a-button(danger, ghost) {{ t('btn.delete') }}
</template>

<script lang="ts">
import { Alert, Badge, Button, Form, List, Popconfirm } from "ant-design-vue";
import VueSimpleMde from "../common/markdown-editor.vue";
import { MultilangString } from "../../types/page";
import { datetime } from "../../scripts/formatters";
import { defineComponent, PropType, reactive } from "vue";
import {
    DeleteOutlined,
    DownOutlined,
    FontSizeOutlined,
    UpOutlined,
} from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

class NewsletterWithModified extends MultilangString {
    modified: string;
}

export default defineComponent({
    components: {
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-font-size-icon": FontSizeOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-up-icon": UpOutlined,
        "a-down-icon": DownOutlined,
        "a-alert": Alert,
        "a-badge": Badge,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-popconfirm": Popconfirm,
        "vue-simple-mde": VueSimpleMde,
    },
    props: {
        modelValue: {
            required: true,
            type: Object as PropType<NewsletterWithModified>,
        },
        original: {
            required: true,
            type: Object as PropType<NewsletterWithModified>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const initialmodelValue = {
            en: this.modelValue.en || this.original.en,
            nl: this.modelValue.nl || this.original.nl,
        };

        return {
            datetime: datetime,
            form: reactive({
                en: initialmodelValue.en,
                nl: initialmodelValue.nl,
            }),
            formRules: {
                en: [{ required: true, message: this.t("form.en.error") }],
                nl: [{ required: true, message: this.t("form.nl.error") }],
            },
            collapse: false,
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
        };
    },
    methods: {
        invalidText() {
            const dateCorrect =
                new Date(this.modelValue.modified) <
                new Date(this.original.modified);
            const isTextOverwritten =
                this.modelValue.en.length || this.modelValue.nl.length;
            return isTextOverwritten && dateCorrect;
        },
        reset() {
            // Reset the form the original modelValue, but save the empty string.
            this.form.nl = this.original.nl;
            this.form.en = this.original.en;
            this.$emit("input", { en: "", nl: "" });
            this.$emit("save");
            this.collapse = false;
        },
        async save() {
            let modelValues;
            try {
                await (this.$refs.formRef as any).validate();
                modelValues = { ...this.form };
            } catch (e) {
                return false; // Form didn't validate
            }
            this.$emit("input", modelValues);
            this.$emit("update:modelValue", modelValues);
            this.$emit("save");
            this.collapse = false;
        },
    },
});
</script>

<style scoped lang="sass">
.action-icon
    margin-right: 8px

h4.ant-list-item-meta-title,
.ant-list-item-meta
    margin-top: 0px
    margin-bottom: 0px

::v-deep .ant-list-item-action
    margin-top: 3px
    margin-bottom: 0px
</style>
<i18n src="./newsletter.json"></i18n>
