<template lang="pug">
a-list-item
    a-list-item-meta
        template(v-slot:title="")
            | {{ t('greeting') }} # {{ index + 1 }}
        template(v-slot:description="")
            .greetings
                .from
                    label Groetjes van:
                    a-input(
                        placeholder="Robbert B",
                        @change="change",
                        @blur="change",
                        v-model:value="modelValue.sender"
                    )
                .greeting_input
                    a-input(
                        placeholder="Groetjes aan",
                        @change="change",
                        @blur="change",
                        v-model:value="modelValue.nl"
                    )
                    a-input(
                        placeholder="Hi to",
                        @change="change",
                        @blur="change",
                        v-model:value="modelValue.en"
                    )
    template(v-slot:actions="")
        span(@click="() => $emit('delete')")
            a-delete-icon.action-icon
            | {{ t('action.delete') }}
        span(@click="() => $emit('up')")
            a-up-icon.action-icon
            | {{ t('action.up') }}
        span(@click="() => $emit('down')")
            a-down-icon.action-icon
            | {{ t('action.down') }}
</template>

<script lang="ts">
import { Input, List } from "ant-design-vue";
import {
    DeleteOutlined,
    DownOutlined,
    UpOutlined,
} from "@ant-design/icons-vue";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-input": Input,
        "a-delete-icon": DeleteOutlined,
        "a-up-icon": UpOutlined,
        "a-down-icon": DownOutlined,
    },
    props: {
        modelValue: {
            required: true,
            type: Object as PropType<{
                en: string;
                nl: string;
                sender: string;
            }>,
        },
        index: { required: true, type: Number },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    methods: {
        async change() {
            this.$emit("input", this.modelValue);
            this.$emit("update:modelmodelValue", this.modelValue);
        },
    },
});
</script>

<style scoped lang="scss">
.greetings {
    > * {
        margin-top: 0.5em;
    }

    .from {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        label {
            min-width: fit-content;
            margin-bottom: 0;
            margin-right: 0.3em;
        }
    }

    .greeting_input {
        display: flex;
        flex-direction: row;
        margin-bottom: 0;
    }
}

.ant-form-item {
    width: 100%;
    margin-bottom: 0;
}

.action-icon {
    margin-right: 8px;
}
</style>
<i18n src="./newsletter.json"></i18n>
