<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin") Admin
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'newsletter-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a(:href="href", @click="navigate") {{ t('nav.overview') }}
        h1 {{ t('nav.overview') }}

        router-link(
            :to="{ name: 'newsletter-create' }",
            v-slot="{ href, navigate }"
        )
            a-button(type="primary", :href="href", @click="navigate")
                | {{ t('create') }}
                template(#icon)
                    a-plus-icon
        a-table.mt-3(
            :columns="columns",
            :rowKey="(entry) => entry.id",
            :dataSource="data",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }"
        )
            template(v-slot:date="{ record }")
                div {{ date(record.date) }}
            template(v-slot:activities="{ record }")
                ul
                    li(v-for="a in record.activities", :key="a.id") {{ a.title[locale] }}
            template(v-slot:activities_xml="{ record }")
                a(:href="activityXmlHref(record.id)")
                    a-cloud-download-icon
                    | XML
            template(v-slot:news="{ record }")
                ul
                    li(v-for="ni in record.news_items", :key="ni.id") {{ ni.title[locale] }}
            template(v-slot:news_xml="{ record }")
                a(:href="newsXmlHref(record.id)")
                    a-cloud-download-icon
                    | XML
            template(v-slot:action="{ record }")
                router-link(
                    :to="{ name: 'newsletter-edit', params: { newsletterId: record.id } }",
                    v-slot="{ href, navigate }"
                )
                    a-button(type="link", :href="href", @click="navigate")
                        a-edit-icon
                a-popconfirm(
                    title="Are you sure?!",
                    @confirm="deleteNewsletter(record.id)"
                )
                    a-button(type="link")
                        a-delete-icon

        h1 URLs
        p {{ t('urls.description') }}
        a-input-search.mb-3(
            :addon-before="t('subheader.activities')",
            :value="activityLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button
                    | {{ t('copy') }}
                    template(#icon)
                        a-copy-icon
        a-input-search.mb-3(
            :addon-before="t('subheader.news')",
            :value="newsLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button
                    | {{ t('copy') }}
                    template(#icon)
                        a-copy-icon
        a-input-search.mb-3(
            :addon-before="t('subheader.greetings')",
            :value="greetingLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button
                    | {{ t('copy') }}
                    template(#icon)
                        a-copy-icon
        a-input-search.mb-3(
            :addon-before="t('subheader.committees')",
            :value="committeeLatestUrl",
            @search="copyToClipboard"
        )
            template(v-slot:enterButton="")
                a-button
                    | {{ t('copy') }}
                    template(#icon)
                        a-copy-icon
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Group } from "../../types/group";
import {
    Breadcrumb,
    Button,
    Divider,
    Input,
    Popconfirm,
    Table,
} from "ant-design-vue";
import { newsApi } from "../../scripts/api/news";
import { date } from "../../scripts/formatters";
import { inject, defineComponent } from "vue";
import {
    CloudDownloadOutlined,
    DeleteOutlined,
    EditOutlined,
    CopyOutlined,
    PlusOutlined,
} from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-cloud-download-icon": CloudDownloadOutlined,
        "a-edit-icon": EditOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-copy-icon": CopyOutlined,
        "a-plus-icon": PlusOutlined,
        "a-input-search": Input.Search,
        "a-popconfirm": Popconfirm,
        "a-table": Table,
        "a-divider": Divider,
        "a-button": Button,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const data: Group[] = [];

        return {
            locale: inject("locale") as string,
            data,
            loading: true,
            authToken: "",
            columns: [
                {
                    title: this.t("table.date"),
                    dataIndex: "date",
                    slots: { customRender: "date" },
                },
                {
                    title: this.t("subheader.activities"),
                    dataIndex: "activities",
                    colSpan: 2,
                    slots: { customRender: "activities" },
                },
                {
                    colSpan: 0,
                    slots: { customRender: "activities_xml" },
                },
                {
                    title: this.t("subheader.news"),
                    dataIndex: "news_items",
                    colSpan: 2,
                    slots: { customRender: "news" },
                },
                {
                    colSpan: 0,
                    slots: { customRender: "news_xml" },
                },
                {
                    title: "Action",
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    computed: {
        activityLatestUrl(): string {
            return Flask.url_for("newsletter.activities_xml", {
                auth_token: this.authToken,
                _external: true,
                lang: "en",
            });
        },
        newsLatestUrl(): string {
            return Flask.url_for("newsletter.news_xml", {
                auth_token: this.authToken,
                _external: true,
                lang: "en",
            });
        },
        greetingLatestUrl(): string {
            return Flask.url_for("newsletter.greeting_xml", {
                auth_token: this.authToken,
                _external: true,
                lang: "en",
            });
        },
        committeeLatestUrl(): string {
            return Flask.url_for("newsletter.committees_xml", {
                auth_token: this.authToken,
                _external: true,
            });
        },
    },
    async mounted(): Promise<void> {
        await this.refreshListView();
    },
    methods: {
        date: date,
        async refreshListView(): Promise<void> {
            try {
                this.loading = true;
                const resp = await instance.get(
                    Flask.url_for("api.newsletters")
                );

                this.data = resp.data.entries;
                this.authToken = resp.data.auth_token;
            } finally {
                this.loading = false;
            }
        },
        activityXmlHref(newsletterId: string) {
            return Flask.url_for("newsletter.activities_xml", {
                newsletter: newsletterId,
                auth_token: this.authToken,
                lang: "en",
            });
        },
        newsXmlHref(newsletterId: string) {
            return Flask.url_for("newsletter.news_xml", {
                newsletter: newsletterId,
                auth_token: this.authToken,
                lang: "en",
            });
        },
        async deleteNewsletter(newsletterId: string) {
            try {
                this.loading = true;
                await newsApi.deleteNewsletter(newsletterId);
                await this.refreshListView();
            } finally {
                this.loading = false;
            }
        },
        copyToClipboard(value) {
            navigator.clipboard.writeText(value);
        },
    },
});
</script>
<i18n src="./newsletter.json"></i18n>
