<template>
    <div>
        <a-breadcrumb>
            <a-breadcrumb-item>
                <router-link :to="{ name: 'challenge-overview' }">
                    {{ t("breadcrumb.challenges") }}
                </router-link>
            </a-breadcrumb-item>
            <a-breadcrumb-item>
                {{ t("breadcrumb.submission") }}
            </a-breadcrumb-item>
        </a-breadcrumb>
        <h1>{{ t("title") }}</h1>
        <ChallengeAdminSubmissionForm @save="saved" />
    </div>
</template>
<script lang="ts">
import { Breadcrumb, notification } from "ant-design-vue";
import ChallengeAdminSubmissionForm from "./ChallengeAdminSubmissionForm.vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        ChallengeAdminSubmissionForm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        return { t: useI18n().t };
    },
    methods: {
        async saved() {
            notification.success({
                message: this.t("notification.message") as string,
                description: this.t("notification.description") as string,
            });
            await this.$router.push({ name: "challenge-overview" });
        },
    },
});
</script>
<i18n src="./ChallengeAdminSubmission.json"></i18n>
