<template lang="pug">
a-form(ref="formRef", :model="form", :rules="formRules")
    a-form-item(name="user_id")
        form-user-field(v-model="form.user")
    a-form-item
        a-button(type="primary", html-type="submit", @click="save")
            | {{ t('submit') }}
</template>
<script lang="ts">
import { challengeApi } from "../../scripts/api/challenge";
import { defineComponent, reactive } from "vue";
import { User } from "../../types/user";
import { Button, Form } from "ant-design-vue";
import FormUserField from "../form/form_user_field.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-form": Form,
        "a-form-item": Form.Item,
        "form-user-field": FormUserField,
        "a-button": Button,
    },
    emits: ["save"],
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const form = reactive({
            user: null as User | null,
        });
        const formRules = {
            user: [{ required: true, message: this.t("required") }],
        };
        return {
            form,
            formRules,
            schemaName: "ChallengeAdminSubmission",
        };
    },
    methods: {
        async save(): Promise<void> {
            try {
                const data = (
                    await challengeApi.submitChallengeAdmin(
                        parseInt(this.$route.params.challengeId),
                        this.form.user.id
                    )
                ).data;
                this.$emit("save", data);
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
<i18n src="./ChallengeAdminSubmissionForm.json"></i18n>
