<template lang="pug">
div
    render-page(pageUrl="challenge")
    router-link.btn.btn-success(
        :to="{ name: 'challenge-create' }",
        v-if="can_write"
    )
        i.fas.fa-plus
        | {{ t('Create new challenge') }}
    h1 Open challenges
    table.table.table-responsive
        colgroup
            col.column--points
            col.column--title
            col.column--description
            col.column--hint
            col.column--answer
            col.column--admin(v-if="can_write")

        thead
            tr
                th Points
                th Title
                th Description
                th Hint
                th Answer
                th(v-if="can_write") Admin

        tbody
            tr(v-for="challenge in openChallenges")
                td
                    | {{ challenge.weight }}
                    br
                    span.font-weight-bold(v-if="!challenge.open") {{ t('closed') }}
                td {{ challenge.name }}
                td {{ challenge.description }}
                td {{ challenge.hint }}
                td
                    input(
                        v-model="submissions[challenge.id]",
                        @keyup.enter="submitChallenge(challenge.id)"
                    )
                td(v-if="can_write")
                    .btn-group
                        router-link.btn.btn.btn-warning(
                            :to="{ name: 'challenge-edit', params: { challengeId: challenge.id } }"
                        )
                            i.far.fa-edit
                        router-link.btn.btn.btn-primary(
                            :to="{ name: 'challenge-admin-submission', params: { challengeId: challenge.id } }"
                        )
                            i.fas.fa-user

    h1 Done challenges
    table.table.table-responsive
        colgroup
            col.column--points
            col.column--title
            col.column--description
            col.column--hint
            col.column--admin(v-if="can_write")

        thead
            tr
                th Points
                th Title
                th Description
                th Hint
                th(v-if="can_write") Admin

        tbody
            tr(v-for="challenge in doneChallenges")
                td
                    | {{ challenge.weight }}
                    br
                    span.font-weight-bold(v-if="!challenge.open") {{ t('closed') }}
                td {{ challenge.name }}
                td {{ challenge.description }}
                td {{ challenge.hint }}
                td(v-if="can_write")
                    .btn-group
                        router-link.btn.btn.btn-warning(
                            :to="{ name: 'challenge-edit', params: { challengeId: challenge.id } }"
                        )
                            i.far.fa-edit
                        a.btn.btn.btn-primary(
                            :href="manualSubmission(challenge.id)"
                        )
                            i.fas.fa-user

    .float-right
        a-popconfirm(
            v-if="can_write",
            title="Sure to delete? All submissions will be deleted.",
            @confirm="clearRanking()"
        )
            a-button(danger) Delete ranking
    h1 Ranking
    a-table.mt-3(
        :columns="columns",
        :rowKey="(record) => record.user.id",
        :dataSource="ranking",
        :loading="loading",
        :pagination="false"
    )
        template(v-slot:name="{ record }")
            | {{ record.user.first_name }} {{ record.user.last_name }}
        template(v-slot:expandedRowRender="{ record }")
            a-table(
                :columns="innerColumns",
                :showHeader="false",
                :data-source="record.challenges",
                :pagination="false"
            )
</template>

<i18n src="./challenge_overview.json"></i18n>

<script lang="ts">
import {
    challengeApi,
    ChallengeResponse,
    RankingResponse,
} from "../../scripts/api/challenge";
import Flask from "../../utils/flask";
import { authStore } from "../../store/auth";
import { Button, Popconfirm, Table, notification } from "ant-design-vue";
import RenderPage from "../page/render_page.vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-table": Table,
        "a-button": Button,
        "a-popconfirm": Popconfirm,
        "render-page": RenderPage,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const challenges: ChallengeResponse[] = [];
        const ranking: RankingResponse[] = [];

        return {
            loading: true,
            ranking,
            challenges,
            submissions: {},
            columns: [
                {
                    title: "Name",
                    key: "name",
                    slots: { customRender: "name" },
                    width: "80%",
                },
                {
                    title: "Points",
                    dataIndex: "points",
                    width: "20%",
                },
            ],
            innerColumns: [
                {
                    title: "Challenge",
                    dataIndex: "name",
                    width: "80%",
                },
                {
                    title: "Points",
                    dataIndex: "weight",
                    width: "20%",
                },
            ],
        };
    },
    computed: {
        openChallenges() {
            return this.challenges.filter((c) => !c.approved);
        },
        doneChallenges() {
            return this.challenges.filter((c) => c.approved);
        },
        can_write() {
            return authStore.roles.CHALLENGE_WRITE?.has_role;
        },
    },
    async mounted() {
        this.ranking = (await challengeApi.getRanking()).data;
        this.challenges = (await challengeApi.getChallengesForUser()).data;
        this.loading = false;
    },
    methods: {
        async submitChallenge(challengeId: number) {
            const { approved, validated } = (
                await challengeApi.submitChallenge(
                    challengeId,
                    this.submissions[challengeId]
                )
            ).data;
            if (approved) {
                notification.success({
                    message: "Submission successful",
                    description: "Challenge approved!",
                });
            } else {
                if (!validated) {
                    notification.warning({
                        message: "Submission succesful",
                        description:
                            "Challenge cannot be automatically validated!",
                    });
                } else {
                    notification.error({
                        message: "Submission failed",
                        description: "Wrong answer!",
                    });
                }
            }
            this.challenges = (await challengeApi.getChallengesForUser()).data;
        },
        async clearRanking() {
            await challengeApi.clearRanking();
            this.ranking = (await challengeApi.getRanking()).data;

            notification.success({
                message: "Ranking deleted",
                description: "All submissions and points have been removed.",
            });
        },
        manualSubmission(challengeId: number) {
            return Flask.url_for("challenge.add_manual_submission", {
                challenge: challengeId,
            });
        },
    },
});
</script>

<style lang="sass" scoped></style>
