<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            router-link(:to="{ name: 'challenge-overview' }") {{ t('breadcrumb.challenges') }}
        a-breadcrumb-item(v-if="!id") {{ t('title.create') }}
        a-breadcrumb-item(v-if="id") {{ t('title.edit') }}
    h1(v-if="!id") {{ t('title.create') }}
    h1(v-if="id") {{ t('title.edit') }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Name')",
            name="name"
        )
            a-input(v-model:value="form.name")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Description')",
            name="description"
        )
            a-textarea(v-model:value="form.description")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Hint')",
            name="hint"
        )
            a-input(v-model:value="form.hint")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Start date')",
            name="start_date"
        )
            a-date-picker(
                v-model:value="form.start_date",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm"
            )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('End date')",
            name="end_date"
        )
            a-date-picker(
                v-model:value="form.end_date",
                :showTime="{ format: 'HH:mm', defaultValue: moment('00:00', 'HH:mm') }",
                format="YYYY-MM-DD HH:mm"
            )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Weight')",
            name="weight"
        )
            a-input-number(v-model:value="form.weight", :min="0")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Answer')",
            name="answer"
        )
            a-input(v-model:value="form.answer")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'challenge-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | {{ t('Back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
</template>

<script lang="ts">
import {
    Breadcrumb,
    Button,
    DatePicker,
    Form,
    Input,
    InputNumber,
    notification,
} from "ant-design-vue";
import { challengeApi } from "../../scripts/api/challenge";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import { reactive, defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-textarea": Input.TextArea,
        "a-input-number": InputNumber,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-date-picker": DatePicker,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "loading-container": LoadingContainer,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        return {
            loading: true,
            form: reactive({
                name: "",
                description: "",
                hint: "",
                // Ant design doet raar met Moment typing. Dit is een workaround, maar ant design 3.x of hoger switched toch naar Dayjs.
                start_date: null as moment.Moment | null as any,
                end_date: null as moment.Moment | null as any,
                weight: 1,
                answer: "",
            }),
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            formRules: reactive({
                name: [
                    {
                        required: true,
                        message: this.t("Please enter the name") as string,
                    },
                ],
                description: [
                    {
                        required: true,
                        message: this.t("Please enter the description"),
                    },
                ],
                start_date: [
                    {
                        required: true,
                        message: this.t("Please enter the start date"),
                    },
                ],
                end_date: [
                    {
                        required: true,
                        message: this.t("Please enter the end date"),
                    },
                ],
                weight: [
                    {
                        required: true,
                        message: this.t("Please enter the weight"),
                    },
                ],
                answer: [
                    {
                        required: true,
                        message: this.t("Please enter the answer"),
                    },
                ],
            }),
        };
    },
    computed: {
        id(): number {
            return parseInt(this.$route.params["challengeId"]);
        },
    },
    async mounted(): Promise<void> {
        if (this.id) {
            const resp = (await challengeApi.getChallenge(this.id)).data;
            this.form.name = resp.name;
            this.form.description = resp.description;
            this.form.hint = resp.hint;
            this.form.start_date = moment(resp.start_date);
            this.form.end_date = moment(resp.end_date);
            this.form.weight = resp.weight;
            this.form.answer = resp.answer;
        }

        this.loading = false;
    },
    methods: {
        moment: moment,
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };

                values.start_date = values.start_date.toISOString();
                values.end_date = values.end_date.toISOString();
                values.hint = values.hint || "";
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }
            try {
                this.loading = true;
                if (!this.id) {
                    const resp = (await challengeApi.createChallenge(values))
                        .data;
                    await this.$router.replace({
                        name: "challenge-edit",
                        params: { challengeId: String(resp.id) },
                    });
                } else {
                    await challengeApi.updateChallenge(this.id, values);
                }
                notification.success({
                    message: this.t("Success") as string,
                    description: this.t(
                        "Challenge successfully saved."
                    ) as string,
                });
                await this.$router.push({ name: "challenge-overview" });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./edit_challenge.json"></i18n>
