<template>
    <div class="vue-simplemde">
        <textarea
            ref="textarea"
            class="vue-simplemde-textarea"
            :name="name"
        />
    </div>
</template>

<script lang="ts" setup>
import SimpleMDE from "simplemde";
import { previewRender as previewRenderFunc } from "../../utils/form";
import { onMounted, onUnmounted, ref, watch } from "vue";
import { useI18n } from "vue-i18n";

const props = defineProps({
    modelValue: {
        type: String,
    },
    name: {
        type: String,
    },
});
const emit = defineEmits(["update:modelValue", "change"]);
const innerValue = ref(props.modelValue);

let simpleMDEInstance: SimpleMDE | null = null;
const { t } = useI18n();
const textarea = ref<null | HTMLTextAreaElement>();

onMounted(() => {
    const youTubeButton = {
        name: "YouTube",
        className: "fa fa-youtube",
        title: t("youtube_hint"),
        action: (editor) => {
            const cm = editor.codemirror;
            let url = "https://youtube.com/watch?v=";

            if (editor.options.promptURLs) {
                const promptResult = prompt(t("youtube_enter_url") as string);
                if (!promptResult) {
                    return false;
                }
                url = promptResult;
            }

            cm.replaceRange(
                `![A YouTube video](${url})\n`,
                cm.getCursor("start")
            );
        },
    };
    const pretixButton = {
        name: "Pretix Widget",
        className: "fa fa-ticket",
        title: t("pretix_hint"),
        action: (editor) => {
            const cm = editor.codemirror;
            let url;

            if (editor.options.promptURLs) {
                const promptResult = prompt(t("pretix_enter_url") as string);
                if (!promptResult) {
                    return false;
                }
                url = promptResult;
            }

            cm.replaceRange(`[pretix "${url}"]\n`, cm.getCursor("start"));
        },
    };

    const configs = {
        element: textarea.value,
        previewRender: previewRenderFunc,
        renderingConfig: {},
        spellChecker: false,
        promptURLs: true,
        toolbar: [
            "bold",
            "italic",
            "strikethrough",
            "|",
            "heading",
            "heading-smaller",
            "heading-bigger",
            "|",
            "code",
            "quote",
            "unordered-list",
            "ordered-list",
            "clean-block",
            "|",
            "link",
            "image",
            youTubeButton,
            pretixButton,
            "table",
            "|",
            "preview",
            "guide",
            "|",
            "undo",
            "redo",
        ],
        status: [
            "lines",
            "words",
            "cursor",
            {
                className: "characters",
                defaultValue: (el) => {
                    el.innerHTML = `0`;
                },
                onUpdate: (el) => {
                    const text = simpleMDEInstance.value();
                    el.innerHTML = `${text.length}`;
                },
            },
        ],
    };
    simpleMDEInstance = new SimpleMDE(configs);

    simpleMDEInstance.value(props.modelValue);
    simpleMDEInstance.codemirror.on("change", () => {
        if (simpleMDEInstance) {
            const updatedValue = simpleMDEInstance.value();
            innerValue.value = updatedValue;
            emit("update:modelValue", updatedValue);
            emit("change", updatedValue);
        }
    });
});
onUnmounted(() => {
    const editor = simpleMDEInstance;
    if (!editor) return;
    const isFullScreen = editor.codemirror.getOption("fullScreen");
    if (isFullScreen) editor.toggleFullScreen();

    simpleMDEInstance = null;
});
watch(
    () => props.modelValue,
    (newValue) => {
        if (simpleMDEInstance) {
            if (newValue !== innerValue.value) {
                simpleMDEInstance.value(newValue || "");
            }
        }
    }
);
</script>

<style lang="sass">
@import "simplemde/dist/simplemde.min.css"
</style>

<style lang="sass" scoped>
.vue-simplemde .markdown-body
    padding: 0.5em

.vue-simplemde .editor-preview-active, .vue-simplemde .editor-preview-active-side
    display: block

.has-error .vue-simplemde .editor-toolbar,
.has-error .vue-simplemde .CodeMirror-wrap
    border-color: #f5222d

.vue-simplemde
    line-height: 1.5
</style>

<i18n>
{
    "en": {
        "youtube_hint": "Insert a YouTube video",
        "youtube_enter_url": "Enter the URL of the YouTube video",
        "pretix_hint": "Insert a Pretix widget",
        "pretix_enter_url": "Enter the 'Short form' of the Pretix event, located in Pretix Event settings."
    },
    "nl": {
        "youtube_hint": "Voeg een YouTube-video in",
        "youtube_enter_url": "Voer the URL naar de YouTube-video in",
        "pretix_hint": "Voeg een Pretix widget",
        "pretix_enter_url": "Voer de 'Korte vorm' van het Pretix evenement in, te vinden in Pretix evenement settings."
    }
}
</i18n>
