<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ t('New minute') }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol",
        @submit.prevent="save"
    )
        a-form-model-item(name="content", :label="t('Content')")
            a-textarea(v-model:value="form.content", :rows="10")

        a-form-model-item(name="date", :label="t('Date')")
            a-date-picker(v-model:value="form.date")

        a-form-model-item(name="group_id", :label="t('Group')")
            a-select(v-model:value="form.group_id")
                a-select-option(
                    v-for="userGroup in userGroups",
                    :value="userGroup.id",
                    :key="userGroup.id"
                ) {{ userGroup.name }}

        a-form-model-item(
            name="delete_finished_tasks",
            :label="t('Delete finished tasks')"
        )
            a-checkbox(v-model:checked="form.delete_finished_tasks")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'pimpy-minutes' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ t('Back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}

            a-alert.mt-3(
                type="error",
                :message="t('Errors in minute content')",
                v-if="hasErrors"
            )
                template(v-slot:description="")
                    a-list(
                        item-layout="horizontal",
                        :data-source="errors",
                        size="small"
                    )
                        template(v-slot:renderItem="item")
                            a-list-item
                                a-list-item-meta
                                    template(v-slot:title="") {{ t(item.error) }}
                                    template(v-slot:description="") {{ item.details }}
                                div {{ t('Line') }} {{ item.line }}
</template>

<script lang="ts">
import { reactive, defineComponent, PropType } from "vue";
import { Groups } from "../../scripts/api/user";
import { pimpyApi } from "../../scripts/api/pimpy";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import {
    Alert,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    List,
    notification,
    Select,
    Spin,
} from "ant-design-vue";
import { useI18n } from "vue-i18n";
import { Group } from "../../types/group";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-spin": Spin,
        "a-form-model-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-textarea": Input.TextArea,
        "a-date-picker": DatePicker,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-alert": Alert,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
    },
    props: {
        userGroups: {
            type: Array as PropType<Group[]>,
        },
        groupId: {
            type: Number as PropType<number | null>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const form: any = reactive({
            content: "",
            date: "",
            group_id: 1,
            delete_finished_tasks: false,
        });

        return {
            loading: true,
            errors: [],
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            form,
            formRules: {
                content: [
                    {
                        required: true,
                        message: this.t("Please enter minute content"),
                    },
                ],
                date: [
                    {
                        required: true,
                        message: this.t("Please select a date"),
                    },
                ],
                group_id: [
                    {
                        required: true,
                        message: this.t("Please select a group"),
                    },
                ],
            },
        };
    },
    computed: {
        hasErrors() {
            return !!this.errors.length;
        },
    },
    async mounted() {
        this.form.group_id = this.groupId ? this.groupId : "";
        this.form.date = moment();
        this.loading = false;
    },
    methods: {
        moment: moment,
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                values["date"] = values.date.format("YYYY-MM-DD");
            } catch (e) {
                return;
            }
            try {
                this.loading = true;
                this.errors = [];
                const resp = (await pimpyApi.createMinute(values)).data;
                await notification.success({
                    message: this.t("Success") as string,
                    description: this.t(
                        "Minute succesfully created."
                    ) as string,
                });
                this.$router.push({
                    name: "pimpy-minute-single",
                    params: { minuteId: String(resp.id) },
                });
            } catch (e) {
                if (e.response.status == 400) {
                    this.errors = e.response.data.data;
                }
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./create_minute.json"></i18n>
