<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ t('Create task') }}

    a-form-model(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol"
    )
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )

        a-form-model-item(name="title", :label="t('Name')")
            a-input(v-model:value="form.title")

        a-form-model-item(name="content", :label="t('Content')")
            a-textarea(v-model:value="form.content", :rows="10")

        a-form-model-item(name="group_id", :label="t('Group')")
            a-select(v-model:value="form.group_id")
                a-select-option(
                    v-for="userGroup in userGroups",
                    :value="userGroup.id",
                    :key="userGroup.id"
                ) {{ userGroup.name }}

        a-form-model-item(name="users", :label="t('Users')")
            a-input(v-model:value="form.users")

        a-form-model-item(name="status", :label="t('Status')")
            a-radio-group(v-model:value="form.status")
                a-radio-button(value="new") {{ t('Not started') }}
                a-radio-button(value="started") {{ t('Started') }}
                a-radio-button(value="done") {{ t('Done') }}
                a-radio-button(value="remove") {{ t('Not done') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'pimpy-tasks' }",
                    v-slot="{ href, navigate}",
                    custom
                )
                    a-button(:href="href", @click="navigate") {{ t('Back') }}
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
</template>

<script lang="ts">
import { defineComponent, PropType, reactive } from "vue";
import { pimpyApi } from "../../scripts/api/pimpy";
import moment from "moment";
import LoadingContainer from "../loading_container.vue";
import {
    Button,
    Form,
    Input,
    notification,
    Radio,
    Select,
    Spin,
} from "ant-design-vue";
import { useI18n } from "vue-i18n";
import { Group } from "../../types/group";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-spin": Spin,
        "a-form-model-item": Form.Item,
        "a-textarea": Input.TextArea,
        "a-input": Input,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
    props: {
        userGroups: {
            type: Array as PropType<Group[]>,
        },
        groupId: {
            type: Number as PropType<number | null>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const form: any = reactive({
            title: "",
            content: "",
            group_id: 1,
            users: "",
            status: "new",
        });

        return {
            loading: true,
            errors: [],
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            form,
            formRules: {
                title: [
                    {
                        required: true,
                        message: this.t("Please enter task name"),
                    },
                    {
                        max: 256,
                        message: "Name must not exceed 256 characters.",
                    },
                ],
                content: [{ required: false, message: "" }],
                group_id: [
                    {
                        required: true,
                        message: this.t("Please select a group"),
                    },
                ],
                users: [
                    { required: true, message: this.t("Please select users") },
                ],
                status: [
                    {
                        required: true,
                        message: this.t("Please select a status"),
                    },
                ],
            },
        };
    },
    async mounted() {
        this.form.group_id = this.groupId ? this.groupId : "";
        this.loading = false;
    },
    methods: {
        moment: moment,
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                values["users"] = values["users"]
                    .split(",")
                    .map((e) => e.trim());
            } catch (e) {
                console.error(e); // Form didn't validate
                return;
            }
            try {
                this.loading = true;
                const resp = (await pimpyApi.createTask(values)).data;
                await notification.success({
                    message: this.t("Success") as string,
                    description: this.t("Task succesfully created.") as string,
                });
                this.$router.push({
                    name: "pimpy-tasks",
                    query: { groupId: String(resp["group_id"]) },
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./create_task.json"></i18n>
