<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ t('Tasks') }}
    table.table.table-hover
        tbody
            template(v-for="group in groupNamesSorted")
                tr.pimpy-group-head
                    td(colspan="3")
                        h3 {{ group }}
                        a-empty(
                            v-if="Object.entries(groupUsers[group]).length === 0",
                            :image="emptyImage",
                            :description="t('No tasks available')"
                        )
                template(v-for="(tasks, userName) in groupUsers[group]")
                    tr.pimpy-user-head(v-if="!self")
                        td(colspan="3")
                            h4 {{ userName }}
                    a-collapse(expandIconPosition="right")
                        a-collapse-panel(
                            v-for="task in sortedB32Id(tasks)",
                            :key="taskKey(group, userName, task)"
                        )
                            template(v-slot:header="")
                                .parent
                                    div(@click="(e) => e.stopPropagation()")
                                        pimpy-task-status(
                                            :value="task",
                                            @change="onChangeTask"
                                        )
                                    .task-content
                                        span {{ task.title }}
                                        span(v-if="task.content")
                                            i {{ date(task.modified) }}: {{ task.content }}
                                    .name
                                        span {{ task.users.join(', ') }}
                            pimpy-task(:value="task", @change="onChangeTask")
</template>

<script lang="ts">
import { Collapse, Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { pimpyApi, Task } from "../../scripts/api/pimpy";
import PimpyTask from "./pimpy_task.vue";
import PimpyTaskStatus from "./pimpy_task_status.vue";
import { date } from "../../scripts/formatters";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

// Implemented the baas32 decoding method as used in the backend
// JS sorting with numbers and strings are causing issues with task id: 10YM & 113H
// Source: pypi.org/project/baas32/#files
const symbols = "0123456789ABCDEFGHJKMNPQRTUVWXYZ";
const decodeSymbols = symbols.split("").reduce((acc, x, i) => {
    acc[x] = i;
    return acc;
}, {});

function baas32Decode(b32_id) {
    return b32_id
        .split("")
        .reduce((acc, val) => acc * symbols.length + decodeSymbols[val], 0);
}

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
        "pimpy-task": PimpyTask,
        "pimpy-task-status": PimpyTaskStatus,
    },
    props: {
        userGroups: {
            type: Array,
        },
        self: {
            type: Boolean,
        },
        groupId: {
            type: Number as PropType<number | null>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const groupUsers: {
            [groupId: string]: {
                [userName: string]: { [b32id: string]: Task };
            };
        } = {};
        const groups: { [groupId: string]: Groups } = {};

        return {
            groups,
            groupUsers,
            loading: true,
        };
    },
    computed: {
        emptyImage() {
            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-ignore
            return Empty.PRESENTED_IMAGE_SIMPLE;
        },
        groupNamesSorted() {
            return Object.keys(this.groupUsers).sort((a, b) => {
                return a.localeCompare(b);
            });
        },
    },
    watch: {
        groupId: [
            {
                handler: "watchGroupId",
            },
        ],
        self: [
            {
                handler: "watchSelf",
            },
        ],
    },
    async mounted() {
        await this.load();
        this.loading = false;
    },
    methods: {
        date: date,
        taskKey(group, userName, task) {
            return `${group}-${userName.replace(/\s*/g, "")}-${task.b32_id}`;
        },
        sortedB32Id(tasks: { [p: string]: Task }): Task[] {
            return Object.entries(tasks)
                .sort(([a], [b]) => baas32Decode(a) - baas32Decode(b))
                .map((x) => x[1]);
        },
        onChangeTask() {
            this.load();
        },
        async load() {
            this.loading = true;
            try {
                let resp;
                if (this.self) {
                    resp = (await pimpyApi.getTasksForUser()).data;
                } else {
                    if (this.groupId) {
                        resp = (await pimpyApi.getTasksForGroup(this.groupId))
                            .data;
                    } else {
                        resp = (await pimpyApi.getTasks()).data;
                    }
                }
                this.groupUsers = {};

                for (const groupTasks of resp) {
                    this.groups[groupTasks.group.id] = groupTasks.group;
                }
                for (const groupTasks of resp) {
                    if (this.groupId && this.groupId !== groupTasks.group.id) {
                        continue;
                    }
                    // In "self"-mode the name of the users are not shown, we use
                    // this to not loop over users.
                    if (this.self) {
                        this.groupUsers[groupTasks.group.name] = {
                            self: groupTasks.tasks,
                        };
                        continue;
                    }
                    this.groupUsers[groupTasks.group.name] = {};

                    for (const task of groupTasks.tasks) {
                        for (const user of task.users) {
                            if (
                                !this.groupUsers[
                                    this.groups[task.group_id].name
                                ][user]
                            ) {
                                this.groupUsers[
                                    this.groups[task.group_id].name
                                ][user] = {};
                            }

                            this.groupUsers[this.groups[task.group_id].name][
                                user
                            ][task.b32_id] = task;
                        }
                    }
                }
            } finally {
                this.loading = false;
            }
        },
        async watchGroupId() {
            await this.load();
        },
        async watchSelf() {
            await this.load();
        },
    },
});
</script>

<style lang="scss" scoped>
.pimpy-group-head {
    td {
        border: none !important;
        padding: 0 !important;
    }

    &:hover {
        background: none !important;
    }
}

.pimpy-user-head {
    td {
        border: none !important;
        padding: 0 !important;
    }

    &:hover {
        background: none !important;
    }
}

.parent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.task-content {
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    max-width: 75%;
}

.task-content > * {
    white-space: pre-wrap;
}

.name {
    margin-left: auto;
}
</style>

<i18n src="./pimpy_tasks.json"></i18n>
