<template>
    <a-spin :spinning="loading">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <h5 style="margin-top: 1rem">
                    {{ t("Show") }}
                </h5>
                <ul class="nav nav-pills">
                    <li class="w-50">
                        <router-link
                            class="nav-link"
                            :to="{
                                name: 'pimpy-minutes',
                                query: groupId ? { group: groupId } : {},
                            }"
                            :class="{ active: type === 'minutes' }"
                        >
                            {{ t("Minute") }}
                        </router-link>
                    </li>
                    <li class="w-50">
                        <router-link
                            class="nav-link"
                            :to="{
                                name: 'pimpy-tasks',
                                query: groupId ? { group: groupId } : {},
                            }"
                            :class="{ active: type === 'tasks' }"
                        >
                            {{ t("Tasks") }}
                        </router-link>
                    </li>
                </ul>
                <template v-if="type === 'tasks'">
                    <h5 style="margin-top: 1rem">
                        {{ t("Owner") }}
                    </h5>
                    <ul class="nav nav-pills">
                        <li class="w-50">
                            <router-link
                                class="nav-link"
                                :to="{
                                    name: 'pimpy-tasks-self',
                                    query: groupId ? { group: groupId } : {},
                                }"
                                :class="{ active: self }"
                            >
                                {{ t("Myself") }}
                            </router-link>
                        </li>
                        <li class="w-50">
                            <router-link
                                class="nav-link"
                                :to="{
                                    name: 'pimpy-tasks',
                                    query: groupId ? { group: groupId } : {},
                                }"
                                :class="{ active: !self }"
                            >
                                {{ t("All") }}
                            </router-link>
                        </li>
                    </ul>
                </template>
                <h5 style="margin-top: 1rem">
                    {{ t("Groups") }}
                </h5>
                <ul class="nav nav-pills nav-stacked">
                    <li class="w-100">
                        <router-link
                            class="nav-link"
                            :to="{
                                name: `pimpy-${type}${self ? '-self' : ''}`,
                            }"
                            :class="{ active: !groupId }"
                        >
                            {{ t("All") }}
                        </router-link>
                    </li>
                    <li
                        v-for="group in activeUserGroups"
                        :key="group.id"
                        class="w-100"
                    >
                        <router-link
                            class="nav-link"
                            :to="{
                                name: `pimpy-${type}${self ? '-self' : ''}`,
                                query: { group: group.id },
                            }"
                            :class="{ active: group.id === groupId }"
                        >
                            {{ group.name }}
                        </router-link>
                    </li>
                </ul>
                <a-collapse
                    v-if="inactiveUserGroups.length > 0"
                    ghost="true"
                    style="margin-top: 1rem"
                >
                    <a-collapse-panel
                        key="1"
                        :header="t('Groups without tasks')"
                    >
                        <ul class="nav nav-pills nav-stacked">
                            <li
                                v-for="group in inactiveUserGroups"
                                :key="group.id"
                                class="w-100"
                            >
                                <router-link
                                    class="nav-link"
                                    :to="{
                                        name: `pimpy-minutes`,
                                        query: { group: group.id },
                                    }"
                                    :class="{ active: group.id === groupId }"
                                >
                                    {{ group.name }}
                                </router-link>
                            </li>
                        </ul>
                    </a-collapse-panel>
                </a-collapse>
            </div>
            <div class="col-xs-12 col-md-8">
                <div class="float-right">
                    <a-button-group style="z-index: 1">
                        <router-link
                            v-slot="{ href, navigate }"
                            class="nav-link"
                            :to="{
                                name: 'pimpy-minute-create',
                                query: groupId ? { group: groupId } : {},
                            }"
                        >
                            <a-button
                                :href="href"
                                :type="
                                    type === 'minutes' ? 'primary' : 'default'
                                "
                                @click="navigate"
                            >
                                <a-plus-icon />
                                {{ t("Minute") }}
                            </a-button>
                        </router-link>
                        <router-link
                            v-slot="{ href, navigate }"
                            class="nav-link"
                            :to="{
                                name: 'pimpy-task-create',
                                query: groupId ? { group: groupId } : {},
                            }"
                        >
                            <a-button
                                :href="href"
                                :type="type === 'tasks' ? 'primary' : 'default'"
                                @click="navigate"
                            >
                                <a-plus-icon />
                                {{ t("Task") }}
                            </a-button>
                        </router-link>
                    </a-button-group>
                </div>
                <router-view :user-groups="userGroups" />
            </div>
        </div>
    </a-spin>
</template>

<script lang="ts">
import { Button, Collapse, Spin } from "ant-design-vue";
import { Groups, userApi } from "../../scripts/api/user";
import Flask from "../../utils/flask";
import { pimpyApi } from "../../scripts/api/pimpy";
import { PlusOutlined } from "@ant-design/icons-vue";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-plus-icon": PlusOutlined,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
    },
    props: {
        type: {
            type: String as PropType<"minutes" | "tasks">,
        },
        self: {
            type: Boolean,
        },
        groupId: {
            type: Number as PropType<number | null>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const inactiveUserGroups: Groups[] = [];
        const activeUserGroups: Groups[] = [];
        const userGroups: Groups[] = [];

        return {
            loading: true,
            userGroups,
            activeUserGroups,
            inactiveUserGroups,
        };
    },
    computed: {
        addTaskUrl(): string {
            return Flask.url_for("pimpy.add_task", { group: this.groupId });
        },
    },
    async mounted(): Promise<void> {
        this.userGroups = (await userApi.getUserGroups(null)).data;
        await this.calculateActiveGroups();
        this.loading = false;
    },
    methods: {
        async calculateActiveGroups(): Promise<void> {
            const resp = (await pimpyApi.getTasks()).data;

            this.activeUserGroups = this.userGroups
                .filter((group) => {
                    return resp.some((task) => task.group.id == group.id);
                })
                .sort((a, b) => a.name.localeCompare(b.name));
            this.inactiveUserGroups = this.userGroups
                .filter((group) => {
                    return !resp.some((task) => task.group.id === group.id);
                })
                .sort((a, b) => a.name.localeCompare(b.name));
        },
    },
});
</script>

<i18n src="./pimpy_base.json"></i18n>
