<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ t('Minutes') }}
    .mb-3(
        v-for="group_with_minutes in minutes",
        :key="group_with_minutes.group.id"
    )
        h3 {{ group_with_minutes.group.name }}
        a-collapse(:accordion="true", v-if="group_with_minutes.minutes.length")
            a-collapse-panel(
                v-for="minute in group_with_minutes.minutes",
                :key="minute.id"
            )
                template(v-slot:header="")
                    | {{ t('From') }} {{ date(minute.date) }}
                template(v-slot="")
                    a(:href="minuteRawUrl(minute.id)", target="_blank") {{ t('View plaintext') }}
                    .pimpy_minute_styled
                        a(
                            :id="`m${minute.id}ln${idx}`",
                            v-for="(line, idx) in minuteContent(minute.content)"
                        )
                            span.pimpy_line_number {{ idx }}
                            span {{ line.trim() || '&nbsp;' }}
        a-empty(
            v-else,
            :image="emptyImage",
            :description="t('No minutes available')"
        )
</template>

<script lang="ts">
import { Collapse, Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { GroupMinutes, pimpyApi } from "../../scripts/api/pimpy";
import Flask from "../../utils/flask";
import { date } from "../../scripts/formatters";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
    },
    props: {
        userGroups: {
            type: Array,
        },
        groupId: {
            type: Number as PropType<number | null>,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const minutes: GroupMinutes[] = [];

        return {
            minutes,
            loading: true,
        };
    },
    computed: {
        emptyImage() {
            // eslint-disable-next-line @typescript-eslint/ban-ts-comment
            // @ts-ignore
            return Empty.PRESENTED_IMAGE_SIMPLE;
        },
    },
    watch: {
        groupId: [
            {
                handler: "load",
            },
        ],
    },
    async mounted() {
        await this.load();
    },
    methods: {
        date: date,
        minuteRawUrl(minuteId: number | undefined) {
            return Flask.url_for("pimpy.view_minute_raw", {
                minute: minuteId as number,
            });
        },
        minuteContent(content: string) {
            return content.split(/\r?\n/);
        },
        async load() {
            this.loading = true;
            if (this.groupId) {
                this.minutes = (
                    await pimpyApi.getMinutesForGroup(this.groupId)
                ).data;
            } else {
                this.minutes = (await pimpyApi.getMinutes()).data;
            }
            this.loading = false;
        },
    },
});
</script>

<i18n src="./pimpy_minutes.json"></i18n>
