<template lang="pug">
a-spin(:spinning="loading")
    h1 {{ t('Minute') }}
    h3 {{ group.name }} ({{ date(minute.date) }})
    a(:href="minuteRawUrl", target="_blank") {{ t('View plaintext') }}
    .pimpy_minute_styled
        a(
            :ref="`line`",
            v-for="(lineContent, idx) in minuteContent",
            :class="{ selected_line: idx === line }"
        )
            span.pimpy_line_number {{ idx }}
            span {{ lineContent.trim() || '&nbsp;' }}
</template>

<script lang="ts">
import { Collapse, Empty, Spin } from "ant-design-vue";
import { Groups } from "../../scripts/api/user";
import { Minute, pimpyApi } from "../../scripts/api/pimpy";
import Flask from "../../utils/flask";
import { date } from "../../scripts/formatters";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-spin": Spin,
        "a-empty": Empty,
        "a-collapse": Collapse,
        "a-collapse-panel": Collapse.Panel,
    },
    props: {
        userGroups: {
            type: Array,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const minute: Minute = { content: "", date: "", group_id: -1 };

        return {
            minute,
            loading: true,
        };
    },
    computed: {
        minuteId() {
            return parseInt(this.$route.params.minuteId);
        },
        line() {
            return parseInt(this.$route.params.line) || null;
        },
        minuteRawUrl() {
            return Flask.url_for("pimpy.view_minute_raw", {
                minute: this.minuteId,
            });
        },
        minuteContent() {
            return this.minute.content.split(/\r?\n/);
        },
        group() {
            for (const userGroup of this.userGroups) {
                if (userGroup.id == this.minute.group_id) {
                    return userGroup;
                }
            }
            return "";
        },
    },
    watch: {
        groupId: [
            {
                handler: "load",
            },
        ],
    },
    async mounted() {
        await this.load();
        if (this.line && this.$refs.line) {
            window.scroll(0, this.$refs.line[this.line].offsetTop);
        }
    },
    methods: {
        date: date,
        async load() {
            this.loading = true;
            this.minute = (await pimpyApi.getMinute(this.minuteId)).data;
            this.loading = false;
        },
    },
});
</script>

<i18n src="./pimpy_single_minute.json"></i18n>
