<template lang="pug">
.relative
    a-button.float-right(
        v-if="!isFieldLoading && editField !== ''",
        @click="unfocusField()",
        type="primary"
    ) {{ t('Save changes') }}
    a-button.float-right(type="primary", disabled, v-if="isFieldLoading") {{ t('Updating') }}
    dl
        dt(@click="focusField('title')") {{ t('Task') }}
        dd(v-show="!isEditable('title')", @click="focusField('title')")
            span {{ value.title }}
            a-edit-icon
        input(
            ref="title",
            v-show="isEditable('title')",
            @blur="unfocusField()",
            @keyup.enter="unfocusField()",
            @keydown.ctrl.enter.prevent.stop="unfocusField()",
            v-model="editValues.title"
        )

        dt(@click="focusField('users')") {{ t('Users') }}
        dd(v-show="!isEditable('users')", @click="focusField('users')")
            span {{ value.users.join(', ') }}
            a-edit-icon
        a-select(
            ref="users",
            v-show="isEditable('users')",
            v-model:value="editUsers",
            mode="multiple",
            show-search,
            allow-clear,
            :placeholder="t('Select at least 1 user')",
            :not-found-content="isFetchingSearch ? undefined : null",
            :options="searchResults",
            @search="onGroupType",
            @select="searchResults = []",
            @deselect="searchResults = []",
            @blur="unfocusField",
            bordered,
            style="width: 100%",
            :class="{ error: editUsers.length === 0 }"
        )
            template(v-slot:notFoundContent="", v-if="isFetchingSearch")
                a-spin

        dt(@click="focusField('content')") {{ t('Content') }}
        dd(v-show="!isEditable('content')", @click="focusField('content')")
            span {{ value.content }}
            a-edit-icon
        textarea(
            ref="content",
            v-if="isEditable('content')",
            @blur="unfocusField()",
            @keydown.ctrl.enter.prevent.stop="unfocusField()",
            v-model="editValues.content",
            rows="6"
        )

        dt {{ t('Created') }}
        dd {{ date(value.created) }}

        a-button.notulen(
            v-if="value.minute_id",
            @click=`() => {
                    this.$router.push({ name: 'pimpy-minute-single', params: { minuteId: value.minute_id, line: value.line } })
                }`
        )
            span {{ t('View minute') }}
</template>

<script lang="ts">
import { pimpyApi, Task } from "../../scripts/api/pimpy";
import { Button, Collapse, notification, Select, Spin } from "ant-design-vue";
import debounce from "../../utils/debounce";
import { groupApi } from "../../scripts/api/group";
import { date } from "../../scripts/formatters";
import { EditOutlined } from "@ant-design/icons-vue";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

interface PimpyTaskEditableValues {
    title: string;
    content: string;
}

export default defineComponent({
    name: "PimpyTask",
    components: {
        "a-collapse-panel": Collapse.Panel,
        "a-edit-icon": EditOutlined,
        "a-button": Button,
        "a-select": Select,
        "a-spin": Spin,
    },
    props: {
        value: {
            type: Object as PropType<Task>,
            required: true,
        },
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const editUsers: string[] = [];
        const editValues: PimpyTaskEditableValues = {
            title: "",
            content: "",
        };

        return {
            isFieldLoading: false,
            isFetchingSearch: false,
            searchID: 0,
            searchResults: [] as { value: string; label: string }[],
            editField: "",
            editValues,
            editUsers,
            onGroupType: debounce(this.fetchGroupResults, 300),
        };
    },
    created() {
        this.editUsers = this.value.users;
        this.editValues = {
            title: this.value.title,
            content: this.value.content,
        };
    },
    methods: {
        date: date,
        isEditable(fieldName) {
            return this.editField === fieldName;
        },
        async fetchGroupResults(search: string) {
            this.isFetchingSearch = true;
            this.searchResults = [];
            const fetchID = ++this.searchID;

            const results = await groupApi.getGroupUsers(
                this.value.group_id.toString(),
                search,
                1
            );

            if (fetchID !== this.searchID) {
                return;
            }

            this.searchResults = results.data.data
                .map(({ first_name, last_name }) => {
                    const fullName = `${first_name} ${last_name}`;
                    return { value: fullName, label: fullName };
                })
                .filter(
                    (x) =>
                        -1 ===
                        this.editUsers.findIndex(
                            (y) => y.toLowerCase() === x.value.toLowerCase()
                        )
                );

            this.isFetchingSearch = false;
        },
        focusField(fieldName) {
            this.editField = fieldName;
            // Focus on nexttick, because the element needs to be rendered first
            this.$nextTick(() =>
                (this.$refs[fieldName] as HTMLInputElement)?.focus()
            );
        },
        async unfocusField() {
            const requestJson = {};
            if (this.editField === "users") {
                requestJson["users"] = this.editUsers;

                if (this.editUsers.length === 0) {
                    notification.error({
                        message: this.t("Not enough users for task").toString(),
                        description: this.t(
                            "Please provide at least 1 user"
                        ).toString(),
                    });
                    this.focusField("users");
                    return;
                }
            } else {
                requestJson[this.editField] = this.editValues[this.editField];
            }

            try {
                this.isFieldLoading = true;
                const resp = (
                    await pimpyApi.updateTask(this.value.b32_id, requestJson)
                ).data;
                this.$emit("change", resp);
            } finally {
                // TODO: This loading completes (almost) instantly, because via server is fast, which is very jittery in the UI
                this.isFieldLoading = false;
            }

            this.editField = "";
        },
    },
});
</script>

<style lang="sass" scoped>
.relative
    position: relative

input
    width: 100%

span, input
    white-space: pre-wrap

i
    margin-left: 1em

.error
    border: 3px #da291c solid
    border-radius: 4px

textarea
    resize: none
    width: 90%

.dropdown-item
    cursor: pointer

.notulen
    position: absolute
    right: 1em
    bottom: 0.5em
</style>

<i18n src="./pimpy_tasks.json"></i18n>
