<template lang="pug">
a-form-model(
    ref="formRef",
    :model="form",
    :rules="formRules",
    :label-col="formItemLayout.labelCol",
    :wrapper-col="formItemLayout.wrapperCol",
    @submit.prevent="save"
)
    a-form-model-item(name="project", :label="t('form.project.label')")
        a-select(v-model:value="form.project")
            a-select-option(value="viaduct")
                | {{ t('form.project.value.viaduct') }}
            a-select-option(value="pretix")
                | {{ t('form.project.value.pretix') }}
            a-select-option(value="pos")
                | {{ t('form.project.value.pos') }}

    a-form-model-item(name="title", :label="t('form.title.label')")
        a-input(v-model:value="form.title")

    a-form-model-item(name="description", :label="t('form.description.label')")
        a-input(v-model:value="form.description")

    a-form-model-item(
        :wrapper-col="{ ...{ xs: { span: 24 }, sm: { span: 20 } }, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button(type="primary", @click="save")
            | {{ t('form.submit') }}
</template>
<script lang="ts">
import { Button, Form, Input, Select, notification } from "ant-design-vue";
import { bugApi, BugRequest } from "../../scripts/api/bug";
import { defineComponent, reactive } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-select": Select,
        "a-select-option": Select.Option,
        "a-button": Button,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const form = reactive({
            project: "viaduct",
            title: "",
            description: "",
        });

        const formRules = {
            title: [
                {
                    required: true,
                    message: this.t("form.title.required"),
                    trigger: "blur",
                },
            ],
            description: [
                {
                    required: true,
                    message: this.t("form.description.required"),
                    trigger: "blur",
                },
            ],
        };

        return {
            form,
            formRules,
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    md: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    md: { span: 18 },
                },
            },
        };
    },
    methods: {
        async save(): Promise<void> {
            try {
                this.loading = true;
                await (this.$refs.formRef as any).validate();

                const r: BugRequest = {
                    project: this.form.project,
                    title: this.form.title,
                    description: this.form.description,
                };

                const data = (await bugApi.createBug(r)).data;
                this.$emit("issue", data);

                this.form.project = "viaduct";
                this.form.title = "";
                this.form.description = "";
            } catch (e) {
                notification.error({
                    message: "Something went wrong",
                    description: e.response.data.detail,
                });
                console.error(e);
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
<i18n src="./BugReportForm.json"></i18n>
