<template lang="pug">
.row
    .col-12
        h1 {{ t('Error 404 - Not found') }}

        p {{ t('The requested URL was not found.') }}

        img.mt-5(
            :src="linkURL",
            style="max-width: 300px;",
            :alt="t('Oh no! It looks like you have found a dead Link!')"
        )
        p
            i {{ t('Oh no! It looks like you have found a dead Link!') }}

        router-link(
            :to="{ name: 'create-page', query: { path: route.params.pathMatch } }",
            v-if="canWrite"
        )
            a-button#newPageButton(type="link")
                template(#icon)
                    a-edit-icon
                i {{ t('Create a page for this URL in the page overview') }}
</template>

<i18n src="./404.json"></i18n>

<script lang="ts">
import { Button } from "ant-design-vue";
import { defineComponent } from "vue";
import { authStore } from "../../store/auth";
import Flask from "../../utils/flask";
import { EditOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-edit-icon": EditOutlined,
    },
    setup() {
        const route = useRoute();
        return {
            route,
            t: useI18n().t,
        };
    },
    data() {
        return {
            canWrite: false,
        };
    },
    computed: {
        linkURL() {
            return Flask.url_for("static", { filename: "img/404.png" });
        },
    },
    async mounted() {
        this.canWrite = !!authStore.roles.PAGE_WRITE?.has_role;
    },
});
</script>

<style scoped lang="sass">
#newPageButton
    padding-left: 0
</style>
