{% extends "content.htm" %}

{% from "macros/form.htm" import render_form with context %}

{% block title %}{{ _('Anonymize') }}{% endblock %}

{% block content %}

    <p class="font-weight-bold">When confirming, the following actions will be taken:</p>
    <ul>
        <li>The user's e-mail will be changed from '{{ user.email }}' to '{{ user.id }}@anonymized.svia.nl'.</li>
        <li>The user's password will be removed and login will be disabled.</li>
        <li>The user's first name will change from '{{ user.first_name }} to 'Anonymized'.</li>
        <li>The user's last name will change from '{{ user.last_name }}' to 'User'.</li>
        <li>The user's address, zip, city, and country will be removed.</li>
        <li>The user's phone number will be removed.</li>
        <li>The user's student ID will be removed.</li>
        <li>The user's educations will be removed.</li>
        <li>The user's profile will be removed from the Copernica database.</li>
        <li>The user's membership status will be revoked.</li>
        <li>The user's avatar will be deleted.</li>
        <li>An e-mail will be send to 'bestuur@svia.nl', mentioning that an user has been anonymized.</li>
    </ul>

    <p class="font-weight-bold">The following actions will not be taken:</p>
    <ul>
        <li>Removing the user's account from <a href="https://pos.svia.nl">pos.svia.nl</a>.</li>
        <li>Removing the orders done by the user in <a href="https://pretix.svia.nl">pretix.svia.nl</a>. This is part of committee event archiving policy.</li>
        <li>Removing the form submissions done by the user. This is part of committee activity archiving policy.</li>
        <li>Removing the user's payment data from Exact Online, Mollie, PoS.</li>
        <li>Removing the user from ALV and Pimpy minutes.</li>
    </ul>

    <p class="font-weight-bold"><i class="fas fa-exclamation-triangle"></i>The following actions must be <u>manually</u> taken:</p>
    <ul>
        <li>Add the user id ({{ user.id }}) and date ({{ current_date | date }}) to the 'Verwijderde gegevens'-sheet in the ICT-committee drive, in case a back-up has to be restored.</li>
        <li>Check if the user has used Pretix as committee member in the
            <a href="https://pretix.svia.nl/control/users/?query={{ user.email | quote_plus }}" target="_blank">user overview</a>, and anonymize if required.</li>
    </ul>

    {{ render_form(form, submit_text=_('Disable and anonymize user')) }}
{% endblock %}
