<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(:href="adminUrl") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'mailinglists-overview' }") Mailing lists
        a-breadcrumb-item(v-if="!mailingListId") Create
        a-breadcrumb-item(v-if="mailingListId") Edit

    h1(v-if="!mailingListId") Create mailing list
    h1(v-if="mailingListId") Edit mailing list - {{ form[locale + 'name'] }}

    a-form-model(:model="form", ref="formRef", :rules="formRules")
        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch name",
            name="nl_name"
        )
            a-input(v-model:value="form.nl_name")
        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch description",
            extra="Should contain a small description of mailing's content and send frequency.",
            name="nl_description"
        )
            a-input(v-model:value="form.nl_description")
        a-form-model-item(
            v-bind="formItemLayout",
            label="English name",
            name="en_name"
        )
            a-input(v-model:value="form.en_name")
        a-form-model-item(
            v-bind="formItemLayout",
            label="English description",
            extra="Should contain a small description of mailing's content and send frequency.",
            name="en_description"
        )
            a-input(v-model:value="form.en_description")
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-alert(
                v-if="mailingListId",
                banner,
                type="warning",
                message="Only change the Copernica column name if you also update the data in Copernica. The website does not automatically migrate the existing user preferences of the mailing list to the new Copernica column. "
            )
        a-form-model-item(
            v-bind="formItemLayout",
            label="Copernica column name",
            extra="Value needs to start with a letter, and can only contain letters, numbers, and underscores.",
            name="copernica_column_name"
        )
            a-input(v-model:value="form.copernica_column_name")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            name="members_only"
        )
            a-checkbox(v-model:checked="form.members_only") Only allow members
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
            name="default"
        )
            a-checkbox(v-model:checked="form.default") Default for new users
            | Add mailing list to subscribed mailing lists by default when a new user registers.

        a-form-model-item(
            v-if="mailingListId",
            v-bind="formItemLayout",
            label="Copernica unsubscribe link",
            extra="Use this HTML code in the HTML templates for this mailing list as the unsubscribe link."
        )
            a-textarea(
                ref="unsubscribeLinkHTMLTextarea",
                :value="unsubscribeLinkHTML()",
                :autoSize="{ maxRows: 10 }",
                readOnly
            )
            a-button(@click="copyUnsubscribeLinkHTML", type="default") Copy

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="route.meta.from || { name: 'mailinglists-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit", @click="save") Submit
</template>

<script lang="ts">
import {
    Alert,
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    notification,
} from "ant-design-vue";
import { defineComponent, inject, reactive } from "vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { copernicaColumnValidation } from "../../utils/form";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-alert": Alert,
        "a-checkbox": Checkbox,
        "a-textarea": Input.TextArea,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
        };
    },
    data() {
        return {
            locale: inject("locale") as string,
            loading: false,
            form: reactive({
                nl_name: "",
                nl_description: "",
                en_name: "",
                en_description: "",
                copernica_column_name: "",
                members_only: false,
                default: false,
            }),
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
            formRules: {
                nl_name: [
                    { required: true, message: "Please enter the Dutch name." },
                ],
                nl_description: [
                    {
                        required: true,
                        message: "Please enter the Dutch description.",
                    },
                ],
                en_name: [
                    {
                        required: true,
                        message: "Please enter the English name.",
                    },
                ],
                en_description: [
                    {
                        required: true,
                        message: "Please enter the English description.",
                    },
                ],
                copernica_column_name: [
                    {
                        required: true,
                        message: "Please enter the Copernica column name.",
                    },
                    { validator: copernicaColumnValidation },
                ],
            },
        };
    },
    computed: {
        mailingListId() {
            return this.route.params["mailingListId"];
        },
        adminUrl() {
            return Flask.url_for("admin.view");
        },
    },
    async mounted() {
        if (this.mailingListId) {
            const resp = await instance.get(
                Flask.url_for("api.mailinglist", {
                    mailinglist_id: this.mailingListId,
                })
            );
            delete resp.data.id;

            Object.entries(resp.data).forEach(([key, value]) => {
                this.form[key] = value;
            });
            this.$forceUpdate();
        }
    },
    methods: {
        copernicaColumnValidation: copernicaColumnValidation,
        unsubscribeLinkHTML(): string {
            const url = Flask.url_for("copernica.unsubscribed_landingpage", {
                _external: true,
                mailinglist_id: this.mailingListId,
                profile_id: "{$profile.id}",
                profile_secret: "{$profile.secret}",
            });
            return (
                '<a href="' +
                url +
                '"\n' +
                '    data-script="profile.fields.' +
                this.form["copernica_column_name"] +
                " = 'Nee';\">\n" +
                "    Unsubscribe\n</a>"
            );
        },
        async save() {
            this.loading = true;
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            try {
                if (!this.mailingListId) {
                    const resp = await instance.post(
                        Flask.url_for("api.mailinglists", {}),
                        values
                    );

                    this.router.replace({
                        name: "mailinglist-edit",
                        params: { mailingListId: resp.data.id },
                    });
                } else {
                    await instance.put(
                        Flask.url_for("api.mailinglist", {
                            mailinglist_id: this.mailingListId,
                        }),
                        values
                    );
                }
                notification.success({
                    message: "Success",
                    description: "Mailinglist successfully saved.",
                });
            } finally {
                this.loading = false;
            }
        },
        copyUnsubscribeLinkHTML() {
            const text = this.$refs.unsubscribeLinkHTMLTextarea
                .$el as HTMLTextAreaElement;
            text.select();
            text.setSelectionRange(0, 99999);
            document.execCommand("copy");

            // Deselect the text again
            text.setSelectionRange(0, 0);
        },
    },
});
</script>

<style lang="sass" scoped>
#unsubscribe-html
    word-break: break-all
</style>
