<template lang="pug">
loading-container(:active="loading")
    div
        legend.mb-0 {{ t('Email subscriptions') }}
        i18n-t(keypath="description", tag="p")
            template(v-slot:via="")
                strong Via

        a-list(:data-source="mailingLists", :loading="loading")
            template(v-slot:renderItem="{ item }")
                a-list-item
                    template(v-slot:actions="")
                        a-tooltip(
                            :title="item.members_only && !member && !item.subscribed ? t('Requires membership.') : ''"
                        )
                            a-switch(
                                @change="(checked) => setMailingListSubscribed(item, checked)",
                                :checked="item.subscribed",
                                :checked-children="t('Subscribed')",
                                :un-checked-children="t('Unsubscribed')",
                                :disabled="item.members_only && !member && !item.subscribed"
                            )
                    a-list-item-meta(
                        :description="item[locale + '_description']"
                    )
                        template(v-slot:avatar="")
                            a-avatar(src="/static/img/favicon-192x192.png")
                        template(v-slot:title="")
                            b {{ name(item) }}
                            small.ml-1(v-if="item.members_only") {{ t('Requires membership.') }}
</template>

<script lang="ts">
import { Avatar, List, notification, Switch, Tooltip } from "ant-design-vue";
import { defineComponent, inject } from "vue";
import { userApi } from "../../scripts/api/user";
import { checkPollTask } from "../../scripts/tasks";
import { authStore } from "../../store/auth";
import { MailingList } from "../../types/mailinglists";
import { useI18n } from "vue-i18n";
import Loading_container from "../loading_container.vue";

export default defineComponent({
    name: "MailingListsSubscriptionSelectorProfile",
    components: {
        "loading-container": Loading_container,
        "a-avatar": Avatar,
        "a-switch": Switch,
        "a-tooltip": Tooltip,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const mailingLists: MailingList[] = [];

        return {
            locale: inject("locale") as string,
            mailingLists,
            loading: true,
        };
    },
    computed: {
        member() {
            return authStore.member;
        },
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
    },
    async mounted() {
        await this.updateMailingLists();
    },
    methods: {
        async updateMailingLists() {
            try {
                const resp = await userApi.getUserMailingListSubscriptions(
                    this.userId
                );
                this.mailingLists = resp.data;
            } finally {
                this.loading = false;
            }
        },
        name(mailingList: MailingList): string {
            if (this.locale == "nl") return mailingList.nl_name;
            else return mailingList.en_name;
        },
        async setMailingListSubscribed(
            mailingList: MailingList,
            subscribed: boolean
        ) {
            this.loading = true;
            const resp = await userApi.setUserMailingListSubscribed(
                this.userId,
                mailingList,
                subscribed
            );
            await checkPollTask(resp.data["task_id"]);
            mailingList.subscribed = subscribed;
            this.loading = false;
            notification.success({
                message: "Success",
                description: this.t(
                    subscribed
                        ? "notification.subscribed"
                        : "notification.unsubscribed",
                    { listName: this.name(mailingList) }
                ) as string,
            });
        },
    },
});
</script>

<i18n src="./subscription_selector_profile.json"></i18n>
