{% extends "base/en.html" %}

{% block title -%}
    {{ tutoring.tutor.name }} has accepted tutoring request for {{ tutoring.tutee.name }}.
{%- endblock %}

{% block content -%}
    <p>
        <b>{{ tutoring.tutor.name }}</b> has accepted the tutoring request for <b>{{tutoring.course.name}}</b> by <b>{{ tutoring.tutee.name }}</b>.
    </p>
{%- endblock %}
