<template lang="pug">
router-link(
    :to="{ name: 'view-company-job', params: { jobId: job.id.toString() } }"
)
    a-card(hoverable, style="margin-bottom: 1rem;")
        a-row(
            type="flex",
            align="middle",
            justify="center",
            :gutter="[16, 16]"
        )
            a-col.company-logo(v-if="showLogo", :span="6")
                img(:src="imageUrl(job.company_id)")
            a-col(:span="centerBlockSize")
                h4 {{ title(job) }}
                span.badge.badge-info.mr-1(v-if="!job.active") inactive
                span.badge(:class="{ [job.contract_of_service]: true }") {{ job.contract_of_service }}
                span.description(v-html="description(job)")
</template>

<script lang="ts">
import { Button, Card, Col, Row } from "ant-design-vue";
import { PropType, defineComponent, inject } from "vue";
import { CompanyJob } from "../../types/company";
import Flask from "../../utils/flask";

export default defineComponent({
    name: "CompanyJobListElement",
    components: {
        "a-col": Col,
        "a-row": Row,
        "a-button": Button,
        "a-card": Card,
    },
    props: {
        job: {
            type: Object as PropType<CompanyJob>,
            required: true,
        },
        showLogo: { default: true, type: Boolean },
    },
    data() {
        return {
            locale: inject("locale") as string,
            centerBlockSize: 18,
        };
    },
    mounted(): void {
        if (!this.showLogo) {
            this.centerBlockSize = 24;
        }
    },
    methods: {
        title(job: CompanyJob): string {
            switch (this.locale) {
                case "nl":
                    return job.title_nl;
                default:
                    return job.title_en;
            }
        },
        description(job: CompanyJob): string {
            if (this.locale === "nl") {
                return job.description_nl;
            }

            return job.description_en;
        },
        imageUrl(company_id: number | string): string {
            return Flask.url_for("company.view_logo", { company: company_id });
        },
    },
});
</script>

<style scoped lang="sass">
.description
    display: block

.company-logo
    padding: 1.5rem !important

a
    text-decoration: none

    h4
        color: black

.badge
    color: white

.full-time
    background-color: #304ba3

.part-time
    background-color: #1fa824

.internship
    background-color: #f68d2e

.thesis
    background-color: #ae2573
</style>
