<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/")
                | {{ t('breadcrumb.index') }}
        a-breadcrumb-item
            router-link(:to="{ name: 'company' }")
                | {{ t('Partners') }}
        a-breadcrumb-item(v-if="!company.profile")
            | {{ company.name }}
        a-breadcrumb-item(v-else)
            router-link(
                :to="{ name: 'company-profile', params: { companySlug: this.company.slug } }"
            )
                | {{ company.name }}
        a-breadcrumb-item
            | {{ title }}

    a-row(:gutter="[32]")
        a-col(:xs="24", :md="8")
            .company-logo-wrapper
                img.company-logo(:src="imageUrl", :alt="company.name")

            a-divider(v-if="company.profile")

            a-row(v-if="company.profile")
                a-col(:xs="24")
                    router-link(
                        :to="{ name: 'company-profile', params: { companySlug: company.slug } }"
                    )
                        a-button(type="link")
                            | {{ t('company.profile') }}
                            template(#icon)
                                a-profile-icon

            a-divider

            a-row
                a-col(:xs="24", :sm="0")
                    a-divider

                a-card(:title="t('company.futurejob')")
                    .contact
                        i.fas.fa-search.link
                            a(:href="companyJob.website", target="_blank")
                                | {{ companyJob.website }}

                        b.card-sub-title
                            | {{ t('company.contact') }}

                        div
                            i.fas.fa-person.fa-fw
                            span
                                | {{ companyJob.contact_name }}
                        div
                            i.fas.fa-envelope.link
                                a(
                                    :href="companyJob.contact_email",
                                    target="_blank"
                                )
                                    | {{ companyJob.contact_email }}

                        div(v-if="companyJob.phone")
                            i.fas.fa-phone.fa-fw
                            a(:href="companyJob.phone", target="_blank")
                                | {{ companyJob.phone }}

            a-row
                a-col(:xs="24", :sm="0")
                    a-divider

        a-col(:xs="24", :md="16", style="margin-top: 1.5rem")
            h3 {{ title }}
            p(v-html="content")
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Breadcrumb, Button, Card, Col, Divider, Row } from "ant-design-vue";
import { defineComponent, inject } from "vue";
import { companyApi } from "../../scripts/api/company";
import {
    CompanyInfo,
    CompanyJob as CompanyJobModel,
} from "../../types/company";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";
import { ProfileOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "CompanyJob",
    components: {
        "loading-container": LoadingContainer,
        "a-button": Button,
        "a-row": Row,
        "a-col": Col,
        "a-card": Card,
        "a-divider": Divider,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-profile-icon": ProfileOutlined,
    },
    props: {
        jobId: { type: String },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const company: CompanyInfo = new CompanyInfo();
        const companyJob: CompanyJobModel = new CompanyJobModel();

        return {
            locale: inject("locale") as string,
            companyJob,
            company,
            loading: true,
        };
    },
    computed: {
        title(): string {
            if (this.locale == "nl") {
                return this.companyJob.title_nl;
            } else {
                return this.companyJob.title_en;
            }
        },
        content(): string {
            return this.locale == "nl"
                ? this.companyJob.description_nl
                : this.companyJob.description_en;
        },
        imageUrl(): string {
            if (this.companyJob.id) {
                return Flask.url_for("company.view_logo", {
                    company: this.companyJob.company_id,
                });
            } else {
                return "about:blank";
            }
        },
    },
    async mounted(): Promise<void> {
        try {
            const jobResponse = await companyApi.getCompanyJob(+this.jobId);
            this.companyJob = jobResponse.data;

            const companyResponse = await companyApi.getCompanyInfo(
                this.companyJob.company_id
            );
            this.company = companyResponse.data;
        } finally {
            this.loading = false;
            document.title = this.title + " - via";
        }
    },
});
</script>

<style scoped lang="sass">
.company-logo
    margin-left: auto
    margin-right: auto
    max-height: 8rem
    display: block

.company-logo-wrapper
    width: 100%
    margin-top: 1rem


.card-text, a, span
    font-size: 16px
    font-family: "Source Sans Pro", sans-serif
    font-weight: normal
    color:  #343a40
    // Offset for the icon
    padding-left: 1em

.card-text, i
    color: #304ba3

.card-sub-title
    font-size: 17px

.contact
    display: flex
    flex-direction: column
    gap: 1rem

.contact .link

    width: auto

    a
        overflow-wrap: anywhere
        text-align: start
</style>
