<template lang="pug">
.row
    .col-md-4
        h1 Jobs

        div(
            v-for="(job, index) in rawCompanyJobs",
            :class="{ inactive: !job.active }"
        )
            p
                | NL: {{ job.title_nl }}
                br
                | EN: {{ job.title_en }}
                br
                | {{ date(job.start_date) }} - {{ date(job.end_date) }}
                br
                a-button-group
                    router-link.ant-btn.ant-btn-primary.ant-btn-sm(
                        :to="viewJob(job.id)"
                    )
                        i.fas.fa-eye
                        | View
                    router-link.ant-btn.ant-btn-primary.ant-btn-sm(
                        :to="editJob(job.id)"
                    )
                        i.far.fa-edit
                        | Edit
            hr(v-if="index !== rawCompanyJobs.length - 1")
        router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="createJob()")
            i.far.fa-edit
            | Add new job

    .col-md-4
        h1 Banner
        p(
            v-if="companyBanner.id",
            :class="{ inactive: !companyBanner.active }"
        )
            | {{ date(companyBanner.start_date) }} - {{ date(companyBanner.end_date) }}
        p(v-if="!companyBanner.id")
            | Not enabled
        router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="editBanner()")
            i.far.fa-edit
            span(v-if="companyBanner.id") Edit
            span(v-if="!companyBanner.id") Enable

    .col-md-4
        h1 Page
        p(
            v-if="companyProfile.id",
            :class="{ inactive: !companyProfile.active }"
        )
            | {{ date(companyProfile.start_date) }} - {{ date(companyProfile.end_date) }}
        p(v-if="!companyProfile.id")
            | Not enabled
        a-button-group
            a.ant-btn.ant-btn-primary.ant-btn-sm(
                v-if="companyProfile.id",
                :href="viewProfileUrl"
            )
                i.fas.fa-eye
                span View
            router-link.ant-btn.ant-btn-primary.ant-btn-sm(:to="editProfile()")
                i.far.fa-edit
                span(v-if="companyProfile.id") Edit
                span(v-if="!companyProfile.id") Enable
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Button } from "ant-design-vue";
import { defineComponent } from "vue";
import { date } from "../../scripts/formatters";
import { CompanyBanner, CompanyJob, CompanyProfile } from "../../types/company";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
// import EditCompanyForm from "./edit_company.vue";

export default defineComponent({
    name: "CompanyModuleOverview",
    components: {
        "a-button-group": Button.Group,
        "a-button": Button,
        // "edit-company-form": EditCompanyForm,
    },
    props: {
        companyId: {
            type: Number,
        },
        companySlug: {
            type: String,
        },
    },
    data() {
        const companyProfile: CompanyProfile = new CompanyProfile();
        const companyBanner: CompanyBanner = new CompanyBanner();
        const rawCompanyJobs: CompanyJob[] = [];

        return {
            rawCompanyJobs,
            companyBanner,
            companyProfile,
        };
    },
    computed: {
        viewProfileUrl(): string {
            return Flask.url_for("company.view", {
                company: this.companySlug,
            });
        },
    },
    async created(): Promise<void> {
        await Promise.all([
            this.getCompanyJobs(),
            this.getCompanyBanner(),
            this.getCompanyProfile(),
        ]);
    },
    methods: {
        date: date,
        async getCompanyJobs() {
            const resp = await instance.get(
                Flask.url_for("api.company.jobs", { company: this.companyId })
            );
            this.rawCompanyJobs = resp.data.sort((a, b) => b.active - a.active);
        },
        async getCompanyBanner() {
            try {
                const resp = await instance.get(
                    Flask.url_for("api.company_banner", {
                        company: this.companyId,
                    })
                );
                this.companyBanner = resp.data;
            } catch (e) {
                if (e.response.status === 404) {
                    return;
                }
                throw e;
            }
        },
        async getCompanyProfile() {
            try {
                const resp = await instance.get(
                    Flask.url_for("api.company_profile.id", {
                        company: this.companyId,
                    })
                );
                this.companyProfile = resp.data;
            } catch (e) {
                if (e.response.status === 404) {
                    return;
                }
                throw e;
            }
        },
        createJob() {
            return {
                name: "edit-company-job",
                params: { companyId: String(this.companyId) },
            };
        },
        viewJob(jobId: number | string) {
            return {
                name: "view-company-job",
                params: { jobId: String(jobId) },
            };
        },
        editJob(jobId: number | string) {
            return {
                name: "edit-company-job",
                params: { jobId: String(jobId) },
            };
        },
        editBanner() {
            return {
                name: "edit-company-banner",
                params: { companyId: String(this.companyId) },
            };
        },
        editProfile() {
            return {
                name: "edit-company-profile",
                params: { companyId: String(this.companyId) },
            };
        },
    },
});
</script>

<style scoped lang="sass">
.inactive
    text-decoration: line-through
    color: rgba(0, 0, 0, 0.25)

a.badge
    margin-right: 5px
</style>
