<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/")
                    | {{ t('breadcrumb.index') }}
            a-breadcrumb-item
                router-link(:to="{ name: 'company' }")
                    | {{ t('Partners') }}
            a-breadcrumb-item
                | {{ t('Jobs') }}

        h1 {{ t('Jobs') }}

        a-row(:gutter="[16, 16]", style="margin-top: 1rem;")
            a-col(:xs="24", :md="6")
                h4 {{ t('Filter') }}
                a-input-search(
                    :placeholder="t('Search job')",
                    v-model:value="search"
                )

                h5(style="margin-top: 1rem;") {{ t('Type') }}
                a-checkbox-group.contract_of_service(
                    v-model:value="filterType",
                    :options="availableContracts",
                    @change="updateFilterType"
                )

            a-col(:xs="24", :md="18")
                loading-container(:active="loading")
                    a-empty(v-if="data.length === 0")

                    CompanyJobListElement(
                        v-for="job in data",
                        :key="job.id",
                        :job="job"
                    )

                    a-pagination(
                        v-model:current="page",
                        :total="pagination.total",
                        :hideOnSinglePage="true"
                    )
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import {
    Breadcrumb,
    Checkbox,
    Col,
    Empty,
    Input,
    Pagination,
    Row,
} from "ant-design-vue";
import { defineComponent, inject, ref } from "vue";
import { useRoute, useRouter } from "vue-router";
import { companyApi } from "../../scripts/api/company";
import { CompanyJob, CompanyJobBase } from "../../types/company";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";
import CompanyJobListElement from "./company_job_list_element.vue";
import EditCompanyForm from "./edit_company.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "CompanyJobOverview",
    components: {
        "edit-company-form": EditCompanyForm,
        "loading-container": LoadingContainer,
        "a-checkbox-group": Checkbox.Group,
        "a-input-search": Input.Search,
        "a-pagination": Pagination,
        "a-row": Row,
        "a-col": Col,
        "a-empty": Empty,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        CompanyJobListElement,
    },
    setup() {
        const filterType = ref<string[]>([]);

        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await companyApi.getCompanyJobs(
                search,
                filterType.value,
                page
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable(dataFunction),
            route: useRoute(),
            router: useRouter(),
            filterType,
            t: useI18n().t,
        };
    },
    data() {
        const availableContracts: string[] = [];
        const companyJobs: CompanyJob[] = [];

        return {
            companyJobs,
            availableContracts,
            locale: inject("locale") as string,
        };
    },
    watch: {
        filterType: [
            {
                handler: "updateFilterType",
            },
        ],
    },
    async mounted(): Promise<void> {
        const data = await companyApi.getContractOfServiceTypes();
        this.availableContracts = data.data.contract_of_service;

        const queryFilterType = (this.route.query.types as string) || "";
        if (queryFilterType) {
            this.filterType.push(...queryFilterType.split(","));
        }
    },
    methods: {
        title(job: CompanyJobBase) {
            switch (this.locale) {
                case "nl":
                    return job.title_nl;
                case "en":
                    return job.title_en;
            }
        },
        description(job: CompanyJobBase) {
            return this.locale === "nl"
                ? job.description_nl
                : job.description_en;
        },
        viewCompanyJob(jobId: number) {
            return { name: "view-company-job", params: { jobId: jobId } };
        },
        imageUrl(company_id: number) {
            return Flask.url_for("company.view_logo", {
                company_id: company_id,
            });
        },
        async updateFilterType(values) {
            if (this.route.query.types !== values.join(",")) {
                await this.router.replace({
                    query: {
                        ...this.route.query,
                        types: values.join(","),
                    },
                });
                // TODO: The query parameter is not updated in the URL, because the setter of the page variable modifies it aswell.
                this.pageSwitch(1);
            }
        },
    },
});
</script>
