<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            a(href="/")
                | {{ t('breadcrumb.index') }}
        a-breadcrumb-item
            router-link(:to="{ name: 'company' }")
                | {{ t('Partners') }}
        a-breadcrumb-item
            | {{ companyProfile.name }}

    a-row(:gutter="32")
        a-col(:xs="24", :md="8")
            .company-logo-wrapper
                img.company-logo(:src="imageUrl()", :alt="companyProfile.name")

            a-divider(v-if="companyJobs.length !== 0")

            a-row(v-if="companyJobs.length !== 0")
                a-col(:xs="0", :md="24")
                    h4 {{ t('Jobs') }} / {{ t('Internships') }}
                    company-job-list-element(
                        v-for="job in companyJobs",
                        :key="job.id",
                        :job="job",
                        :showLogo="false"
                    )

        a-col(:xs="24", :md="16")
            h3 {{ companyProfile.name }}
            p(v-html="content")

    a-row(v-if="companyJobs.length !== 0")
        a-col(:xs="24", :md="0")
            h4 {{ t('Jobs') }} / {{ t('Internships') }}
            company-job-list-element(
                v-for="job in companyJobs",
                :key="job.id",
                :job="job",
                :showLogo="false"
            )
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Breadcrumb, Button, Col, Divider, Row } from "ant-design-vue";
import { defineComponent, inject } from "vue";
import { companyApi } from "../../scripts/api/company";
import { CompanyProfile as CP, CompanyJob } from "../../types/company";
import Flask from "../../utils/flask";
import Loading_container from "../loading_container.vue";
import CompanyJobListElement from "./company_job_list_element.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "CompanyProfile",
    components: {
        "loading-container": Loading_container,
        "a-button": Button,
        "a-divider": Divider,
        "company-job-list-element": CompanyJobListElement,
        "a-row": Row,
        "a-col": Col,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    props: {
        companySlug: {
            type: String,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const companyJobs: CompanyJob[] = [];
        const companyProfile: CP = new CP();

        return {
            companyProfile,
            companyJobs,
            loading: true,
            locale: inject("locale") as string,
        };
    },
    computed: {
        content(): string {
            if (this.locale == "nl") {
                return this.companyProfile.description_nl;
            }

            return this.companyProfile.description_en;
        },
    },
    async mounted(): Promise<void> {
        try {
            const [profile, jobs] = await Promise.all([
                companyApi.getCompanyProfileBySlug(this.companySlug),
                companyApi.getJobsOfCompany(this.companySlug),
            ]);

            this.companyProfile = profile.data;
            this.companyJobs = jobs.data.filter((obj) => {
                return obj.active === true;
            });
        } finally {
            this.loading = false;
        }

        document.title = this.companyProfile.name + " - via";
    },
    methods: {
        imageUrl() {
            return Flask.url_for("company.view_logo", {
                company: this.companySlug,
            });
        },
    },
});
</script>

<style scoped lang="sass">
.company-logo
    margin-left: auto
    margin-right: auto
    max-height: 8rem
    display: block

.company-logo-wrapper
    width: 100%
    margin-top: 1rem
</style>
