<template lang="pug">
keep-alive
    loading-container(:active="loading")
        div
            a-breadcrumb
                a-breadcrumb-item
                    a(href="/")
                        | {{ t('breadcrumb.index') }}
                a-breadcrumb-item
                    | {{ t('Partners') }}

            h1 {{ t('Partners') }}

            a-empty(v-if="companyProfiles.length === 0")

            a-row(
                v-else,
                type="flex",
                :gutter="[16, 16]",
                style="margin-top: 1rem;"
            )
                a-col(
                    v-for="profile in companyProfiles",
                    :key="profile.id",
                    :xs="24",
                    :sm="24",
                    :md="12",
                    :lg="8"
                )
                    router-link(
                        :to="{ name: 'company-profile', params: { companySlug: profile.company_slug } }"
                    )
                        a-card(hoverable)
                            template(v-slot:cover="")
                                .company-logo-wrapper
                                    img.company-logo(
                                        :alt="profile.company_name",
                                        :src="imageUrl(profile.company_id)"
                                    )
                            a-row(type="flex", justify="center")
                                a-col(:span="24")
                                    h4 {{ profile.company_name }}
</template>

<i18n src="./company.json"></i18n>

<script lang="ts">
import { Breadcrumb, Button, Card, Col, Empty, Row } from "ant-design-vue";
import { defineComponent } from "vue";
import { companyApi } from "../../scripts/api/company";
import { CompanyProfilesList } from "../../types/company";
import Flask from "../../utils/flask";
import Loading_container from "../loading_container.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "Company",
    components: {
        "loading-container": Loading_container,
        "a-col": Col,
        "a-row": Row,
        "a-button": Button,
        "a-card": Card,
        "a-card-meta": Card.Meta,
        "a-empty": Empty,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const companyProfiles: CompanyProfilesList[] = [];

        return {
            companyProfiles,
            loading: true,
        };
    },
    created() {
        document.title = this.t("Partners") + " - via";
    },
    async mounted() {
        await this.getCompanyProfiles();
    },
    methods: {
        async getCompanyProfiles() {
            try {
                const data = await companyApi.getCompanyProfiles();
                this.companyProfiles = data.data;
            } finally {
                this.loading = false;
            }
        },
        imageUrl(company_id: number) {
            return Flask.url_for("company.view_logo", { company: company_id });
        },
    },
});
</script>

<style scoped lang="sass">
.company-logo
    max-height: 8rem
    // force width to auto to keep the correct aspect ratio and override Ant's CSS
    width: auto !important
    vertical-align: middle
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    margin: auto
    padding: 1.5rem

.company-logo-wrapper
    height: 8rem
    vertical-align: middle
    display: inline-block
    position: relative

.more-info-button
    margin-right: 0
    margin-left: auto
    float: right

a:hover
    text-decoration: none
</style>
