<template lang="pug">
.row
    h1(v-if="!jobId") Create company job
    h1(v-if="jobId") Edit {{ form.title_nl }} / {{ form.title_en }}

    a-form-model.col-md-12(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="save"
    )
        .row
            .col-md-6
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Dutch title",
                    name="title_nl"
                )
                    a-input(v-model:value="form.title_nl")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Dutch description",
                    name="description_nl"
                )
                    vue-simple-mde(v-model="form.description_nl")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contact name",
                    name="contact_name"
                )
                    a-input(v-model:value="form.contact_name")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contact email",
                    name="contact_email"
                )
                    a-input(v-model:value="form.contact_email")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contact address",
                    name="contact_address"
                )
                    a-input(v-model:value="form.contact_address")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contact city",
                    name="contact_city"
                )
                    a-input(v-model:value="form.contact_city")

            .col-md-6
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="English title",
                    name="title_en"
                )
                    a-input(v-model:value="form.title_en")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="English description",
                    name="description_en"
                )
                    vue-simple-mde(v-model="form.description_en")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Phone number",
                    name="phone"
                )
                    a-input(v-model:value="form.phone")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Website",
                    name="website"
                )
                    a-input(v-model:value="form.website")

                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contract Type",
                    name="contract_of_service"
                )
                    a-radio-group(v-model:value="form.contract_of_service")
                        a-radio-button(value="full-time") Full-time
                        a-radio-button(value="part-time") Part-time
                        a-radio-button(value="internship") Internship
                        a-radio-button(value="thesis") Thesis

        .row
            .col-md-6
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contract date",
                    name="jobDate"
                )
                    // Dit type klopt, maar de types van ant-design-vue zijn niet goed
                    a-range-picker(
                        v-model:value="form.jobDate",
                        :ranges="ranges"
                    )
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate }"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(
                            type="primary",
                            html-type="submit",
                            @click="save"
                        ) Submit
            .col-md-6
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }",
                    name="enabled"
                )
                    a-checkbox(v-model:checked="form.enabled") Enabled
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import moment from "moment";
import { emailValidation, urlValidation } from "../../utils/form";
import VueSimpleMde from "../common/markdown-editor.vue";
import { companyApi } from "../../scripts/api/company";
import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
    Radio,
} from "ant-design-vue";
import { reactive, defineComponent } from "vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "vue-simple-mde": VueSimpleMde,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-range-picker": DatePicker.RangePicker,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-checkbox": Checkbox,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
        };
    },
    data() {
        return {
            loading: false,
            form: reactive({
                title_nl: "",
                title_en: "",
                description_nl: "",
                description_en: "",
                contact_name: "",
                contact_email: "",
                contact_address: "",
                contact_city: "",
                phone: "",
                website: "",
                contract_of_service: "",
                jobDate: null as [moment.Moment, moment.Moment] | null as any,
                enabled: false,
            }),
            formRules: {
                title_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch title.",
                    },
                ],
                title_en: [
                    {
                        required: true,
                        message: "Please enter the English title.",
                    },
                ],
                description_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch description.",
                    },
                ],
                description_en: [
                    {
                        required: true,
                        message: "Please enter the English description.",
                    },
                ],
                contact_name: [
                    {
                        required: true,
                        message: "Please enter the contact name.",
                    },
                ],
                contact_email: [
                    {
                        required: true,
                        message: "Please enter the contract email.",
                    },
                    { validator: emailValidation },
                ],
                contact_address: [
                    {
                        required: true,
                        message: "Please enter the contact address.",
                    },
                ],
                contact_city: [
                    {
                        required: true,
                        message: "Please enter the contact city.",
                    },
                ],
                website: [
                    { required: true, message: "Please enter the website." },
                    { validator: urlValidation },
                ],
                jobDate: [
                    {
                        type: "array",
                        required: true,
                        message: "Please date range!",
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 8 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 16 },
                },
            },
            ranges: {
                "Set to 1 year": [
                    moment(),
                    moment().add(moment.duration(1, "years")),
                ],
            } as any,
        };
    },
    computed: {
        companyId(): number {
            return parseInt(this.route.params["companyId"]);
        },
        jobId(): number {
            return parseInt(this.route.params["jobId"]);
        },
    },
    async mounted(): Promise<void> {
        if (this.jobId) {
            const resp = await companyApi.getCompanyJob(this.jobId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;

            if (fields.description_nl_raw)
                fields.description_nl = fields.description_nl_raw;

            if (fields.description_en_raw)
                fields.description_en = fields.description_en_raw;

            Object.entries(this.form).forEach(([key, value]) => {
                if (fields[key] !== undefined) {
                    this.form[key] = fields[key];
                }
            });
        }

        const companyData = await companyApi.getCompany(this.companyId);
        this.ranges["Set to contract"] = [
            moment(companyData.data.contract_start_date),
            moment(companyData.data.contract_end_date),
        ];
    },
    methods: {
        urlValidation: urlValidation,
        emailValidation: emailValidation,
        async save() {
            if (this.loading) return;

            if (!this.form) {
                throw new TypeError("Cannot save without form object.");
            }

            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                values["start_date"] =
                    values["jobDate"][0].format("YYYY-MM-DD");
                values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
                delete values["jobDate"];
            } catch (e) {
                // Form didn't validate
                return;
            }

            try {
                this.loading = true;

                if (!this.jobId) {
                    const resp = await instance.post(
                        Flask.url_for("api.company.jobs", {
                            company: this.companyId,
                        }),
                        values
                    );
                    this.router.push({
                        name: "edit-company-job",
                        params: { jobId: resp.data.id },
                    });
                } else {
                    await instance.put(
                        Flask.url_for("api.job", { job_id: this.jobId }),
                        values
                    );
                }
                notification.success({
                    message: "Success",
                    description: "Company job successfully saved.",
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<style scoped lang="sass">
.file-select
    cursor: pointer

    #file-input
        display: none
</style>
