<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!companyId") Create company
    h1(v-if="companyId") Edit {{ form.name }}

    .row
        .col-md-8
            a-form-model(
                :model="form",
                @submit.prevent="save",
                :rules="formRules",
                ref="formRef"
            )
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Company name",
                    name="name"
                )
                    a-input(v-model:value="form.name")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Slug",
                    name="slug"
                )
                    a-input(v-model:value="form.slug")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Website",
                    name="website"
                )
                    a-input(v-model:value="form.website")
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contract date",
                    name="contractDate"
                )
                    // Dit type klopt, maar de types van ant-design-vue zijn niet goed
                    a-range-picker(
                        v-model:value="form.contractDate",
                        :ranges="ranges"
                    )
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button(type="primary", html-type="submit", @click="save") Submit

        .col-md-4.company-logo(v-if="companyId")
            img(:src="companyLogoUrl", v-if="companyLogo")

            a-upload(
                name="logo",
                accept="image/*",
                list-type="picture",
                :fileList="fileList",
                :remove="removeFile",
                :beforeUpload="beforeUpload"
            )
                a-button
                    a-upload-icon
                    | Select logo

            a-button(
                type="primary",
                @click="uploadLogo",
                :disabled="fileList.length === 0",
                :loading="uploading",
                style="margin-top: 16px"
            )
                | {{ uploading ? 'Uploading' : 'Start Upload' }}

    .row
        .col-md-12(v-if="companyId && form.name")
            company-module-overview(
                :companyId="companyId",
                :companySlug="form.slug"
            )
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import CompanyModuleOverview from "./company_module_overview.vue";
import moment from "moment";
import {
    Button,
    DatePicker,
    Form,
    Input,
    notification,
    Upload,
} from "ant-design-vue";
import { alphaNumValidation, urlValidation } from "../../utils/form";
import LoadingContainer from "../loading_container.vue";
import { companyApi } from "../../scripts/api/company";
import { reactive, defineComponent } from "vue";
import { UploadOutlined } from "@ant-design/icons-vue";

export default defineComponent({
    name: "EditCompanyForm",
    components: {
        "company-module-overview": CompanyModuleOverview,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-upload-icon": UploadOutlined,
        "a-button": Button,
        "a-upload": Upload,
        "a-range-picker": DatePicker.RangePicker,
        "loading-container": LoadingContainer,
    },
    data() {
        const fileList: any = [];

        return {
            updateTime: new Date(),
            loading: false,
            uploading: false,
            form: reactive({
                name: "",
                slug: "",
                website: "",
                contractDate: null as
                    | [moment.Moment, moment.Moment]
                    | null as any,
            }),
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 8 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 16 },
                },
            },
            companyLogo: false,
            fileList,
            formRules: {
                name: [
                    {
                        required: true,
                        message: "Please enter the company name.",
                    },
                ],
                slug: [
                    {
                        required: true,
                        message: "Please enter the company slug.",
                    },
                    {
                        validator: alphaNumValidation,
                    },
                ],
                website: [
                    {
                        required: true,
                        message: "Please enter the company website.",
                    },
                    {
                        validator: urlValidation,
                    },
                ],
                contractDate: [
                    {
                        type: "array",
                        required: true,
                        message: "Please enter a date range!",
                    },
                ],
            },
            ranges: {
                "Set to 1 year": [
                    moment(),
                    moment().add(moment.duration(1, "years")),
                ],
            } as any,
        };
    },
    computed: {
        companyLogoUploadUrl() {
            return Flask.url_for("api.company_logo", {
                company: this.companyId,
            });
        },
        companyLogoUrl() {
            if (this.companyLogo) {
                return (
                    Flask.url_for("company.view_logo", {
                        company: this.companyId,
                    }) + `?${this.updateTime.getTime()}`
                );
            } else {
                return "about:blank";
            }
        },
        companyId() {
            return Number(this.$route.params["companyId"]);
        },
    },
    async mounted() {
        await this.getCompany();
    },
    methods: {
        alphaNumValidation: alphaNumValidation,
        urlValidation: urlValidation,
        async getCompany() {
            if (this.companyId) {
                const resp = await companyApi.getCompany(this.companyId);

                this.form.name = resp.data.name;
                this.form.slug = resp.data.slug;
                this.form.website = resp.data.website;
                this.form.contractDate = [
                    moment(resp.data.contract_start_date),
                    moment(resp.data.contract_end_date),
                ];

                this.companyLogo = resp.data.logo;
            }
        },
        removeFile() {
            this.fileList = [];
            return true;
        },
        beforeUpload(file) {
            this.fileList = [file];
            return false;
        },
        async uploadLogo() {
            const file = this.fileList[0];

            if (file && file.type.match("image/*")) {
                const formData = new FormData();
                formData.append("file", file);

                try {
                    this.uploading = true;
                    await instance.put(this.companyLogoUploadUrl, formData);
                    this.companyLogo = true;
                    this.fileList = [];
                    this.updateTime = new Date();
                } catch (e) {
                    console.error(e);
                } finally {
                    this.uploading = false;
                }
            }
        },
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            try {
                this.loading = true;
                const body = {
                    name: values["name"],
                    slug: values["slug"],
                    website: values["website"],
                    contract_start_date:
                        values["contractDate"][0].format("YYYY-MM-DD"),
                    contract_end_date:
                        values["contractDate"][1].format("YYYY-MM-DD"),
                };

                if (!this.companyId) {
                    const resp = await instance.post(
                        Flask.url_for("api.companies", {}),
                        body
                    );
                    this.$router.replace({
                        name: "edit-company",
                        params: { companyId: resp.data.id },
                    });
                } else {
                    await instance.put(
                        Flask.url_for("api.company", {
                            company: this.companyId,
                        }),
                        body
                    );
                }
                notification.success({
                    message: "Success",
                    description: "Company successfully saved.",
                });
            } catch (e) {
                console.error(e);
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<style scoped lang="sass">
.file-select
    cursor: pointer

#file-input
    display: none

.company-logo img
    margin-bottom: 1em
</style>
