<template lang="pug">
.row
    h1(v-if="!companyProfileId") Create company profile
    h1(v-if="companyProfileId") Edit profile

    // TODO add buttons for set dates to today
    a-form-model.col-md-12(
        :model="form",
        :rules="formRules",
        ref="formRef",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch description",
            name="description_nl"
        )
            vue-simple-mde(v-model="form.description_nl")

        a-form-model-item(
            v-bind="formItemLayout",
            label="English description",
            name="description_en"
        )
            vue-simple-mde(v-model="form.description_en")

        a-form-model-item(
            v-bind="formItemLayout",
            label="Contract date",
            name="jobDate"
        )
            // Dit type klopt, maar de types van ant-design-vue zijn niet goed
            a-range-picker(v-model:value="form.jobDate", :ranges="ranges")
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }",
            name="enabled"
        )
            a-checkbox(v-model:checked="form.enabled") Enabled
        .row
            .col-md-6
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate}"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(
                            type="primary",
                            html-type="submit",
                            @click="save"
                        ) Submit
</template>

<script lang="ts">
import moment from "moment";
import { companyApi } from "../../scripts/api/company";
import VueSimpleMde from "../common/markdown-editor.vue";
import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    notification,
} from "ant-design-vue";
import { reactive, defineComponent } from "vue";
import { RangePickerValue } from "ant-design-vue/es/date-picker/interface";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "vue-simple-mde": VueSimpleMde,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-range-picker": DatePicker.RangePicker,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
        };
    },
    data() {
        const companyProfileId: string | null = null;

        return {
            loading: false,
            form: reactive({
                description_nl: "",
                description_en: "",
                jobDate: [] as moment.Moment[] as any,
                enabled: false,
            }),
            formRules: {
                description_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch description.",
                    },
                ],
                description_en: [
                    {
                        required: true,
                        message: "Please enter the English description.",
                    },
                ],
                jobDate: [
                    {
                        type: "array",
                        required: true,
                        message: "Please date range!",
                    },
                ],
            },
            companyProfileId,
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 8 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 16 },
                },
            },
            ranges: {
                "Set to 1 year": [
                    moment(),
                    moment().add(moment.duration(1, "years")),
                ],
            } as { [key: string]: RangePickerValue } as any,
        };
    },
    computed: {
        companyId(): number {
            return parseInt(this.route.params["companyId"]);
        },
    },
    async mounted(): Promise<void> {
        try {
            const resp = await companyApi.getCompanyProfile(this.companyId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;

            if (fields.description_nl_raw)
                fields.description_nl = fields.description_nl_raw;

            if (fields.description_en_raw)
                fields.description_en = fields.description_en_raw;

            this.form.description_nl = fields.description_nl;
            this.form.description_en = fields.description_en;
            this.form.jobDate = fields.jobDate;
            this.form.enabled = fields.enabled;

            this.companyProfileId = resp.data.id;

            const companyData = await companyApi.getCompany(this.companyId);
            this.ranges["Set to contract"] = [
                moment(companyData.data.contract_start_date),
                moment(companyData.data.contract_end_date),
            ];
        } catch (e) {
            if (e.response.status !== 404) {
                throw e;
            }
        }
    },
    methods: {
        async save() {
            if (this.loading) return;

            if (!this.form) {
                throw new TypeError("Cannot save without form object.");
            }

            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                values["start_date"] =
                    values["jobDate"][0].format("YYYY-MM-DD");
                values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
                delete values["jobDate"];
            } catch (e) {
                // Form didn't validate
                return;
            }
            try {
                this.loading = true;

                if (this.companyProfileId) {
                    await companyApi.updateCompanyProfile(
                        this.companyId,
                        values
                    );
                } else {
                    const resp = await companyApi.setCompanyProfile(
                        this.companyId,
                        values
                    );
                    this.companyProfileId = resp.data.id;
                }
                notification.success({
                    message: "Success",
                    description: "Company profile successfully saved.",
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
