<template lang="pug">
div
    h1(v-if="!companyBannerId") Create company banner
    h1(v-if="companyBannerId") Edit banner

    .row
        a-form-model(
            :model="form",
            @submit.prevent="save",
            :rules="formRules",
            ref="formRef"
        )
            .col-md-6
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Contract date",
                    name="jobDate"
                )
                    // Dit type klopt, maar de types van ant-design-vue zijn niet goed
                    a-range-picker(
                        v-model:value="form.jobDate",
                        :ranges="ranges"
                    )
                a-form-model-item(
                    v-bind="formItemLayout",
                    label="Website",
                    name="website"
                )
                    a-input(v-model:value="form.website")
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }",
                    name="enabled"
                )
                    a-checkbox(v-model:checked="form.enabled") Enabled
                a-form-model-item(
                    :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
                )
                    a-button-group
                        router-link(
                            :to="route.meta.from || { name: 'edit-company', params: { companyId: companyId } }",
                            v-slot="{ href, navigate}"
                        )
                            a-button(:href="href", @click="navigate")
                                | Back
                        a-button(
                            type="primary",
                            html-type="submit",
                            @click="save"
                        ) Submit
</template>

<script lang="ts">
import moment from "moment";
import { urlValidation } from "../../utils/form";
import { companyApi } from "../../scripts/api/company";
import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    notification,
} from "ant-design-vue";
import { reactive, defineComponent } from "vue";
import { useRoute } from "vue-router";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-range-picker": DatePicker.RangePicker,
        "a-input": Input,
        "a-checkbox": Checkbox,
        "a-button-group": Button.Group,
        "a-button": Button,
    },
    setup() {
        const route = useRoute();
        return {
            route,
        };
    },
    data() {
        const companyBannerId: number | null = null;

        return {
            loading: false,
            form: reactive({
                jobDate: [] as any,
                website: "",
                enabled: false,
            }),
            companyBannerId,
            formRules: {
                jobDate: [
                    {
                        type: "array",
                        required: true,
                        message: "Please enter a date range!",
                    },
                ],
                website: [
                    {
                        required: true,
                        message: "Please enter the website.",
                    },
                    {
                        validator: urlValidation,
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 8 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 16 },
                },
            },
            ranges: {
                "Set to 1 year": [
                    moment(),
                    moment().add(moment.duration(1, "years")),
                ],
            } as any,
        };
    },
    computed: {
        companyId(): number {
            return parseInt(this.route.params["companyId"]);
        },
    },
    async mounted() {
        try {
            const companyData = await companyApi.getCompany(this.companyId);
            this.ranges["Set to contract"] = [
                moment(companyData.data.contract_start_date),
                moment(companyData.data.contract_end_date),
            ];
        } catch (e) {
            if (e.response.status !== 404) {
                throw e;
            }
        }

        try {
            const resp = await companyApi.getCompanyBanner(this.companyId);
            const fields: any = resp.data;
            fields["jobDate"] = [
                moment(fields.start_date),
                moment(fields.end_date),
            ];
            delete fields.start_date;
            delete fields.end_date;
            this.form.website = fields.website;
            this.form.enabled = fields.enabled;
            this.form.jobDate = fields.jobDate;

            this.companyBannerId = resp.data.id;
        } catch (e) {
            if (e.response.status !== 404) {
                throw e;
            }
        }
    },
    methods: {
        urlValidation: urlValidation,
        async save() {
            if (this.loading) return;

            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };

                values["start_date"] =
                    values["jobDate"][0].format("YYYY-MM-DD");
                values["end_date"] = values["jobDate"][1].format("YYYY-MM-DD");
                delete values["jobDate"];
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            try {
                this.loading = true;

                if (this.companyBannerId) {
                    await companyApi.updateCompanyBanner(
                        this.companyId,
                        values
                    );
                } else {
                    const resp = await companyApi.setCompanyBanner(
                        this.companyId,
                        values
                    );
                    this.companyBannerId = resp.data.id;
                }
                notification.success({
                    message: "Success",
                    description: "Company banner saved successfully.",
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
