{% extends "base.htm" %}

{% block title %}Admin{% endblock %}

{% block page %}
    <div class="row">
        <div class="col admin-page">
            <h1>Admin</h1>

            <div class="admin-links">
                <i class="fas fa-handshake"></i> <a href="{{ url_for('meeting.view') }}">{{ _('Meetings') }}</a><br>

                <i class="fas fa-search"></i> <a href="/search">{{ _('Search') }}</a><br>


                {% if has_role(roles.USER_WRITE) %}
                    <i class="fas fa-people-carry-box"></i> <a href="{{ url_for('vue.active_members') }}">{{ _('Active Members') }}</a><br>
                {% endif %}

                {% if has_role(roles.REDIRECT_WRITE) %}
                    <i class="fas fa-map-signs"></i> <a href="{{ url_for('redirect.view') }}">{{ _('Redirects') }}</a><br>
                {% endif %}

                {% if has_role(roles.USER_WRITE) %}
                    <i class="fas fa-user"></i> <a href="{{ url_for('user.view') }}">{{ _('Users') }}</a><br>
                {% endif %}

                {% if has_role(roles.GROUP_WRITE) %}
                    <i class="fas fa-users"></i> <a href="{{ url_for('group.view') }}">{{ _('Groups') }}</a><br>
                {% endif %}

                {% if has_role(roles.NAVIGATION_WRITE) %}
                    <i class="fas fa-bars"></i> <a href="{{ url_for('navigation.view') }}">{{ _('Navigation') }}</a><br>
                {% endif %}

                {% if has_role(roles.PAGE_WRITE) %}
                    <i class="fas fa-file-alt"></i> <a href="{{ url_for('pages.root') }}">{{ _("Pages") }}</a><br>
                {% endif %}

                {% if has_role(roles.COMPANY_WRITE) %}
                    <i class="fas fa-building"></i>
                    <a href="{{ url_for('admin.company') }}">{{ _('Companies') }}</a>
                    <br>
                    <i class="fas fa-file-signature"></i>
                    <a href="{{ url_for('contracts.root') }}">{{ _('Contracts') }} </a>
                    /
                    <a href="{{ url_for('admin.contracts') }}">{{ _('Contract settings') }}</a>
                    <br>
                {% endif %}

                {% if has_role(roles.EXAMINATION_WRITE) %}
                    <i class="fas fa-university"></i>
                    <a href="{{ url_for('examination.view_examination') }}">{{ _('Examinations') }}</a>
                    /
                    <a href="{{ url_for('education.view_educations') }}">{{ _('Educations') }}</a>
                    /
                    <a href="{{ url_for('course.view_courses') }}">{{ _('Courses') }}</a>
                    <br>
                    <i class="fas fa-book-open"></i>
                    <a href="{{ url_for('tutoring.tutors') }}">{{ _('Tutors') }}</a><br>
                {% endif %}

                {% if has_role(roles.FILE_WRITE) %}
                    <i class="fas fa-file"></i>
                    <a href="{{ url_for('file.list') }}">{{ _('Files') }}</a>
                    <br>
                {% endif %}

                {% if has_role(roles.MOLLIE_READ) %}
                    <i class="fas fa-credit-card"></i>
                    <a href="{{ url_for('mollie.list') }}">{{ _('Mollie callback statuses') }}</a>
                    <br>
                {% endif %}

                {% if has_role(roles.BANNER_ADMIN) %}
                    <i class="fas fa-comment"></i>
                    <a href="{{ url_for('admin.banner') }}">{{ _('Manage site-wide banner') }}</a>
                    <br>
                {% endif %}

                {% if has_role(roles.BANNER_ADMIN) %}
                    <i class="fas fa-user-secret"></i>
                    <a href="{{ url_for('admin.privacy') }}">{{ _('Privacy policy URLs') }}</a>
                    <br>
                {% endif %}

                {% if has_role(roles.NEWS_WRITE) %}
                    <i class="fas fa-newspaper"></i> <a href="{{ url_for('newsletter.root') }}">{{ _('Manage newsletter entries') }}</a><br>
                {% endif %}

                {% if has_role(roles.MAILINGLIST_ADMIN) %}
                    <i class="fas fa-envelope"></i> <a href="{{ url_for('vue.mailinglists') }}">{{ _('Manage Copernica mailing lists') }}</a><br>
                {% endif %}

                {% if has_role(roles.TECHNICAL_ADMIN) %}
                    <i class="fa fa-cogs"></i> <a href="{{ url_for('admin.celery') }}">{{ _('Trigger maintenance tasks') }}</a><br>
                {% endif %}

                {% if has_role(roles.DOMJUDGE_ADMIN) %}
                    <i class="fas fa-check-square"></i> <a href="{{ url_for('domjudge.server_check') }}">{{ _('DOMjudge server check') }}</a><br>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
