<template lang="pug">
div
    h1#title {{ t('Redirects') }}
    div
        a-form-model(
            :model="form",
            :rules="formRules",
            ref="formRef",
            @submit.prevent
        )
            h3 {{ t('From which URL would you like to redirect?') }}
            a-form-model-item(name="fro")
                a-auto-complete(
                    v-model:value="form.fro",
                    size="large",
                    :autoFocus="true",
                    :defaultActiveFirstOption="false",
                    @change="debounceCompleteRedirect",
                    style="width: 280px",
                    :options="redirectsAutoComplete.map((r) => { return { value: r.fro, label: r.fro, key: r.fro }; })"
                )
                    a-input(size="large")
                        template(v-slot:suffix="")
                            a-edit-icon(v-if="redirect.id")
                            a-plus-icon(v-else)

            h3.mt-4 {{ t('To which URL?') }}
            a-form-model-item(name="to")
                a-input(
                    v-model:value="form.to",
                    size="large",
                    style="width: 280px"
                )

            a-form-model-item
                a-button.mt-3.mb-3(type="primary", @click="saveRedirect()") {{ t('Save') }}
                    template(#icon)
                        a-save-icon
                a-popconfirm(
                    v-if="redirect.id",
                    :title="t('Are you sure?')",
                    @confirm="deleteRedirect(redirect)"
                )
                    a-button.m-3(danger, ghost) {{ t('Delete') }}
                        template(#icon)
                            a-delete-icon
    .mt-5(
        @click="allRedirectsCollapsed = !allRedirectsCollapsed",
        style="display: flex"
    )
        a-right-icon(v-if="allRedirectsCollapsed")
        a-down-icon(v-else)
        h4.ml-1 {{ t('All redirects') }}

    a-input-search.w-100(
        v-if="!allRedirectsCollapsed",
        :placeholder="t('Search redirect')",
        v-model:value="search"
    )
    a-table.mt-3(
        v-if="!allRedirectsCollapsed",
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:action="{ record }")
            a-button.mr-2(
                type="primary",
                :href="`/${record.fro}`",
                target="_blank"
            ) {{ t('Open link') }}
                template(#icon)
                    a-link-icon
            a-button.mr-2(@click="setRedirect(record)", href="#title")
                template(#icon)
                    a-edit-icon
            a-popconfirm(
                :title="t('Are you sure?')",
                @confirm="deleteRedirect(record)"
            )
                a-button(danger, ghost)
                    template(#icon)
                        a-delete-icon
</template>

<script lang="ts">
import {
    CaretDownFilled,
    CaretRightFilled,
    DeleteOutlined,
    EditOutlined,
    LinkOutlined,
    PlusCircleFilled,
    SaveOutlined,
} from "@ant-design/icons-vue";
import {
    AutoComplete,
    Button,
    Form,
    Input,
    notification,
    Popconfirm,
    Select,
    Table,
} from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { redirectApi } from "../../scripts/api/redirect";
import { Redirect } from "../../types/redirect";
import debounce from "../../utils/debounce";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import LoadingContainer from "../loading_container.vue";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-button": Button,
        "a-input": Input,
        "a-down-icon": CaretDownFilled,
        "a-right-icon": CaretRightFilled,
        "a-edit-icon": EditOutlined,
        "a-plus-icon": PlusCircleFilled,
        "a-link-icon": LinkOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-auto-complete": AutoComplete,
        "a-select-option": Select.Option,
        "a-save-icon": SaveOutlined,
        "a-select": Select,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input-search": Input.Search,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await redirectApi.getAllRedirects(search, page);

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable<Redirect>(dataFunction),
            t: useI18n().t,
        };
    },
    data() {
        const redirect: Redirect = new Redirect("", "");
        const redirectsAutoComplete: Redirect[] = [];
        return {
            redirectsAutoComplete,
            form: reactive({
                fro: "",
                to: "",
            }),
            formRules: {
                fro: [
                    {
                        required: true,
                        message: "Please enter an URL to redirect from.",
                    },
                ],
                to: [
                    {
                        required: true,
                        message: "Please enter an URL to redirect to.",
                    },
                ],
            },
            redirect,
            debounceCompleteRedirect: debounce(this.completeRedirect, 300),
            allRedirectsCollapsed: true,
            columns: [
                { title: this.t("From"), dataIndex: "fro", ellipsis: true },
                { title: this.t("To"), dataIndex: "to", ellipsis: true },
                {
                    title: this.t("Actions"),
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    async mounted() {
        this.allRedirectsCollapsed = this.search == "";
    },
    methods: {
        async completeRedirect(fro: string) {
            let redirect = await this.findRedirectByFro(fro);

            if (!redirect) {
                redirect = new Redirect(fro, "");
            }

            this.setRedirect(redirect);
        },
        setRedirect(redirect: Redirect) {
            this.redirect = redirect;

            this.form.fro = redirect.fro;
            this.form.to = redirect.to;
        },
        async findRedirectByFro(fro: string): Promise<Redirect | undefined> {
            const redirects = (await redirectApi.getAllRedirects(fro, 1, 50))
                .data.data;
            this.redirectsAutoComplete = redirects;

            return redirects.find((redirect) => redirect.fro === fro);
        },
        async resetPage() {
            await this.refreshListView();
            this.setRedirect(new Redirect("", ""));
        },
        async saveRedirect(): Promise<boolean> {
            let values;

            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                return false; // Form didn't validate
            }

            try {
                this.loading = true;

                await redirectApi.upsertRedirect(
                    new Redirect(values["fro"], values["to"])
                );

                notification.success({
                    message: "Success",
                    description: "Redirect successfully saved.",
                });

                return true;
            } catch (e) {
                let description = e.response.data.detail;

                if (e.response.status === 404) {
                    description = "Could not create or edit redirect.";
                }

                notification.error({
                    message: "Failed",
                    description: description,
                });
            } finally {
                await this.resetPage();
            }
            return false;
        },
        async deleteRedirect(r: Redirect) {
            if (!r.id) {
                return false;
            }

            try {
                this.loading = true;

                await redirectApi.deleteRedirect(r.id);

                notification.success({
                    message: "Success",
                    description: "Redirect successfully deleted.",
                });
            } catch (e) {
                if (e.response.status === 404) {
                    notification.error({
                        message: "Failed",
                        description: "Could not delete redirect.",
                    });
                }
            } finally {
                await this.resetPage();
            }
        },
    },
});
</script>

<i18n src="./redirect_overview.json"></i18n>
