<template lang="pug">
div
    h4.heading {{ t('Documents') }}
    a-row.document.minutes(
        v-if="alv.minutes_file_id",
        :style="{ borderLeft: minutesBorder }"
    )
        a.title(:href="alvMinutesUrl") {{ t('Minutes') }}
        .minutes-hint {{ minutesHint }}
    a-row.document.minutes(
        v-if="inPast && !alv.minutes_file_id",
        style="border-left: 1em solid #dc3545"
    )
        .title {{ t('Minutes') }}
        .minutes-hint {{ t('There are no minutes available (yet) for this assembly.') }}
    a-row.document-container(
        :class="{ 'double-column': documentsAlphabetical.length > 5 }"
    )
        a-col.document-col(v-for="doc in documentsAlphabetical", :key="doc.id")
            .document
                a.title(:href="alvDocumentUrlLatest(doc.id)") {{ doc.name[locale] }}
                .date
                    a-dropdown(v-if="doc.versions > 1")
                        span.no-select
                            | {{ t('Versions') }}
                            a-down-icon
                        template(v-slot:overlay="")
                            a-menu
                                a-menu-item(
                                    v-for="n in rangeReverse(doc.versions)",
                                    :key="n"
                                )
                                    a(:href="alvDocumentUrl(doc.id, n)")
                                        | {{ t('Version') + ' ' + n }}

                    span.created-text {{ timeAgo(doc.newest_created) }}
        a-col(v-if="!documentsAlphabetical.length", :span="24")
            a-empty(style="margin-top: 1em", :description="t('No documents')")
</template>

<script lang="ts">
import moment from "moment";

import Flask from "../../utils/flask";
import { AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Button, Col, Dropdown, Empty, Menu, Row } from "ant-design-vue";
import { DownOutlined } from "@ant-design/icons-vue";
import { inject, defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-row": Row,
        "a-col": Col,
        "a-dropdown": Dropdown,
        "a-menu": Menu,
        "a-menu-item": Menu.Item,
        "a-down-icon": DownOutlined,
        "a-empty": Empty,
    },
    props: {
        alv: { required: true, type: Object as PropType<AlvResponse> },
        parsedAlv: {
            type: Object as PropType<AlvParseMinutes>,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            locale: inject("locale") as string,
        };
    },
    computed: {
        inPast() {
            // ALV is only considered in the past when the full day has passed.
            return (
                new Date().setHours(0, 0, 0, 0) >
                new Date(this.alv.date).getTime()
            );
        },
        minutesHint() {
            if (this.alv.minutes_accepted === null) {
                return this.t("The status of the minutes is unclear.");
            }

            return this.alv.minutes_accepted
                ? this.t("The minutes have been accepted.")
                : this.t("The minutes are available, but not accepted yet.");
        },
        minutesBorder() {
            if (this.alv.minutes_accepted === null) {
                return "1em solid #ffc107";
            }

            return this.alv.minutes_accepted
                ? "1em solid #3d9970"
                : "1em solid #c72d4c";
        },
        alvMinutesUrl() {
            return Flask.url_for("alv.view_minutes", { alv: this.alv.id });
        },
        documentsAlphabetical() {
            if (!this.alv.documents) {
                return [];
            }

            return this.alv.documents!.sort((d1, d2) => {
                return d1.name[this.locale].localeCompare(d2.name[this.locale]);
            });
        },
    },
    methods: {
        alvDocumentUrlLatest(docId: number) {
            return Flask.url_for("alv.view_document_version_latest", {
                _alv: this.alv.id,
                alv_document_id: docId,
            });
        },
        alvDocumentUrl(docId: number, version?: number) {
            if (!version) {
                return this.alvDocumentUrlLatest(docId);
            }

            return Flask.url_for("alv.view_document_version", {
                _alv: this.alv.id,
                alv_document_id: docId,
                version: version,
            });
        },
        rangeReverse(n: number) {
            const arr: number[] = [];
            for (let i = n; i > 0; i--) {
                arr.push(i);
            }

            return arr;
        },
        timeAgo(created) {
            return moment(created, undefined, this.locale).fromNow();
        },
    },
});
</script>

<style lang="sass" scoped>
@import '../../assets/scss/variables/_app.scss'

@media(min-width: 768px)
    .heading
        position: absolute
        top: -1.5em

.no-select
    user-select: none

.created-text
    margin-left: auto

.minutes
    margin-bottom: 0.5em

.date
    display: flex
    justify-content: space-between
    color: #989898
    text-align: end

.document-container
    column-count: 1

@media(max-width: 768px)
    // This should take precedence over .double-column on small screens.
    .document-container
        column-count: 1 !important

.double-column
    column-count: 2

.document-col
    display: inline-block
    width: 100%
    margin-bottom: 8px

.document
    display: flex
    flex-direction: column
    justify-content: space-between

    min-height: 70px
    line-height: 1.1
    padding: 0.25em 0.5em
    border: 1px solid #e8e8e8
    border-left: 0.75em solid $via-blue
    border-radius: 0.5em
</style>

<i18n src="./alv.json"></i18n>
