<template lang="pug">
div
    h2.title {{ t('Participants') }} ({{ participantCount }})
    a-row
        a-col.present(:xs="24", :sm="24", :md="16")
            h4 {{ t('Present') }} ({{ present.length }})
            a-col.present-list
                a-col(v-for="name in present", :key="name")
                    | {{ name }}

        a-col.proxies(:xs="24", :sm="24", :md="8")
            h4.proxy-title {{ t('Proxies') }} ({{ proxies.length }})
            a-empty(v-if="!proxies.length", :description="t('No proxies')")
            a-col(v-for="[p1, p2] in proxies", :key="p1 + p2")
                span.proxy-name {{ p1 }}
                span.proxy-text
                    a-line-icon
                    a-arrow-right-icon.arrow
                span.proxy-name {{ p2 }}
</template>

<script lang="ts">
import { AlvParseMinutes } from "../../scripts/api/alv";
import { Col, Empty, Row } from "ant-design-vue";
import { ArrowRightOutlined, LineOutlined } from "@ant-design/icons-vue";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-row": Row,
        "a-col": Col,
        "a-line-icon": LineOutlined,
        "a-arrow-right-icon": ArrowRightOutlined,
        "a-empty": Empty,
    },
    props: {
        parsedAlv: {
            required: true,
            type: Object as PropType<AlvParseMinutes>,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    computed: {
        present() {
            return [...this.parsedAlv.meta_data.present].sort((p1, p2) => {
                return p1.localeCompare(p2);
            });
        },
        proxies() {
            return [...this.parsedAlv.meta_data.proxies].sort(
                ([, p1], [, p2]) => {
                    return p1.localeCompare(p2);
                }
            );
        },
        participantCount() {
            return (
                this.parsedAlv.meta_data.present.length +
                this.parsedAlv.meta_data.proxies.length
            );
        },
    },
});
</script>

<style lang="sass" scoped>
@media(max-width: 768px)
    .present-list
        column-count: 2

    .proxy-title
        margin-top: 0.5em

@media(min-width: 768px)
    .present-list
        column-count: 3

.title
    margin-top: 0.5em
    margin-bottom: 0.5em

.arrow
    margin-left: -3px

.proxy-text
    margin: 0 0.25em
    font-style: italic
    font-weight: 300
</style>

<i18n src="./alv.json"></i18n>
