<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item
            router-link(
                :to="{ name: 'alv-overview' }",
                v-slot="{ href, navigate}"
            )
                a(:href="href", @click="navigate") {{ t('Assemblies') }}
        a-breadcrumb-item {{ alvTitle }}
    alv-details-item(v-if="alv", :alv="alv", :parsedAlv="parsedAlv")
</template>

<script lang="ts">
import { alvApi, AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Breadcrumb } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import AlvDetailsItem from "./alv_details_item.vue";
import { inject, defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "alv-details-item": AlvDetailsItem,

        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            loading: true,
            alv: null as AlvResponse | null,
            //TODO: Prop types doen raar. Hij zegt dat AlvParseMinutes niet gelijk is aan AlvParseMinutes.
            parsedAlv: null as AlvParseMinutes | null as any,
            locale: inject("locale") as string,
        };
    },
    computed: {
        alvTitle() {
            if (!this.alv) {
                return this.t("Assembly") as string;
            }

            return this.alv.name[this.locale];
        },
        alvId() {
            return parseInt(this.$route?.params["alvId"]);
        },
    },
    async mounted() {
        const [alvResp, parsedResp] = await Promise.all([
            alvApi.getAlv(this.alvId),
            alvApi.getParsedMinutes(this.alvId).catch((e) => {
                if (e.response.status !== 404) {
                    throw e;
                }
            }),
        ]);

        this.alv = alvResp.data;

        if (parsedResp) {
            this.parsedAlv = parsedResp.data;
        }

        this.loading = false;
    },
});
</script>

<style lang="sass" scoped></style>

<i18n src="./alv.json"></i18n>
