<template lang="pug">
a-row.block-container(:gutter="[16, 16]", style="margin-right: 0px;")
    info-block(:title="t('Chairman')", :content="chairman")
    info-block(:title="t('Secretary')", :content="secretary")

    info-block(v-if="activity", :title="t('Activity')")
        template(v-slot:content="")
            a(:href="activityLink") {{ activity }}

    info-block(
        v-if="startTime",
        :title="t('Start time')",
        :content="startTime"
    )
    info-block(v-if="endTime", :title="t('End time')", :content="endTime")

    info-block(
        v-if="parsedAlv",
        :title="t('Present')",
        :content="parsedAlv.meta_data.present.length"
    )
    info-block(
        v-if="parsedAlv",
        :title="t('Proxies')",
        :content="parsedAlv.meta_data.proxies.length"
    )
    info-block(v-if="parsedAlv", :title="t('Votes')", :content="votes.length")
    info-block(
        v-if="parsedAlv",
        :title="t('Decisions')",
        :content="decisions.length"
    )
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { AlvParseMinutes, AlvResponse } from "../../scripts/api/alv";
import { Button, Col, Row } from "ant-design-vue";
import InfoBlock from "../util/info_block.vue";
import { AlvEvent } from "../../types/alv";
import { inject, defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "info-block": InfoBlock,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-row": Row,
        "a-col": Col,
    },
    props: {
        alv: { required: true, type: Object as PropType<AlvResponse> },
        parsedAlv: {
            type: Object as PropType<AlvParseMinutes>,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            locale: inject("locale") as string,
        };
    },
    computed: {
        activityLink() {
            return Flask.url_for("activity.get_activity", {
                activity: this.alv.activity?.id,
            });
        },
        chairman() {
            if (!this.alv.chairman) {
                return this.t("No chairman");
            }

            return `${this.alv.chairman.first_name} ${this.alv.chairman.last_name}`;
        },
        secretary() {
            if (!this.alv.secretary) {
                return this.t("No secretary");
            }

            return `${this.alv.secretary.first_name} ${this.alv.secretary.last_name}`;
        },
        startTime() {
            if (this.alv.meta?.start_time) {
                return this.alv.meta.start_time;
            }

            if (this.alv.activity?.start_time) {
                return new Date(
                    this.alv.activity.start_time
                ).toLocaleTimeString("nl", {
                    hour: "2-digit",
                    minute: "2-digit",
                });
            }

            return null;
        },
        endTime() {
            if (this.alv.meta?.stop_time) {
                return this.alv.meta.stop_time;
            }

            if (this.alv.activity?.end_time) {
                return new Date(this.alv.activity.end_time).toLocaleTimeString(
                    "nl",
                    {
                        hour: "2-digit",
                        minute: "2-digit",
                    }
                );
            }
            return null;
        },
        activity() {
            return this.alv.activity?.name[this.locale];
        },
        minutesStatus() {
            if (!this.alv.minutes_file_id) {
                return this.t("Not available");
            }

            if (typeof this.alv["minutes_accepted"] === "boolean") {
                return this.alv["minutes_accepted"]
                    ? this.t("Accepted")
                    : this.t("Not accepted");
            } else {
                return this.t("Unknown");
            }
        },
        sections() {
            if (!this.parsedAlv) {
                return [];
            }

            return this.parsedAlv.events.filter(
                (item) => item.event_type === AlvEvent.Section
            );
        },
        tasks() {
            if (!this.parsedAlv) {
                return [];
            }

            return this.parsedAlv.events.filter(
                (item) => item.event_type === AlvEvent.Task
            );
        },
        decisions() {
            if (!this.parsedAlv) {
                return [];
            }

            return this.parsedAlv.events.filter(
                (item) => item.event_type === AlvEvent.Decision
            );
        },
        votes() {
            if (!this.parsedAlv) {
                return [];
            }

            return this.parsedAlv.events.filter(
                (item) => item.event_type === AlvEvent.Vote
            );
        },
    },
});
</script>

<style lang="sass" scoped>

@media(min-width: 768px)
    .block-container
        border-right: 1px solid #e8e8e8
        padding-right: 1em
</style>

<i18n src="./alv.json"></i18n>
