<template lang="pug">
div
    h2.title {{ t('Timeline') }}
    a-row
        a-col.filters(:md="6", :sm="0", :xs="0")
            a-row.filter(
                v-for="(section, idx) in sections",
                :key="section + idx"
            )
                a(
                    v-if="sectionContent(section).length > 1",
                    :class="{ selected: pointSelected === section }",
                    @click.prevent="() => onPointSelected(section)"
                )
                    | {{ section }}
                span(v-else) {{ section }}

        a-col.timeline-data(:md="18", :sm="24")
            a-radio-group.filter-buttons(
                default-value="all",
                :value="filter",
                :size="isSmallScreen ? 'small' : 'default'",
                @change="onFilterChange"
            )
                a-radio-button(value="all") {{ t('All events') }}
                a-radio-button(value="DECISION") {{ t('Decisions') }}
                a-radio-button(value="VOTE") {{ t('Votes') }}
                a-radio-button(value="TASK") {{ t('Tasks') }}
            a-timeline(v-if="eventsFiltered.length > 0")
                a-timeline-item.item(
                    v-if="parsedAlv.meta_data.start_time && isUnfiltered",
                    color="green"
                )
                    div {{ t('Opening ') + parsedAlv.meta_data.start_time }}
                a-timeline-item.item(
                    v-for="(ev, idx) in eventsFiltered",
                    :key="idx",
                    :color="timelineColor(ev.event_type)"
                )
                    .section(v-if="ev.event_type === 'SECTION'") {{ ev.data.title }}
                    div(v-if="ev.event_type === 'TASK'")
                        span.task-who {{ ev.data.who }}
                        span.task-what {{ filterLatexSymbols(ev.data.what) }}
                    div(v-if="ev.event_type === 'VOTE'")
                        alv-details-vote(:vote="ev.data")
                    div(v-if="ev.event_type === 'DECISION'") {{ filterLatexSymbols(ev.data.decision) }}
                a-timeline-item.item(
                    v-if="parsedAlv.meta_data.stop_time && isUnfiltered",
                    color="green"
                )
                    div {{ t('Closed ') + parsedAlv.meta_data.stop_time }}
            a-empty(
                v-else,
                style="margin-top: 1em",
                :description="t('Nothing to see here.')"
            )
</template>
<script lang="ts">
import { AlvParseMinutes } from "../../scripts/api/alv";
import { filterLatexSymbols } from "../../utils/latex";
import { Button, Col, Radio, Row, Timeline, Empty } from "ant-design-vue";
import { AlvEvent, AlvEventData } from "../../types/alv";
import AlvDetailsVote from "./alv_details_vote.vue";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-timeline": Timeline,
        "a-timeline-item": Timeline.Item,
        "a-row": Row,
        "a-col": Col,
        "a-empty": Empty,
        "alv-details-vote": AlvDetailsVote,
    },
    props: {
        parsedAlv: {
            required: true,
            type: Object as PropType<AlvParseMinutes>,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const filter: AlvEvent | "all" | "unfiltered" = "all";

        return {
            filter,
            pointSelected: "",
            query: window.matchMedia("(max-width: 768px)"),
            isSmallScreen: false,
            filterLatexSymbols: filterLatexSymbols,
        };
    },
    computed: {
        isUnfiltered() {
            return this.filter === "all" && !this.pointSelected;
        },
        sections() {
            return this.parsedAlv.events
                .filter((ev) => ev.event_type === AlvEvent.Section)
                .map((ev) => ev.data.title);
        },
        relevantEvents() {
            return this.parsedAlv.events.filter(
                (ev) =>
                    ev.event_type !== AlvEvent.Timestamp &&
                    ev.event_type !== AlvEvent.SubSection &&
                    ev.event_type !== AlvEvent.ParseWarning
            );
        },
        eventsFiltered() {
            let events = this.relevantEvents;

            if (this.filter !== "all" && this.filter !== "unfiltered") {
                events = events.filter(
                    (ev) =>
                        ev.event_type === this.filter ||
                        ev.event_type === AlvEvent.Section
                );
            }

            if (this.pointSelected === "") {
                const sections = this.interestingSections(events);

                return events.filter(
                    (ev) =>
                        !(
                            ev.event_type === AlvEvent.Section &&
                            sections.indexOf(ev.data.title) === -1
                        )
                );
            } else {
                return this.sectionContent(this.pointSelected, events);
            }
        },
    },
    created() {
        this.isSmallScreen = this.query.matches;
        this.query.addListener(this.smallScreenListener);
    },
    unmounted() {
        this.query.removeListener(this.smallScreenListener);
    },
    methods: {
        smallScreenListener(e) {
            this.isSmallScreen = e.matches;
        },
        interestingSections(events: AlvEventData[] = this.relevantEvents) {
            const sections: string[] = [];

            let foundContent = false;
            for (let i = events.length - 1; i >= 0; i--) {
                if (events[i].event_type === AlvEvent.Section) {
                    if (foundContent) {
                        sections.push(events[i].data.title);
                    }

                    foundContent = false;
                } else {
                    foundContent = true;
                }
            }

            return sections.reverse();
        },
        sectionContent(
            section: string,
            events: AlvEventData[] = this.relevantEvents
        ) {
            const startIdx = events.findIndex(
                (ev) =>
                    ev.event_type === AlvEvent.Section &&
                    ev.data.title === section
            );
            const endIdx = events.findIndex(
                (ev, idx) =>
                    idx > startIdx && ev.event_type === AlvEvent.Section
            );

            return [...events].splice(startIdx, endIdx - startIdx);
        },
        onFilterChange(ev) {
            this.pointSelected = "";
            this.filter = ev.target.value;
        },
        onPointSelected(section) {
            if (this.pointSelected === section) {
                this.pointSelected = "";
                this.filter = "all";
            } else {
                this.pointSelected = section;
                this.filter = "unfiltered";
            }
        },
        timelineColor(type: AlvEvent) {
            if (type === AlvEvent.Decision) {
                return "#966FD6";
            }

            if (type === AlvEvent.Task) {
                return "#CC0000";
            }

            return "black";
        },
    },
});
</script>

<style lang="sass" scoped>
@media(min-width: 768px)
    .timeline-data
        padding-left: 2em

    .filters
        padding-right: 1em

.task-who
    &:after
        content: ": "

.task-what
    font-style: italic

.filter
    font-size: 1.2em
    font-weight: 300
    margin-bottom: 0.25em
    overflow: hidden
    text-overflow: ellipsis

.filter > a
    color: black
    font-weight: 400

.filter > a:hover
    color: #304ba3
    cursor: pointer

.selected
    color: #304ba3 !important

.filter-buttons
    margin-bottom: 1em

.filters
    border-right: 1px solid #e8e8e8

.title
    margin-top: 0.5em
    margin-bottom: 0.5em

.item
    font-size: 1.1em

.section
    font-size: 1.2em
    font-weight: bold
</style>

<i18n src="./alv.json"></i18n>
