<template lang="pug">
a-form-model(
    ref="formRef",
    :model="form",
    :rules="formRules",
    :label-col="formItemLayout.labelCol",
    :wrapper-col="formItemLayout.wrapperCol",
    @submit.prevent="save"
)
    a-form-model-item(name="nl_name", :label="t('Dutch name')")
        a-input(v-model:value="form.nl_name")

    a-form-model-item(name="en_name", :label="t('English name')")
        a-input(v-model:value="form.en_name")
    a-form-model-item(name="date", :label="t('Date')")
        a-date-picker(v-model:value="form.date")
    a-form-model-item(name="activity", :label="t('Activity')")
        form-activity-field(v-model="form.activity")

    a-form-model-item(name="chairman", :label="t('Chairman')")
        form-user-field(v-model="form.chairman")

    a-form-model-item(name="secretary", :label="t('Secretary')")
        form-user-field(v-model="form.secretary")

    a-form-model-item(
        :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button-group
            a-button(
                type="primary",
                html-type="submit",
                :loading="submitting",
                @click="save"
            ) {{ t('Save') }}
</template>

<script lang="ts">
import { reactive, defineComponent, PropType } from "vue";
import FormActivityField from "../form/form_activity_field.vue";
import FormUserField from "../form/form_user_field.vue";
import { alvApi, AlvRequest, AlvResponse } from "../../scripts/api/alv";
import moment from "moment";
import {
    Breadcrumb,
    Button,
    DatePicker,
    Form,
    Input,
    notification,
} from "ant-design-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-date-picker": DatePicker,
        "a-button": Button,
        "a-button-group": Button.Group,
        "form-activity-field": FormActivityField,
        "form-user-field": FormUserField,
        "a-breadcrumb": Breadcrumb,
    },
    props: {
        alv: {
            type: Object as PropType<AlvResponse>,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const form: any = reactive({
            nl_name: "",
            en_name: "",
            date: "",
            activity: undefined,
            chairman: undefined,
            secretary: undefined,
        });

        return {
            form,
            formRules: {
                nl_name: [
                    {
                        required: true,
                        message: this.t("Please enter the dutch name"),
                    },
                ],
                en_name: [
                    {
                        required: true,
                        message: this.t("Please enter the english name"),
                    },
                ],
                date: [
                    {
                        required: true,
                        message: this.t("Please enter the date"),
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            submitting: false,
            alvResponse: null as AlvResponse | null,
        };
    },
    async mounted() {
        this.setFormData();
    },
    methods: {
        setFormData() {
            if (!this.alv) {
                return;
            }

            this.form.nl_name = this.alv.name.nl;
            this.form.en_name = this.alv.name.en;
            this.form.date = moment(this.alv.date);
            this.form.activity = this.alv.activity;
            this.form.chairman = this.alv.chairman;
            this.form.secretary = this.alv.secretary;
        },
        async save() {
            try {
                await (this.$refs.formRef as any).validate();
            } catch (e) {
                // Form didn't validate
                console.error(e);
                return null;
            }
            const body: AlvRequest = {
                activity_id: this.form["activity"]?.id,
                chairman_user_id: this.form["chairman"]?.id,
                secretary_user_id: this.form["secretary"]?.id,
                name: {
                    nl: this.form["nl_name"],
                    en: this.form["en_name"],
                },
                date: this.form["date"].format("YYYY-MM-DD"),
                minutes_accepted: this.alvResponse?.minutes_accepted,
            };

            let data: AlvResponse | null = null;
            try {
                this.submitting = true;

                const resp = this.alv?.id
                    ? await alvApi.updateAlv(this.alv.id, body)
                    : await alvApi.createAlv(body);

                data = resp.data;

                notification.success({
                    message: this.t("Success") as string,
                    description: this.t(
                        "General assembly successfully saved."
                    ) as string,
                });
                // We do not change this component's this.alv, we leave that up
                // to the components that listen to 'alv-loaded'.
                this.$emit("alv-loaded", data);
            } finally {
                this.submitting = false;
            }
        },
    },
});
</script>

<i18n src="./alv.json"></i18n>
