<template lang="pug">
.document-entry
    h5(v-if="!document.id") {{ t('New document') }}
    a-form-model(
        :model="form",
        :rules="formRules",
        ref="formRef",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Dutch name')",
            name="nl_name"
        )
            a-input(v-model:value="form.nl_name")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('English name')",
            name="en_name"
        )
            a-input(v-model:value="form.en_name")

        a-form-model-item(
            v-if="document.id",
            v-bind="formItemLayout",
            :label="t('Versions') + ' (' + document.versions + ')'",
            name="versions"
        )
            a-button-group
                a-dropdown-button
                    a(:href="alvDocumentUrl(document.id)") {{ t('Latest') }}
                    template(v-slot:overlay="")
                        a-menu
                            a-menu-item(
                                v-for="n in rangeReverse(document.versions)",
                                :key="n + ''"
                            )
                                a(:href="alvDocumentUrl(document.id, n)")
                                    | {{ t('Version') + ' ' + n }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('New version')",
            name="file"
        )
            a-upload(
                :multiple="false",
                :fileList="file",
                :beforeUpload="beforeUpload",
                :onRemove="removeFile"
            )
                a-button
                    a-upload-icon
                    | {{ t('Click or drag to upload') }}
                span.button-hint(v-if="document.id")
                    | {{ t('Leave this empty to keep the current version.') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(
                    type="primary",
                    html-type="submit",
                    :loading="submitting",
                    @click="save"
                ) {{ t('Save') }}
                a-button(v-if="!document.id", @click="$emit('cancel-clicked')") {{ t('Cancel') }}
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { alvApi, AlvDocument } from "../../scripts/api/alv";
import {
    Button,
    Dropdown,
    Form,
    Input,
    Menu,
    notification,
    Upload,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import EditAlvEditMinutes from "./edit_alv_minutes.vue";
import { reactive, defineComponent, PropType } from "vue";
import { UploadOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-upload": Upload,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-menu": Menu,
        "a-menu-item": Menu.Item,
        "a-dropdown-button": Dropdown.Button,
        "a-upload-icon": UploadOutlined,
        "loading-container": LoadingContainer,
        "edit-alv-edit-minutes": EditAlvEditMinutes,
    },
    props: {
        document: {
            default: () => {
                return {
                    name: {
                        nl: "",
                        en: "",
                    },
                    versions: 0,
                };
            },
            type: Object as PropType<AlvDocument>,
        },
        alvId: {
            type: Number,
        },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            submitting: false,
            form: reactive({
                nl_name: "",
                en_name: "",
                file: null as File | null,
            }),
            formRules: {
                nl_name: [
                    {
                        required: true,
                        message: this.t("Please enter a Dutch name"),
                    },
                ],
                en_name: [
                    {
                        required: true,
                        message: this.t("Please enter an English name"),
                    },
                ],
                file: [
                    {
                        required: false,
                        message: this.t("Please upload a file"),
                    },
                ],
            },
        };
    },
    computed: {
        file(): any[] {
            return this.form.file ? [this.form.file] : [];
        },
    },
    created() {
        if (!this.document && !this.alvId) {
            throw Error("Need either 'document' or 'alvId' prop.");
        }
        this.form.nl_name = this.document.name.nl;
        this.form.en_name = this.document.name.en;
        this.formRules.file[0].required = !this.document.id;
    },
    methods: {
        async updateDocument(values, docId: number) {
            try {
                await alvApi.setAlvDocumentMetaData(
                    docId,
                    values.nl_name,
                    values.en_name
                );

                if (values.file) {
                    const formData = new FormData();
                    formData.append("file", values.file);

                    await alvApi.uploadAlvDocument(docId, formData);
                    this.document!.versions += 1;
                }

                notification.success({
                    message: "Success",
                    description: this.t(
                        "Successfully saved document."
                    ) as string,
                });
            } finally {
                this.submitting = false;
            }
        },
        async createDocument(values) {
            let document: AlvDocument | null = null;
            try {
                const resp = await alvApi.createAlvDocument(
                    this.alvId!,
                    values.file,
                    values.nl_name,
                    values.en_name
                );
                document = resp.data;

                this.document.id = document.id;
                this.document.versions = document.versions;
                this.form.file = null;
                this.formRules.file[0].required = false;

                notification.success({
                    message: "Success",
                    description: this.t(
                        "Successfully created document."
                    ) as string,
                });
                return document;
            } finally {
                this.submitting = false;
            }
        },
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            this.submitting = true;

            if (this.document?.id) {
                await this.updateDocument(values, this.document!.id!);
            } else {
                await this.createDocument(values);
            }
        },
        beforeUpload(file: File) {
            this.form.file = file;
            return false;
        },
        removeFile() {
            this.form.file = null;
        },
        alvDocumentUrl(docId: number, version?: number) {
            if (!version) {
                return this.alvDocumentUrlLatest(docId);
            }

            return Flask.url_for("alv.view_document_version", {
                alv_document_id: docId,
                version: version,
            });
        },
        alvDocumentUrlLatest(docId: number) {
            return Flask.url_for("alv.view_document_version_latest", {
                alv_document_id: docId,
            });
        },
        rangeReverse(n: number) {
            const arr: number[] = [];
            for (let i = n; i > 0; i--) {
                arr.push(i);
            }

            return arr;
        },
    },
});
</script>

<style lang="sass" scoped>
.document-entry
    border: 1px solid #e8e8e8
    margin: 1em 0
    padding: 1em 1em 0 1em

.document-empty
    border: 1px dashed #e8e8e8
    padding: 1em

.button-hint
    margin-left: 1em
    color: gray
</style>

<i18n src="./alv.json"></i18n>
