<template lang="pug">
div
    h4 {{ t('Minutes for ') }} '{{ alv.name[locale] }}'
    edit-alv-minutes(:alv="alv")

    h4 {{ t('Documents') }}
    edit-alv-document(
        v-for="document in documentsAlphabetical",
        :document="document",
        :key="document.id"
    )

    edit-alv-document(
        v-for="key in newDocumentKeys",
        :alvId="alv.id",
        @document-created="() => (creatingNewDocument = false)",
        @cancel-clicked="onNewDocumentCancelClicked",
        :key="key"
    )

    .document-empty(v-if="!creatingNewDocument")
        a-empty(
            :description="(alv.documents?.length || 0) + newDocumentKeys.length ? '' : t('No documents')"
        )
            a-button(type="primary", @click="newDocumentPressed") {{ t('New document') }}
</template>

<script lang="ts">
import { AlvResponse } from "../../scripts/api/alv";
import { Button, Empty } from "ant-design-vue";
import EditAlvMinutes from "./edit_alv_minutes.vue";
import EditAlvDocument from "./edit_alv_document.vue";
import { inject, defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-empty": Empty,
        "a-button": Button,
        "edit-alv-minutes": EditAlvMinutes,
        "edit-alv-document": EditAlvDocument,
    },
    props: {
        alv: { required: true, type: Object as PropType<AlvResponse> },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const newDocumentKeys: number[] = [];

        return {
            locale: inject("locale") as string,
            creatingNewDocument: false,
            newDocumentKeys,
        };
    },
    computed: {
        documentsAlphabetical() {
            if (!this.alv.documents) {
                return [];
            }

            return this.alv.documents!.sort((d1, d2) => {
                return d1.name[this.locale].localeCompare(d2.name[this.locale]);
            });
        },
    },
    methods: {
        newDocumentPressed() {
            this.creatingNewDocument = true;
            this.newDocumentKeys.push(this.newDocumentKeys.length + 1);
        },
        async onNewDocumentCancelClicked() {
            this.newDocumentKeys.pop();
            this.creatingNewDocument = false;
        },
    },
});
</script>

<style lang="sass" scoped>
.document-empty
    border: 1px dashed #e8e8e8
    padding: 1em
</style>

<i18n src="./alv.json"></i18n>
