<template lang="pug">
loading-container(:active="loading")
    template(v-if="alv")
        a-breadcrumb
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'alv-overview' }",
                    v-slot="{ href, navigate }"
                )
                    a(:href="href", @click="navigate") {{ t('Assemblies') }}
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'alv-details', params: { alvId: alv.id } }",
                    v-slot="{ href, navigate}"
                )
                    a(:href="href", @click="navigate") {{ alvTitle }}
            a-breadcrumb-item {{ t('Edit') }}

        h1 {{ t('Edit general assembly') }}

        a-tabs(
            :activeKey="currentTab",
            default-active-key="details",
            @tabClick="onTabClick"
        )
            a-tab-pane(key="details", :tab="t('Details')")
                edit-alv-details(:alv="alv", @alv-loaded="onAlvLoaded")
            a-tab-pane(key="documents", :disabled="!alv")
                template(v-slot:tab="")
                    a-badge(v-if="needsMinutes", dot)
                        | {{ t('Documents') }}
                    span(v-else) {{ t('Documents') }}

                edit-alv-documents(:alv="alv")
            a-tab-pane(key="parser", :disabled="!alv")
                template(v-slot:tab="")
                    a-badge(v-if="needsParsedMinutes", dot)
                        | {{ t('Overleaf Parser') }}
                    span(v-else) {{ t('Overleaf Parser') }}
                edit-alv-parse-minutes(:alv="alv")

    template(v-else)
        a-breadcrumb
            a-breadcrumb-item
                a(:href="alvRootUrl") {{ t('Assemblies') }}
            a-breadcrumb-item {{ t('Create') }}

        h1 {{ t('Create general assembly') }}
        edit-alv-details(@alv-loaded="onAlvLoaded")
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { alvApi, AlvResponse } from "../../scripts/api/alv";
import { Badge, Breadcrumb, Button, Tabs } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import EditALVParseMinutes from "./edit_alv_parse_minutes.vue";
import EditALVDetails from "./edit_alv_details.vue";
import EditALVDocuments from "./edit_alv_documents.vue";
import { inject, defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-tabs": Tabs,
        "a-tab-pane": Tabs.TabPane,
        "a-badge": Badge,

        "loading-container": LoadingContainer,
        "edit-alv-parse-minutes": EditALVParseMinutes,
        "edit-alv-details": EditALVDetails,
        "edit-alv-documents": EditALVDocuments,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            loading: true,
            alv: null as AlvResponse | null,
            alvTitle: this.t("Assembly") as string,
            currentTab: "details",
            locale: inject("locale") as string,
        };
    },
    computed: {
        alvId() {
            return parseInt(this.$route?.params["alvId"]);
        },
        alvViewUrl() {
            return Flask.url_for("alv.view", { alv: this.alvId });
        },
        alvRootUrl() {
            return Flask.url_for("alv.root");
        },
        needsMinutes() {
            return (
                this.alv &&
                new Date() > new Date(this.alv.date) &&
                !this.alv["minutes_file_id"]
            );
        },
        needsParsedMinutes() {
            return (
                this.alv &&
                new Date() > new Date(this.alv.date) &&
                !this.alv["meta"]
            );
        },
    },
    async mounted() {
        if (this.alvId) {
            await this.loadAlv(this.alvId);
        }

        this.loading = false;

        this.loadTabFromParams();
    },
    methods: {
        loadTabFromParams() {
            if (!this.alvId) {
                // No tabs in alv creation
                return;
            }

            const tab = this.$route?.params["tab"];

            if (tab && ["details", "documents", "parser"].indexOf(tab) !== -1) {
                this.currentTab = tab;
            } else {
                this.$router.replace({
                    params: {
                        tab: "details",
                    },
                });
            }
        },
        async onTabClick(tab) {
            if (tab !== this.currentTab) {
                this.$router.replace({
                    params: {
                        tab: tab,
                    },
                });
                this.currentTab = tab;
            }
        },
        async loadAlv(id: number) {
            this.loading = true;

            try {
                const resp = (await alvApi.getAlv(id)).data;

                this.onAlvLoaded(resp);
            } finally {
                this.loading = false;
            }
        },
        async onAlvLoaded(alv: AlvResponse) {
            if (!alv) {
                return;
            }

            if (this.alvId !== alv.id) {
                await this.$router.push({
                    name: "alv-details",
                    params: {
                        alvId: alv.id + "",
                    },
                });
                return;
            }

            this.alv = alv;
            this.alvTitle = this.alv.name[this.locale];
        },
    },
});
</script>

<i18n src="./alv.json"></i18n>
