<template lang="pug">
.document-entry
    a-form(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="saveMinutes"
    )
        a-form-model-item(v-bind="formItemLayout", :label="t('Current')")
            a-button-group(v-if="alv.minutes_file_id")
                a-button(type="link")
                    a(:href="alvMinutesUrl") {{ t('Minutes') }}
            span(v-else) {{ t('There are no minutes currently uploaded.') }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Minutes status')",
            name="minutesStatus"
        )
            a-radio-group(
                :disabled="!alv.minutes_file_id && !form.file",
                v-model:value="form.minutesStatus"
            )
                a-radio-button(value="accepted") {{ t('Accepted') }}
                a-radio-button(value="not_accepted") {{ t('Not accepted') }}
                a-radio-button(value="unknown") {{ t('Unknown') }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Upload')",
            name="file"
        )
            a-upload(
                :multiple="false",
                :fileList="file",
                :remove="removeFile",
                :beforeUpload="beforeUpload"
            )
                a-button
                    a-upload-icon
                    | {{ t('Click or drag to upload') }}

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(
                    type="primary",
                    html-type="submit",
                    :loading="submittingMinutes",
                    :disabled="!alv.minutes_file_id && !form.file",
                    @click="saveMinutes"
                ) {{ t('Save') }}
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { alvApi, AlvResponse } from "../../scripts/api/alv";
import {
    Button,
    Form,
    Menu,
    notification,
    Radio,
    Upload,
} from "ant-design-vue";
import { MinutesAccepted } from "../../types/alv";
import { reactive, defineComponent, PropType } from "vue";
import { UploadOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-upload": Upload,
        "a-form": Form,
        "a-form-model-item": Form.Item,
        "a-menu": Menu,
        "a-menu-item": Menu.Item,
        "a-upload-icon": UploadOutlined,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
    },
    props: {
        alv: { required: true, type: Object as PropType<AlvResponse> },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const minutesStatus = () => {
            if (!this.alv) {
                return "unknown";
            }

            if (typeof this.alv["minutes_accepted"] === "boolean") {
                return this.alv["minutes_accepted"]
                    ? "accepted"
                    : "not_accepted";
            } else {
                return "unknown";
            }
        };

        return {
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
            submittingMinutes: false,
            form: reactive({
                minutesStatus: minutesStatus(),
                file: null as File | null,
            }),
            formRules: {
                minutesStatus: [
                    { required: true, message: "Please select a status." },
                ],
            },
        };
    },
    computed: {
        file(): any[] {
            return this.form.file ? [this.form.file] : [];
        },

        alvMinutesUrl() {
            return Flask.url_for("alv.view_minutes", { alv: this.alv.id });
        },
    },
    methods: {
        removeFile() {
            this.form.file = null;
            return true;
        },
        beforeUpload(file) {
            this.form.file = file;
            return false;
        },
        minutesStatusToBool(status: MinutesAccepted): boolean | null {
            if (status === "accepted") {
                return true;
            } else if (status === "not_accepted") {
                return false;
            } else {
                return null;
            }
        },
        async saveMinutes() {
            if (!this.alv?.id) {
                return;
            }

            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            this.submittingMinutes = true;

            try {
                if (values.file) {
                    const formData = new FormData();
                    formData.append("file", values.file);
                    await alvApi.uploadAlvMinutes(this.alv.id, formData);
                }

                const resp = await alvApi.updateAlv(this.alv.id, {
                    name: this.alv.name,
                    date: this.alv.date,
                    minutes_accepted: this.minutesStatusToBool(
                        values.minutesStatus
                    ),
                });

                this.alv.minutes_file_id = resp.data["minutes_file_id"];

                notification.success({
                    message: "Success",
                    description: this.t(
                        "Successfully saved document."
                    ) as string,
                });
            } finally {
                this.submittingMinutes = false;
            }
        },
    },
});
</script>

<style lang="sass" scoped>
.document-entry
    border: 1px solid #e8e8e8
    margin: 1em 0
    padding: 1em 1em 0 1em
</style>

<i18n src="./alv.json"></i18n>
