<template lang="pug">
.album-list.list(v-infinite-scroll="loadMore", infinite-scroll-distance="200")
    album(
        v-for="album in albums",
        v-bind:key="album.date_created",
        v-bind:album="album"
    )

    .list-item(v-if="contenthint")
        loading(color="#fff")
</template>

<script lang="ts">
import { defineComponent } from "vue";
import Album from "./Album.vue";
import * as PhotoTypes from "../../types/photos";
import Loading from "../common/Loading.vue";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";

export default defineComponent({
    components: { Album, Loading },
    data() {
        const allalbums: PhotoTypes.Album[] = [];
        const albums: PhotoTypes.Album[] = [];

        return {
            albums,
            allalbums,
            endindex: 0,
            contenthint: true,
        };
    },
    created() {
        this.loadAlbums();
    },
    methods: {
        async loadAlbums() {
            const response = await instance.get(
                Flask.url_for("api.albums", {})
            );
            this.allalbums = response.data;
            this.endindex = Math.min(15, response.data.length);
            this.albums = this.allalbums.slice(0, this.endindex);
        },
        loadMore() {
            if (this.allalbums.length == 0) {
                return;
            }
            this.endindex = Math.min(this.endindex + 5, this.allalbums.length);
            this.albums = this.allalbums.slice(0, this.endindex);
            if (this.endindex === this.allalbums.length) {
                this.contenthint = false;
            }
        },
    },
});
</script>
