<template lang="pug">
.photo-list.list(v-infinite-scroll="loadMore", infinite-scroll-distance="350")
    .list-item.titlecard(
        v-if="loaded",
        :style="'background-image: url(' + album?.primary_photo + ')'"
    )
        h1 {{ album?.title }}
        |
        | {{ album?.description }}

        router-link.back.router-link(:to="{ name: 'Albums' }")
            i.fas.fa-chevron-left(aria-hidden="true")

        .image-count {{ album?.photo_count }} photos

    photo(
        v-for="photo in photos",
        :key="photo.id",
        :photo="photo",
        :data-photo-id="photo.id",
        @click.native="showFullscreen(photo)"
    )

    .list-item.photo(v-if="contenthint")
        loading(color="#fff")

    photo-viewer(
        v-if="fullscreen",
        :photoIndex="fullscreenPhoto",
        :photos="allphotos",
        @close="hideFullscreen"
    )
</template>

<script lang="ts">
import { defineComponent } from "vue";
import * as PhotoType from "../../types/photos";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import Loading from "../common/Loading.vue";
import Photo from "./Photo.vue";
import PhotoViewer from "./PhotoViewer.vue";

export default defineComponent({
    components: { Photo, Loading, PhotoViewer },
    data() {
        const endindex: number | undefined = undefined;
        const allphotos: PhotoType.Photo[] = [];
        const photos: PhotoType.Photo[] = [];

        return {
            photos,
            allphotos,
            endindex,
            contenthint: true,
            album: undefined as PhotoType.Album | undefined,
            loaded: false,
            fullscreenPhoto: 0,
            fullscreen: false,
        };
    },
    watch: {
        $route: [
            {
                handler: "onRouteChange",
            },
        ],
    },
    created() {
        const photos = this.loadPhotos();

        photos.then(() => {
            // Load the photoviewer with a photo
            if (this.$route.params.photoid) {
                this.fullscreenPhoto = parseInt(this.$route.params.photoid);
                this.fullscreen = true;
            }
        });
    },
    methods: {
        async loadPhotos() {
            return instance
                .get(
                    Flask.url_for("api.album", {
                        album_id: this.$route.params.id,
                    })
                )
                .then((response) => {
                    this.allphotos = response.data.photos;
                    this.endindex = Math.min(10, this.allphotos.length);
                    this.photos = this.allphotos.slice(0, this.endindex);
                    this.album = response.data;
                    this.loaded = true;
                })
                .catch((error) => {
                    console.error(error);
                });
        },
        showFullscreen(photo) {
            let id = "0";
            this.photos.forEach((e, i) => {
                if (e.id == photo.id) {
                    this.fullscreenPhoto = i;
                    id = i.toString();
                }
            });
            this.fullscreen = true;

            this.$router.push({
                path: `/photos/${this.$route.params.id}/${id}`,
            });
        },
        hideFullscreen() {
            this.fullscreen = false;
            if (window.history.length == 1) {
                this.$router.push({ path: `/photos/${this.$route.params.id}` });
            } else {
                this.$router.go(-1);
            }
        },
        loadMore() {
            if (this.loaded) {
                this.endindex = Math.min(
                    this.endindex + 5,
                    this.allphotos.length
                );
                this.photos = this.allphotos.slice(0, this.endindex);

                if (this.endindex === this.allphotos.length) {
                    this.contenthint = false;
                }
            }
        },
        onRouteChange(to, from) {
            if (from.params.photoid && !to.params.photoid) {
                this.fullscreenPhoto = 0;
                this.fullscreen = false;
            }
            if (!from.params.photoid && to.params.photoid) {
                this.fullscreenPhoto = parseInt(to.params.photoid);
                this.fullscreen = true;
            }
        },
    },
});
</script>

<style lang="scss" scoped>
.back {
    font-size: 18pt;
    color: white;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.back:hover {
    transform: scale(1.1);
    color: white;
}

.titlecard {
    position: relative;
    height: 350px !important;
    transition: none;
    grid-area: Top;
}

.titlecard:hover {
    transform: none !important;
    box-shadow: 0 0 25px -3px rgba(0, 0, 0, 0.5) !important;
}
</style>
