<template lang="pug">
.photo-viewer(ref="content")
    .overlay.content.pointer-on-children(:class="{ fullsize: isFullscreen }")
        // The helper element will align the image vertically
        span.helper
        img(
            :src="photos[index].highres_url",
            ref="image",
            :class="{ loading: isLoading }",
            :alt="photos[index].title",
            v-touch:swipe.right="prev",
            v-touch:swipe.left="next"
        )

    .overlay.interface.pointer-on-children(:class="{ fullsize: isFullscreen }")
        loading.background-loading.delay(color="#fff9", v-if="isLoading")

        .icon.close-viewer(
            :class="{ hide: !mouseActive || isLoading }",
            @click="close"
        ) ✕
        .icon.expand(
            :class="{ hide: !mouseActive || isLoading }",
            @click="fullscreen"
        ) ⬚
        .icon.next(:class="{ hide: !mouseActive || isLoading }", @click="next")
            i.fas.fa-chevron-right(aria-hidden="true")

        .icon.prev(:class="{ hide: !mouseActive || isLoading }", @click="prev")
            i.fas.fa-chevron-left(aria-hidden="true")

        .icon.download(:class="{ hide: !mouseActive || isLoading }")
            a(:href="photos[index].origin_url", target="_blank", download)
                i.fas.fa-download(aria-hidden="true")

    .overlay.black(@click="close")
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import * as PhotoTypes from "../../types/photos";
import Loading from "../common/Loading.vue";

export default defineComponent({
    components: { Loading },
    props: {
        photoIndex: {
            type: Number,
            required: true,
        },
        photos: {
            type: Array as PropType<PhotoTypes.Photo[]>,
            required: true,
        },
    },
    data() {
        const boundMouseHandler: any = null;
        const boundKeyHandler: any = null;
        const mouseTimer: number | undefined = undefined;

        return {
            preloadImages: 3,
            isFullscreen: false,
            index: 0,
            isLoading: true,
            mouseActive: true,
            mouseTimer,
            boundKeyHandler,
            boundMouseHandler,
        };
    },
    watch: {
        $route: [
            {
                handler: "onRouteChange",
            },
        ],
    },
    created() {
        document.addEventListener("fullscreenchange", () => {
            this.isFullscreen = !!document.fullscreenElement;
        });

        this.boundKeyHandler = this.keyHandler.bind(this);
        this.boundMouseHandler = this.mouseHandler.bind(this);

        document.addEventListener("keyup", this.boundKeyHandler);
        document.addEventListener("mousemove", this.boundMouseHandler);
        document.addEventListener("click", this.boundMouseHandler);
        this.index = this.photoIndex;
        this.preload();
    },
    mounted() {
        this.$refs.image.addEventListener(
            "load",
            () => (this.isLoading = false)
        );

        // Disable scroll
        document.body.style.overflow = "hidden";
        document.body.style.height = "100%";
    },
    unmounted() {
        document.removeEventListener("keyup", this.boundKeyHandler);
        document.removeEventListener("mousemove", this.boundMouseHandler);
        document.removeEventListener("click", this.boundMouseHandler);

        // Enable scroll
        document.body.style.overflow = "";
        document.body.style.height = "";
    },
    methods: {
        keyHandler(event) {
            switch (event.code) {
                case "ArrowRight":
                    this.next();
                    break;
                case "ArrowLeft":
                    this.prev();
                    break;
                case "Escape":
                    this.close();
                    break;
            }
        },
        preload() {
            for (let i = -this.preloadImages; i < this.preloadImages; i++) {
                const img = new Image();
                let index = (this.index + i) % this.photos.length;
                if (index < 0) {
                    index = this.photos.length + index;
                }
                img.src = this.photos[index].highres_url;
            }
        },
        mouseHandler() {
            this.mouseActive = true;
            if (this.mouseTimer != null) {
                clearTimeout(this.mouseTimer);
            }
            this.mouseTimer = window.setTimeout(() => {
                this.mouseActive = false;
            }, 2000);
        },
        fullscreen() {
            if (!document.fullscreenElement) {
                this.$refs.content.requestFullscreen();
            } else {
                document.exitFullscreen();
            }
        },
        next() {
            this.index++;
            this.isLoading = true;
            if (this.index == this.photos.length) {
                this.index = 0;
            }
            this.$router.replace({
                path: `/photos/${this.$route.params.id}/${this.index}`,
            });
            this.preload();
        },
        prev() {
            this.index--;
            this.isLoading = true;
            if (this.index == -1) {
                this.index = this.photos.length - 1;
            }
            this.$router.replace({
                path: `/photos/${this.$route.params.id}/${this.index}`,
            });
            this.preload();
        },
        close() {
            this.$emit("close");
        },
        onRouteChange(to) {
            if (
                to.params.photoid &&
                to.params.photoid >= 0 &&
                to.params.photoid < this.photos.length
            ) {
                this.index = parseInt(to.params.photoid);
            }
        },
    },
});
</script>

<style lang="scss" scoped>
$offset: 20px;

.delay {
    animation: popin 0.2s ease 1;
}

.background-loading {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

.loading {
    filter: blur(4px);
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pointer-on-children {
    pointer-events: none;

    > * {
        pointer-events: auto;
    }
}

.interface {
    margin: auto;
    top: 0;
    left: 0;
    z-index: 100;
}

.content {
    overflow: auto;
    text-align: center;
    z-index: 99;

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        max-height: 95%;
        padding: 2%;
        vertical-align: middle;
    }

    .fullsize {
        background: black;
    }
}

.black {
    background-color: black;
    opacity: 0.7;
    z-index: 98;
}

.icon {
    color: white;
    opacity: 0.5;
    text-shadow: 0 3px 1px #000;
    font-size: 25pt;
    position: absolute;
    z-index: 101;
    cursor: pointer;
    transition: opacity 0.5s;

    a {
        color: white;
    }
}

.icon:hover {
    transform: scale(1.1);
}

.next {
    top: 50%;
    right: $offset;
}

.prev {
    top: 50%;
    left: $offset;
}

.close-viewer {
    top: $offset;
    right: $offset;
}

.download {
    left: $offset;
    bottom: $offset;
}

.expand {
    bottom: 10px;
    right: $offset;
    transition: tranform 0.1s;
}

.hide {
    opacity: 0;
}

.photo-viewer {
    user-select: none;
}

.fullsize {
    img {
        padding: 0;
        max-height: 100%;
    }

    .icon {
        transform: scale(1.1);
    }

    .icon:hover {
        transform: scale(1);
    }
}
</style>
