<template lang="pug">
#vue-photos
    router-view
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({});
</script>

<style lang="scss">
#vue-photos {
    @keyframes popin {
        0% {
            opacity: 0;
            transform: scale(0.9);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .router-link,
    .router-link:hover {
        text-decoration: none;
    }

    .list {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "Top Top Top" ". . .";
    }

    @media (max-width: 992px) {
        .list {
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "Top Top" ". .";
        }
    }

    @media (max-width: 576px) {
        .list {
            grid-template-columns: 1fr;
            grid-template-areas: "Top" ".";
        }
    }

    .list-item {
        height: 17em;
        background-size: cover;
        background-position: center;

        color: white;
        text-shadow: 0 1px 1px #000;
        padding: 10px;

        box-shadow: 0 0 25px -3px rgba(0, 0, 0, 0.5);
        border-radius: 2px;
        transform: scale(1);
        transition: box-shadow 0.2s, transform 0.1s;

        background-color: #999;
        animation: popin 0.2s ease 1;
    }

    .list-item:hover {
        box-shadow: 0 0 25px 1px rgba(0, 0, 0, 0.5);
        transform: scale(1.01);
    }

    .image-count {
        font-size: 12pt;
        position: absolute;
        right: 10px;
        bottom: 10px;
    }
}
</style>
