<template lang="pug">
.photo.list-item(:style="'background-image: url(' + photo.url + ')'")
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import * as PhotoTypes from "../../types/photos";
export default defineComponent({
    props: {
        photo: {
            type: Object as PropType<PhotoTypes.Photo>,
            required: true,
        },
    },
});
</script>

<style lang="scss" scoped>
.photo {
    cursor: pointer;
    height: 280px;
}
</style>
