<template lang="pug">
div
    legend {{ t('User administrator properties') }}
    a-form-model(ref="formRef", :model="form", :rules="formRules")
        a-form-model-item
            a-checkbox(
                v-model:checked="form.member",
                :disabled="form.favourer"
            ) {{ t('Member') }}
        a-form-model-item
            a-checkbox(
                v-model:checked="form.favourer",
                :disabled="form.member"
            ) {{ t('Favourer') }}
        a-form-model-item
            a-checkbox(v-model:checked="member_of_merit") {{ t('Member of merit') }}
            a-date-picker(
                v-if="member_of_merit",
                v-model:value="form.member_of_merit_date",
                :placeholder="t('member_of_merit_date.placeholder')"
            )
        a-form-model-item(v-if="!!userId")
            a-checkbox(v-model:checked="form.disabled") {{ t('Disabled') }}
        a-form-model-item
            a-button(type="primary", html-type="submit", @click="save") {{ t('Save') }}

        a-form-model-item(v-if="!!userId")
            a-button(:href="anonymizeRoute", danger) {{ t('Anonymize user') }}
</template>

<script lang="ts">
import {
    Button,
    Checkbox,
    DatePicker,
    Form,
    notification,
} from "ant-design-vue";
import moment from "moment";
import { defineComponent, reactive } from "vue";
import { userApi } from "../../scripts/api/user";
import Flask from "../../utils/flask";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-date-picker": DatePicker,
    },
    setup() {
        return { t: useI18n().t };
    },

    data() {
        return {
            form: reactive({
                favourer: false,
                member: false,
                member_of_merit_date: "" as string | moment.Moment,
                disabled: false,
            }),
            member_of_merit: false,
            formRules: reactive({
                member_of_merit_date: [
                    {
                        required: !!this.member_of_merit,
                        message: this.t("member_of_merit_date.error"),
                    },
                ],
            }),
        };
    },
    computed: {
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
        anonymizeRoute() {
            return Flask.url_for("user.anonymize", { user: this.userId });
        },
    },
    async mounted() {
        const resp = await userApi.getUserData(this.userId);
        this.member_of_merit = !!resp.data.member_of_merit_date;

        this.form.member = resp.data.member;
        this.form.favourer = resp.data.favourer;
        this.form.member_of_merit_date = resp.data.member_of_merit_date
            ? moment(resp.data.member_of_merit_date)
            : "";

        if (this.userId) {
            this.form.disabled = resp.data.disabled;
        }
    },
    methods: {
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                if (this.member_of_merit) {
                    if (typeof values["member_of_merit_date"] === "object") {
                        values["member_of_merit_date"] =
                            values["member_of_merit_date"].format("YYYY-MM-DD");
                    }
                } else {
                    values["member_of_merit_date"] = null;
                }
            } catch (e) {
                console.error(e);
                return false; // Form didn't validate
            }
            await userApi.setUserData(this.userId, values);

            // Remove previous messages
            notification.destroy();
            await notification.success({
                message: "Success",
                description: this.t("Settings successfully saved.") as string,
            });
        },
    },
});
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./edit_admin_data.json"></i18n>
