<template lang="pug">
div
    render-page(pageUrl="ereleden")
    hr

    a-row(:gutter="[16, 16]")
        a-col(:sm="24", :md="12", v-for="user in data", :key="user.id")
            member-card(:member="user")
                template(v-slot:body)
                    i18n-t(tag="h6", keypath="awarded")
                        template(v-slot:date="") {{ meritDate(user) }}
                    .float-right(v-if="user.path")
                        i18n-t(
                            tag="a",
                            keypath="readmore",
                            :href="`/${user.path}`"
                        )
                            template(v-slot:name="") {{ user.first_name }}
</template>

<script lang="ts">
import { MemberOfMerit, userApi } from "../../scripts/api/user";
import RenderPage from "../page/render_page.vue";
import MemberCard from "../user/member_card.vue";
import { Col, Row } from "ant-design-vue";
import { defineComponent } from "vue";
import { date } from "../../scripts/formatters";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "UserOverview",
    components: {
        "render-page": RenderPage,
        "member-card": MemberCard,
        "a-row": Row,
        "a-col": Col,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const data: MemberOfMerit[] = [];

        return {
            data,
            loading: true,
        };
    },
    async created() {
        await this.refreshListView();
    },
    methods: {
        meritDate(user: MemberOfMerit) {
            return date(user.member_of_merit_date as string);
        },
        async refreshListView() {
            this.loading = true;
            try {
                this.data = (await userApi.getMembersofMerit()).data;
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./MemberOfMerit.json"></i18n>
