<template lang="pug">
a-row.item(type="flex", justify="space-between")
    a-col.avatar(:lg="8", :xs="24")
        a-avatar(:size="120", :src="avatarLink")
    a-col(:lg="16", :xs="24")
        h2 {{ member.name }}
        .member-body(v-if="hasBodySlot")
            slot(name="body")
</template>

<script lang="ts">
import { MemberOfMerit } from "../../scripts/api/user";
import { Avatar, Col, Row } from "ant-design-vue";
import Flask from "../../utils/flask";
import { date } from "../../scripts/formatters";
import { defineComponent, PropType } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: { "a-avatar": Avatar, "a-row": Row, "a-col": Col },
    props: {
        member: { required: true, type: Object as PropType<MemberOfMerit> },
    },
    setup() {
        return { t: useI18n().t };
    },
    computed: {
        avatarLink(): string {
            return Flask.url_for("user.view_avatar", { user: this.member.id });
        },
        hasBodySlot(): boolean {
            return !!this.$slots.body;
        },
    },
    methods: { date: date },
});
</script>

<style lang="sass" scoped>
@import '../../assets/scss/variables/_app.scss'

.item
    min-height: 170px
    padding: 1em
    border: 1px solid #e8e8e8
    border-left: 1em solid $via-blue
    border-radius: $border-radius

.avatar
    display: flex
    align-items: center
    justify-content: center
    margin-left: -0.5em
</style>
