<template lang="pug">
div
    legend {{ t('Connected applications') }}
    loading-container(:active="loading")
        a-list(item-layout="horizontal", :data-source="clients")
            template(v-slot:renderItem="{ item }")
                a-list-item
                    a-list-item-meta
                        template(v-slot:title="") {{ item.client_name }}
                        template(v-slot:avatar="")
                            a-avatar(
                                :src="avatarLink(item.user.id)",
                                v-if="item.user"
                            )
                            a-avatar(
                                src="/static/img/favicon-192x192.png",
                                v-else
                            )
                        template(v-slot:description="")
                            | {{ t('Owner') }}:&nbsp;
                            b(v-if="!item.user") via
                            span(v-else) {{ item.user.first_name }} {{ item.user.last_name }}
                    template(v-slot:actions="")
                        a-popconfirm(
                            :title="t('confirmation_message')",
                            @confirm="() => revoke(item.client_id)"
                        )
                            a-button(danger) {{ t('Revoke') }}
</template>

<script lang="ts">
import { Avatar, Button, List, Popconfirm } from "ant-design-vue";
import { defineComponent } from "vue";
import { oAuthApi, OAuthClient } from "../../scripts/api/oauth";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-popconfirm": Popconfirm,
        "a-avatar": Avatar,
        "a-button": Button,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const clients: OAuthClient[] = [];

        return {
            loading: true,
            clients,
        };
    },
    computed: {
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
    },
    async mounted() {
        await this.reload();
    },

    methods: {
        async reload() {
            try {
                this.loading = true;
                if (this.userId) {
                    const resp = await oAuthApi.getUserApplications(
                        this.userId
                    );
                    this.clients = resp.data;
                } else {
                    const resp = await oAuthApi.getUserSelfApplications();
                    this.clients = resp.data;
                }
            } finally {
                this.loading = false;
            }
        },
        avatarLink(userId) {
            return Flask.url_for("user.view_avatar", { user: userId });
        },
        async revoke(clientId) {
            if (this.userId) {
                await oAuthApi.revokeUserApplication(this.userId, clientId);
            } else {
                await oAuthApi.revokeUserSelfApplication(clientId);
            }
            await this.reload();
        },
    },
});
</script>

<style lang="sass"></style>

<i18n src="./oauth_applications.json"></i18n>
