<template lang="pug">
div
    hr
    h1 {{ t('Join our association!') }}
    div
        p.text-justify {{ t('welcome') }}
    hr
    user-generic-update-form(v-model="form", :type="type", @save="save")
</template>
<script lang="ts" setup>
import UserGenericUpdateForm from "./UserGenericUpdateForm.vue";
import { reactive } from "vue";
import moment from "moment/moment";
import type { SignupFormValues } from "./UserFormTypes";
import { convertToFormData } from "./UserFormTypes";
import { notification } from "ant-design-vue";
import { useI18n } from "vue-i18n";
import { userApi } from "../../scripts/api/user";

const { t } = useI18n();

const signupInfo =
    (
        window as {
            signupInfo: {
                studentId: string;
                educations: number[];
                email: string;
                first_name: string;
                last_name: string;
            };
        } & typeof window
    ).signupInfo || {};

const form = reactive<SignupFormValues>({
    email: signupInfo.email || "",
    first_name: signupInfo.first_name || "",
    last_name: signupInfo.last_name || "",
    birth_date: moment().subtract(16, "years"),
    address: "",
    zip: "",
    city: "",
    country: "Nederland",
    student_id: signupInfo.studentId || "",
    educations: signupInfo.educations || [],
    recaptcha: "",
    agree_with_privacy_policy: false,
});
const type = {
    allowStudentIdEdit: false,
    showRecaptcha: true,
    showPrivacyPolicy: true,
    showPassword: false,
    showAlumnus: false,
};

async function save(values: SignupFormValues) {
    const formData = convertToFormData(values);
    try {
        const result = await userApi.post(window.location.pathname, formData);

        if (result.status === 200) {
            window.location.href = result.request.responseURL;
        } else {
            notification.error({
                message: "Error",
                description: "Something went wrong",
            });
        }
    } catch (e) {
        notification.error({
            message: "Error",
            description: "Something went wrong",
        });
    }
}
</script>
<i18n>
{
    "en": {
        "Join our association!": "Join our association!",
        "welcome": "Welcome to our study association! In order to participate in our activities and stay informed about relevant events, we need some information from you, such as your address and study details. This information allows us to, for example, send magazines and maintain other forms of communication with you."
    },
    "nl": {
      "Join our association!": "Word lid!",
      "welcome": "Welkom bij onze studievereniging! Om deel te kunnen nemen aan onze activiteiten en op de hoogte te blijven van relevante evenementen, hebben we enkele gegevens van je nodig, zoals je adresgegevens en studiegegevens. Deze gegevens stellen ons in staat om bijvoorbeeld tijdschriften te sturen en andere communicatie met je te onderhouden."
    }
}
</i18n>
