<template lang="pug">
div
    render-page(pageUrl="sign-up/manual")
    user-generic-update-form(v-model="form", :type="type", @save="save")
</template>

<script setup lang="ts">
import { ref, onBeforeMount, reactive } from "vue";
import moment from "moment";
import { userApi } from "../../scripts/api/user";
import {
    Alert as AAlert,
    Button as AButton,
    Checkbox as ACheckbox,
    DatePicker as ADatePicker,
    Form as AForm,
    Input as AInput,
    Select as ASelect,
    notification,
} from "ant-design-vue";
import EducationField from "../form/EducationField.vue";
import Flask from "../../utils/flask";
import RenderPage from "../page/render_page.vue";
import Recaptcha from "../form/Recaptcha.vue";
import { useI18n } from "vue-i18n";
import { convertToFormData } from "./UserFormTypes";
import type { SignupFormValues, SignupManualFormValues } from "./UserFormTypes";
import UserGenericUpdateForm from "./UserGenericUpdateForm.vue";
// Workaround for components that are variables.
const ASelectOption = ASelect.Option;
const AFormItem = AForm.Item;
const AButtonGroup = AButton.Group;
const AInputPassword = AInput.Password;

const { t } = useI18n();
const privacyUrl = Flask.url_for("home.privacy_policy", {
    lang: window.viaduct?.locale,
});
const formItemLayout = {
    labelCol: {
        xs: { span: 24 },
        sm: { span: 5 },
    },
    wrapperCol: {
        xs: { span: 24 },
        sm: { span: 19 },
    },
};

const form = reactive<SignupManualFormValues>({
    email: "",
    password: "",
    first_name: "",
    last_name: "",
    birth_date: moment().subtract(16, "years"),
    address: "",
    zip: "",
    city: "",
    country: "Nederland",
    student_id: "",
    educations: [],
    recaptcha: "",
    agree_with_privacy_policy: false,
});
const type = {
    allowStudentIdEdit: true,
    showRecaptcha: true,
    showPrivacyPolicy: true,
    showPassword: true,
    showAlumnus: false,
};

async function save(values: SignupFormValues) {
    const formData = convertToFormData(values);
    try {
        const result = await userApi.post(window.location.pathname, formData);

        if (result.status === 204) {
            notification.success({
                message: t("save.success.title") as string,
                description: t("save.success.description") as string,
            });
            window.location.href = Flask.url_for("home.home");
        } else {
            notification.error({
                message: "Error",
                description: "Something went wrong",
            });
        }
    } catch (e) {
        if (e?.response?.status === 409) {
            notification.error({
                message: "Error",
                description:
                    "An account with this email address already exists",
            });
            return;
        }

        notification.error({
            message: "Error",
            description: "Something went wrong",
        });
    }
}
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./UserProfileEdit.json"></i18n>
