<template lang="pug">
a-form(
    ref="formRef",
    :model="model",
    :rules="formRules",
    :label-col="formItemLayout.labelCol",
    :wrapper-col="formItemLayout.wrapperCol"
)
    legend {{ t('Account credentials') }}
    a-form-item(name="email", :label="t('E-mail address')")
        a-input(v-model:value="model.email", autocomplete="email")
    a-form-item(
        name="password",
        :label="t('Password')",
        v-if="props.type.showPassword"
    )
        <!-- @vue-ignore password only exists on certain types of model. -->
        a-input-password(
            v-model:value="model.password",
            autocomplete="new-password"
        )

    legend {{ t('Personal details') }}
    a-form-item(name="first_name", :label="t('First name')")
        a-input(v-model:value="model.first_name", autocomplete="given-name")
    a-form-item(name="last_name", :label="t('Last name')")
        a-input(v-model:value="model.last_name", autocomplete="family-name")
    a-form-item(name="birth_date", :label="t('Birth date')")
        a-date-picker(
            v-model:value="model.birth_date",
            type="date",
            autocomplete="bday"
        )

    legend {{ t('Address') }}
    a-form-item(name="address", :label="t('Address')")
        a-input(v-model:value="model.address", autocomplete="street-address")
    a-form-item(name="zip", :label="t('Zip code')")
        a-input(v-model:value="model.zip", autocomplete="postal-code")
    a-form-item(name="city", :label="t('City')")
        a-input(v-model:value="model.city", autocomplete="address-level2")
    a-form-item(name="country", :label="t('Country')")
        a-select(v-model:value="model.country")
            a-select-option(value="Nederland") {{ t('Netherlands') }}
            a-select-option(value="No dutch address")
                | {{ t('I dont have a Dutch address') }}

    legend {{ t('UvA student information') }}
    a-alert.mb-3(
        v-if="!props.type.allowStudentIdEdit",
        :message="t('student_id_confirmed_banner_text')",
        type="info"
    )
    a-form-item(name="student_id", :label="t('Student ID')")
        a-input(
            v-model:value="model.student_id",
            :disabled="!props.type.allowStudentIdEdit"
        )
    a-form-item(name="educations", :label="t('Study programmes')")
        EducationField(
            v-model="model.educations",
            :disabled="!props.type.allowStudentIdEdit"
        )

    a-form-item.mb-2(
        v-if="props.type.showRecaptcha",
        name="recaptcha",
        :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
    )
        <!-- @vue-ignore recaptcha only exists on certain types of model. -->
        Recaptcha(v-model="model.recaptcha")

    a-form-item.mb-2(
        :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }",
        name="agree_with_privacy_policy",
        v-if="props.type.showPrivacyPolicy"
    )
        a-alert(type="warning")
            template(v-slot:message="")
                <!-- @vue-ignore agree_with_privacy_policy only exists on certain types of model. -->
                a-checkbox(v-model:checked="model.agree_with_privacy_policy")
                |
                |
                i18n-t(keypath="agree_to_link")
                    template(v-slot:link="")
                        a(:href="privacyUrl") {{ t('Privacy Policy') }}
                        | .

    legend(v-if="props.type.showAlumnus") {{ t('I have finished studying') }}
    a-form-item(
        v-bind="formItemLayout",
        label="Alumnus",
        name="alumnus",
        v-if="props.type.showAlumnus"
    )
        <!-- @vue-ignore alumnus only exists on certain types of model. -->
        a-checkbox(v-model:checked="model.alumnus")
    a-form-item(
        :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
    )
        button.btn.btn-primary(type="submit", @click="save") {{ t('Save') }}
</template>

<script setup lang="ts">
import { nextTick, ref } from "vue";
import moment from "moment";
import {
    Alert as AAlert,
    Button as AButton,
    Checkbox as ACheckbox,
    DatePicker as ADatePicker,
    Form as AForm,
    Input as AInput,
    notification,
    Select as ASelect,
} from "ant-design-vue";
import EducationField from "../form/EducationField.vue";
import Flask from "../../utils/flask";
import Recaptcha from "../form/Recaptcha.vue";
import { useI18n } from "vue-i18n";
import type { SignupFormValues, UserFormValues } from "./UserFormTypes";
// Workaround for components that are variables.
const ASelectOption = ASelect.Option;
const AFormItem = AForm.Item;
const AButtonGroup = AButton.Group;
const AInputPassword = AInput.Password;

const { t } = useI18n();

const emit = defineEmits<{
    (e: "save", model: UserFormValues): void;
}>();
const props = defineProps<{
    type: {
        allowStudentIdEdit: boolean;
        showRecaptcha: boolean;
        showPrivacyPolicy: boolean;
        showPassword: boolean;
        showAlumnus: boolean;
    };
}>();
const model = defineModel<UserFormValues>({
    required: true,
});

const privacyUrl = Flask.url_for("home.privacy_policy", {
    lang: window.viaduct?.locale,
});
const formItemLayout = {
    labelCol: {
        xs: { span: 24 },
        sm: { span: 5 },
    },
    wrapperCol: {
        xs: { span: 24 },
        sm: { span: 19 },
    },
};

const formRef = ref(null);

const formRules = {
    email: [
        { required: true, message: t("This field is required.") },
        {
            max: 200,
            message: t("Field cannot be longer than {len} characters.", {
                len: 200,
            }),
        },
        {
            type: "email",
            message: t("This field must be a valid email address."),
        },
    ],
    password: [
        { required: true, message: t("This field is required.") },
        {
            min: 7,
            message: t("Field must be longer than {len} characters.", {
                len: 7,
            }),
        },
    ],
    first_name: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    last_name: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    birth_date: [
        { required: true, message: t("This field is required.") },
        {
            validator: (rule, value, callback) => {
                if (moment().diff(value, "years") < 16) {
                    callback(new Error("You must be at least 16 years old."));
                }
                callback();
            },
        },
    ],
    address: [
        { required: true, message: t("This field is required.") },
        {
            max: 200,
            message: t("Field cannot be longer than {len} characters.", {
                len: 200,
            }),
        },
    ],
    zip: [
        { required: true, message: t("This field is required.") },
        {
            max: 8,
            message: t("Field cannot be longer than {len} characters.", {
                len: 8,
            }),
        },
    ],
    city: [
        { required: true, message: t("This field is required.") },
        {
            max: 256,
            message: t("Field cannot be longer than {len} characters.", {
                len: 256,
            }),
        },
    ],
    country: [{ required: true, message: t("This field is required.") }],
    student_id: [
        {
            required: props.type.allowStudentIdEdit,
            message: t("This field is required."),
        },
    ],
    educations: [
        {
            required: props.type.allowStudentIdEdit,
            message: t("This field is required."),
        },
    ],
    recaptcha: [
        {
            validator: (rule, value, callback) => {
                // Recaptcha is not always updated in time, so we need to wait a bit
                // This prevents users from seeing the error message when they have
                // already filled in the recaptcha.
                nextTick(() => {
                    if (!(model.value as SignupFormValues)?.recaptcha)
                        callback(new Error(t("This field is required.")));
                    callback();
                });
            },
        },
    ],
    agree_with_privacy_policy: [
        { required: true, message: t("This field is required.") },
        {
            validator: (rule, value, callback) => {
                if (!value) callback(new Error("This field is required."));
                callback();
            },
        },
    ],
};

const save = async () => {
    let values;
    try {
        await (formRef.value as any).validate();
        values = { ...model.value };
    } catch (e) {
        console.error("Form error:", e);
        notification.error({
            message: t("Please fill in all required fields."),
        });
        return;
    }
    emit("save", values);

    // Reset recaptcha, it is invalid after a submit
    if ((model.value as SignupFormValues).recaptcha) {
        (model.value as SignupFormValues).recaptcha = "";
        if (window["grecaptcha"]) {
            window["grecaptcha"].reset();
        }
    }
};
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./UserProfileEdit.json"></i18n>
