<template lang="pug">
div
    user-generic-update-form(v-model="form", :type="type", @save="save")
</template>

<script lang="ts">
import {
    Alert,
    Button,
    Checkbox,
    DatePicker,
    Form,
    Input,
    Select,
    notification,
} from "ant-design-vue";
import moment from "moment";
import { defineComponent, inject, reactive } from "vue";
import { educationApi } from "../../scripts/api/education";
import { userApi } from "../../scripts/api/user";
import { capitalize } from "../../scripts/formatters";
import type { Education } from "../../types/examination";
import { useI18n } from "vue-i18n";
import { convertToFormData } from "./UserFormTypes";
import type {ProfileFormValues} from "./UserFormTypes";
import UserGenericUpdateForm from "./UserGenericUpdateForm.vue";

export default defineComponent({
    components: {
        UserGenericUpdateForm,
        "a-input": Input,
        "a-select": Select,
        "a-alert": Alert,
        "a-select-option": Select.Option,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-checkbox": Checkbox,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-date-picker": DatePicker,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const educations: Education[] = [];

        return {
            locale: inject("locale") as string,
            educations,
            form: reactive({
                email: "",
                first_name: "",
                last_name: "",
                student_id: "",
                birth_date: moment(),
                phone_nr: "",
                locale: "",
                educations: [] as number[],
                alumnus: false,
                address: "",
                zip: "",
                city: "",
                country: "",
            } satisfies ProfileFormValues),
            type: reactive({
                allowStudentIdEdit: false,
                showRecaptcha: false,
                showPrivacyPolicy: false,
                showPassword: false,
                showAlumnus: true,
            })
        };
    },
    computed: {
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
    },
    async created(): Promise<void> {
        // TODO unwrapping: this is a paginated API, but only has a single page atm.
        this.educations = (await educationApi.getEducations("", "1")).data.data;
    },
    async mounted(): Promise<void> {
        const resp = await userApi.getUserData(this.userId);

        this.form.email = resp.data.email;
        this.form.first_name = resp.data.first_name;
        this.form.last_name = resp.data.last_name;
        this.form.student_id = resp.data.student_id;
        this.form.birth_date = moment(resp.data.birth_date);
        this.form.phone_nr = resp.data.phone_nr;
        this.form.locale = resp.data.locale;
        this.form.educations = resp.data.educations.map((e) => e.id);
        this.form.alumnus = resp.data.alumnus;
        this.form.address = resp.data.address;
        this.form.zip = resp.data.zip;
        this.form.city = resp.data.city;
        this.form.country = resp.data.country;
        this.type.allowStudentIdEdit = !resp.data.student_id_confirmed;
    },
    methods: {
        capitalize: capitalize,
        async save(values: ProfileFormValues): Promise<void> {
            const formData = convertToFormData(values);
            try {
                const result = await userApi.post(window.location.pathname, formData);

                if (result.status === 204) {
                    notification.success({
                        message: this.t("save.success.title") as string,
                        description: this.t("save.success.description") as string,
                    });
                } else {
                    notification.error({
                        message: "Error",
                        description: "Something went wrong",
                    });
                }
            } catch (e) {
                notification.error({
                    message: "Error",
                    description: "Something went wrong",
                });
            }
        }
    },
});
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>

<i18n src="./UserProfileEdit.json"></i18n>
