<template lang="pug">
div
    h1 User overview
    a-input-search.w-100.mb-3(
        placeholder="Search user's e-mail or name",
        v-model:value="search"
    )
    a-table(
        :columns="columns",
        :rowKey="(record) => record.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:member="{ record }")
            a-check-icon(v-if="record.member")
        template(v-slot:favourer="{ record }")
            a-check-icon(v-if="record.favourer")
        template(v-slot:action="{ record }")
            a(:href="viewProfile(record.id)") View
</template>

<script lang="ts">
import { CheckOutlined } from "@ant-design/icons-vue";
import { Input, Table } from "ant-design-vue";
import { defineComponent } from "vue";
import { userApi } from "../../scripts/api/user";
import { User } from "../../types/user";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import Flask from "../../utils/flask";

export default defineComponent({
    name: "UserOverview",
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-check-icon": CheckOutlined,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await userApi.getUsers(search, page);

            return {
                data: resp.data.data,
                pagination: {
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                    current: resp.data.page,
                },
            };
        };

        return VuePaginatedAntComposable<User>(dataFunction);
    },
    data() {
        return {
            columns: [
                { title: "E-mail", dataIndex: "email" },
                { title: "First name", dataIndex: "first_name" },
                { title: "Last name", dataIndex: "last_name" },
                { title: "Student ID", dataIndex: "student_id" },
                {
                    title: "Member",
                    key: "member",
                    slots: { customRender: "member" },
                },
                {
                    title: "Favourer",
                    key: "favourer",
                    slots: { customRender: "favourer" },
                },
                {
                    title: "Action",
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    methods: {
        viewProfile(user_id: number) {
            return Flask.url_for("user.view_single_user", { user: user_id });
        },
    },
});
</script>
