{% extends "base/en.html" %}

{% block title -%}
    User {{ anonymized_user.id }} has been anonymized.
{%- endblock %}

{% block content -%}
    <p>
        The <a href="{{ url }}">user</a> with ID {{ anonymized_user.id }} has
        been anonymized. This e-mail is a reminder to add the user
        ID {{ anonymized_user.id }} and date {{ date.strftime("%d-%m-%Y") }} to
        the 'Verwijderde gegevens' in the ICT-committee drive.
    </p>
{%- endblock %}
