<template lang="pug">
keep-alive
    div
        a-breadcrumb
            a-breadcrumb-item
                a(href="/admin") Admin
            a-breadcrumb-item
                router-link(
                    :to="{ name: 'courses' }",
                    v-slot="{ href, navigate }"
                )
                    a(:href="href", @click="navigate") Course overview
        h1 Course overview

        a-input-search.w-100(
            placeholder="Search course name or datanose code",
            v-model:value="search"
        )
            template(v-slot:enterButton="")
                router-link(
                    :to="{ name: 'course-create' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate", type="link")
                        | Create new course
        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:type="{ record }")
                span(v-if="record.datanose_code") Auto-updated
                span(v-else) Manual
            template(v-slot:action="{ record }")
                router-link(
                    :to="{ name: 'course-edit', params: { courseId: record.id } }",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="link", :href="href", @click="navigate") Edit
                a-divider(type="vertical")
                a-popconfirm(
                    title="Sure to delete?",
                    @confirm="doDelete(record.id)"
                )
                    a-button(type="link") Delete
</template>

<script lang="ts">
import {
    Breadcrumb,
    Button,
    Divider,
    Input,
    notification,
    Popconfirm,
    Table,
} from "ant-design-vue";
import { defineComponent } from "vue";
import { examinationApi } from "../../scripts/api/examination";
import { Course } from "../../types/examination";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";

export default defineComponent({
    name: "CourseOverview",
    components: {
        "a-input-search": Input.Search,
        "a-button": Button,
        "a-table": Table,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await instance.get(
                Flask.url_for("api.courses", {
                    search: search,
                    dn_course_ids: [],
                    page: page,
                })
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return VuePaginatedAntComposable<Course>(dataFunction);
    },
    data() {
        return {
            columns: [
                {
                    title: "Course",
                    dataIndex: "name",
                },
                {
                    title: "Datanose code",
                    dataIndex: "datanose_code",
                },
                {
                    title: "Type",
                    key: "type",
                    slots: { customRender: "type" },
                },
                {
                    title: "Action",
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    methods: {
        async doDelete(courseId) {
            try {
                this.loading = true;
                await examinationApi.deleteCourse(courseId);
                notification.success({
                    message: "Success",
                    description: "Course successfully deleted.",
                });
                this.search = "";
                this.refreshListView();
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
