<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb(v-if="showBreadcrumbs")
        a-breadcrumb-item
            a(href="/admin") Admin
        a-breadcrumb-item
            router-link(:to="{ name: 'courses' }", v-slot="{ href, navigate }")
                a(:href="href", @click="navigate") {{ t('breadcrumb.overview') }}
        a-breadcrumb-item {{ t('breadcrumb.create') }}
    h1 {{ t('header') }}
    a-form-model(
        :model="form",
        :rules="formRules",
        ref="formRef",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('form.datanose_code.label')",
            :help="t('form.datanose_code.help')",
            name="datanose_code"
        )
            a-input(v-model:value="form.datanose_code")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="route.meta.from || { name: 'courses' }",
                    v-slot="{ href, navigate }"
                )
                    a-button(:href="href", @click="navigate")
                        | {{ t('Back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
</template>

<script lang="ts">
import { Breadcrumb, Button, Form, Input, notification } from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { examinationApi } from "../../scripts/api/examination";
import { authStore } from "../../store/auth";
import LoadingContainer from "../loading_container.vue";
import { useI18n } from "vue-i18n";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
            t: useI18n().t,
        };
    },
    data() {
        return {
            loading: false,
            form: reactive({
                datanose_code: "",
            }),
            formRules: {
                datanose_code: [
                    {
                        required: true,
                        message: this.t("form.datanose_code.error"),
                        trigger: "blur",
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 20 },
                },
            },
        };
    },
    computed: {
        showBreadcrumbs(): boolean {
            return !!authStore.roles.EXAMINATION_WRITE?.has_role;
        },
    },
    methods: {
        async save() {
            let values;

            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                /* Form did not validate. */
                return;
            }

            try {
                this.loading = true;
                const resp = await examinationApi.createCourse(values);
                if (
                    this.route.meta &&
                    this.route.meta.from &&
                    this.route.meta.from.name !== "courses"
                ) {
                    this.router.replace(this.route.meta.from);
                } else {
                    this.router.replace({
                        name: "courses",
                        query: { search: resp.data.name },
                    });
                }
                notification.success({
                    message: "Success",
                    description: "Course successfully saved.",
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
<i18n src="./create_course.json"></i18n>
