<template lang="pug">
div
    a-form(
        ref="formRef",
        :model="form",
        :rules="formRules",
        :label-col="formItemLayout.labelCol",
        :wrapper-col="formItemLayout.wrapperCol",
        @submit.prevent="save"
    )
        legend {{ t('Edit Course') }}
            a-form-item(name="name", :label="t('Name')")
                a-input#course_name(
                    v-model:value="form.name",
                    autocomplete="name"
                )
            a-form-item(name="old_codes", :label="t('Old Codes')")
                CourseField(v-model="form.old_codes")
            a-form-item(
                :wrapper-col="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 5 } } }"
            )
            button.btn.btn-primary(type="submit", @click="save") {{ t('Save') }}
</template>

<script setup lang="ts">
import { reactive, ref, onBeforeMount } from "vue";
import { examinationApi } from "../../scripts/api/examination";
import { Form as AForm, Input as AInput, notification } from "ant-design-vue";
import { useRoute } from "vue-router";
import CourseField from "../form/CourseField.vue";
import { courseApi } from "../../scripts/api/course";
import { useI18n } from "vue-i18n";

const AFormItem = AForm.Item;

const { t } = useI18n();
const formItemLayout = {
    labelCol: {
        xs: { span: 24 },
        sm: { span: 5 },
    },
    wrapperCol: {
        xs: { span: 24 },
        sm: { span: 19 },
    },
};

const formRef = ref(null);
const form = reactive({
    name: "",
    old_codes: [],
});

const formRules = {
    name: [
        {
            required: true,
            message: t("Please enter the course name."),
        },
    ],
    old_codes: [
        {
            required: false,
            message: t("Please enter the old codes."),
        },
    ],
};
const route = useRoute();
const id = Number(route.params["courseId"]);
let loading = true;
const save = async () => {
    try {
        await (formRef.value as any).validate();
    } catch (e) {
        return;
    }
    try {
        loading = true;
        await examinationApi.updateCourse(
            id,
            JSON.stringify({
                name: form.name,
                old_codes: form.old_codes,
            })
        );
        notification.success({
            message: "Success",
            description: "Course successfully saved.",
        });
    } finally {
        loading = false;
    }
};

onBeforeMount(async () => {
    if (id) {
        const resp = await courseApi.getCourse(id);
        form.name = resp.data["name"];
        if (resp.data["old_codes"]) {
            form.old_codes = resp.data["old_codes"];
        }
    }
    loading = false;
});
</script>

<style lang="sass">
.ant-form-item
    margin-bottom: 0
</style>
