<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") {{ t('Create examination') }}
    h1(v-if="id") {{ t('Edit examination') }}

    a-form-model(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Course')",
            name="course"
        )
            form-course-field(v-model="form.course")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Date')",
            name="date"
        )
            a-date-picker(v-model:value="form.date")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Examination type')",
            name="type"
        )
            a-radio-group(v-model:value="form.type")
                a-radio-button(value="Mid-term") {{ t('Mid-term') }}
                a-radio-button(value="End-term") {{ t('End-term') }}
                a-radio-button(value="Retake") {{ t('Retake') }}
                a-radio-button(value="Unknown") {{ t('Unknown') }}

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Comment')",
            name="comment"
        )
            a-input(v-model:value="form.comment")
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Exam')",
            name="exam_file"
        )
            a-upload(
                :beforeUpload="(evt) => beforeUpload('exam_file', evt)",
                :fileList="exam_file",
                @remove="() => removeFile('exam_file')"
            )
                a-button
                    a-upload-icon
                    | {{ t('Select exam file') }}
            a-button(
                :href="examURL",
                type="primary",
                v-if="examination_file_id",
                target="_blank"
            ) {{ t('View current exam') }}
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Answers')",
            name="answers_file"
        )
            a-upload(
                :beforeUpload="(evt) => beforeUpload('answers_file', evt)",
                :fileList="answer_file",
                @remove="() => removeFile('answers_file')"
            )
                a-button
                    a-upload-icon
                    | {{ t('Select answers file') }}
            a-button(
                :href="answerURL",
                type="primary",
                v-if="answer_file_id",
                target="_blank"
            ) {{ t('View current answers') }}
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('Summary')",
            name="summary_file"
        )
            a-upload(
                :beforeUpload="(evt) => beforeUpload('summary_file', evt)",
                :fileList="summary_file",
                @remove="() => removeFile('summary_file')"
            )
                a-button
                    a-upload-icon
                    | {{ t('Select summary file') }}
            a-button(
                :href="summaryURL",
                type="primary",
                v-if="summary_file_id",
                target="_blank"
            ) {{ t('View current summary') }}
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="{ name: 'examination-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") {{ t('Back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
</template>

<script lang="ts">
import FormCourseField from "../form/form_course_field.vue";
import {
    Button,
    DatePicker,
    Form,
    Input,
    notification,
    Radio,
    Upload,
} from "ant-design-vue";
import { Course, examinationApi } from "../../scripts/api/examination";
import moment from "moment";
import Flask from "../../utils/flask";
import LoadingContainer from "../loading_container.vue";
import { reactive, defineComponent } from "vue";
import { UploadOutlined } from "@ant-design/icons-vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "form-course-field": FormCourseField,
        "a-upload-icon": UploadOutlined,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-date-picker": DatePicker,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-upload": Upload,
        "a-input": Input,
        "a-button": Button,
        "a-button-group": Button.Group,
        "loading-container": LoadingContainer,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const summary_file_id: null | number = null;
        const answer_file_id: null | number = null;
        const examination_file_id: null | number = null;

        return {
            loading: true,
            examination_file_id,
            answer_file_id,
            summary_file_id,
            form: reactive({
                course: undefined as Course | undefined,
                date: moment(),
                type: null as string | null,
                comment: undefined as string | undefined,
                exam_file: null as File | null,
                answers_file: null as File | null,
                summary_file: null as File | null,
            }),
            formRules: {
                course: [
                    {
                        required: true,
                        message: this.t("Please select the course"),
                    },
                ],
                date: [
                    {
                        required: true,
                        message: this.t("Please enter the date"),
                    },
                ],
                type: [
                    {
                        required: true,
                        message: this.t("Please select examination type"),
                    },
                ],
                exam_file: [
                    {
                        required: true,
                        message: this.t("Examination is required"),
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
        };
    },
    computed: {
        summary_file(): any[] {
            return this.form.summary_file
                ? [this.form.summary_file as File]
                : [];
        },
        exam_file(): any[] {
            return this.form.exam_file ? [this.form.exam_file as File] : [];
        },
        answer_file(): any[] {
            return this.form.answers_file
                ? [this.form.answers_file as File]
                : [];
        },
        id(): number {
            return parseInt(this.$route.params["examinationId"]);
        },
        examURL(): string {
            return Flask.url_for("examination.view", {
                exam: this.id,
                doc_type: "exam",
            });
        },
        answerURL(): string {
            return Flask.url_for("examination.view", {
                exam: this.id,
                doc_type: "answers",
            });
        },
        summaryURL(): string {
            return Flask.url_for("examination.view", {
                exam: this.id,
                doc_type: "summary",
            });
        },
    },
    async mounted() {
        if (this.id) {
            const resp = (await examinationApi.getExam(this.id)).data;
            this.form.date = moment(resp.date);
            this.form.type = resp.test_type;
            this.form.comment = resp.comment;
            this.form.course = resp.course;
        }

        this.loading = false;
    },
    methods: {
        beforeUpload(
            type: "exam_file" | "answers_file" | "summary_file",
            file: File
        ) {
            this.form[type] = file;
            return false;
        },
        removeFile(type: "exam_file" | "answers_file" | "summary_file") {
            this.form[type] = null;
        },
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            const body = {
                comment: values.comment,
                date: values.date.format("YYYY-MM-DD"),
                course_id: values.course.id,
                test_type: values.type,
            };

            if (body.comment === null) {
                delete body.comment;
            }

            try {
                this.loading = true;
                if (!this.id) {
                    const resp = (await examinationApi.createExam(body)).data;
                    await this.$router.replace({
                        name: "examination-edit",
                        params: { examinationId: String(resp.id) },
                    });
                } else {
                    await examinationApi.updateExam(this.id, body);
                }

                /* Update files, if needed. */
                if (this.form.exam_file) {
                    await examinationApi.uploadExamFile(
                        this.id,
                        this.form.exam_file,
                        "exam"
                    );
                }
                if (this.form.answers_file) {
                    await examinationApi.uploadExamFile(
                        this.id,
                        this.form.answers_file,
                        "answers"
                    );
                }
                if (this.form.summary_file) {
                    await examinationApi.uploadExamFile(
                        this.id,
                        this.form.summary_file,
                        "summary"
                    );
                }

                notification.success({
                    message: this.t("Success") as string,
                    description: this.t(
                        "Examination successfully saved."
                    ) as string,
                });
                await this.$router.push({
                    name: "examination-overview",
                    query: { course_id: values.course.key },
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./edit_examination.json"></i18n>
