<template lang="pug">
keep-alive
    div
        h1 {{ t('education_overview') }}

        a-input-search.w-100(
            :placeholder="t('education_search')",
            v-model:value="search"
        )
            template(v-slot:enterButton="")
                a-button(:href="addEducationUrl()", type="primary")
                    | {{ t('education_create') }}
        a-table.mt-3(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            :bodyStyle="{ 'overflow-x': 'auto' }",
            @change="handleTableChange"
        )
            template(v-slot:programmeType="{ record }") {{ capitalize(record.programme_type) }}
            template(v-slot:action="{ record }")
                a-button(type="link", :href="editEducationUrl(record)") {{ t('education_edit') }}
                a-divider(type="vertical")
                a-popconfirm(
                    :title="t('education_delete_confirm')",
                    @confirm="doDelete(record.id)"
                )
                    a-button(type="link") {{ t('education_delete') }}
</template>

<script lang="ts">
import { Button, Divider, Input, Popconfirm, Table } from "ant-design-vue";
import { defineComponent } from "vue";
import { capitalize } from "../../scripts/formatters";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Education } from "../../types/examination";
import { useI18n } from "vue-i18n";

export default defineComponent({
    name: "EducationOverview",
    components: {
        "a-input-search": Input.Search,
        "a-button": Button,
        "a-table": Table,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
    },

    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await instance.get(
                Flask.url_for("api.educations", {
                    search: search,
                    page: page,
                })
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable<Education>(dataFunction),
            t: useI18n().t,
        };
    },
    data() {
        return {
            columns: [
                {
                    title: this.t("education_name") + " (nl)",
                    dataIndex: "nl_name",
                },
                {
                    title: this.t("education_name") + " (en)",
                    dataIndex: "en_name",
                },
                {
                    title: this.t("education_type"),
                    key: "programmeType",
                    slots: { customRender: "programmeType" },
                },
                {
                    title: this.t("education_action"),
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    methods: {
        capitalize: capitalize,
        async doDelete(educationId) {
            try {
                this.loading = true;
                await instance.delete(
                    Flask.url_for("api.education", {
                        education_id: educationId,
                    })
                );
                await this.refreshListView();
            } finally {
                this.loading = false;
            }
        },
        addEducationUrl() {
            return Flask.url_for("education.add_education", {
                redir: "education",
            });
        },
        editEducationUrl(education) {
            return Flask.url_for("education.edit_education", {
                education: education.id,
                redir: "education",
            });
        },
    },
});
</script>

<i18n>
{
    "en": {
        "education_overview": "Study programmes overview",
        "education_name": "Programme name",
        "education_type": "Type",
        "education_action": "Action",
        "education_search": "Search programme",
        "education_create": "Add new programme",
        "education_edit": "Edit",
        "education_delete": "Delete",
        "education_delete_confirm": "Are you sure?"
    },
    "nl": {
        "education_overview": "Opleidingenoverzicht",
        "education_name": "Opleidingsnaam",
        "education_type": "Type",
        "education_action": "Actie",
        "education_search": "Opleiding zoeken",
        "education_create": "Opleiding toevoegen",
        "education_edit": "Bewerken",
        "education_delete": "Verwijderen",
        "education_delete_confirm": "Weet je het zeker?"
    }
}
</i18n>
