<template lang="pug">
div
    h1 {{ t('Examinations') }}&nbsp;
        a-tooltip(placement="right")
            a-exclamation-circle-icon.ant-notification-notice-icon-warning(
                style="font-size: 20px;"
            )
            template(v-slot:title="")
                | Disclaimer
                br
                | {{ t('Solutions-alert') }}
    a-alert.mb-3(:message="t('handin_exams')", type="info")

    a-button-group.mb-3(v-if="can_write")
        router-link(
            :to="{ name: 'examination-create' }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", type="primary")
                a-file-add-icon
                | {{ t('New examination') }}
        router-link(:to="{ name: 'courses' }", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate") {{ t('Courses') }}
        router-link(:to="{ name: 'educations' }", v-slot="{ href, navigate}")
            a-button(:href="href", @click="navigate") {{ t('Educations') }}

    .row
        .col-12.col-md-3
            .mb-3
                b {{ t('Enrolled courses') }}
                i18n-t(
                    v-if="is_anonymous",
                    keypath="Anonymous user",
                    tag="div"
                )
                    template(v-slot:here="")
                        a(:href="signInUrl") {{ t('here') }}
                i18n-t(
                    v-else-if="is_unconfirmed",
                    keypath="Unconfirmed user",
                    tag="div"
                )
                    template(v-slot:here="")
                        a(:href="samlLinkAccount") {{ t('here') }}
                div(v-else-if="dn_unavailable") {{ t('Datanose unavailable') }}

                .ml-2(v-else-if="dn_courses.length === 0") {{ t('No enrolled courses found') }}
                .pr-3(v-else)
                    a-checkbox(
                        :indeterminate="!!dn_courses_selected.length && dn_courses_selected.length < dn_courses.length",
                        :checked="dn_courses_selected.length === dn_courses.length",
                        @change="onChangeAllCourses"
                    )
                        b {{ t('Select All') }}
                    a-checkbox-group(
                        v-model:value="dn_courses_selected",
                        :options="dn_courses"
                    )

            .mb-3
                b {{ t('Enrolled educations') }}

                .ml-2(v-if="user_educations.length === 0") {{ t('No enrolled educations found') }}
                .pr-3(v-else)
                    a-checkbox-group(
                        v-model:value="user_educations_selected",
                        :options="user_educations"
                    )

        .col-12.col-md-9
            a-input-search.mb-3.w-100(
                :placeholder="t('search')",
                v-model:value="search"
            )

            a-config-provider
                template(v-slot:renderEmpty="")
                    a-empty
                        template(v-slot:description="")
                            p(v-html="t('No_examinations_found_html')")

                a-table(
                    :showHeader="false",
                    size="middle",
                    :columns="columns",
                    :rowKey="(record) => record.id",
                    :dataSource="data",
                    :loading="loading",
                    :pagination="pagination",
                    :expandedRowKeys="expandedRowKeys",
                    :expandRowByClick="true",
                    :expandIconAsCell="false",
                    :bodyStyle="{ 'overflow-x': 'auto' }",
                    :expandIconColumnIndex="2",
                    @expand="onExpand",
                    @change="handleTableChange"
                )
                    template(v-slot:expandedRowRender="{ record }")
                        span(v-if="examinations[record.id]?.related")
                            a-alert.mb-3(
                                :message="t('Related-exams')",
                                type="warning"
                            )

                        a-table(
                            :columns="innerColumns",
                            :loading="innerLoading",
                            :dataSource="examinations[record.id]",
                            :rowKey="(record) => record.id",
                            :pagination="false",
                            size="middle"
                        )
                            template(v-slot:date="{ record }")
                                span(v-if="record.date") {{ record.date }}
                                span(v-else) {{ t('Date unknown') }}
                            template(v-slot:exam="{ record }")
                                a-tooltip(v-if="record.examination_file_id")
                                    a-button(
                                        :href="viewExamBtn(record.id, 'exam')",
                                        type="link",
                                        :class="{ greyed: is_anonymous || !is_member }"
                                    )
                                        a-cloud-download-icon(
                                            :class="{ greyed: is_anonymous || !is_member }"
                                        )
                                    template(v-slot:title="")
                                        template(v-if="is_anonymous")
                                            | {{ t('Login-exam') }}
                                        template(v-if="!is_member")
                                            | {{ t('Member-exam') }}
                                span(v-else) N/A
                            template(v-slot:answers="{ record }")
                                a-tooltip(v-if="record.answers_file_id")
                                    a-button(
                                        :href="viewExamBtn(record.id, 'answers')",
                                        type="link",
                                        :class="{ greyed: is_anonymous || !is_member }"
                                    )
                                        a-file-done-icon(
                                            :class="{ greyed: is_anonymous || !is_member }"
                                        )
                                    template(v-slot:title="")
                                        template(v-if="is_anonymous")
                                            | {{ t('Login-answer') }}
                                        template(v-if="!is_member")
                                            | {{ t('Member-answer') }}
                                span(v-else) N/A
                            template(v-slot:summary="{ record }")
                                a-tooltip(v-if="record.summary_file_id")
                                    a-button(
                                        :href="viewExamBtn(record.id, 'summary')",
                                        type="link",
                                        :class="{ greyed: is_anonymous || !is_member }"
                                    )
                                        a-file-done-icon(
                                            :class="{ greyed: is_anonymous || !is_member }"
                                        )
                                    template(v-slot:title="")
                                        template(v-if="is_anonymous")
                                            | {{ t('Login-summary') }}
                                        template(v-if="!is_member")
                                            | {{ t('Member-summary') }}
                                span(v-else) N/A
                            template(v-slot:edit="{ record }")
                                router-link(
                                    :to="{ name: 'examination-edit', params: { examinationId: record.id } }",
                                    v-slot="{ href, navigate}"
                                )
                                    a-button(
                                        :href="href",
                                        @click="navigate",
                                        type="link"
                                    )
                                        a-edit-icon
                                a-popconfirm(
                                    :title="t('Are you sure you want to delete this exam?')",
                                    @confirm="deleteExamination(record)"
                                )
                                    a-delete-icon(style="cursor: pointer")

                            template(v-slot:footer="")
                                i18n-t.text-center(
                                    keypath="Answers-alert",
                                    tag="div"
                                )
                                    template(v-slot:here="")
                                        a(
                                            href="/uitwerkingen",
                                            target="_blank"
                                        ) {{ t('here') }}
</template>

<script lang="ts">
import Flask from "../../utils/flask";
import { Course } from "../../types/examination";
import { courseApi } from "../../scripts/api/course";
import { educationApi } from "../../scripts/api/education";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import { authStore } from "../../store/auth";
import { examinationApi } from "../../scripts/api/examination";
import debounce from "../../utils/debounce";
import {
    Alert,
    Button,
    Checkbox,
    ConfigProvider,
    Empty,
    Input,
    notification,
    Popconfirm,
    Table,
    Tooltip,
} from "ant-design-vue";
import {
    CloudDownloadOutlined,
    DeleteOutlined,
    EditOutlined,
    FileAddOutlined,
    FileDoneOutlined,
    ExclamationCircleOutlined,
} from "@ant-design/icons-vue";
import { Ref, defineComponent, ref, watch } from "vue";
import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";

export default defineComponent({
    name: "ExaminationOverview",
    components: {
        "a-tooltip": Tooltip,
        "a-cloud-download-icon": CloudDownloadOutlined,
        "a-exclamation-circle-icon": ExclamationCircleOutlined,
        "a-file-add-icon": FileAddOutlined,
        "a-edit-icon": EditOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-file-done-icon": FileDoneOutlined,
        "a-alert": Alert,
        "a-empty": Empty,
        "a-config-provider": ConfigProvider,
        "a-checkbox": Checkbox,
        "a-checkbox-group": Checkbox.Group,
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-button": Button,
        "a-button-group": Button.Group,
    },
    setup() {
        // Using any, as Ant design does not allow an array of values. Actual type should be [number, number][]
        const user_educations_selected: Ref<any[]> = ref([]);
        const dn_courses_selected: Ref<number[]> = ref([]);

        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await courseApi.getCourses(
                search,
                page,
                dn_courses_selected.value,
                user_educations_selected.value
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        const composable = VuePaginatedAntComposable<Course>(dataFunction);

        watch(composable.search, () => {
            dn_courses_selected.value = [];
            user_educations_selected.value = [];
        });
        watch(
            dn_courses_selected,
            () => {
                composable.pageSwitch(1);
            },
            { deep: true }
        );
        watch(
            user_educations_selected,
            () => {
                composable.pageSwitch(1);
            },
            { deep: true }
        );

        return {
            ...composable,
            t: useI18n().t,
            route: useRoute(),
            user_educations_selected,
            dn_courses_selected,
        };
    },
    data() {
        const innerColumns: any[] = [];
        const columns: any[] = [];
        const user_educations: {
            label: string;
            value: any;
        }[] = [];
        const dn_courses: { label: string; value: number }[] = [];
        const courses: Course[] = [];
        const expandedRowKeys: number[] = [];

        return {
            expandedRowKeys,
            courses,
            can_write: false,
            is_anonymous: false,
            is_unconfirmed: false,
            is_member: false,
            dn_unavailable: false,
            examinations: {},
            dn_courses,
            user_educations,
            innerLoading: false,
            columns,
            innerColumns,
        };
    },
    computed: {
        signInUrl(): string {
            return Flask.url_for("login.sign_in");
        },
        samlLinkAccount(): string {
            return Flask.url_for("saml.link_account");
        },
    },
    watch: {
        search: [
            {
                handler: "searchEvent",
            },
        ],
        dn_courses_selected: [
            {
                handler: "datanoseUpdate",
            },
        ],
        user_educations_selected: [
            {
                handler: "userEducationsUpdate",
            },
        ],
    },
    async created(): Promise<void> {
        this.columns = [
            {
                title: "Course",
                key: "course",
                dataIndex: "name",
            },
            {
                title: "Datanose code",
                key: "datanose_code",
                dataIndex: "datanose_code",
            },
            {
                key: "expand",
            },
        ];

        this.innerColumns = [
            {
                title: this.t("Date") as string,
                key: "date",
                slots: { customRender: "date" },
                sorter: (a, b) =>
                    a.date && b.date && a.date.localeCompare(b.date),
                sortDirections: ["descend", "ascend"],
                defaultSortOrder: "descend",
            },
            {
                title: "Type",
                dataIndex: "test_type",
                filters: [
                    { text: "Mid-term", value: "Mid-term" },
                    { text: "End-term", value: "End-term" },
                    { text: "Retake", value: "Retake" },
                    { text: "Unknown", value: "Unknown" },
                ],
                onFilter: (value, record) => record.test_type === value,
            },
            {
                title: this.t("Examination"),
                key: "exam",
                slots: { customRender: "exam" },
                align: "center",
            },
            {
                title: this.t("Answers"),
                key: "answers",
                slots: { customRender: "answers" },
                align: "center",
            },
            {
                title: this.t("Summary"),
                key: "summary",
                slots: { customRender: "summary" },
                align: "center",
            },
            {
                title: this.t("Comment"),
                dataIndex: "comment",
            },
        ];

        if (authStore.isAnonymous()) {
            this.is_anonymous = true;
        } else {
            this.is_member = authStore.member;
            this.can_write = !!authStore.roles.EXAMINATION_WRITE?.has_role;
        }

        if (this.can_write) {
            this.innerColumns.push({
                title: this.t("Edit") as string,
                key: "edit",
                align: "center",
                slots: { customRender: "edit" },
            });
        }
    },
    async mounted(): Promise<void> {
        await this.getDatanoseCourses();
        await this.getUserEducations();

        if (this.route.query.course_id) {
            const course_id = parseInt(this.route.query.course_id as string);
            this.dn_courses_selected = this.expandedRowKeys = [course_id];
            await this.loadExams({ id: course_id });
        }
        this.loading = false;
    },
    methods: {
        async onExpand(expanded: boolean, record: Course): Promise<void> {
            if (expanded) {
                try {
                    await this.loadExams(record);
                    this.expandedRowKeys = [record.id];
                } catch (error) {
                    notification.error({
                        message: "Error",
                        description: "Failed to load exams. Are you logged in?",
                    });
                }
            } else {
                this.expandedRowKeys = [];
            }
        },
        onChangeAllCourses(e) {
            if (e.target.checked) {
                this.dn_courses.forEach((course) => {
                    this.dn_courses_selected.push(course["value"]);
                });
            } else {
                this.dn_courses_selected = [];
            }
        },
        async getDatanoseCourses() {
            /* Check if a user is logged in and request enrolled courses if so. */
            if (!this.is_anonymous) {
                try {
                    const resp = await courseApi.getUserCourses();
                    resp.data.forEach((course) => {
                        this.dn_courses.push({
                            label: course["name"],
                            value: course["id"],
                        });
                        if (!this.search && this.page === 1) {
                            this.dn_courses_selected.push(course["id"]);
                        }
                    });
                } catch (error) {
                    switch (error.response.status) {
                        case 409:
                            /* Catch BusinessRuleException, thrown when studentID is unconfirmed. */
                            this.is_unconfirmed = true;
                            break;
                        case 503:
                            /* Catch ServiceUnavailableException, thrown when Datanose has a 5xx error. */
                            this.dn_unavailable = true;
                            break;
                        default:
                            /* Throw unexpected errors. */
                            throw error;
                    }
                }
            }
        },
        async getUserEducations() {
            const resp = await educationApi.getUserEducations();
            resp.data.forEach((education) => {
                for (let i = 1; i <= education["duration"]; i++) {
                    if (this.$i18n.locale == "nl") {
                        this.user_educations.push({
                            label: education["nl_name"] + " jaar " + i,
                            value: [education["id"], i],
                        });
                    } else {
                        this.user_educations.push({
                            label: education["en_name"] + " year " + i,
                            value: [education["id"], i],
                        });
                    }
                }
            });
        },
        async loadExams(course: Course) {
            if (!(course.id in this.examinations)) {
                this.innerLoading = true;
                try {
                    const resp = await examinationApi.getExamsByCourse(
                        course.id
                    );
                    const current = await courseApi.getCourse(course.id);
                    resp.data["related"] = !!current.data.old_codes;

                    this.examinations[course.id] = resp.data;
                } finally {
                    this.innerLoading = false;
                }
            }
        },
        async deleteExamination(examination) {
            await examinationApi.deleteExamination(examination.id);
            this.examinations[examination.course.id] = this.examinations[
                examination.course.id
            ].filter((exam) => {
                return exam.id !== examination.id;
            });
        },
        viewExamBtn(examination_id, doc_type) {
            return Flask.url_for("examination.view", {
                exam: examination_id,
                doc_type: doc_type,
            });
        },
    },
});
</script>

<style lang="sass">
.ant-table-row-level-0
    cursor: pointer

.ant-table-expanded-row,
.ant-table-expanded-row .ant-table-row-level-0
    cursor: auto

.ant-table-expanded-row-level-1 .ant-table-footer
    background-color: #ffeeba
    padding: 6px

.greyed
    color: #A9A9A9
    cursor: not-allowed
</style>

<i18n src="./examination_overview.json"></i18n>
