{%- if user is defined -%}
    <p>Beste {{ user.name }},</p>
{%- endif -%}

{% block content %}{% endblock %}

<p>
    Met vriendelijke groet,<br/><br/>
    <small><i>Vereniging Informatiewetenschappen Amsterdam (<b>via</b>)</i></small>
    <br/><br/>
    <img src="cid:{{ get_cid('via_logo') }}" alt="via-logo" style="max-width: 100px;"><br/><br/>
    <small><b>T</b> (020) 525 7880</small>
    <br/>
    <small><b>E</b> <a href="mailto:bestuur@svia.nl">bestuur@svia.nl</a></small>
    <br/>
    <small><b>W</b> <a href="https://svia.nl/">svia.nl</a></small>
</p>
