{% macro render_vue_app(keep_alive_include, locale) %}
    {%- if keep_alive_include is defined and keep_alive_include %}
        <keep-alive include="{{ keep_alive_include }}">
            <App />
        </keep-alive>
    {%- else %}
        <App />
    {%- endif %}
    <noscript>
        <div class="alert alert-error">{{ _("This page is only available using Javascript. So you better turn it on.") }}</div>
    </noscript>
{% endmacro %}
