<template lang="pug">
loading-container(:active="loading")
    h1(v-if="!id") Create navigation entry
    h1(v-if="id") Edit navigation entry

    a-form-model(
        :model="form",
        @submit.prevent="save",
        :rules="formRules",
        ref="formRef"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            label="Dutch title",
            name="nl_title"
        )
            a-input(v-model:value="form.nl_title")
        a-form-model-item(
            v-bind="formItemLayout",
            label="English title",
            name="en_title"
        )
            a-input(v-model:value="form.en_title")
        a-form-model-item(
            v-bind="formItemLayout",
            label="Navigation type",
            name="type"
        )
            a-radio-group(v-model:value="form.type")
                a-radio-button(value="page") Page
                a-radio-button(value="url") URL
                a-radio-button(value="activities") Activity overview
        a-form-model-item(
            v-bind="formItemLayout",
            label="Page",
            v-if="form.type === 'page'",
            name="page"
        )
            form-page-field(v-model="form.page")
        a-form-model-item(
            v-bind="formItemLayout",
            label="URL",
            v-if="form.type === 'url'",
            name="url"
        )
            a-input(
                v-model:value="form.url",
                :addon-before="form.external ? 'https://' : '/'"
            )
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            v-if="form.type === 'url'",
            extra="Links will open navigation in new browser tab",
            name="external"
        )
            a-checkbox(v-model:checked="form.external") Links to external webpage
        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
            v-if="form.type !== 'activities'"
        )
            a-checkbox(v-model:checked="form.order_children_alphabetically") Sort sub-entries alphabetically

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                router-link(
                    :to="route.meta.from || { name: 'navigation-overview' }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate")
                        | Back
                a-button(type="primary", html-type="submit", @click="save") Submit
</template>

<script lang="ts">
import FormPageField from "../form/form_page_field.vue";
import { navigationApi } from "../../scripts/api/navigation";
import {
    Button,
    Checkbox,
    Form,
    Input,
    notification,
    Radio,
} from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { reactive, defineComponent } from "vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "a-input": Input,
        "a-form-model-item": Form.Item,
        "a-form-model": Form,
        "a-checkbox": Checkbox,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-button-group": Button.Group,
        "a-button": Button,
        "form-page-field": FormPageField,
        "loading-container": LoadingContainer,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
        };
    },
    data() {
        const form = reactive({
            nl_title: "",
            en_title: "",
            type: "page",
            page: undefined as { key: string; label: string } | undefined,
            url: "",
            external: false,
            order_children_alphabetically: false,
        });
        return {
            loading: true,
            form,
            formRules: {
                nl_title: [
                    {
                        required: true,
                        message: "Please enter the dutch title.",
                    },
                ],
                en_title: [
                    {
                        required: true,
                        message: "Please enter the english title.",
                    },
                ],
                type: [
                    {
                        required: true,
                        message: "Please select navigation type.",
                    },
                ],
                page: [
                    {
                        validator: (rule, value, callback) => {
                            if (form.type == "page" && !value) {
                                callback(new Error("Please select a page"));
                            } else {
                                callback();
                            }
                        },
                    },
                ],
                url: [
                    {
                        validator: (rule, value, callback) => {
                            if (form.type == "url" && !value) {
                                callback(new Error("Please enter the URL."));
                            } else {
                                callback();
                            }
                        },
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    span: 24,
                    lg: { span: 4 },
                },
                wrapperCol: {
                    span: 24,
                    lg: { span: 20 },
                },
            },
        };
    },
    computed: {
        id() {
            return this.route.params["entryId"];
        },
    },
    async mounted() {
        if (this.id) {
            const resp = (await navigationApi.getEntry(this.id)).data;
            this.form.nl_title = resp.nl_title;
            this.form.en_title = resp.en_title;
            this.form.type = resp.type;
            switch (resp.type) {
                case "page":
                    this.form.page = {
                        key: String(resp.page.id),
                        label: resp.page.path,
                    };

                    this.form.order_children_alphabetically =
                        resp.order_children_alphabetically;
                    break;
                case "url":
                    this.form.url = resp.url;
                    this.form.external = resp.external;
                    break;
                case "activities":
                    break;
            }
        }
        this.loading = false;
    },
    methods: {
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
                Object.keys(values).forEach((key) => {
                    if (values[key] === null) {
                        delete values[key];
                    }
                });
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }
            try {
                this.loading = true;
                if (!this.id) {
                    const parentId = this.route.query["parentId"] as string;
                    if (values.type == "page") {
                        values.page_id = values.page.key;
                    }
                    delete values.page;
                    const resp = (
                        await navigationApi.createEntry(values, parentId)
                    ).data;

                    this.router.replace({
                        name: "navigation-edit",
                        params: { entryId: String(resp.id) },
                    });
                } else {
                    if (values.type == "page") {
                        values.page_id = values.page.key;
                    }
                    delete values.page;

                    await navigationApi.updateEntry(this.id, values);
                }
                notification.success({
                    message: "Success",
                    description: "Navigation successfully saved.",
                });
                this.router.push({ name: "navigation-overview" });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>
