<template lang="pug">
div
    h1 Navigation overview
    router-link(
        :to="{ name: 'navigation-create' }",
        v-slot="{ href, navigate}"
    )
        a-button(:href="href", @click="navigate")
            | Create top level navigation entry
    loading-container(:active="loadingNavigation")
        a-tree.draggable-tree(
            draggable,
            @drop="onDrop",
            @select="onSelect",
            :treeData="antTreeNavigation"
        )

        a-button(
            type="primary",
            :loading="savingNavigation",
            @click="saveNavigation"
        ) Save navigation
    a-modal(v-model:visible="isVisible", title="Navigation entry")
        template(v-slot:footer="")
            a-button-group.mr-3(v-if="selectedId")
                router-link(
                    :to="{ name: 'navigation-edit', params: { entryId: selectedId } }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") Edit
                router-link(
                    :to="{ name: 'navigation-create', query: { parentId: selectedId } }",
                    v-slot="{ href, navigate}"
                )
                    a-button(:href="href", @click="navigate") Add child
            a-popconfirm(
                v-if="selectedId",
                title="Sure to delete?",
                :disabled="!canDelete",
                @confirm="doDelete(selectedId)"
            )
                a-button(danger, :disabled="!canDelete") Delete
        div(v-if="selectedId")
            p Dutch: {{ navigationEntries[selectedId].nl_title }}
            p English: {{ navigationEntries[selectedId].en_title }}
            p Link: {{ navigationEntries[selectedId].href }}
</template>

<script lang="ts">
import {
    navigationApi,
    NavigationOrderEntry,
} from "../../scripts/api/navigation";
import { Button, Modal, notification, Popconfirm, Tree } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { inject, defineComponent } from "vue";

export default defineComponent({
    components: {
        "a-tree": Tree,
        "a-modal": Modal,
        "a-button": Button,
        "a-popconfirm": Popconfirm,
        "loading-container": LoadingContainer,
        "a-button-group": Button.Group,
    },
    data() {
        const selectedId: number | null = null;
        const navigationEntries: {
            [entryId: number]: NavigationOrderEntry;
        } = {};
        const antTreeNavigation: any[] = [];

        return {
            antTreeNavigation,
            navigationEntries,
            selectedId,
            savingNavigation: false,
            loadingNavigation: true,
            locale: inject("locale") as string,
        };
    },
    computed: {
        isVisible: {
            get() {
                return !!this.selectedId;
            },
            set(value) {
                if (!value) {
                    this.selectedId = null;
                }
            },
        },
        canDelete() {
            if (!this.selectedId) {
                return false;
            }
            return this.navigationEntries[this.selectedId].children.length == 0;
        },
    },
    async mounted() {
        this.refresh();
    },
    methods: {
        async refresh() {
            this.navigationEntries = {};
            this.antTreeNavigation = [];

            const entries = (await navigationApi.getNavigation()).data;
            entries.forEach((entry, index) => {
                this.antTreeNavigation.push(
                    this.fromNavigationEntry(entry, `${index}`)
                );
                this.navigationEntries[entry.id] = entry;
            });
            this.loadingNavigation = false;
        },
        fromNavigationEntry(entry: NavigationOrderEntry, key: string) {
            const title = this.locale == "en" ? entry.en_title : entry.nl_title;
            const node = {
                title: title,
                key: entry.id,
                slots: { title: title },
                children: [] as any,
            };
            entry.children.forEach((entry, index) => {
                node.children.push(
                    this.fromNavigationEntry(entry, `${key}-${index}`)
                );
                this.navigationEntries[entry.id] = entry;
            });

            return node;
        },
        async saveNavigation() {
            this.savingNavigation = true;
            const entries: NavigationOrderEntry[] = [];
            this.antTreeNavigation.forEach((entry) => {
                entries.push(this.toNavigationEntry(entry));
            });

            try {
                await navigationApi.saveNavigation(entries);
                notification.success({
                    message: "Success",
                    description: "Navigation successfully saved.",
                });
            } finally {
                this.savingNavigation = false;
            }
        },
        toNavigationEntry(entry: any): NavigationOrderEntry {
            const node: NavigationOrderEntry = {
                id: entry.key,
                children: [],
            };
            entry.children.forEach((entry) => {
                node.children.push(this.toNavigationEntry(entry));
            });
            return node;
        },
        async onSelect(selectedKeys: number[], event) {
            if (event.selected) {
                this.selectedId = selectedKeys[0];
            }
        },
        async doDelete(entryId: number) {
            this.selectedId = null;
            await navigationApi.deleteEntry(entryId);
            await this.refresh();
        },
        async onDrop(info) {
            const dropKey = info.node.eventKey;
            const dragKey = info.dragNode.eventKey;
            const dropPos = info.node.pos.split("-");
            const dropPosition =
                info.dropPosition - Number(dropPos[dropPos.length - 1]);
            const loop = (data, key, callback) => {
                data.forEach((item, index, arr) => {
                    if (item.key === key) {
                        return callback(item, index, arr);
                    }
                    if (item.children) {
                        return loop(item.children, key, callback);
                    }
                });
            };
            const data = [...this.antTreeNavigation];

            // Find dragObject
            let dragObj;
            loop(data, dragKey, (item, index, arr) => {
                arr.splice(index, 1);
                dragObj = item;
            });
            if (!info.dropToGap) {
                // Drop on the content
                loop(data, dropKey, (item) => {
                    // Make sure it has children array
                    item.children = item.children || [];
                    // Push at the end of the children.
                    item.children.push(dragObj);
                });
            } else if (
                (info.node.children || []).length > 0 && // Has children
                info.node.expanded && // Is expanded
                dropPosition === 1 // On the bottom gap
            ) {
                loop(data, dropKey, (item) => {
                    item.children = item.children || [];
                    // where to insert
                    item.children.unshift(dragObj);
                });
            } else {
                let ar;
                let i;
                loop(data, dropKey, (item, index, arr) => {
                    ar = arr;
                    i = index;
                });
                if (dropPosition === -1) {
                    ar.splice(i, 0, dragObj);
                } else {
                    ar.splice(i + 1, 0, dragObj);
                }
            }
            this.antTreeNavigation = data;
        },
    },
});
</script>

<style lang="sass" scoped>
.draggable-tree
    min-height: 200px
</style>
