<template lang="pug">
div
    h1 {{ t('header') }}
    a-input-search.mb-3(
        placeholder="Search",
        v-model:value="search",
        :loading="loading"
    )

    a-radio-group(v-model:value="currentIndex", @change="refreshListView")
        a-radio-button(value="") {{ t('indices.all') }}
        a-radio-button(
            v-for="index in allIndices",
            :key="index",
            :value="index"
        ) {{ indices[index].description }}

    a-list(
        item-layout="vertical",
        :data-source="data",
        :pagination="{ ...pagination, onChange: (newPage) => (page = newPage) }",
        :loading="loading"
    )
        template(v-slot:header="")
            i18n-t(keypath="search.timing", v-if="data.length")
                template(v-slot:entryCount="") {{ pagination.total }}
                template(v-slot:timingTook="") {{ took }}
            i18n-t(keypath="search.initial", v-else="")
        template(v-slot:renderItem="{ item }")
            a-list-item
                a-list-item-meta(
                    :description="item._source[locale + '_sub_title']"
                )
                    template(v-slot:title="")
                        a(:href="item._source.url") {{ item._source.nl_title }}
                    template(v-slot:avatar="")
                        a-avatar(
                            style="color: rgba(0, 0, 0, 0.65); backgroundColor: #fff"
                        )
                            template(#icon)
                                component(
                                    :is="indices[item._source.index].icon"
                                )
                template(v-slot:extra="", v-if="item._source.img_url")
                    img.card-img(:src="item._source.img_url")
                .search-content.p-3(
                    v-html="itemContent(item._source)",
                    v-if="item._source[locale + '_content']"
                )
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import {
    FontSizeOutlined,
    CalendarOutlined,
    FileZipOutlined,
    OrderedListOutlined,
    BookOutlined,
    InboxOutlined,
    FileTextOutlined,
} from "@ant-design/icons-vue";
import { searchApi } from "../../scripts/api/search";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import { Avatar, List, Input, Radio, notification } from "ant-design-vue";
import LoadingContainer from "../loading_container.vue";
import { inject, defineComponent, ref } from "vue";
import { useI18n } from "vue-i18n";
import { useRoute, useRouter } from "vue-router";
import { watch } from "vue";

export default defineComponent({
    components: {
        "a-avatar": Avatar,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-radio-group": Radio.Group,
        "a-input-search": Input.Search,
        "a-radio-button": Radio.Button,
        "loading-container": LoadingContainer,
        "a-font-size-icon": FontSizeOutlined,
        "a-calendar-icon": CalendarOutlined,
        "a-file-zip-icon": FileZipOutlined,
        "a-ordered-list-icon": OrderedListOutlined,
        "a-book-icon": BookOutlined,
        "a-inbox-icon": InboxOutlined,
        "a-file-text-icon": FileTextOutlined,
    },
    setup() {
        const took = ref(-1);
        const route = useRoute();
        const router = useRouter();

        const currentIndex = ref((route.query.index as string) || "");

        const dataFunction = async (
            search: string,
            sort: string,
            page: number,
            pageSize: number
        ) => {
            if (search == "") {
                return {
                    data: [],
                };
            }
            try {
                const response = await instance.get(
                    Flask.url_for("api.search", {
                        query: search,
                        index: currentIndex.value,
                        offset: (page - 1) * pageSize,
                        limit: pageSize,
                    })
                );
                took.value = response.data.took;

                return {
                    data: response.data.hits.hits,
                    pagination: {
                        current: page,
                        pageSize,
                        total: response.data.hits.total,
                    },
                };
            } catch (e) {
                notification.error({
                    message: "Error",
                    description:
                        "An error occurred while fetching search results.",
                });

                took.value = 1337;
                return {
                    data: [],
                };
            }
        };

        const composable = VuePaginatedAntComposable(dataFunction);

        watch(currentIndex, (value) => {
            if (currentIndex.value !== value) {
                // TODO: Updating the query doesn't work here, as updating the page also updates the query (race condition)
                router.replace({
                    query: {
                        ...route.query,
                        index: value,
                    },
                });
                composable.page.value = 1;
            }

            composable.refreshListView();
        });

        return {
            ...composable,
            t: useI18n().t,
            took,
            currentIndex,
        };
    },
    data() {
        const allIndices: string[] = [];

        return {
            locale: inject("locale") as string,
            indices: {
                page: {
                    description: this.t("indices.page"),
                    icon: "a-font-size-icon",
                },
                activity: {
                    description: this.t("indices.activity"),
                    icon: "a-calendar-icon",
                },
                pimpy_minute: {
                    description: this.t("indices.pimpy_minute"),
                    icon: "a-file-zip-icon",
                },
                pimpy_task: {
                    description: this.t("indices.pimpy_task"),
                    icon: "a-ordered-list-icon",
                },
                examination: {
                    description: this.t("indices.examination"),
                    icon: "a-book-icon",
                },
                news: {
                    description: this.t("indices.news"),
                    icon: "a-inbox-icon",
                },
                alv: {
                    description: this.t("indices.assemblies"),
                    icon: "a-file-text-icon",
                },
            },
            allIndices,
        };
    },
    async created() {
        const response = (await searchApi.searchIndices()).data;
        this.allIndices = response.indices;
    },
    methods: {
        itemContent(item) {
            return item[this.locale + "_content"];
        },
    },
});
</script>

<style scoped lang="sass">
img.card-img
    // This is A4 in desktop view, ideal for posters.
    object-fit: cover
    width: 230px
    height: 325px

    @media (max-width: 768px)
        width: 115px
        height: 162px

.search-content
    max-height: 325px
    overflow: hidden
    @media (max-width: 768px)
        max-height: 162px
</style>

<i18n src="./search_index.json"></i18n>
