{% extends 'content.htm' %}

{% block title -%}
    {{ news.title }} - {{ _('News') }}
{%- endblock title %}

{% block page %}
    <a-breadcrumb v-cloak>
        <a-breadcrumb-item>
            <a href="{{ url_for("home.home") }}">{{ _('Home') }}</a>
        </a-breadcrumb-item>
        <a-breadcrumb-item>
            <a href="{{ url_for("news.root") }}">{{ _('News') }}</a>
        </a-breadcrumb-item>
        <a-breadcrumb-item>
            <a href="{{ url_for('news.view', news=news) }}">{{ news.title }}</a>
        </a-breadcrumb-item>
    </a-breadcrumb>
    <article>
        <div class='row'>
            <div class='col-md-9 col-md-offset-1'>
                <div class='pb-2 mt-4 mb-2 border-bottom'>
                    {% if can_write %}
                        <div class='btn-group float-right'>
                            <a class='btn btn-warning btn-sm' href='
                                {{ url_for('news.edit', news=news) }}'>
                                <i class='far fa-edit'></i> {{ _('Edit news item') }}
                            </a>
                        </div>
                    {% endif %}

                    <h1>{{ news.title }}</h1>
                </div>

                <div class='row'>
                    <div class="col-md-6">
                        <div class="user">
                            <img class="avatar" alt="{{ news.user_name }}" src="{{ news.user_avatar }}">
                            <div class="meta">
                                <span class="author">{{ news.user_name }}</span><br />
                                <span class="date">{{ news.publish_date }}</span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-6'>
                        {{ _('Published at') }}: <em>{{ news.publish_date | date }}</em><br />
                        {% if news.modified_after_creation %}
                            {{ _('Last modified at') }}: <em>{{ news.modified | date }}</em>
                        {% endif %}
                    </div>
                    {% if news.sponsored %}
                        <div class="col-md-6"><em>{{ _('Sponsored') }}</em></div>
                    {% endif %}
                </div>
                    <hr />
                <div class='row'>
                    <div class='col-md-12 content'>{{ news.content | markdown }}</div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}
