<template lang="pug">
loading_container(:active="loading")
    .row
        .col-12.col-md-4
            h1 {{ t('Tutor') }}
            h3(v-if="tutor") {{ tutor.first_name }} {{ tutor.last_name }}
            h5 {{ t('Tutoring courses') }}
            ul.list-group.mb-3(v-if="tutorCourses.length")
                li.list-group-item(
                    v-for="tutor in tutorCourses",
                    :key="tutor.id"
                )
                    | {{ tutor.course.name }}
                    a-popconfirm.float-right(
                        @confirm="withdrawCourse(tutor).then()"
                    )
                        a-delete-icon(style="color: #f5222d")
                        template(v-slot:title="")
                            i18n-t(
                                keypath="confirmation_message_withdraw_course"
                            )
                                template(v-slot:course="") {{ tutor.course.name }}
            .mb-2(v-else) {{ t('not_registered') }}

            router-link.mb-3(
                :to="{ name: 'tutor-course-register', params: { userId: 'self' } }",
                v-slot="{ href, navigate}"
            )
                a-button(type="primary", :href="href", @click="navigate")
                    | {{ t('Register as tutor') }}
                    template(#icon)
                        a-plus-icon
            h5 {{ t('Accepted tutorings') }}
            ul.list-group
                li.list-group-item(
                    v-for="tutoring in userTutorings",
                    :key="tutoring.id"
                )
                    a-popconfirm.float-right(
                        :title="t('confirmation_message_withdraw')",
                        @confirm="withdraw(tutoring)"
                    )
                        a-delete-icon(style="color: #f5222d")
                    a-read-icon.mr-1
                    | {{ userTutoringCourses[tutoring.course_id].name }}
                    br
                    a-user-icon.mr-1
                    | {{ tutoring.tutee.first_name }} {{ tutoring.tutee.last_name }}
                    br
                    a-mail-icon.mr-1
                    a(:href="`mailto:${tutoring.tutee.email}`") {{ tutoring.tutee.email }}
                    br
                    a-phone-icon.mr-1
                    | {{ tutoring.tutee.phone_nr }}
            div(v-if="!userTutorings.length") {{ t('not_tutoring') }}

        .col-12.col-md-8
            render-page(pageUrl="tutors/self", :showTitle="false")
            h4 {{ t('Tutoring requests') }}
            a-config-provider
                template(v-slot:renderEmpty="")
                    a-empty(
                        :description="t('No tutoring requests open for courses you tutor')"
                    )
                a-table(
                    :columns="columns",
                    :rowKey="(record) => record.id",
                    :dataSource="openTutorings",
                    :loading="loading",
                    :bodyStyle="{ 'overflow-x': 'auto' }"
                )
                    template(v-slot:course="{ record }")
                        | {{ userTutoringCourses[record.course_id].name }}
                    template(v-slot:name="{ record }")
                        | {{ record.tutee.first_name }} {{ record.tutee.last_name }}
                    template(v-slot:date="{ record }")
                        | {{ date(record.created) }}
                    template(v-slot:action="{ record }")
                        a-popconfirm(
                            v-if="!record.tutor",
                            :title="t('confirmation_message_accept')",
                            @confirm="() => confirm(record)"
                        )
                            a-button(size="small") {{ t('Accept') }}
                        template(v-else) {{ record.tutor.first_name }} {{ record.tutor.last_name }}
</template>

<script lang="ts">
import {
    DeleteOutlined,
    MailOutlined,
    ReadOutlined,
    UserOutlined,
    PlusOutlined,
    PhoneOutlined,
} from "@ant-design/icons-vue";
import {
    Button,
    ConfigProvider,
    Empty,
    Popconfirm,
    Table,
    notification,
} from "ant-design-vue";
import { defineComponent } from "vue";
import { Course } from "../../scripts/api/examination";
import { Tutor, Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import { userApi } from "../../scripts/api/user";
import { date } from "../../scripts/formatters";
import { courseStore } from "../../store/course";
import { User } from "../../types/user";
import RenderPage from "../page/render_page.vue";
import { useI18n } from "vue-i18n";
import Loading_container from "../loading_container.vue";

export default defineComponent({
    components: {
        Loading_container,
        "a-button": Button,
        "a-table": Table,
        "a-popconfirm": Popconfirm,
        "a-config-provider": ConfigProvider,
        "a-empty": Empty,
        "a-read-icon": ReadOutlined,
        "a-delete-icon": DeleteOutlined,
        "a-user-icon": UserOutlined,
        "a-mail-icon": MailOutlined,
        "render-page": RenderPage,
        "a-plus-icon": PlusOutlined,
        "a-phone-icon": PhoneOutlined,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const tutorCourses: Tutor[] = [];
        const courses: Course[] = [];
        const tutor: User = new User();
        const openTutorings: Tutoring[] = [];
        const userTutorings: Tutoring[] = [];
        const userTutoringCourses: { [courseId: number]: Course } = {};

        return {
            userTutoringCourses,
            userTutorings,
            openTutorings,
            tutor,
            loading: true,
            title: "",
            description: "",
            courses,
            tutorCourses,
            columns: [
                {
                    title: this.t("Course"),
                    key: "course",
                    slots: { customRender: "course" },
                },
                {
                    title: this.t("Requested by"),
                    key: "name",
                    slots: { customRender: "name" },
                },
                {
                    title: this.t("Number of hours"),
                    dataIndex: "num_hours",
                },
                {
                    title: this.t("Date"),
                    key: "date",
                    slots: { customRender: "date" },
                },
                {
                    title: this.t("Tutor"),
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    computed: {
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
    },
    async mounted() {
        // Tutorings for this user
        const [tutorTutorings, tutorCourses, openTutorings, tutor] =
            await Promise.all([
                tutoringApi.getTutorTutorings(this.userId),
                tutoringApi.getTutorCourses(this.userId),
                tutoringApi.getOpenTutorings(),
                userApi.getUserData(this.userId),
            ]);
        const courses = await courseStore.loadCourses(tutorTutorings.data);
        courses.forEach(
            (value) => (this.userTutoringCourses[value.id] = value)
        );
        this.userTutorings = tutorTutorings.data;

        // Available tutorings this user can accept.
        const courses2 = await courseStore.loadCourses(openTutorings.data);
        this.courses = courses2;
        courses2.forEach(
            (value) => (this.userTutoringCourses[value.id] = value)
        );
        this.openTutorings = openTutorings.data;
        this.tutorCourses = tutorCourses.data;
        this.tutor = tutor.data;

        this.loading = false;
    },
    methods: {
        date: date,
        async confirm(tutoring: Tutoring) {
            await tutoringApi.acceptTutoring(this.userId, tutoring.id);
            notification.success({
                message: this.t("Successfully accepted") as string,
                description: this.t(
                    "You have successfully accepted the tutoring request."
                ) as string,
            });
            const [openTutorings, userTutorings] = await Promise.all([
                tutoringApi.getOpenTutorings(),
                tutoringApi.getTutorTutorings(this.userId),
            ]);
            this.openTutorings = openTutorings.data;
            this.userTutorings = userTutorings.data;
        },
        async withdraw(tutoring: Tutoring) {
            await tutoringApi.withdrawTutoring(this.userId, tutoring.id);
            notification.success({
                message: this.t("Successfully withdrawn") as string,
                description: this.t(
                    "You have successfully withdrawn from the tutoring request."
                ) as string,
            });
            const [openTutorings, userTutorings] = await Promise.all([
                tutoringApi.getOpenTutorings(),
                tutoringApi.getTutorTutorings(this.userId),
            ]);
            this.openTutorings = openTutorings.data;
            this.userTutorings = userTutorings.data;
        },
        async withdrawCourse(tutor: Tutor) {
            await tutoringApi.removeTutor(this.userId, tutor.id);
            notification.success({
                message: this.t("Successfully withdrawn") as string,
                description: this.t(
                    "You have successfully withdrawn as tutor for {course}.",
                    {
                        course: tutor.course.name,
                    }
                ) as string,
            });
            this.tutorCourses = (
                await tutoringApi.getTutorCourses(this.userId)
            ).data;
        },
    },
});
</script>

<i18n src="./tutors_profile.json"></i18n>
