<template lang="pug">
.row
    .col-12
        router-link(
            :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", type="link")
                | {{ t('Back') }}
                template(#icon)
                    a-left-icon
    .col-12.mb-3
        h1 {{ t('Tutor registration') }}
        a-steps(type="navigation", v-model:current="currentStep", size="small")
            a-step(
                :title="t('Personal information')",
                :description="t('Verify your contact information')",
                :disabled="currentStep > 1"
            )
            a-step(
                :title="t('steps.2.title')",
                :description="t('steps.2.description')",
                :disabled="currentStep !== 1"
            )
            a-step(
                :title="t('Awaiting approval')",
                :description="t('Awaiting VIA confirmation')",
                :disabled="true"
            )

    .col-12(v-show="currentStep === 0")
        a-form-model(:model="form0", ref="form0Ref", @submit.prevent="save")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('E-mail address')",
                name="email"
            )
                a-input(:disabled="true", v-model:value="form0.email")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('First name')",
                name="first_name"
            )
                a-input(:disabled="true", v-model:value="form0.first_name")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Last name')",
                name="last_name"
            )
                a-input(:disabled="true", v-model:value="form0.last_name")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Phone number')",
                name="phone_nr"
            )
                a-input(:disabled="true", v-model:value="form0.phone_nr")
            a-form-model-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-alert.mb-3
                    template(v-slot:message="")
                        i18n-t(keypath="alert.save.warning")
                            template(v-slot:here="")
                                a(href="/users/self/edit/") {{ t('here') }}
                a-button-group
                    router-link(
                        :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
                        v-slot="{href, navigate}"
                    )
                        a-button(:href="href", @click="navigate")
                            | {{ t('Back') }}
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Next') }}
    .col-12(v-show="currentStep === 1")
        tutor-course-form(@form-submit="(e) => this.form1.courses.push(e)")

        hr
        a-form-model(:model="form1", ref="form1Ref", @submit.prevent="save")
            a-form-model-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }",
                name="courses"
            )
                a-list
                    a-list-item(
                        v-for="(item, index) in form1.courses",
                        :key="item.course.id"
                    )
                        a-list-item-meta(
                            :title="item.course.name",
                            :description="t('course.list.description', { grade: item.grade / 10 })"
                        )
                        template(v-slot:actions="")
                            a(@click="() => form1.courses.splice(index, 1)") {{ t('Remove') }}
                    a-list-item(v-if="!form1.courses.length")
                        a-list-item-meta(
                            :title="t('course.list.empty.title')",
                            :description="t('course.list.empty.description')"
                        )
            a-form-model-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-button-group
                    a-button(@click="currentStep -= 1") {{ t('Back') }}
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
    .col-12(v-show="currentStep === 2")
        a-empty
            template(v-slot:description="")
                i18n-t(keypath="waiting", tag="div")
            router-link(
                :to="{ name: 'tutor-profile', params: { userId: userId ? userId : 'self' } }",
                v-slot="{ href, navigate}"
            )
                a-button(:href="href", @click="navigate")
                    | {{ t('Show tutor profile') }}
                    template(#icon)
                        a-user-icon
</template>

<script lang="ts">
import {
    Alert,
    Button,
    Empty,
    Form,
    Input,
    InputNumber,
    List,
    Steps,
    notification,
} from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { Course } from "../../scripts/api/examination";
import { tutoringApi } from "../../scripts/api/tutoring";
import { userApi } from "../../scripts/api/user";
import { emailValidation } from "../../utils/form";
import { LeftOutlined, UserOutlined } from "@ant-design/icons-vue";
import TutorCourseForm from "./TutorCourseForm.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "tutor-course-form": TutorCourseForm,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-steps": Steps,
        "a-step": Steps.Step,
        "a-alert": Alert,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-list": List,
        "a-list-item": List.Item,
        "a-list-item-meta": List.Item.Meta,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-empty": Empty,
        "a-user-icon": UserOutlined,
        "a-left-icon": LeftOutlined,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        return {
            currentStep: 0,
            form0: reactive({
                first_name: "",
                last_name: "",
                email: "",
                phone_nr: "",
            }),
            form1: reactive({
                courses: [] as {
                    course: Course;
                    grade: number;
                }[],
            }),
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    md: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    md: { span: 18 },
                },
            },
        };
    },
    computed: {
        userId(): number | null {
            if (this.$route.params["userId"] === "self") {
                // "self" route
                return null;
            }
            return Number(this.$route.params["userId"]);
        },
    },
    async mounted() {
        const { first_name, last_name, email, phone_nr } = (
            await userApi.getUserData(this.userId)
        ).data;

        this.form0.first_name = first_name;
        this.form0.last_name = last_name;
        this.form0.email = email;
        this.form0.phone_nr = phone_nr;
    },
    methods: {
        emailValidation: emailValidation,
        async save() {
            if (this.currentStep === 0) {
                // Update user data
                this.currentStep = 1;
            } else if (this.currentStep === 1) {
                if (!this.form1.courses.length) {
                    notification.warning({
                        message: this.t("course.list.empty.title") as string,
                        description: this.t(
                            "course.list.empty.description"
                        ) as string,
                    });
                    return;
                }
                let values;
                try {
                    await (this.$refs.form1Ref as any).validate();
                    values = { ...this.form1 };
                } catch (e) {
                    console.error(e);
                    return; // Form didn't validate
                }
                values["courses"] = this.form1.courses.map((e) => ({
                    grade: e.grade,
                    course_id: e.course.id,
                }));

                await tutoringApi.registerTutor(this.userId, values);
                this.currentStep = 2;
            }
        },
    },
});
</script>

<style lang="sass"></style>

<i18n src="./tutor_course_register.json"></i18n>
