<template lang="pug">
loading_container(:active="loadingCourses")
    .row
        .col-12.col-md-3
            h1 {{ t('Tutoring') }}

            h5 {{ t('Open requests') }}
            .border.rounded.p-2.mb-2(
                v-for="tutoring in openUserTutorings",
                :key="tutoring.id"
            )
                h6 {{ userTutoringCourses[tutoring.course_id].name }}
                small(
                    v-if="userTutoringCourses[tutoring.course_id].datanose_code"
                ) {{ userTutoringCourses[tutoring.course_id].datanose_code }}
                router-link(
                    :to="{ name: 'tutoring-details', params: { tutoringId: tutoring.id } }",
                    v-slot="{ href, navigate}"
                )
                    a-badge.float-right
                        template(v-slot:count="", v-if="tutoring.tutor")
                            a-exclamation-circle-icon(style="color: #f5222d")
                        a-button(size="small", :href="href", @click="navigate") {{ t('View') }}
            i18n-t(
                v-if="!openUserTutorings.length",
                keypath="no_requests",
                tag="div"
            )
                template(v-slot:kind="") {{ t('open') }}

            h5 {{ t('Accepted requests') }}
            .border.rounded.p-2.mb-2(
                v-for="tutoring in acceptedUserTutorings",
                :key="tutoring.id"
            )
                h6 {{ userTutoringCourses[tutoring.course_id].name }}
                small(
                    v-if="userTutoringCourses[tutoring.course_id].datanose_code"
                ) {{ userTutoringCourses[tutoring.course_id].datanose_code }}
                router-link(
                    :to="{ name: 'tutoring-details', params: { tutoringId: tutoring.id } }",
                    v-slot="{ href, navigate}"
                )
                    a-badge.float-right
                        template(v-slot:count="", v-if="tutoring.tutor")
                            a-exclamation-circle-icon(style="color: #f5222d")
                        a-button(size="small", :href="href", @click="navigate") {{ t('View') }}
            i18n-t(
                v-if="!acceptedUserTutorings.length",
                keypath="no_requests",
                tag="div"
            )
                template(v-slot:kind="") {{ t('accepted') }}

        .col-12.col-md-9
            div(v-html="description")
            render-page(pageUrl="tutoring", :showTitle="false")
            a-input-search.mb-3.w-100(
                :placeholder="t('search')",
                v-model:value="search"
            )
            a-alert.mb-3(v-if="isUnconfirmed")
                template(v-slot:message="")
                    i18n-t(keypath="unconfirmed_user", tag="div")
                        template(v-slot:here="")
                            a(:href="linkAccountUrl") {{ t('here') }}
            a-alert.mb-3(type="warning", v-if="dnUnavailable")
                template(v-slot:message="")
                    i18n-t(keypath="datanose_unavailable", tag="div")
                        template(v-slot:here="")
                            a(:href="linkAccountUrl") {{ t('here') }}

            a-config-provider
                template(v-slot:renderEmpty="")
                    a-empty
                        template(v-slot:description="")
                            i18n-t(keypath="search.help")
                                template(v-slot:coursecode="")
                                    router-link(
                                        :to="{ name: 'course-create' }"
                                    ) {{ t('course.code') }}
                a-table(
                    :columns="columns",
                    :rowKey="(record) => record.id",
                    :dataSource="data",
                    :pagination="pagination",
                    :loading="loading",
                    :bodyStyle="{ 'overflow-x': 'auto' }",
                    @change="handleTableChange"
                )
                    template(v-slot:action="{ record }")
                        router-link(
                            :to="{ name: 'tutoring-request', query: { courseId: record.id } }",
                            v-slot="{ href, navigate}"
                        )
                            a-button(
                                size="small",
                                :href="href",
                                @click="navigate"
                            ) {{ t('Request tutoring') }}
</template>

<script lang="ts">
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import { courseApi } from "../../scripts/api/course";
import { Course } from "../../scripts/api/examination";
import { Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import {
    Alert,
    Badge,
    Button,
    ConfigProvider,
    Empty,
    Input,
    Table,
} from "ant-design-vue";
import Flask from "../../utils/flask";
import RenderPage from "../page/render_page.vue";
import { ExclamationCircleOutlined } from "@ant-design/icons-vue";
import { defineComponent, ref } from "vue";
import { useI18n } from "vue-i18n";
import { courseStore } from "../../store/course";
import Loading_container from "../loading_container.vue";

export default defineComponent({
    components: {
        Loading_container,
        "a-alert": Alert,
        "a-badge": Badge,
        "a-exclamation-circle-icon": ExclamationCircleOutlined,
        "a-button": Button,
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-config-provider": ConfigProvider,
        "a-empty": Empty,
        "render-page": RenderPage,
    },
    setup() {
        const isUnconfirmed = ref(false);
        const dnUnavailable = ref(false);

        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            try {
                if (!search) {
                    const data = (await courseApi.getUserCourses()).data;

                    if (data.length > 0) {
                        return {
                            data,
                            pagination: {
                                current: 1,
                                pageSize: data.length,
                                total: data.length,
                            },
                        };
                    }
                }
                const resp = await courseApi.getCourses(search, page, [], []);

                return {
                    data: resp.data.data,
                    pagination: {
                        current: resp.data.page,
                        pageSize: resp.data.page_size,
                        total: resp.data.total,
                    },
                };
            } catch (error) {
                switch (error.response.status) {
                    case 409:
                        /* Catch BusinessRuleException, thrown when studentID is unconfirmed. */
                        isUnconfirmed.value = true;
                        return {
                            data: [] as Course[],
                            pagination: { current: 1, pageSize: 1, total: 1 },
                        };
                    case 503:
                        /* Catch ServiceUnavailableException, thrown when Datanose has a 5xx error. */
                        dnUnavailable.value = true;
                        return {
                            data: [] as Course[],
                            pagination: { current: 1, pageSize: 1, total: 1 },
                        };
                    default:
                        /* Throw unexpected errors. */
                        throw error;
                }
            }
        };

        return {
            ...VuePaginatedAntComposable<Course>(dataFunction),
            t: useI18n().t,
            isUnconfirmed,
            dnUnavailable,
        };
    },
    data() {
        const userTutorings: Tutoring[] = [];
        const userTutoringCourses: { [courseId: number]: Course } = {};

        return {
            userTutoringCourses,
            userTutorings,
            loadingCourses: true,
            title: "",
            description: "",
            linkAccountUrl: Flask.url_for("saml.link_account"),
            columns: [
                {
                    title: this.t("Course"),
                    dataIndex: "name",
                },
                {
                    title: this.t("Datanose code"),
                    dataIndex: "datanose_code",
                },
                {
                    title: this.t("Tutoring"),
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    computed: {
        openUserTutorings(): Tutoring[] {
            return this.userTutorings.filter((value) => !value.tutor);
        },
        acceptedUserTutorings(): Tutoring[] {
            return this.userTutorings.filter((value) => !!value.tutor);
        },
    },
    async mounted(): Promise<void> {
        const resp = (await tutoringApi.getUserTutorings()).data;
        const courses = await courseStore.loadCourses(resp);
        courses.forEach(
            (value) => (this.userTutoringCourses[value.id] = value)
        );
        this.userTutorings = resp;
        this.loadingCourses = false;
    },
});
</script>

<style lang="sass"></style>
<i18n src="./tutoring_overview.json"></i18n>
