<template lang="pug">
.row
    .col-12
        router-link(
            :to="{ name: 'tutoring-overview' }",
            v-slot="{ href, navigate}"
        )
            a-button(:href="href", @click="navigate", type="link")
                | {{ t('Back') }}
                template(#icon)
                    a-left-icon
    .col-12.mb-3
        h1 {{ t('Tutoring request') }}
        h5 {{ course.name }} | {{ course.datanose_code }}
        a-steps(type="navigation", v-model:current="currentStep", size="small")
            a-step(
                :title="t('Personal information')",
                :description="t('Verify your contact information')",
                :disabled="currentStep > 1 || !!tutoring.tutor"
            )
            a-step(
                :title="t('Tutoring details')",
                :description="t('Enter tutoring needs')",
                :disabled="currentStep !== 1 || !!tutoring.tutor"
            )
            a-step(
                :title="t('Awaiting tutor')",
                :description="t('via is looking for a tutor')",
                :disabled="true"
            )
            a-step(
                :title="t('Tutor found')",
                :description="t('Contact the tutor')",
                :disabled="!tutoring.tutor"
            )

    .col-12(v-show="currentStep === 0")
        a-form-model(:model="form0", ref="form0Ref")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('E-mail address')",
                name="email"
            )
                a-input(:disabled="true", v-model:value="form0.email")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('First name')",
                name="first_name"
            )
                a-input(:disabled="true", v-model:value="form0.first_name")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Last name')",
                name="last_name"
            )
                a-input(:disabled="true", v-model:value="form0.last_name")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Phone number')",
                name="phone_nr"
            )
                a-input(:disabled="true", v-model:value="form0.phone_nr")
            a-form-model-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
            )
                a-alert.mb-3
                    template(v-slot:message="")
                        i18n-t(keypath="alert.save.warning")
                            template(v-slot:here="")
                                a(href="/users/self/edit/") {{ t('here') }}
                a-button-group
                    router-link(
                        :to="{ name: 'tutoring-overview' }",
                        v-slot="{href, navigate}"
                    )
                        a-button(:href="href", @click="navigate")
                            | {{ t('Back') }}
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Next') }}
    .col-12(v-show="currentStep === 1")
        a-form-model(
            :model="form1",
            :rules="form1Rules",
            ref="form1Ref",
            @submit.prevent="save"
        )
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Hours expected')",
                :extra="t('On a weekly basis')",
                name="num_hours"
            )
                a-input-number(v-model:value="form1.num_hours", :min="0")
            a-form-model-item(
                v-bind="formItemLayout",
                :label="t('Comment')",
                :extra="t('comment_extra')",
                name="notes"
            )
                a-textarea(v-model:value="form1.notes")
            a-form-model-item(
                :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 8 } } }"
            )
                a-button-group
                    a-button(@click="currentStep -= 1") {{ t('Back') }}
                    a-button(type="primary", html-type="submit", @click="save") {{ t('Submit') }}
    .col-12(v-show="currentStep === 2")
        a-empty
            template(v-slot:description="")
                i18n-t(keypath="waiting", tag="div")
                    template(v-slot:examination_collection="")
                        router-link(
                            :to="{ name: 'examination-overview', query: { course_id: tutoring.course_id } }"
                        ) {{ t('examination_collection') }}
            a-popconfirm(
                :title="t('confirmation_message')",
                @confirm="deleteTutoring"
            )
                a-button(danger) {{ t('Cancel tutoring request') }}

    .col-12(v-show="currentStep === 3")
        div(v-if="tutoring.tutor")
            h4 {{ t('Tutor has been found') }}
            i18n-t(keypath="tutor_found", tag="p")
                template(v-slot:first_name="") {{ tutoring.tutor.first_name }}
                template(v-slot:last_name="") {{ tutoring.tutor.last_name }}
                template(v-slot:email="")
                    a(:href="`mailto:${tutoring.tutor.email}`") {{ tutoring.tutor.email }}
                template(v-slot:phone="") {{ tutoring.tutor.phone_nr }}
</template>

<script lang="ts">
import {
    Alert,
    Button,
    Empty,
    Form,
    Input,
    InputNumber,
    Popconfirm,
    Steps,
    notification,
} from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { courseApi } from "../../scripts/api/course";
import { Course } from "../../scripts/api/examination";
import { Tutoring, tutoringApi } from "../../scripts/api/tutoring";
import { userApi } from "../../scripts/api/user";
import { emailValidation } from "../../utils/form";
import { useI18n } from "vue-i18n";
import { LeftOutlined } from "@ant-design/icons-vue";

export default defineComponent({
    components: {
        "a-alert": Alert,
        "a-button": Button,
        "a-button-group": Button.Group,
        "a-steps": Steps,
        "a-step": Steps.Step,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-input-number": InputNumber,
        "a-textarea": Input.TextArea,
        "a-empty": Empty,
        "a-popconfirm": Popconfirm,
        "a-left-icon": LeftOutlined,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const tutoring: Tutoring = new Tutoring();
        const course: Course = new Course();

        return {
            courseId: 0,
            course,
            tutoring,
            currentStep: 0,
            form0: reactive({
                first_name: "",
                last_name: "",
                email: "",
                phone_nr: "",
            }),
            form1: reactive({
                num_hours: 0,
                notes: "",
            }),
            form1Rules: {
                num_hours: [
                    {
                        required: true,
                        message: this.t(
                            "Please enter the expected number tutoring hours."
                        ) as string,
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    md: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    md: { span: 18 },
                },
            },
        };
    },
    computed: {
        tutoringId() {
            if (this.$route.params["tutoringId"]) {
                return Number(this.$route.params["tutoringId"]);
            }
            return null;
        },
    },
    async mounted() {
        if (this.tutoringId) {
            this.tutoring = (
                await tutoringApi.getUserTutoring(this.tutoringId)
            ).data;

            this.form1.notes = this.tutoring.notes;
            this.form1.num_hours = this.tutoring.num_hours;
            this.courseId = this.tutoring.course_id;
            if (this.tutoring.tutor) {
                this.currentStep = 3;
            } else {
                this.currentStep = 2;
            }
        } else {
            const courseId = this.$route.query["courseId"] as string;
            if (courseId) {
                this.courseId = Number(courseId);
            } else {
                await notification.error({
                    message: this.t("No course selected") as string,
                    description: this.t(
                        "Please select course from the overview"
                    ) as string,
                });
                await this.$router.replace({ name: "tutoring-overview" });
            }
        }

        this.course = (await courseApi.getCourse(this.courseId)).data;

        const { first_name, last_name, email, phone_nr } = (
            await userApi.getUserData(null)
        ).data;
        this.form0.first_name = first_name;
        this.form0.last_name = last_name;
        this.form0.email = email;
        this.form0.phone_nr = phone_nr;
    },
    methods: {
        emailValidation: emailValidation,
        async save() {
            if (this.currentStep === 0) {
                this.currentStep = 1;
            } else if (this.currentStep === 1) {
                let values;
                try {
                    await (this.$refs.form1Ref as any).validate();
                    values = { ...this.form1 };
                    values["course_id"] = this.courseId;
                } catch (e) {
                    console.error(e);
                    return; // Form didn't validate
                }
                if (!this.tutoringId) {
                    const tutoring = (
                        await tutoringApi.createUserTutoring(values)
                    ).data;
                    await this.$router.replace({
                        name: "tutoring-details",
                        params: { tutoringId: String(tutoring.id) },
                    });
                } else {
                    await tutoringApi.updateUserTutoring(
                        this.tutoringId,
                        values
                    );
                }

                if (this.tutoring.tutor) {
                    this.currentStep = 3;
                } else {
                    this.currentStep = 2;
                }
            }
        },
        async deleteTutoring() {
            await tutoringApi.deleteTutoring(this.tutoringId!);
            notification.success({
                message: this.t("Successfully deleted") as string,
                description: this.t("Tutoring request deleted.") as string,
            });
            await this.$router.push({ name: "tutoring-overview" });
        },
    },
});
</script>

<style lang="sass"></style>

//@formatter:off
<i18n>
    {
"en": {
    "alert.save.warning": "Your contact details are automatically retrieved from your profile. Update it {here}",
    "Awaiting tutor": "Awaiting tutor",
    "Course": "Course",
    "Comment": "Comment",
    "comment_extra": "This note will be shared with via and potential tutors.",
    "Contact the tutor": "Contact the tutor",
    "confirmation_message": "Are you sure you want to cancel your tutoring request?",
    "Cancel tutoring request": "Cancel tutoring request",
    "Datanose code": "Datanose code",
    "Datanose unavailable": "Datanose is currently not available. Please use the search bar instead.",
    "Enrolled courses": "Enrolled courses",
    "Enter tutoring needs": "Enter tutoring needs",
    "examination_collection": "collection of examinations",
    "Hours expected": "Hours expected",
    "Search course or code": "Search course or code",
    "Personal information": "Personal information",
    "Please select course from the overview": "Please select course from the overview",
    "On a weekly basis": "On a weekly basis",
    "No course selected": "No course selected",
    "Tutoring": "Tutoring",
    "tutor_found": "{first_name} {last_name} has accepted your tutoring request. You can contact {first_name} {last_name} by sending an e-mail to {email} or a message to {phone}.",
    "Tutor found": "Tutor found",
    "Tutor has been found": "Tutor has been found",
    "Tutoring details": "Tutoring details",
    "Tutoring request": "Tutoring request",
    "Tutoring request deleted.": "Tutoring request deleted.",
    "Verify your contact information": "Verify your contact information",
    "via is looking for a tutor": "via is looking for a tutor",
    "Unconfirmed user": "Connect your UvAnetID {here} to view your enrolled courses.",
    "waiting": "Via is currently looking for a tutor, we will get back to you. Meanwhile you can check our {examination_collection}."
    },
"nl": {
    "alert.save.warning": "Je contactgegevens zijn automatisch uit je profiel gehaald. Update ze {here}",
    "Awaiting tutor": "Wachten op docent",
    "Course": "Vak",
    "Comment": "Opmerkingen",
    "comment_extra": "Deze opmerking zal worden gedeeld met via en potentiele bijlesdocenten.",
    "Contact the tutor": "Contacteer de docent",
    "confirmation_message": "Weet je zeker dat je je bijlesaanvraag wil annuleren?",
    "Cancel tutoring request": "Bijlesaanvraag annuleren",
    "Enter tutoring needs": "Vul bijlesbehoeften in",
    "Datanose code": "Datanose code",
    "Enrolled courses": "Ingeschreven vakken",
    "examination_collection": "tentamenbank",
    "Datanose unavailable": "Datanose is nu niet beschikbaar. Gebruik de zoekbalk als alternatief.",
    "Hours expected": "Verwachte uren",
    "Search course or code": "Zoek vak of vakcode",
    "Personal information": "Persoonlijke informatie",
    "Please select course from the overview": "Selecteer een vak vanuit het overzicht",
    "On a weekly basis": "Op wekelijkse basis",
    "tutor_found": "{first_name} {last_name} heeft je bijlesaanvraag geaccepteerd. Je kan contact opnemen met {first_name} {last_name} door een e-mail te sturen naar {email} of een bericht naar {phone}.",
    "Tutoring": "Bijles",
    "Tutor found": "Docent gevonden",
    "Tutor has been found": "Een bijles docent is gevonden",
    "Tutoring details": "Bijles gegevens",
    "Tutoring request": "Bijlesaanvraag",
    "Tutoring request deleted.": "Bijlesaanvraag verwijderd.",
    "Verify your contact information": "Verifieer je contactgegevens",
    "via is looking for a tutor": "via is op zoek naar een docent",
    "Unconfirmed user": "Koppel je UvAnetID {here} om jouw ingeschreven vakken te zien.",
    "waiting": "Via is bezig met het zoeken naar een docent, we komen bij je terug. Bekijk ondertussen eens onze {examination_collection}."
    }
    }
</i18n>
//@formatter:on
