<template lang="pug">
a-form-model(
    :model="form",
    :rules="formRules",
    ref="formRef",
    @submit.prevent="save"
)
    a-form-model-item(
        v-bind="formItemLayout",
        :label="t('Course')",
        name="course"
    )
        form-course-field(v-model="form.course")
    a-form-model-item(
        v-bind="formItemLayout",
        :label="t('Grade')",
        :extra="t('Grade acquired while following the course')",
        name="grade"
    )
        a-input-number(
            v-model:value="form.grade",
            :min="0",
            :max="10",
            :step="0.5"
        )
    a-form-model-item(
        :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
    )
        a-button(type="primary", html-type="submit", @click="save") {{ t('button.course.add') }}
</template>

<script lang="ts">
import { Button, Form, InputNumber } from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { Course } from "../../scripts/api/examination";
import FormCourseField from "../form/form_course_field.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "form-course-field": FormCourseField,
        "a-button": Button,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input-number": InputNumber,
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        return {
            form: reactive({
                course: undefined as undefined | Course,
                grade: 7.0,
            }),
            formRules: {
                course: [
                    {
                        required: true,
                        message: this.t("form.course.required"),
                    },
                ],
                grade: [
                    { required: true, message: this.t("form.grade.required") },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    md: { span: 4 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    md: { span: 18 },
                },
            },
        };
    },
    methods: {
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }
            values["grade"] = values.grade * 10;
            this.$emit("form-submit", values);
            this.form.course = undefined;
        },
    },
});
</script>

<style lang="sass"></style>

<i18n src="./tutor_course_register.json"></i18n>
