<template lang="pug">
.row
    .col-12
        h1 {{ t('Tutor overview') }}
        a-input-search.mb-3.w-100(
            :placeholder="t('Search user or course')",
            v-model:value="search"
        )

        a-table(
            :columns="columns",
            :rowKey="(record) => record.id",
            :dataSource="data",
            :pagination="pagination",
            :loading="loading",
            position="both",
            @change="handleTableChange"
        )
            template(v-slot:name="{ record }")
                router-link(
                    :to="{ name: 'tutor-profile', params: { userId: record.user.id } }",
                    v-slot="{ href, navigate}"
                )
                    a-button(type="link", :href="href", @click="navigate") {{ record.user.first_name }} {{ record.user.last_name }}
            template(v-slot:course="{ record }") {{ record.course.name }}
            template(v-slot:grade="{ record }") {{ (record.grade / 10).toFixed(1) }}
            template(v-slot:approve="{ record }")
                a-check-icon(v-if="record.approved")
                a-popconfirm(
                    v-else,
                    :title="t('Approve tutor?')",
                    @confirm="approve(record)"
                )
                    a-button(size="small") {{ t('Approve') }}
            template(v-slot:remove="{ record }")
                a-popconfirm(
                    :title="t('Remove tutor for {course}?', { course: record.course.name })",
                    @confirm="remove(record)"
                )
                    a-button(size="small", danger, ghost) {{ t('Remove') }}
</template>

<script lang="ts">
import { CheckOutlined, PhoneOutlined } from "@ant-design/icons-vue";
import { Button, Input, Popconfirm, Table, notification } from "ant-design-vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import { Tutor, tutoringApi } from "../../scripts/api/tutoring";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";

export default defineComponent({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button": Button,
        "a-check-icon": CheckOutlined,
        "a-phone-icon": PhoneOutlined,
        "a-popconfirm": Popconfirm,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await tutoringApi.getTutors(search, page);

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable<Tutor>(dataFunction),
            t: useI18n().t,
        };
    },
    data() {
        return {
            columns: [
                {
                    title: this.t("Name"),
                    key: "name",
                    slots: { customRender: "name" },
                },
                {
                    title: this.t("Course"),
                    key: "course",
                    slots: { customRender: "course" },
                },
                {
                    title: this.t("Grade"),
                    key: "grade",
                    slots: { customRender: "grade" },
                },
                {
                    title: this.t("Approved"),
                    key: "approve",
                    slots: { customRender: "approve" },
                },
                {
                    title: this.t("Remove"),
                    key: "remove",
                    slots: { customRender: "remove" },
                },
            ],
        };
    },
    methods: {
        async approve(tutor: Tutor) {
            await tutoringApi.acceptTutor(tutor);
            await this.refreshListView();
        },
        async remove(tutor: Tutor) {
            await tutoringApi.removeTutor(tutor.user.id, tutor.id);
            notification.success({
                message: this.t("Successfully removed") as string,
                description: this.t(
                    "You have successfully remove {user} as tutor for {course}.",
                    {
                        user: `${tutor.user.first_name} ${tutor.user.last_name}`,
                        course: tutor.course.name,
                    }
                ) as string,
            });
            await this.refreshListView();
        },
    },
});
</script>

<style lang="sass"></style>

<i18n src="./tutors_overview.json"></i18n>
