<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item DOMjudge
        a-breadcrumb-item
            a(:href="overviewUrl") {{ t('contests') }}
        a-breadcrumb-item
            a(:href="contestUrl") {{ name }}
        a-breadcrumb-item {{ t('contest.edit') }}

    legend {{ name }}

    a-form-model(
        :model="form",
        ref="formRef",
        :rules="formRules",
        @submit.prevent="save"
    )
        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('banner')",
            :extra="t('banner.extra')"
        )
            image-cropper-modal(
                :currentFilePath="bannerImageUrl",
                :showRemoveButton="true",
                :initialAspectRatio="13 / 2",
                :mimeType="'image/png'",
                @blob="setBannerBlob"
            )

        a-form-model-item(
            v-bind="formItemLayout",
            :label="t('banner.url')",
            name="banner_url"
        )
            a-input(v-model:value="form.banner_url", :disabled="!hasBanner")

        a-form-model-item(
            :wrapperCol="{ ...formItemLayout.wrapperCol, ...{ xs: { offset: 0 }, md: { offset: 4 } } }"
        )
            a-button-group
                a-button(:href="contestUrl") {{ t('back') }}
                a-button(type="primary", html-type="submit", @click="save") {{ t('save') }}
</template>

<script lang="ts">
import { Breadcrumb, Button, Form, Input, notification } from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { domjudgeApi } from "../../scripts/api/domjudge";
import { DOMjudgeContestSettings } from "../../types/domjudge";
import Flask from "../../utils/flask";
import { urlOptionalValidation } from "../../utils/form";
import ImageCropperModal from "../form/image_cropper_modal.vue";
import LoadingContainer from "../loading_container.vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-input": Input,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button": Button,
        "a-button-group": Button.Group,
        "image-cropper-modal": ImageCropperModal,
    },
    setup() {
        return {
            t: useI18n().t,
        };
    },
    data() {
        const bannerBlob: Blob | null = null;
        const bannerImageUrl = "";

        return {
            overviewUrl: Flask.url_for("domjudge.contest_list"),
            contestUrl: "",
            form: reactive({
                banner_url: "",
            }),
            formRules: {
                banner_url: [
                    {
                        validator: urlOptionalValidation,
                        message: this.t("banner.url.error.format") as string,
                    },
                    {
                        max: 512,
                        message: this.t("banner.url.error.length") as string,
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
            loading: true,
            name: "",
            hasBanner: false,
            bannerHasChanged: false,
            bannerImageUrl,
            bannerBlob,
        };
    },
    computed: {
        contestId() {
            return parseInt(this.$route.params.contestId);
        },
    },
    async mounted() {
        this.contestUrl = Flask.url_for("domjudge.contest_view", {
            contest_id: this.contestId,
        });
        await this.updateContest();
        this.loading = false;
    },
    methods: {
        urlOptionalValidation: urlOptionalValidation,
        async updateContest() {
            const resp = (await domjudgeApi.getContest(this.contestId)).data;

            this.name = resp.name;
            this.hasBanner = !!resp.banner_file_id;
            this.bannerImageUrl = this.hasBanner
                ? Flask.url_for("domjudge.banner", {
                      contest_id: this.contestId,
                  })
                : null;

            this.form.banner_url = resp.banner_url || "";
        },
        setBannerBlob(blob: Blob | null) {
            this.bannerBlob = blob;
            this.hasBanner = !!this.bannerBlob;
            this.bannerHasChanged = true;
        },
        async save() {
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return; // Form didn't validate
            }

            try {
                this.loading = true;

                // If something about the banner has been changed
                if (this.bannerHasChanged) {
                    // If banner still set, update it
                    if (this.hasBanner) {
                        await domjudgeApi.setContestBanner(
                            this.contestId,
                            this.bannerBlob!
                        );
                    } else if (this.bannerImageUrl) {
                        // If we had a banner initially, the user removed it
                        // so we need to delete it.
                        await domjudgeApi.deleteContestBanner(this.contestId);
                    }

                    this.bannerHasChanged = false;
                }

                const settings: DOMjudgeContestSettings = {
                    banner_url: values["banner_url"],
                };

                await domjudgeApi.saveContestSettings(this.contestId, settings);

                notification.success({
                    message: this.t("save.success.title") as string,
                    description: this.t("save.success") as string,
                });
            } catch (e) {
                console.error(e);
                notification.error({
                    message: this.t("save.error.title") as string,
                    description: this.t("save.error") as string,
                });
            } finally {
                this.loading = false;
            }
        },
    },
});
</script>

<i18n src="./ContestEditForm.json"></i18n>
