<template lang="pug">
loading-container(:active="loading")
    a-breadcrumb
        a-breadcrumb-item DOMjudge
        a-breadcrumb-item
            a(:href="contestOverviewUrl") {{ t('contests') }}
        a-breadcrumb-item
            a(:href="contestUrl") {{ name }}
        a-breadcrumb-item {{ t('users') }}

    legend {{ name }} - {{ t('users.overview') }}

    a-table(
        :columns="columns",
        :rowKey="(record) => record.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        @change="handleTableChange"
    )
        template(v-slot:submissions="{ record }")
            a(:href="viewSubmissions(record.team_id)") {{ t('submissions') }}

    a-button-group
        a-button(:href="contestUrl") {{ t('back') }}
        a-button(type="primary", @click="copyEmails")
            | {{ t('emails.copy') }}
            template(#icon)
                a-copy-icon
</template>

<script lang="ts">
import { Breadcrumb, Button, notification, Table } from "ant-design-vue";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";
import { domjudgeApi } from "../../scripts/api/domjudge";
import { DOMjudgeContestUser } from "../../types/domjudge";
import clipboardCopy from "../../utils/clipboard";
import Flask from "../../utils/flask";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import LoadingContainer from "../loading_container.vue";
import { CopyOutlined } from "@ant-design/icons-vue";

export default defineComponent({
    name: "ContestUsersOverview",
    components: {
        "loading-container": LoadingContainer,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-table": Table,
        "a-copy-icon": CopyOutlined,
    },

    setup() {
        const route = useRoute();
        const contestId = parseInt(route.params.contestId as string);

        const dataFunction = async () => {
            const resp = await domjudgeApi.getContestUsers(contestId);

            return {
                data: resp.data,
            };
        };

        return {
            ...VuePaginatedAntComposable<DOMjudgeContestUser>(dataFunction),
            t: useI18n().t,
            contestId,
        };
    },
    data() {
        return {
            contestOverviewUrl: Flask.url_for("domjudge.contest_list"),
            contestUrl: "",
            name: "",
            columns: [
                { title: this.t("name"), dataIndex: "name" },
                { title: this.t("email"), dataIndex: "email" },
                {
                    title: "",
                    key: "submissions",
                    slots: { customRender: "submissions" },
                },
            ],
        };
    },
    async mounted() {
        this.contestUrl = Flask.url_for("domjudge.contest_view", {
            contest_id: this.contestId,
        });

        const contest = (await domjudgeApi.getContest(this.contestId)).data;
        this.name = contest.name;
    },
    methods: {
        copyEmails() {
            const emails = this.data.map((u) => u.email);
            const text = emails.join("\n");
            clipboardCopy(text);

            notification.success({
                message: this.t("emails.copy.done") as string,
                description: "",
            });
        },
        viewSubmissions(teamId: number): string {
            return Flask.url_for("domjudge.contest_submissions_view", {
                contest_id: this.contestId,
                team_id: teamId,
            });
        },
    },
});
</script>

<i18n src="./ContestUsersOverview.json"></i18n>
