{% extends "content.htm" %}

{% block title %}Error 400{% endblock %}

{% block content %}
    <h1>{{ _('Error 400 - Bad request') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {{ _('The browser (or proxy) sent a request that this server could not understand.') }}
            </p>
        </div>
    </div>
{% endblock %}
