{% extends "content.htm" %}

{% block title %}Error 500{% endblock %}

{% block content %}
    <h1>{{ _('Error 503 - Service Unavailable') }}</h1>

    <div class="row">
        <div class="col-md">
            <p>
                {% if e.message is defined %}
                {{ e }}
                {% else %}
                {{ _('An error occurred. Please try again later.') }}
                {% endif %}
            </p>

            <br>
            <br>
            <img src="{{ url_for('static', filename='img/500.png') }}" alt="Zelda - I AM ERROR" />
        </div>
    </div>

{% endblock %}
