<footer>
    <div class="container">
        <div class="row links">
            <div class="col-sm-2 list">
                {% if can_write_seo %}
                <a href="{{ url_for('seo.edit_seo', module=request.blueprint, path=request.path) }}">
                    <i class="fas fa-search"></i>SEO
                </a>
                {% endif %}
                <a href="{{ url_for('vue.bug_report', next=request.path) }}"> <i class="fas fa-bug"></i>{{ _('Report a bug') }}</a>
                <a href="https://www.instagram.com/svia.nl/"> <i class="fab fa-instagram"></i>Instagram</a>
                <a href="https://www.tiktok.com/@svia.nl"> <i class="fa-brands fa-tiktok"></i>TikTok</a>
                <a href="{{ privacy_policy_url }}" target="_blank"> <i class="fas fa-book"></i>{{ _('Privacy Policy') }}</a>
            </div>
            <div class="col-sm-2 list">
                <b>{{ _('Board') }} </b>
                <a href="mailto:bestuur@svia.nl"><i class="fas fa-envelope"></i>bestuur@svia.nl</a>
                <a href="tel:+31205257880"><i class="fas fa-phone"></i>(020) 525 7880</a>
                <b>Sponsoring</b>
                <a href="mailto:sponsoring@svia.nl"><i class="fas fa-envelope"></i>sponsoring@svia.nl</a>
                <a href="tel:+31202619904"><i class="fas fa-phone"></i>(020) 2619 904</a>
            </div>
            <div class="col-sm-2 list"></div>
            <div class="col-sm-2 list">
                <strong>{{ _('Postal address') }}</strong>
                <span>Studievereniging VIA</span>
                <span>Postbus 94214</span>
                <span>1090 GE Amsterdam</span>
            </div>
            <div class="col-sm-2 list">
                <strong>{{ _('Visitors address') }}</strong>
                <span>Kamer L0.04</span>
                <span>Science Park 900 </span>
                <span>1098 XH Amsterdam</span>
            </div>
            <div class="col-sm-2 list">
                <span>Vereniging Informatiewetenschappen Amsterdam (V.I.A.)</span>
                <span>KvK: 34160464</span>
                <span>BTW: NL810585790B01</span>
            </div>
        </div>
        <div class="row copyright">
            <p>&copy; {{ current_date | date(dt_format="%Y") }}. Alle rechten voorbehouden</p>
            <a class="true" href="https://www.truefullstaq.com/"><img src="{{ url_for('static', filename='img/logo-tfs.png') }}" alt="Hosted by True-Fullstaq"/></a>
        </div>
    </div>
</footer>
