<template>
    <loading-container :active="loading">
        <a-breadcrumb>
            <a-breadcrumb-item><a href="/admin/">Admin</a></a-breadcrumb-item>
            <a-breadcrumb-item>
                <router-link :to="{ name: 'pages' }"> Pages </router-link>
            </a-breadcrumb-item>
            <a-breadcrumb-item>{{ title }}</a-breadcrumb-item>
        </a-breadcrumb>
        <h1>{{ title }}</h1>
        <a-form-model
            ref="formRef"
            :model="form"
            :rules="formRules"
            @submit.prevent="save"
        >
            <legend>Page</legend>
            <a-form-model-item
                v-if="!pageId"
                v-bind="formItemLayout"
                label="Type"
                name="type"
            >
                <a-radio-group v-model:value="form.type">
                    <a-radio-button value="page"> Page </a-radio-button>
                    <a-radio-button value="committee">
                        Committee
                    </a-radio-button>
                </a-radio-group>
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="Path"
                extra="Must not start and end with a slash (/)"
                name="path"
            >
                <a-input v-model:value="form.path">
                    <template #addonBefore="">
                        <span v-if="form.type === 'committee'">
                            /commissie/
                        </span>
                        <span v-else>/</span>g
                    </template>
                </a-input>
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="Dutch title"
                name="title_nl"
            >
                <a-input v-model:value="form.title_nl" />
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="English title"
                name="title_en"
            >
                <a-input v-model:value="form.title_en" />
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="Dutch content"
                name="content_nl"
            >
                <vue-simple-mde v-model="form.content_nl" />
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="English content"
                name="content_en"
            >
                <vue-simple-mde v-model="form.content_en" />
            </a-form-model-item>
            <a-form-model-item
                v-bind="formItemLayout"
                label="Change message"
                extra="Short description of what was updated for the history log."
                name="revision_comment"
            >
                <a-input v-model:value="form.revision_comment" />
            </a-form-model-item>
            <a-form-model-item
                :wrapper-col="{
                    ...formItemLayout.wrapperCol,
                    ...{ xs: { offset: 0 }, md: { offset: 5 } },
                }"
                name="require_membership_to_view"
            >
                <a-checkbox v-model:checked="form.require_membership_to_view">
                    Require membership for viewing
                </a-checkbox>
            </a-form-model-item>
            <a-form-model-item
                :wrapper-col="{
                    ...formItemLayout.wrapperCol,
                    ...{ xs: { offset: 0 }, md: { offset: 5 } },
                }"
                name="hide_in_sitemap"
            >
                <a-checkbox v-model:checked="form.hide_in_sitemap">
                    Hide in sitemap
                </a-checkbox>
            </a-form-model-item>
            <div>
                <a-form-model-item
                    :wrapper-col="{
                        ...formItemLayout.wrapperCol,
                        ...{ xs: { offset: 0 }, md: { offset: 4 } },
                    }"
                >
                    <a-alert
                        v-if="pageDeleted"
                        type="warning"
                        message="This page has been deleted, saving it will publish it again."
                    />
                    <a-button-group>
                        <router-link
                            v-slot="{ href, navigate }"
                            :to="(route.meta.from && (route.meta.from as any).name) || { name: 'pages' }"
                        >
                            <a-button
                                :href="href"
                                @click="navigate"
                            >
                                Back
                            </a-button>
                        </router-link>
                        <a-button
                            type="primary"
                            @click="save"
                        >
                            Save
                        </a-button>
                        <a-button
                            type="primary"
                            @click="saveAndRedirect"
                        >
                            Save and view
                        </a-button>
                    </a-button-group>
                </a-form-model-item>
            </div>
        </a-form-model>
    </loading-container>
</template>

<script lang="ts">
import {
    Alert,
    Breadcrumb,
    Button,
    Checkbox,
    Form,
    Input,
    notification,
    Radio,
} from "ant-design-vue";
import { defineComponent, reactive } from "vue";
import { pageApi } from "../../scripts/api/page";
import { PageRevision } from "../../types/page";
import Flask from "../../utils/flask";
import { pathValidation, previewRender } from "../../utils/form";
import VueSimpleMde from "../common/markdown-editor.vue";
import LoadingContainer from "../loading_container.vue";
import { useRoute, useRouter } from "vue-router";

export default defineComponent({
    components: {
        "loading-container": LoadingContainer,
        "a-form-model": Form,
        "a-form-model-item": Form.Item,
        "a-radio-group": Radio.Group,
        "a-radio-button": Radio.Button,
        "a-input": Input,
        "a-alert": Alert,
        "a-button-group": Button.Group,
        "a-button": Button,
        "a-checkbox": Checkbox,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "vue-simple-mde": VueSimpleMde,
    },
    setup() {
        const route = useRoute();
        const router = useRouter();
        return {
            route,
            router,
        };
    },
    data() {
        return {
            pageDeleted: true,
            loading: true,
            form: reactive({
                type: "page",
                path: "",
                title_nl: "",
                title_en: "",
                content_nl: "",
                content_en: "",
                revision_comment: "",
                require_membership_to_view: false,
                hide_in_sitemap: false,
            }),
            formRules: {
                path: [
                    {
                        required: true,
                        message: "Please enter the path.",
                    },
                    { validator: pathValidation },
                ],
                title_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch title.",
                    },
                ],
                title_en: [
                    {
                        required: true,
                        message: "Please enter the English title.",
                    },
                ],
                content_nl: [
                    {
                        required: true,
                        message: "Please enter the Dutch content.",
                    },
                ],
                content_en: [
                    {
                        required: true,
                        message: "Please enter the English content.",
                    },
                ],
                revision_comment: [
                    {
                        required: true,
                        message: "Please enter the revision comment.",
                    },
                ],
            },
            formItemLayout: {
                labelCol: {
                    xs: { span: 24 },
                    sm: { span: 5 },
                },
                wrapperCol: {
                    xs: { span: 24 },
                    sm: { span: 19 },
                },
            },
        };
    },
    computed: {
        pageId() {
            return parseInt(this.route.params["pageId"]) || null;
        },
        title(): string {
            if (!this.pageId) return "Create page";
            else if (this.form.type === "committee")
                return "Edit committee page";
            return "Edit page";
        },
    },
    async mounted() {
        try {
            if (this.pageId !== null) {
                const resp = (await pageApi.getPage(this.pageId)).data;
                this.form.type = resp.type!;
                this.pageDeleted = !!resp.deleted;
                let path = resp.path;
                if (this.form.type == "committee") {
                    path = path.substring("commissie/".length);
                }
                this.form.path = path;
                this.form.require_membership_to_view =
                    resp.require_membership_to_view;
                this.form.hide_in_sitemap = resp.hide_in_sitemap;

                const respRevision = (
                    await pageApi.getLatestRevision(this.pageId)
                ).data;
                this.form.title_nl = respRevision.title.nl;
                this.form.title_en = respRevision.title.en;
                this.form.content_nl = respRevision.content.nl;
                this.form.content_en = respRevision.content.en;
            } else {
                this.pageDeleted = false;

                let path = this.route.query.path;

                if (typeof path == "string") {
                    // Cut off the first / if it exists, as asked for in the form
                    if (path.charAt(0) == "/") {
                        path = path.substring(1);
                    }

                    this.form.path = path;
                }
            }
        } finally {
            this.loading = false;
        }
    },
    methods: {
        previewRender: previewRender,
        pathValidation: pathValidation,
        async save(): Promise<boolean> {
            if (this.loading) return false;
            let values;
            try {
                await (this.$refs.formRef as any).validate();
                values = { ...this.form };
            } catch (e) {
                console.error(e);
                return false; // Form didn't validate
            }

            try {
                this.loading = true;
                let path = values.path;
                if (this.form.type == "committee") {
                    path = `commissie/${path}`;
                }
                const pageBody = {
                    require_membership_to_view:
                        !!values.require_membership_to_view,
                    hide_in_sitemap: !!values.hide_in_sitemap,
                    path: path,
                };
                if (this.pageId === null) {
                    pageBody["type"] = this.form.type;
                }

                const revisionBody: PageRevision = {
                    title: {
                        en: values.title_en,
                        nl: values.title_nl,
                    },
                    content: {
                        en: values.content_en,
                        nl: values.content_nl,
                    },
                    revision_comment: values.revision_comment,
                };

                if (!this.pageId) {
                    const resp = (await pageApi.createPage(pageBody)).data;
                    // We need to await the route replacement, as the revision creation depends on
                    // the page id, which is retrieved from the route parameters.
                    await this.router.replace(
                        Flask.url_for("pages.view", { page: resp.id })
                    );
                } else {
                    await pageApi.updatePage(this.pageId, pageBody);
                }
                await pageApi.newRevision(this.pageId!, revisionBody);
                notification.success({
                    message: "Success",
                    description: "Page successfully saved.",
                });
                return true;
            } finally {
                this.loading = false;
            }
        },
        async saveAndRedirect() {
            if (await this.save()) {
                let path = this.form.path;
                if (this.form.type == "committee") {
                    path = `commissie/${path}`;
                }
                // Wait 300ms to navigate to the next page, to show the notification.
                // The delay can be removed when the news.view page is in vue.
                setTimeout(() => (window.location.href = `/${path}`), 300);
            }
        },
    },
});
</script>
