<template>
    <keep-alive>
        <div>
            <a-breadcrumb>
                <a-breadcrumb-item>
                    <a href="/admin/">Admin</a>
                </a-breadcrumb-item>
                <a-breadcrumb-item>
                    <router-link :to="{ name: 'pages' }"> Pages </router-link>
                </a-breadcrumb-item>
            </a-breadcrumb>
            <h1>{{ t("Page overview") }}</h1>
            <a-input-search
                v-model:value="search"
                class="w-100"
                placeholder="Search page"
            >
                <template #enterButton="">
                    <router-link
                        v-slot="{ href, navigate }"
                        :to="{ name: 'create-page' }"
                    >
                        <a-button
                            :href="href"
                            type="link"
                            @click="navigate"
                        >
                            {{ t("Create new page") }}
                        </a-button>
                    </router-link>
                </template>
            </a-input-search>
            <a-table
                class="mt-3"
                :columns="columns"
                :row-key="(record) => record.id"
                :data-source="data"
                :pagination="pagination"
                :loading="loading"
                :body-style="{ 'overflow-x': 'auto' }"
                @change="handleTableChange"
            >
                <template #modified="{ record }">
                    {{ getFormattedRecord(record.modified) }}
                </template>
                <template #action="{ record }">
                    <a-button
                        type="link"
                        :href="`/${record.path}`"
                    >
                        {{ t("View") }}
                    </a-button>
                    <a-divider type="vertical" />
                    <a-button
                        type="link"
                        :href="historyPage(record.id)"
                    >
                        {{ t("History") }}
                    </a-button>
                    <a-divider type="vertical" />
                    <router-link
                        v-slot="{ href, navigate }"
                        :to="editPage(record.id)"
                    >
                        <a-button
                            type="link"
                            :href="href"
                            @click="navigate"
                        >
                            {{ t("Edit") }}
                        </a-button>
                    </router-link>
                    <a-divider type="vertical" />
                    <a-button
                        v-if="!!record.deleted"
                        type="link"
                        disabled
                    >
                        {{ t("Delete") }}
                    </a-button>
                    <a-popconfirm
                        v-else
                        title="Sure to delete?"
                        @confirm="deletePage(record)"
                    >
                        <a-button type="link">
                            {{ t("Delete") }}
                        </a-button>
                    </a-popconfirm>
                </template>
            </a-table>
        </div>
    </keep-alive>
</template>

<script lang="ts">
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { Page } from "../../types/page";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import { pageApi } from "../../scripts/api/page";
import {
    Breadcrumb,
    Button,
    Divider,
    Input,
    Popconfirm,
    Table,
} from "ant-design-vue";
import moment from "moment";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";

export default defineComponent({
    components: {
        "a-input-search": Input.Search,
        "a-table": Table,
        "a-button": Button,
        "a-divider": Divider,
        "a-popconfirm": Popconfirm,
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await pageApi.findPages(search, page, sort);

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };

        return {
            ...VuePaginatedAntComposable<Page>(dataFunction),
            t: useI18n().t,
        };
    },
    data() {
        return {
            columns: [
                {
                    title: this.t("Path"),
                    dataIndex: "path",
                    sorter: true,
                },
                {
                    title: this.t("Type"),
                    dataIndex: "type",
                },
                {
                    title: this.t("table.column.modified"),
                    dataIndex: "modified",
                    sorter: true,
                    slots: { customRender: "modified" },
                },
                {
                    title: this.t("Action"),
                    key: "action",
                    slots: { customRender: "action" },
                },
            ],
        };
    },
    methods: {
        historyPage(page_id: number) {
            return Flask.url_for("page.get_page_history", { page: page_id });
        },
        editPage(page_id: number) {
            return Flask.url_for("pages.view", { page: page_id });
        },
        async deletePage(page: Page) {
            try {
                await instance.delete(
                    Flask.url_for("api.page", { page: page.id })
                );
                page.deleted = new Date().toISOString();
            } catch (e) {
                console.error(e);
            }
        },
        getFormattedRecord(record: string): string {
            return moment(record).format("DD MMM YYYY");
        },
    },
});
</script>

<style lang="sass">
.table-row-deleted
    opacity: 0.3
    text-decoration: line-through
</style>

<i18n src="./page_overview.json"></i18n>
