<template lang="pug">
div
    a-skeleton(
        :loading="loading",
        active="",
        :title="showTitle",
        :paragraph="{ rows: 8 }"
    )
    h1(v-if="showTitle") {{ title }}
    .clearfix(v-html="content")
    a-alert.mb-3(v-if="revisionId")
        template(v-slot:message="")
            i18n-t(keypath="content.specific_revision")
                template(v-slot:revision_id="")
                    | {{ revisionId }}
    a-alert.mb-3(v-if="hasPageWrite")
        template(v-slot:message="")
            i18n-t(keypath="content.notfound", v-if="pageNotFound")
                template(v-slot:url="") {{ pageUrl }}
                template(v-slot:here="")
                    router-link(
                        :to="{ name: 'create-page', query: { path: pageUrl } }"
                    ) {{ t('here') }}
            i18n-t(keypath="content.editable", v-else-if="pageId")
                template(v-slot:url="") {{ pageUrl }}
                template(v-slot:here="")
                    router-link(
                        :to="{ name: 'edit-page', params: { pageId: pageId } }"
                    ) {{ t('here') }}
                template(v-slot:here_history="")
                    a(:href="history_link(pageId)") {{ t('here') }}
</template>

<script lang="ts">
import { pageApi } from "../../scripts/api/page";
import { Alert, Button, notification, Skeleton } from "ant-design-vue";
import { authStore } from "../../store/auth";
import { inject, defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import Flask from "../../utils/flask";

export default defineComponent({
    components: {
        "a-skeleton": Skeleton,
        "a-button": Button,
        "a-alert": Alert,
    },
    props: {
        pageUrl: { type: String, required: true },
        showTitle: { type: Boolean, default: true },
        revisionId: { type: Number, default: undefined },
    },
    setup() {
        return { t: useI18n().t };
    },
    data() {
        const pageId: number | null = null;

        return {
            locale: inject("locale") as string,
            title: "",
            content: "",
            loading: true,
            pageNotFound: false,
            pageId,
        };
    },
    computed: {
        hasPageWrite(): boolean {
            return !!authStore.roles.PAGE_WRITE?.has_role;
        },
    },
    async mounted() {
        try {
            const resp = await pageApi.renderPage(
                this.pageUrl,
                this.locale,
                this.revisionId
            );
            this.title = resp.data.title;
            this.content = resp.data.content;
            this.pageId = resp.data.page_id;
        } catch (e) {
            if (e.response?.status === 404 || e.response?.status === 410) {
                this.pageNotFound = true;
                if (this.hasPageWrite) {
                    notification.info({
                        message: this.t("notification.missing.message", {
                            url: this.pageUrl,
                        }) as string,
                        description: this.t(
                            "notification.missing.description",
                            {
                                url: this.pageUrl,
                            }
                        ) as string,
                    });
                }
            } else {
                throw e;
            }
        }
        this.loading = false;
    },
    methods: {
        history_link(pageId: string): string {
            return Flask.url_for("page.get_page_history", {
                page: this.pageId,
            });
        },
    },
});
</script>

<i18n src="./render_page.json"></i18n>
