{% extends "base.htm" %}

{% block title %}
    {{ result.contest.name }} - Configuration check
{% endblock %}

{% macro render_text(text) %}
    <b class="float-right">
        {{ text }}
    </b>
{% endmacro %}

{% macro render_problem_list(problems) %}
    {% if not problems %}
        <h5 class="d-inline">
            <span class="badge badge-success badge-pill float-right">
                <i class="fas fa-check"></i> None
            </span>
        </h5>
    {% else %}
        <ul class="float-right">
            {% for problem in problems -%}
            <li>
                <h5 class="d-inline">
                    <span class="badge badge-danger badge-pill">
                        <i class="fas fa-exclamation-triangle"></i>
                        Problem {{ problem.id }}: {{ problem.name }}
                    </span>
                </h5>
            </li>
            {%- endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro format_start_end_time(contest) %}
{{ contest.start_time | datetime }} - {{ contest.end_time | datetime }}
{% endmacro %}

{% block page %}
    <legend>{{ result.contest.name }} - Configuration check</legend>
    <hr>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">

                <ul class="list-group mb-2">
                    <li class="list-group-item">
                        Contest name:
                        {{ render_text(result.contest.name) }}
                    </li>
                    <li class="list-group-item">
                        Contest start and end time:
                        {{ render_text(format_start_end_time(result.contest)) }}
                    </li>
                    <li class="list-group-item">
                        Problems without problem text:
                        {{ render_problem_list(result.problems_without_problem_text) }}
                    </li>
                    <li class="list-group-item">
                        Problems without color:
                        {{ render_problem_list(result.problems_without_color) }}
                    </li>
                </ul>
                <a href="{{ url_for('domjudge.contest_view', contest_id=result.contest.id) }}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i>
                    Back to scoreboard
                </a>
            </div>
        </div>
    </div>
{% endblock %}
