<template lang="pug">
div
    h1
        | {{ t('Active member export') }}
    p
        | {{ t('This page allows you to export a list of all active members in the selected groups') }}
        br
        | {{ t('This export includes things like addresses, emails and names') }}
    i
        | {{  t("All the committee's are already selected by default, but don't forget Presidium for example")  }}
    hr
    div
        | {{ t('Select a date range to export data from:') }}
        br
        a-range-picker(
            @change="onChangeDate",
            :allowClear="false",
            :ranges="presetRanges",
            v-model:value="dateRange"
        )
    hr

    a-input-search.w-100(placeholder="Search page", v-model:value="search")

    a-table.mt-3(
        :columns="columns",
        :rowKey="(entry) => entry.id",
        :dataSource="data",
        :pagination="pagination",
        :loading="loading",
        :bodyStyle="{ 'overflow-x': 'auto' }",
        :row-selection="{ selectedRowKeys: selectedGroups, onChange: onSelectChange }",
        @change="handleTableChange"
    )
        template(v-slot:maillist="record")
            template(v-if="record") {{ record }}@svia.nl
        template(v-slot:mailtype="record")
            template(v-if="record !== 'none'") {{ capitalize(record) }}
        template(v-slot:users="record")
            router-link(
                :to="`/groups/${record.id}/users/`",
                v-slot="{ href, navigate}"
            )
    .padding-bottom
        a-button.float-right(type="primary", @click="submit")
            | {{ t('Export') }}
</template>
<script lang="ts">
import { Button, DatePicker, Input, Table } from "ant-design-vue";
import { committeeApi } from "../../scripts/api/committee";
import instance from "../../utils/axios";
import Flask from "../../utils/flask";
import { VuePaginatedAntComposable } from "../../utils/VuePaginatedAnt";
import moment, { Moment } from "moment";
import { defineComponent, reactive } from "vue";
import { useI18n } from "vue-i18n";
import { capitalize } from "../../scripts/formatters";
import { RangePickerValue } from "ant-design-vue/es/date-picker/interface";

export default defineComponent({
    name: "ActiveGroups",
    components: {
        "a-button": Button,
        "a-range-picker": DatePicker.RangePicker,
        "a-input-search": Input.Search,
        "a-table": Table,
    },
    setup() {
        const dataFunction = async (
            search: string,
            sort: string,
            page: number
        ) => {
            const resp = await instance.get(
                Flask.url_for("api.groups", {
                    search: search,
                    page: page,
                })
            );

            return {
                data: resp.data.data,
                pagination: {
                    current: resp.data.page,
                    pageSize: resp.data.page_size,
                    total: resp.data.total,
                },
            };
        };
        return {
            ...VuePaginatedAntComposable(dataFunction),
            t: useI18n().t,
        };
    },
    data() {
        return {
            dateRange: [moment().startOf("day"), moment()] as RangePickerValue,
            selectedGroups: reactive([]),
            columns: [
                {
                    title: this.t("Group"),
                    dataIndex: "name",
                },
                {
                    title: this.t("Maillist"),
                    dataIndex: "maillist",
                    scopedSlots: { customRender: "maillist" },
                },
                {
                    title: this.t("Mail type"),
                    dataIndex: "mailtype",
                    scopedSlots: { customRender: "mailtype" },
                },
                {
                    title: this.t("Users"),
                    key: "users",
                    scopedSlots: { customRender: "users" },
                },
            ],
            presetRanges: {
                [this.t("Today") as string]: [
                    moment().startOf("day"),
                    moment().endOf("day"),
                ],
                [this.t("This month") as string]: [
                    moment().startOf("month"),
                    moment().endOf("month"),
                ],
                [this.t("This year") as string]: [
                    moment().startOf("year"),
                    moment().endOf("year"),
                ],
                //     Ant design does support custom ranges, the typescript types are just a bit goofy
            } as unknown as RangePickerValue,
        };
    },
    async mounted() {
        try {
            this.loading = true;
            const allCommittees = await committeeApi.getAll();

            await this.refreshListView();
            this.selectedGroups.length = 0;
            this.selectedGroups.push(
                ...allCommittees.data.map((x) => {
                    return x.group.id;
                })
            );
        } catch (e) {
            console.error(e);
        } finally {
            this.loading = false;
        }
    },
    methods: {
        capitalize,
        onChangeDate(dates: RangePickerValue) {
            this.dateRange = dates;
        },
        onSelectChange(selectedRowKeys: number[]) {
            this.selectedGroups = selectedRowKeys;
        },
        async submit() {
            const params = new URLSearchParams();
            params.append("groups", this.selectedGroups.join(","));
            params.append("start_date", this.dateRange[0].unix().toString());
            params.append("end_date", this.dateRange[1].unix().toString());
            const requestURL = `/api/users/active?${params.toString()}`;

            const resultData = (await instance.get(requestURL)).data;
            let csvContent = "data:text/csv;charset=utf-8,";

            csvContent += Object.keys(resultData[0]).join(",") + "\r\n";

            resultData.forEach((item) => {
                csvContent += Object.values(item).join(",") + "\r\n";
            });

            const uri = encodeURI(csvContent);
            window.open(uri, "_self");
        },
    },
});
</script>
<style>
.float-right {
    float: right;
}

.padding-bottom {
    padding-bottom: 2em;
}
</style>

<i18n>
{
    "en": {
        "Active member export": "Active member export",
        "This page allows you to export a list of all active members in the selected groups": "This page allows you to export a list of all active members in the selected groups",
        "This export includes things like addresses, emails and names": "This export includes things like addresses, email addresses and names",
        "Select a date range to export data from:": "Select a date range to export data from:",
        "All the committee's are already selected by default, but don't forget Presidium for example": "All the committees are already selected by default, but don't forget Presidium for example",
        "Group": "Group",
        "Maillist": "Maillist",
        "Mail type": "Mail type",
        "Users": "Users",
        "Export": "Export",
        "Today": "Today",
        "This month": "This month",
        "This year": "This year"
    },
    "nl": {
        "Active member export": "Actieve leden exporteren",
        "This page allows you to export a list of all active members in the selected groups": "Deze pagina maakt het mogelijk om een lijst van alle actieve leden in de geselecteerde groepen te exporteren",
        "This export includes things like addresses, emails and names": "Deze export bevat dingen zoals adressen, e-mailadressen en namen",
        "Select a date range to export data from:": "Selecteer een datumbereik om gegevens van te exporteren:",
        "All the committee's are already selected by default, but don't forget Presidium for example": "Alle commissies zijn al standaard geselecteerd, maar vergeet bijvoorbeeld Presidium niet",
        "Group": "Groep",
        "Maillist": "Maillijst",
        "Mail type": "Mailtype",
        "Users": "Gebruikers",
        "Export": "Exporteren",
        "Today": "Vandaag",
        "This month": "Deze maand",
        "This year": "Dit jaar"
    }
}
</i18n>
