<template lang="pug">
div
    a-progress(:percent="percentage", :status="status")
    div(v-if="task.status === 'PENDING'")
        | A task is queued for processing.
    div(v-else-if="task.status === 'STARTED'")
        | {{ taskName }}: finished {{ task.result?.current }} of {{ task.result?.count }} steps
    div(v-else-if="task.status === 'SUCCESS'")
        | {{ taskName }}: finished.
    div(v-else="")
        | {{ taskName }}: something went wrong while processing, please contact the ICT-committee.
</template>

<script lang="ts">
import { Progress } from "ant-design-vue";
import { taskApi, TaskResponse } from "../../scripts/api/task";
import { defineComponent } from "vue";

export default defineComponent({
    components: {
        "a-progress": Progress,
    },
    props: {
        taskId: String,
    },
    data() {
        return {
            timer: 0,
            task: {
                status: "PENDING",
                result: null,
                task_id: "",
            } as TaskResponse,
        };
    },
    computed: {
        status() {
            switch (this.task.status) {
                case "FAILURE":
                    return "exception";
                case "SUCCESS":
                    return "success";
                default:
                    return "active";
            }
        },
        percentage(): number {
            switch (this.task.status) {
                case "SUCCESS":
                case "FAILURE":
                    return 100;
                case "STARTED":
                    if (this.task.result === null) {
                        return 0;
                    }
                    return Math.trunc(
                        (100 * this.task.result.current) /
                            this.task.result.count
                    );
                default:
                    return 0;
            }
        },
        taskName() {
            switch (this.task.name) {
                case "app.task.copernica.update_all_users":
                    return "Full Copernica synchronization";
                case "app.task.datanose.sync_datanose_courses":
                    return "Full Datanose synchronization";
                default:
                    return this.task.name;
            }
        },
    },
    async mounted() {
        await this.updateTask(this.taskId);
    },
    beforeUnmount() {
        window.clearTimeout(this.timer);
    },
    methods: {
        async updateTask(taskId: string) {
            const resp = await taskApi.getTask(taskId);
            this.task = resp.data;
            if (
                this.task.status === "SUCCESS" ||
                this.task.status === "FAILURE"
            ) {
                return;
            }
            this.timer = window.setTimeout(() => this.updateTask(taskId), 1000);
        },
    },
});
</script>
