<template lang="pug">
div
    a-breadcrumb
        a-breadcrumb-item
            a(:href="adminUrl") Admin
        a-breadcrumb-item Maintenance
    h1 Maintenance tasks

    div
        hr
        template(v-for="taskId in taskIds", :key="taskId")
            async-task-progress(:taskId="taskId")
            hr

    .row
        .col-md-6.col-sm-12
            a-result(
                status="warning",
                title="Full Copernica synchronization",
                v-if="hasRole"
            )
                template(v-slot:subTitle="")
                    | Trigger a full synchronization of all user data to the copernica
                    | database. This will take a long time and might induce costs for
                    | using Copernica API's, do not start without consideration!
                    | For synchronization of a single profile, re-save the profile.
                template(v-slot:extra="")
                    a-popconfirm(
                        title="Are you sure?!",
                        @confirm="syncCopernica"
                    )
                        a-button(danger) Start synchronization

        .col-md-6.col-sm-12
            a-result(title="Full Datanose syncronization", v-if="hasRole")
                template(v-slot:subTitle="")
                    | Update all courses based on their study catalog number.
                    | Adds new courses provided by the free Datanose API and
                    | updates curriculum information for every existing course.
                    | Recommended to run at least once per academic year.
                template(v-slot:extra="")
                    a-popconfirm(
                        title="Are you sure?!",
                        @confirm="syncDatanose"
                    )
                        a-button(danger) Start synchronization
</template>

<script lang="ts">
import {
    Breadcrumb,
    Button,
    Popconfirm,
    Result,
    Tooltip,
} from "ant-design-vue";
import { defineComponent } from "vue";
import { taskApi } from "../../scripts/api/task";
import { authStore } from "../../store/auth";
import Flask from "../../utils/flask";
import AsyncTaskProgress from "./AsyncTaskProgress.vue";

export default defineComponent({
    components: {
        "a-breadcrumb": Breadcrumb,
        "a-breadcrumb-item": Breadcrumb.Item,
        "a-tooltip": Tooltip,
        "a-result": Result,
        "a-button": Button,
        "a-popconfirm": Popconfirm,
        "async-task-progress": AsyncTaskProgress,
    },
    data() {
        return {
            hasRole: false,
        };
    },
    computed: {
        adminUrl(): string {
            return Flask.url_for("admin.view");
        },
        taskIds(): string[] {
            const ids = this.$route.query.task_id;
            if (!ids) return [];
            if (typeof ids === "string") return [ids];
            return ids.filter((i) => !!i) as string[];
        },
    },
    async mounted() {
        this.hasRole = !!authStore.roles.TECHNICAL_ADMIN?.has_role;
    },
    methods: {
        async syncCopernica() {
            const resp = await taskApi.syncCopernica();
            const taskIds = this.taskIds;
            taskIds.push(resp.data["task_id"]);
            this.$router.replace({
                query: { task_id: taskIds },
            });
        },
        async syncDatanose() {
            const resp = await taskApi.syncDatanose();
            const taskIds = this.taskIds;
            taskIds.push(resp.data["task_id"]);
            this.$router.replace({
                query: { task_id: taskIds },
            });
        },
    },
});
</script>
